<!--主要内容-->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['待办事项', '项目']" icon="inbox" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid>
    <div class="row">

      <article class="col-sm-12 ">

        <sa-widget [editbutton]="false" [deletebutton]="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-inbox"></i> </span>
            <h2>项目</h2>
          </header>

          <div>
            <!--小部件内容-->
            <div class="widget-body no-padding">

              <div class="project-grid-panel">

                <div class="form-group ">
                  <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-plus"></span>新建项目</a>
                </div>
                <div class="row margin-bottom-10">
                  <div class="projects-panel-header ">
                    <i class="fa fa-star padding-left-5"></i>
                    常用项目
                    <span class="txt-color-red padding-left-10">0</span>
                  </div>
                  <div class="project-grid ">
                    <div class="project-item ">
                      <a class="star">
                        <i class="fa fa-star txt-color-yellowMing"></i> </a>
                      <a class="center ">
                        <i class="fa-fw fa fa-inbox txt-color-greenNormal"></i>
                        <h4 class="">梵蒂冈大概</h4></a>
                      <a class="members">
                        <i class="fa fa-user"></i>
                        <span class="">1</span>
                      </a>
                    </div>


                  </div>

                </div>

                <div class="row margin-bottom-10">
                  <div class="projects-panel-header">
                    <span>
                      <i class="fa fa-user padding-left-5"></i>&nbsp;&nbsp;个人项目
                    </span>
                    <span class="txt-color-red padding-left-10">
                      2
                    </span>
                  </div>
                  <div class="project-grid ">
                    <div class="project-item ">

                      <a class="center " data-toggle="modal" data-target="#myModal">
                      <i class="fa-fw fa fa-inbox txt-color-greenNormal"></i>
                      <h4 class="">还没有参与任何项目</h4></a>

                    </div>
                    <div class="project-item ">
                      <a class="star">
                        <i class="fa fa-star txt-color-yellowMing"></i> </a>
                      <a class="center ">
                        <i class="fa-fw fa fa-inbox txt-color-greenNormal"></i>
                        <h4 class="">梵蒂冈大概</h4></a>
                      <a class="members">
                        <i class="fa fa-user"></i>
                        <span class="">1</span>
                      </a>
                    </div>
                    <div class="project-item ">
                      <a class="star">
                        <i class="fa fa-star-o"></i> </a>
                      <a class="center ">
                        <i class="fa-fw fa fa-inbox txt-color-greenNormal"></i>
                        <h4 class="">梵蒂</h4></a>
                      <a class="members">
                        <i class="fa fa-user"></i>
                        <span class="">10</span>
                      </a>
                    </div>


                  </div>
                </div>
                <div class="row margin-bottom-10">
                  <div class="projects-panel-header">
                    <span>
                      <i class="fa fa-sitemap padding-left-5"></i>&nbsp;&nbsp;公司项目
                    </span>
                    <span class="txt-color-red padding-left-10">
                      1
                    </span>
                  </div>
                  <div class="project-grid ">
                    <div class="project-item ">

                      <a class="center " data-toggle="modal" data-target="#myModal">
                        <i class="fa-fw fa fa-inbox txt-color-greenNormal"></i>
                        <h4 class="">还没有参与任何项目</h4></a>

                    </div>
                    <div class="project-item ">
                      <a class="star">
                        <i class="fa fa-star-o"></i> </a>
                      <a class="center ">
                        <i class="fa-fw fa fa-inbox txt-color-greenNormal"></i>
                        <h4 class="">梵蒂</h4></a>
                      <a class="members">
                        <i class="fa fa-user"></i>
                        <span class="">10</span>
                      </a>
                    </div>


                  </div>
                </div>

              </div>


            </div>

          </div>
        </sa-widget>

      </article>

    </div>




  </sa-widgets-grid>


  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- 关闭按钮 -->
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
          </button>
          <!-- 标题 -->
          <h3 class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>新建项目</h3>
        </div>
        <div class="modal-body">
          <form   class="smart-form ">
            <fieldset>
              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section>
                  <label class="label">项目所属：</label>
                  <label class="select">
                    <select class="input-sm">
                      <option value="" disabled="disabled" style="color:#ccc;">请选择所有者：</option>
                      <option value="" >个人项目</option>
                      <option value="" >四川省矿业有限公司</option>
                    </select> <i></i> </label>
                </section>
              </div>

              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section>
                  <label class="label">项目信息：</label>
                  <label class="input">
                    <input type="text" placeholder="请输入项目名称" >
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section>
                  <label class="textarea textarea-resizable">
                    <textarea class="custom-scroll" rows="2" name="" placeholder="项目描述（可选"></textarea>
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section>
                  <label class="label">项目公开性：</label>
                  <label class="select">
                    <select class="input-sm">
                      <option value="" disabled="disabled" style="color:#ccc;">请选择公开性：</option>
                      <option value="" >私有项目（只有加入项目的成员才能看到该项目内容）</option>
                      <option value="" >公开项目（所有注册用户都可以访问该项目内容）</option>
                    </select> <i></i> </label>
                </section>
              </div>
              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <section>
                  <label class="label">选择模板</label>

                  <div class="inline-group">
                    <label class="checkbox state-disabled">
                      <input type="checkbox" name="checkbox-inline"  >
                      <i></i>通用模板</label>
                  </div>
                </section>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-ng-click="ok()">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>


</div>