<!--主要内容-->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget  [editbutton]="false" [deletebutton]="false" [colorbutton]="false"  >
          <header>
            <span class="widget-icon"> <i class="fa fa-inbox"></i> </span>
            <h2>项目</h2>
          </header>
          <div>
            <!--小部件内容-->
            <div class="widget-body">
              <div class="row">
                <!--<div class="form-group  col-sm-12 ">-->
                  <!--<button  type="button"  class="btn btn-success" (click)="showAddProject($event,0,0);lgModal.show();">-->
                    <!--<span class="fa-fw fa fa-plus"></span>新建项目</button>-->
                <!--</div>-->

                <!--<div class="form-group col-sm-12 accordion" id="accordionExample">-->
                  <!--<div class="card">-->
                    <!--<div class="card-header" id="heading1">-->
                      <!--<h2 class="mb-0">-->
                        <!--<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">-->
                          <!--<i class="fa fa-star padding-left-5"></i>-->
                          <!--常用项目-->
                          <!--<span class="txt-color-red padding-left-10">{{projectList?.result?.commonArrayCount}}</span>-->
                        <!--</button>-->
                      <!--</h2>-->
                    <!--</div>-->

                    <!--<div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">-->
                      <!--<div class="card-body">-->
                        <!--<div class="project-grid ">-->
                          <!--<div class="project-item" (mouseover)="showOrHide(ca.project_id)" (mouseleave)="showOrHide(0)" [routerLink]="['/forms/todo-mission',ca.project_id+'_0']" *ngFor="let ca of projectList?.result?.commonArray">-->
                            <!--<a class="star" (click)="isCommon($event,ca.project_id,ca.project_status);">-->
                              <!--<i class="fa fa-star txt-color-yellowMing"></i> </a>-->
                            <!--<a class="center ">-->
                              <!--<i class="fa-fw fa fa-inbox text-blove"></i>-->
                              <!--<h4 class="">{{ca.project_title}}</h4></a>-->
                            <!--<a *ngIf="isShowButton == ca.project_id" class="add-project" (click)="showAddProject($event,ca.project_owner,ca.project_id);lgModal.show();">-->
                              <!--<i class="fa-fw fa fa-pencil" style="font-size:12px;"></i>-->
                            <!--</a>-->
                            <!--<a *ngIf="isShowButton == ca.project_id" class="delete-project" (click)="deleteProjectById($event,ca.project_id);">-->
                              <!--<i class="fa fa-minus-circle"></i>-->
                            <!--</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="card"  *ngFor="let cl of projectList?.result?.categoryList;">-->
                    <!--<div class="card-header" id="heading2">-->
                      <!--<h2 class="mb-0">-->
                        <!--<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">-->
                           <!--<span>-->
                      <!--<i class="fa fa-sitemap padding-left-5"></i>&nbsp;&nbsp;{{cl.category_desc}}-->
                    <!--</span>-->
                          <!--<span class="txt-color-red padding-left-10">-->
                      <!--{{cl.project_count}}-->
                    <!--</span>-->
                        <!--</button>-->
                      <!--</h2>-->
                    <!--</div>-->
                    <!--<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">-->
                      <!--<div class="card-body">-->
                        <!--<div class="project-grid ">-->
                          <!--<div class="project-item ">-->
                            <!--<a class="center "  (click)="showAddProject($event,cl.category_id,0);lgModal.show();">-->
                              <!--<i class="fa-fw fa fa-inbox text-blove"></i>-->
                              <!--<h4 class="">发起项目</h4></a>-->
                          <!--</div>-->
                          <!--<div class="project-item" (mouseover)="showOrHide(pl.project_id)" (mouseleave)="showOrHide(0)" [routerLink]="['/forms/todo-mission',pl.project_id+'_0']" *ngFor="let pl of cl.project_list">-->
                            <!--<a class="star" (click)="isCommon($event,pl.project_id,pl.project_status);">-->
                              <!--<i class="fa fa-star-o" *ngIf="pl.project_status == 1"></i>-->
                              <!--<i class="fa fa-star txt-color-yellowMing" *ngIf="pl.project_status == 2"></i></a>-->
                            <!--<a class="center">-->
                              <!--<i class="fa-fw fa fa-inbox text-blove"></i>-->
                              <!--<h4 class="">{{pl.project_title}}</h4></a>-->
                            <!--<a *ngIf="isShowButton == pl.project_id" class="add-project" (click)="showAddProject($event,cl.category_id,pl.project_id);lgModal.show();">-->
                              <!--<i class="fa-fw fa fa-pencil" style="font-size:12px;"></i>-->
                            <!--</a>-->
                            <!--<a *ngIf="isShowButton == pl.project_id" class="delete-project" (click)="deleteProjectById($event,pl.project_id);">-->
                              <!--<i class="fa fa-minus-circle"></i>-->
                            <!--</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->

              </div>
              <div class="project-grid-panel">
                <div class="form-group ">
                  <button  type="button"  class="btn btn-success" (click)="showAddProject($event,0,0);lgModal.show();">
                    <span class="fa-fw fa fa-plus"></span>新建项目</button>
                </div>
                <div class="row margin-bottom-10">
                  <div class="col-12 projects-panel-header ">
                    <i class="fa fa-star padding-left-5"></i>
                    常用项目
                    <span class="txt-color-red padding-left-10">{{projectList?.result?.commonArrayCount}}</span>
                  </div>
                  <div class="project-grid ">
                    <div class="project-item" (mouseover)="showOrHide(ca.project_id)" (mouseleave)="showOrHide(0)" [routerLink]="['/forms/todo-mission',ca.project_id+'_0']" *ngFor="let ca of projectList?.result?.commonArray">
                      <a class="star" (click)="isCommon($event,ca.project_id,ca.project_status);">
                        <i class="fa fa-star txt-color-yellowMing"></i> </a>
                      <a class="center ">
                        <i class="fa-fw fa fa-inbox text-blove"></i>
                        <h4 class="">{{ca.project_title}}</h4></a>
                      <a *ngIf="isShowButton == ca.project_id" class="add-project" (click)="showAddProject($event,ca.project_owner,ca.project_id);lgModal.show();">
                        <i class="fa-fw fa fa-pencil" style="font-size:12px;"></i>
                      </a>
                      <a *ngIf="isShowButton == ca.project_id" class="delete-project" (click)="deleteProjectById($event,ca.project_id);">
                        <i class="fa fa-minus-circle"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row margin-bottom-10" *ngFor="let cl of projectList?.result?.categoryList;">
                  <div class="col-12 projects-panel-header">
                    <span>
                      <i class="fa fa-sitemap padding-left-5"></i>&nbsp;&nbsp;{{cl.category_desc}}
                    </span>
                    <span class="txt-color-red padding-left-10">
                      {{cl.project_count}}
                    </span>
                  </div>
                  <div class="project-grid ">
                    <div class="project-item ">
                      <a class="center "  (click)="showAddProject($event,cl.category_id,0);lgModal.show();">
                        <i class="fa-fw fa fa-inbox text-blove"></i>
                        <h4 class="">发起项目</h4></a>
                    </div>
                    <div class="project-item" (mouseover)="showOrHide(pl.project_id)" (mouseleave)="showOrHide(0)" [routerLink]="['/forms/todo-mission',pl.project_id+'_0']" *ngFor="let pl of cl.project_list">
                      <a class="star" (click)="isCommon($event,pl.project_id,pl.project_status);">
                        <i class="fa fa-star-o" *ngIf="pl.project_status == 1"></i>
                        <i class="fa fa-star txt-color-yellowMing" *ngIf="pl.project_status == 2"></i></a>
                      <a class="center">
                        <i class="fa-fw fa fa-inbox text-blove"></i>
                        <h4 class="">{{pl.project_title}}</h4></a>
                      <a *ngIf="isShowButton == pl.project_id" class="add-project" (click)="showAddProject($event,cl.category_id,pl.project_id);lgModal.show();">
                        <i class="fa-fw fa fa-pencil" style="font-size:12px;"></i>
                      </a>
                      <a *ngIf="isShowButton == pl.project_id" class="delete-project" (click)="deleteProjectById($event,pl.project_id);">
                        <i class="fa fa-minus-circle"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>

  <div bsModal #lgModal="bs-modal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <!-- 标题 -->
          <h3 class="modal-title txt-color-blue" data-ng-bind='results.title' *ngIf="edit_project_id == 0"><i class="fa-fw fa fa-plus"></i>新建项目</h3>
          <h3 class="modal-title txt-color-blue" data-ng-bind='results.title' *ngIf="edit_project_id != 0"><i class="fa-fw fa fa-pencil"></i>修改项目</h3>
          <!-- 关闭按钮 -->
          <button type="button" class="close" (click)="closeSubmit()" aria-label="Close"> × </button>

        </div>
        <div class="modal-body">
          <form   class="form-distance ">
            <div class="form-group ">
              <label class="label">项目所属：</label>
              <select class="form-control" name="project_owner" [(ngModel)]="project_owner" (change)="changeCategory($event,1)">
                <option value="0" disabled="disabled" style="color:#ccc;">请选择所有者：</option>
                <option *ngFor="let c1 of projectDefault?.result?.categoryList1" [selected]="projectInfo.result?.project_owner == c1.category_id" value="{{c1.category_id}}">{{c1.category_desc}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="label">项目信息：</label>
              <input class="form-control" type="text" placeholder="请输入项目名称" minlength="1" maxlength="30" name="project_title" [(ngModel)]="project_title" >
            </div>

            <div class="form-group">
              <textarea class="form-control" rows="2" minlength="1" maxlength="30" name="project_content" [(ngModel)]="project_content" placeholder="项目描述(可选)"></textarea>
            </div>

            <div class="form-group">
              <label class="label">项目公开性：</label>
              <select class="form-control" name="project_publicity" [(ngModel)]="project_publicity">
                <option value="0" disabled="disabled" style="color:#ccc;">请选择公开性：</option>
                <option *ngFor="let c2 of categoryList?.result" value="{{c2.category_id}}" [selected]="projectInfo.result?.project_publicity == c2.category_id" >{{c2.category_desc}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="label">选择模板</label>
              <div class="inline-group">
                <!--<div class="custom-control custom-radio" *ngFor="let tc2 of projectDefault?.result?.categoryList2">-->
                  <!--<input type="radio"  class="custom-control-input"  [checked]="project_template" value="{{tc2.category_id}}" name="project_template" [(ngModel)]="project_template">-->
                  <!--<label class="custom-control-label"  *ngIf="tc2.category_desc == 'default'">通用模板</label>-->
                  <!--<label class="custom-control-label" *ngIf="tc2.category_desc != 'default'">{{tc2.category_desc}}</label>-->
                <!--</div>-->
                <label class="radio state-disabled" *ngFor="let tc2 of projectDefault?.result?.categoryList2" style="padding-right: 10px;">
                  <input type="radio" [checked]="project_template" value="{{tc2.category_id}}" name="project_template" [(ngModel)]="project_template">
                  <i></i>
                  <span *ngIf="tc2.category_desc == 'default'">通用模板</span>
                  <span *ngIf="tc2.category_desc != 'default'">{{tc2.category_desc}}</span>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onSubmit();">确定</button>
          <button type="button" class="btn btn-default" (click)="closeSubmit()">关闭</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>


</div>