<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['矿易帮设置', '项目设置']" icon="pencil-square-o" ></sa-big-breadcrumbs>
  </div>
  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs pull-left in" id="myTab">

        <li  [routerLink]="['/management/setting-affiliation']">
          <a data-toggle="tab" href="#s1"><span
                  class="hidden-mobile hidden-tablet">项目所属</span></a>
        </li>
        <li class="active" routerLink="/management/setting-openness">
          <a data-toggle="tab" href="#s2" > <span
                  class="hidden-mobile hidden-tablet">项目公开性</span></a>
        </li>
        <li  routerLink="/management/setting-formwork">
          <a data-toggle="tab" href="#s3" ><span
                  class="hidden-mobile hidden-tablet">项目模板</span></a>
        </li>
      </ul>
    </header>

    <div class="no-padding">

      <div class="widget-body">

        <div id="myTabContent" class="tab-content">

          <div class="tab-pane fade   padding-10 no-padding-bottom" id="s1">

          </div>

          <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s2" >
            <div class="row">
              <article class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin"  *ngIf="category_id == 0">
                        <i class="fa-fw fa fa-plus"></i>
                        添加项目公开性
                      </alert>
                      <alert type="info" class="no-margin" *ngIf="category_id != 0">
                        <i class="glyphicon glyphicon-pencil"></i>
                        修改项目公开性
                      </alert>
                      <form   class="smart-form ">
                        <fieldset>
                          <section>
                            <label class="label txt-color-blue">职称编号<span class="asterisk-color">*</span></label>
                            <label class="input">
                              <input type="text" placeholder="职称编号" name="category_number" [(ngModel)]="category_number">
                            </label>
                          </section>
                          <section>
                            <label class="label txt-color-blue">项目公开性名称<span class="asterisk-color">*</span></label>
                            <label class="input">
                              <input type="text" placeholder="请输项目公开性名称" name="category_desc" [(ngModel)]="category_desc">
                            </label>
                          </section>
                        </fieldset>
                        <footer>
                          <button  type="button" class="btn btn-primary" (click)="addCategory()">
                            保存
                          </button>
                        </footer>
                      </form>
                    </div>
                  </div>
                </sa-widget>
              </article>
              <article class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-spoon"></i>
                        项目公开性
                      </alert>
                      <div class="table-responsive">
                        <table class="table table-hover table-bordered dataTable">
                          <thead>
                          <tr>
                            <th>项目公开性编号</th>
                            <th>项目公开性名称</th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let c of categoryList?.result">
                            <td>{{c.category_number}}</td>
                            <td>{{c.category_desc}}</td>
                            <td>
                              <div *ngIf="cid == super_admin_id || c.c_id == cid" >
                                <a class="btn btn-warning btn-xs" (click)="editCategory(c.category_id)"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                                <a class="btn btn-danger btn-xs" (click)="deleteCategory(c.category_id)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                              </div>
                              <div *ngIf="cid != super_admin_id && c.c_id != cid">无权操作</div>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        <!-- 底部-（分页部分）-->
                        <!--<div class="dt-toolbar">-->
                          <!--<div class="hidden-xs right">-->
                            <!--<ul class="pagination pagination-sm">-->
                              <!--<li *ngFor="let p of categoryList?.page" class="{{p.class}}">-->
                                <!--<a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>-->
                                <!--<a *ngIf="p.method==''">{{p.text}}</a>-->
                              <!--</li>-->
                            <!--</ul>-->
                          <!--</div>-->
                        <!--</div>-->
                      </div>
                    </div>
                  </div>
                </sa-widget>
                <!-- end widget -->
              </article>
            </div>

          </div>

          <div class="tab-pane fade padding-10 no-padding-bottom" id="s3" >

          </div>

        </div>

      </div>

    </div>

  </sa-widget>
</div>

