<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa {{menuInfos?.menu_icon}}"></i> </span>
            <h2>{{menuInfos?.menu_name}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <article>
                <div class="navbar navbar-default">
                  <form  class="navbar-form " novalidate="" role="search" >
                    <div class="btn-group"  *ngIf="isPermission(menu_id,'add')">
                      <button type="button" class="btn btn-primary" (click)="editCustomer('add')" ><span class="fa-fw fa fa-plus  mr-5"></span>添加</button>
                    </div>
                    <div class="btn-group"   *ngIf="isPermission(menu_id,'edit')">
                      <button type="button"   [ngClass]="{'btn btn-warning':true,'not-click':isStatus == 0}"  (click)="editCustomer('edit')"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                    </div>
                    <div class="btn-group"  *ngIf="isPermission(menu_id,'delete')">
                      <button type="button"  [ngClass]="{'btn btn-danger':true,'not-click':isStatus == 0}"  (click)="deleteCustomer('id')"><span class="fa-fw fa  fa-trash-o mr-5"></span>删除</button>
                    </div>
                    <div class="btn-group"   *ngIf="isPermission(menu_id,'delete')">
                      <button type="button" class="btn btn-secondary" (click)="showAllCheck()"><span class="fa-fw fa fa-th-large mr-5"></span>批处理</button>
                      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                        <span class="sr-only"></span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item"  (click)="deleteCustomer('all')">批量删除</a>
                      </div>
                    </div>
                  </form>
                  <form  class="navbar-form" novalidate="" role="search" >
                    <div class="btn-group">
                      <input type="text" class="form-control"  maxlength="15" [(ngModel)]="keyword" name="keyword" placeholder="请输入搜索内容" >
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn default-btn"  (click)="getCustomerList(1)" >搜索</button>
                    </div>

                  </form>
                </div>
              </article>
              <div  class="padding0 height-overflow">
                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-responsive">
                  <table class="table table-striped smart-form table-height-20">
                    <thead>
                    <tr >
                      <td><label class="checkbox mt-8">
                        <input type="checkbox" name="checkbox-inline"  [checked]="check" (change)="changeCheckAll($event)" >
                        <i></i>
                      </label>
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  *ngFor="let p of customerList?.result?.customerList?.data">
                      <td>
                        <label class="checkbox mt-8">
                          <input type="checkbox" value="{{p.c_id}}" [checked]="selects[p.c_id]" (change)="handle($event)">
                          <i></i>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div [ngStyle]="{'padding': '0','z-index': '1','width':width_1,'float':'left'}" class="table-responsive">
                  <table class="table table-striped   smart-form table-height-20">
                    <thead>
                    <tr>
                      <th>账号编码</th>
                      <th>公司名称</th>
                      <th>登记日期</th>
                      <th>所属行业</th>
                      <th>公司地址</th>
                      <th>公司电话</th>
                      <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let m of customerList?.result?.customerList?.data" (click)="isStatusShow(m.c_id,m.c_status)" [ngClass]="{'table-color':editStatusCustomerId == m.c_id}">
                      <td><span>{{m.c_number}}</span></td>
                      <td><span>{{m.c_name}}</span></td>
                      <td><span>{{m.created_at}}</span></td>
                      <td>{{m.c_industry_category}}</td>
                      <td>{{m.c_city}}</td>
                      <td>{{m.c_phone}}</td>
                      <td>
                        <span [ngSwitch]="m.c_status">
                          <span class="label-normal" *ngSwitchCase="1">正常</span>
                          <span class="label-unknown" *ngSwitchCase="2">隐藏</span>
                        </span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>


              <!-- 底部-（分页部分）-->
              <div class="footer-size flex-justify-end">
                <ul class="pagination" >
                  <li *ngFor="let p of customerList?.result?.page" class="{{p.class}}">
                    <a class="page-link" (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                    <a class="page-link"  *ngIf="p.method==''">{{p.text}}</a>
                  </li>
                  <li class="page-item disabled">
                    <a  class="page-link" disabled>共{{customerList?.result?.customerList?.total}}条</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<div class="modal fade  bd-example-modal-xl" bsModal #editModal="bs-modal">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 标题 -->
        <h3 *ngIf="c_id == 0" class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>添加账号列表</h3>
        <h3 *ngIf="c_id != 0" class="modal-title  color-yellow" data-ng-bind='results.title'><i class="fa-fw fa fa-pencil"></i>修改账号列表</h3>
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="clear_();">×</button>

      </div>
      <div class="modal-body">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">企业信息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">用户信息</a>
          </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <form class="form-distance ">
              <fieldset>
                <div class="form-row">
                  <div class="form-group col-sm-4">
                    <label class="label txt-color-blue">账号编码<span class="asterisk-color">*</span></label>
                    <input type="text" class="form-control" placeholder="账号编码" name="c_number" [(ngModel)]="c_number" >
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="label ">公司名称</label>
                    <input type="text" class="form-control"  placeholder="公司名称" name="c_name" [(ngModel)]="c_name" >
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="label ">简称</label>
                    <input type="text" class="form-control"  placeholder="简称" name="c_abbreviation" [(ngModel)]="c_abbreviation">
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="label">所属行业</label>
                    <select class="form-control" name="c_industry_category" [(ngModel)]="c_industry_category">
                      <option *ngFor="let c of customerDefault.result?.industryCategoryList" [selected]="customer_info.result?.c_industry_category == c.category_id || this.c_id == 0" value="{{c.category_id}}">{{c.category_desc}}</option>
                    </select>
                  </div>


                  <div class="form-group col-sm-4">
                    <label class="label ">Email</label>
                    <input type="text" class="form-control"  name="c_email" [(ngModel)]="c_email">
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="label ">电话</label>
                    <input type="text" class="form-control"  name="c_phone" [(ngModel)]="c_phone">
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="label">所在城市</label>
                    <div class="input-group">

                      <select  class="form-control"  name="address1" [(ngModel)]="address1" (change)="getCity()">
                        <option value="0">--请选择省--</option>
                        <option *ngFor="let p of province" [selected]="customer_info.result?.address1 == p" value="{{p}}">{{p}}</option>
                      </select>

                      <select class="form-control"  name="address2" [(ngModel)]="address2">
                        <option value="0">--请选择市--</option>
                        <option *ngFor="let c of city" [selected]="customer_info.result?.address2 == c" value="{{c}}">{{c}}</option>
                      </select>

                    </div>
                  </div>


                  <div class="form-group col-sm-8">
                    <label class="label">链接百度云密钥</label>
                    <input type="text" class="form-control"  name="c_secret" [(ngModel)]="c_secret" placeholder="请输入链接百度云密钥">
                  </div>

                  <div class="form-group col-sm-12">
                    <label class="label">备注</label>
                    <textarea class="form-control"  rows="3" name="c_notes" [(ngModel)]="c_notes"></textarea>
                  </div>


                </div>

              </fieldset>
            </form>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <form   class="form-distance ">
              <fieldset>
                <div class="form-row">
                  <div class="form-group col-sm-4">
                    <label class="label txt-color-blue">员工ID<span class="asterisk-color">*</span></label>
                    <input type="text" class="form-control"  name="name" [(ngModel)]="name" placeholder="请输入员工ID ">
                  </div>

                  <div class="form-group sol-sm-4">
                    <label class="label">姓名</label>
                    <input type="text" class="form-control" name="u_username" [(ngModel)]="u_username" placeholder="请输入姓名 " />
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="label txt-color-blue">密码<span class="asterisk-color">*</span></label>
                    <input type="text"  class="form-control" name="password" [(ngModel)]="password" placeholder="******"/>
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="label">手机号码</label>
                    <input  class="form-control" name="u_phone" [(ngModel)]="u_phone" placeholder="请输入手机号码"   >
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="label">Email</label>
                    <input class="form-control" name="email" [(ngModel)]="email" placeholder="请输入E-mail" type="email" >
                  </div>

                  <div class="form-group col-sm-4">
                    <label class="label">角色</label>
                    <input class="form-control" name="role" [(ngModel)]="role" disabled="disabled" type="text" >
                  </div>

                </div>
              </fieldset>
            </form>
          </div>

      </div>

    </div>

      <div class="modal-footer">
        <div class="display-inline" *ngIf="isPermission(menu_id,'add') || isPermission(menu_id,'edit')">
          <button type="button" class="btn btn-primary  ml-2" (click)="onSubmit(1);">保存</button>
          <button class="btn btn-success  ml-2" type="button" (click)="onSubmit(2);">保存并新增</button>
        </div>
        <button type="button" class="btn btn-default  ml-2" (click)="clear_();">返回</button>
      </div>
  </div>
</div>
</div>




  <div class="modal fade" id="particulars" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- 标题 -->
          <h3 class="modal-title" data-ng-bind='results.title'></h3>
          <h4 class="modal-title">商品分类-编号</h4>
          <!-- 关闭按钮 -->
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
          </button>

        </div>
        <div class="modal-body height-overflow-380">
          <div class="row ">
            <div class="col-sm-12">
              <div class="" >
                <P class="alert alert-info">基本信息</P>
                <table class="table table-striped table-forum">
                  <tbody>
                  <tr>
                    <td class="width-120">分类编号:</td>
                    <td class=""></td>
                    <td class="width-120">分类名称:</td>
                    <td >
                    </td>
                  </tr>
                  <tr>
                    <td class="width-120">上级分类:</td>
                    <td class="" colspan="3"></td>

                  </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
        </div>
      </div>
    </div>
  </div>
