<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['产品管理', '产品规格/参数设置']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>
  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs pull-left in">

        <li [class.active]="state.tabs.demo2=='tab-r1'" class="active">
          <a (click)="state.tabs.demo2 = 'tab-r1'">规格/参数</a>
        </li>
      </ul>
    </header>
    <div>
      <div class="widget-body">
        <tabset>
          <tab [active]="state.tabs.demo2 == 'tab-r1'">

            <tabset class="padding-10">

              <tab [active]="state.tabs.demo2 == 'tab-r1'">

                <div class="row">

                  <article class="col-sm-4">

                    <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                               [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">

                      <div>
                        <div class="widget-body no-padding">
                          <alert type="info" class="no-margin" >
                            <i class="fa-fw fa fa-plus"></i>
                            添加规格/参数
                          </alert>
                          <!--[formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate-->
                          <form class="smart-form ">
                            <input  type="hidden" name="edit_key"  [(ngModel)]="edit_key">

                            <fieldset>

                              <div >
                                <label class="label">类型</label>
                                <section class="col col-8">
                                  <label class="select">
                                    <!--formControlName="category_id"-->
                                    <select name="category_id" [(ngModel)]="category_id">
                                      <option *ngFor="let cl of parentCategoryList" value="{{cl.category_id}}" [selected]="cl.category_id == select_id">
                                        <b *ngIf="cl.category_depth == 0">{{cl.category_desc}}</b>
                                        <b *ngIf="cl.category_depth != 0">--{{cl.category_desc}}</b>
                                      </option>
                                    </select>
                                  </label>
                                </section>
                                <section class="col-lg-4">
                                  <button type="button" class="btn btn-info btn-sm" [routerLink]="['/management/product3type']">
                                    添加类型
                                  </button>
                                </section>
                              </div>

                            </fieldset>
                            <fieldset>
                              <section >
                                <label class="label ">参数名称</label>
                                <label class="input">
                                  <input  type="text" name="category_tab_name"  [(ngModel)]="category_tab_name" placeholder="请输入参数名称">
                                </label>
                              </section>
                              <section>
                                <label class="label">参数内容</label>
                                <label class="textarea textarea-resizable">
                                  <textarea class="custom-scroll" rows="5" name="category_tab_value"  [(ngModel)]="category_tab_value"></textarea>
                                </label>
                              </section>

                            </fieldset>
                            <footer>
                              <button (click)="onSubmit()"  type="button" class="btn btn-primary">
                                保存
                              </button>

                            </footer>
                          </form>

                        </div>
                      </div>

                    </sa-widget>


                  </article>

                  <article class="col-sm-8">

                    <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                               [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">


                      <div>
                        <div class="widget-body no-padding">
                          <alert type="info" class="no-margin" >
                            <i class="fa-fw fa fa-spoon"></i>
                            规格/参数
                          </alert>


                          <!--这个替换下面的下拉列表框-->
                          <div class="widget-body">
                            <form class="">
                              <fieldset>



                                <div class="col col-12 col-sm-12">
                                  <!--添加或删除对比设备-->
                                  <section  >
                                    <label class="">选择类型</label>

                                    <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" style="width: 100%;">
                                           <span class="selection">
                                             <span class="select2-selection select2-selection--multiple">
                                               <ul class="select2-selection__rendered">
                                                 <li class="select2-selection__choice" title="wifi">
                                                   <span class="select2-selection__choice__remove" >
                                                     ×</span>草酸
                                                 </li>
                                                 <li class="select2-selection__choice" title="LoRa">
                                                   <span class="select2-selection__choice__remove" >
                                                     ×</span>石灰石A
                                                 </li>
                                               </ul>
                                             </span>
                                           </span>
                                         </span>
                                    <span class="select2 select2-container--open select2-container select2-container--default select2-container--below select2-container--focus select-hidden" dir="ltr" style="width: 100%;">
                                           <span class="selection">
                                             <span class="select2-selection select2-selection--multiple select2-results select2-dropdown select2-drop-active">
                                              <ul class="select2-results__options select2-results__options--nested">
                                                <li class="select2-results__option  select2-results__option--highlighted" >草酸</li>
                                                <li class="select2-results__option">石灰石A</li>
                                                <li class="select2-results__option">石灰石A</li>
                                                <li class="select2-results__option">草酸</li>
                                                <li class="select2-results__option">草酸</li>
                                                <li class="select2-results__option">石灰石A</li>
                                                <li class="select2-results__option">草酸</li>
                                              </ul>
                                             </span>
                                           </span>


                                         </span>

                                  </section>

                                  <div class="note">
                                    <strong>备注:</strong> 点击名称或名称后面空白区域将弹出下拉框，可以选择添加和取消显示的内容。
                                  </div>
                                </div>
                              </fieldset>

                            </form>
                          </div>

                          <!--form包含的内容替换成上面的-->
                          <form class="smart-form ">
                            <fieldset>

                              <div class="row">
                                <label class="label col col-2">选择类型</label>
                                <section class="col col-10">
                                  <label class="select">
                                    <select name="select_category_id" [(ngModel)]="select_category_id" (change)="getSpecification()" >
                                      <option *ngFor="let cl of categoryList.result" value="{{cl.category_id}}" [selected]="select_id == cl.category_id">
                                        <b *ngIf="cl.category_depth == 0">{{cl.category_desc}}</b>
                                        <b *ngIf="cl.category_depth != 0">--{{cl.category_desc}}</b>
                                      </option>
                                    </select> <i></i> </label>
                                </section>
                              </div>
                            </fieldset>
                          </form>
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered dataTable">
                              <thead>
                              <tr>
                                <th>规格/参数</th>
                                <th>参数内容</th>
                                <th>操作</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let cl of (specification.result | keys)">
                                <td>{{cl.value.specification_name}}</td>
                                <td>{{cl.value.specification_value}}</td>
                                <td>
                                  <div *ngIf="cid == super_admin_id || select_cid == cid">
                                    <a class="btn btn-warning btn-xs" (click)="editSpecification(cl.key,cl.value.specification_name,cl.value.specification_value)"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                                    <a class="btn btn-danger btn-xs" (click)="deleteSpecification(cl.key)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                  </div>
                                  <div *ngIf="cid != super_admin_id && select_cid != cid"><a class="btn btn-danger btn-xs">无权操作</a></div>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                             <!--底部-（分页部分）-->
                            <div class="dt-toolbar">
                              <div class="hidden-xs right">
                                <!--<ul class="pagination pagination-sm">-->
                                  <!--<li class="disabled">-->
                                    <!--<a href="">上一页</a>-->
                                  <!--</li>-->
                                  <!--<li class="active">-->
                                    <!--<a href="">1</a>-->
                                  <!--</li>-->
                                  <!--<li>-->
                                    <!--<a href="">2</a>-->
                                  <!--</li>-->
                                  <!--<li>-->
                                    <!--<a href="">3</a>-->
                                  <!--</li>-->
                                  <!--<li>-->
                                    <!--<a href="">...</a>-->
                                  <!--</li>-->
                                  <!--<li>-->
                                    <!--<a href="">99</a>-->
                                  <!--</li>-->
                                  <!--<li>-->
                                    <!--<a href="">下一页</a>-->
                                  <!--</li>-->
                                <!--</ul>-->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </sa-widget>
                  </article>
                </div>
              </tab>
            </tabset>
          </tab>
        </tabset>
      </div>
    </div>
  </sa-widget>
</div>
