<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget  [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header *ngIf="pr_id == 0" >
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2 >添加处方单</h2>
          </header>
          <header *ngIf="pr_id != 0 && isDetail!='detail'">
            <span class="widget-icon"> <i class="fa-fw fa fa-pencil"></i> </span>
            <h2 >修改销售单 </h2>
          </header>
          <header *ngIf="isDetail=='detail'">
            <span class="widget-icon"> <i class="fa-fw fa fa-list-alt"></i> </span>
            <h2 >详情 </h2>
          </header>
          <div>
            <!--小部件内容-->
            <div class="widget-body no-padding">
              <form id="smart-form-register" class="form-distance" [formGroup]="formModel" (ngSubmit)="onSubmit()">
                <fieldset>
                  <legend>基本信息</legend>
                  <div class="form-row">

                    <div class="form-group col-sm-4">
                      <label class="label">单据号</label>
                      <input  class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" type="text" placeholder="单据号" name="pr_order" formControlName="pr_order" >
                      <input class="form-control"  *ngIf="isDetail!='detail'" type="text" placeholder="单据号" name="pr_order" formControlName="pr_order" >
                    </div>

                    <div class="form-group col-sm-4">
                      <label class="label">单据日期</label>
                      <input  class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" name="pr_date"  maxlength="20" formControlName="pr_date" placeholder="选择日期" [dpDayPicker]="datePickerConfig" [theme]="'dp-material'" [mode]="'day'" />
                      <input  class="form-control"  *ngIf="isDetail!='detail'" name="pr_date"  maxlength="20" formControlName="pr_date" placeholder="选择日期" [dpDayPicker]="datePickerConfig" [theme]="'dp-material'" [mode]="'day'" />
                    </div>

                    <div class="form-group col-sm-4">
                      <label class="label ">姓名</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <select   class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" name="pr_supplier" formControlName="pr_supplier" [(ngModel)]="pr_supplier_default">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let cus of purchaseList.result?.supplier" [selected]="purchaseInfo.result?.pr_supplier == cus.c_id" value="{{ cus.c_id }}">{{cus.c_name}}</option>
                        </select>
                        <select   class="form-control"  *ngIf="isDetail!='detail'" name="pr_supplier" formControlName="pr_supplier" [(ngModel)]="pr_supplier_default" (change)="getCustomerInfo($event,1)">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let cus of purchaseList.result?.supplier" [selected]="purchaseInfo.result?.pr_supplier == cus.c_id" value="{{ cus.c_id }}">{{cus.c_name}}</option>
                        </select>
                        <div class="input-group-prepend"  *ngIf="isDetail!='detail'">
                          <a   class="input-group-text" type="button"  href="http://cn.i3ot.com/#/medical/medical-patient/add" target="_blank" (click)="smartModEg1()" >添加
                          </a>
                        </div>
                        <div class="input-group-prepend"  *ngIf="isDetail!='detail'">
                          <a class="input-group-text refresh-page" type="button"  (click)="getPurchaseDefault('1')">
                            刷新
                          </a>
                        </div>

                      </div>
                    </div>

                    <div class="form-group col-sm-4">
                      <label class="label">年龄</label>
                      <input class="form-control"  disabled="disabled" type="text" placeholder="年龄" name="c_age" formControlName="c_age" >
                    </div>

                    <div class="form-group col-sm-4">
                      <label class="label">性别</label>
                      <input  class="form-control"  disabled="disabled" type="text" placeholder="性别" name="c_gender" formControlName="c_gender">
                    </div>

                    <div class="form-group col-sm-12">
                      <label class="label">病症</label>
                      <textarea class="form-control"  disabled="disabled"  rows="3" name="c_symptom" formControlName="c_symptom"></textarea>
                    </div>

                    <div class="form-group col-sm-12">
                      <div class="navbar navbar-default">
                        <form  class="navbar-form" novalidate="" role="search" >
                          <div class="btn-group">
                            <input  class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" type="text" name="keyword" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
                            <input class="form-control"   placeholder="搜索库存商品名称"  *ngIf="isDetail!='detail'" type="text" name="keyword" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn default-btn" (click)="searchKey(1)">搜索</button>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="form-group col-sm-12">
                      <div  class="padding0">
                        <div style="z-index: 2;width:25%;float:left;" class="table-responsive padding0 table-minheight">
                          <table style="margin-top: 0!important;" class="table table-border table-bordered dataTable table-height-50">
                            <thead>
                            <tr>
                              <th>序号</th>
                              <th>商品名称</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let a of selectProductList;let ind = index;">
                              <td>{{ind}}</td>
                              <td>{{a.assets_name}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="he-40">
                              <th></th>
                              <th></th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                        <div style="padding: 0;z-index:1;width:75%;float:left;" class="table-responsive table-minheight">
                          <table style="margin-top: 0!important;" class="table  table-border table-bordered dataTable table-height-50">
                            <thead>
                            <tr>
                              <th>商品类型</th>
                              <th class="txt-color-blue">数量</th>
                              <th >计量单位</th>
                              <th>剩余库存量</th>
                              <!--<th>库存数量</th>-->
                              <th >单价(元)</th>
                              <th >总价</th>
                              <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let a1 of selectProductList;let ind1 = index;" [ngStyle]="{'color':a1.assets_current_status == 'no'?'#ccc':'#666'}">
                              <td>{{a1.category_desc}}</td>
                              <td *ngIf="a1.assets_current_status == 'no'">
                                {{a1.p_count}}
                              </td>
                              <td *ngIf="!a1.assets_current_status">
                                <div class="form-group">
                                  <input  class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="a1.p_count" value="{{a1.p_count}}" type="text">
                                  <input  class="form-control" *ngIf="isDetail!='detail'" [ngModelOptions]="{standalone: true}" [(ngModel)]="a1.p_count" value="{{a1.p_count}}" type="text" (keyup)="sumPCount($event,ind1,a1.p_count,a1.old_p_count,a1.assets_surplus_count)">
                                </div>
                              </td>
                              <td>{{a1.assets_unit}}</td>
                              <td>{{a1.assets_surplus_count}}</td>
                              <!--<td>{{a1.assets_count}}</td>-->
                              <td>{{a1.assets_price}}</td>
                              <td>{{a1.p_count * a1.assets_price}}</td>
                              <td>
                                <a *ngIf="isDetail!='detail'" class="btn btn-danger btn-xs" (click)="removeInput(ind1)"><span class="fa fa-remove" style="color:#fff;"></span></a>
                              </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="he-40">
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>


                    <div class="form-group col-sm-4">
                      <label class="label">经办人</label>
                      <select  class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" name="pr_employee" formControlName="pr_employee" [(ngModel)]="pr_employee_default">
                        <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                        <option *ngFor="let u of purchaseList?.result?.userList" [selected]="purchaseInfo.result?.pr_employee == u.id" value="{{ u.id }}">{{u.u_username}}</option>
                      </select>
                      <select  class="form-control"  *ngIf="isDetail!='detail'" name="pr_employee" formControlName="pr_employee" [(ngModel)]="pr_employee_default">
                        <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                        <option *ngFor="let u of purchaseList?.result?.userList" [selected]="purchaseInfo.result?.pr_employee == u.id" value="{{ u.id }}">{{u.u_username}}</option>
                      </select>

                    </div>

                    <div class="form-group col-sm-8">
                      <h4 class="text-align-right">
                        合计金额:<strong>{{p_sales_price}}</strong>
                      </h4>
                    </div>


                  </div>

                </fieldset>
                <div class="footer-size flex-justify-end">
                  <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#particulars"><i class="fa fa-print"></i>
                    打印预览
                  </button>
                  <!--<button type="button" class="btn btn-success btn-sm  ml-2" ><span class="fa-fw fa fa-plus"></span>保存并新增</button>-->
                  <button *ngIf="pr_id==0 && (isPermission(menu_id,'add') || isPermission(menu_id,'edit'))" type="submit" class="btn btn-primary  ml-2">保存</button>
                  <button *ngIf="isDetail!='detail' && pr_id!=0 && (isPermission(menu_id,'add') || isPermission(menu_id,'edit'))" type="submit" class="btn btn-primary  ml-2">修改</button>
                  <button type="button" class="btn btn-default  ml-2" [routerLink]="['/medical/medical-sales']">
                    返回
                  </button>
                </div>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<div class="modal fade bd-example-modal-xl" bsModal #lgModal="bs-modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 标题 -->
        <h3 class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>选择商品</h3>
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="closeSubmit();lgModal.hide()">
          ×
        </button>

      </div>
      <div class="modal-body ">
        <div  class="row">
          <article  class="col-sm-12">
            <div class="navbar navbar-default">
              <form  class="navbar-form " novalidate="" role="search" >
                <div class="btn-group">
                  <input type="text" class="form-control"  maxlength="15" [(ngModel)]="keyword_product" name="keyword_product" placeholder="请输入搜索内容">
                </div>
                <div class="btn-group">
                  <button type="button" class="btn default-btn"   (click)="searchKey(1)">搜索</button>
                </div>
              </form>
            </div>
          </article>
        </div>
        <div class="pt">
          <div class="row margin-b50" style="padding:0 10px;">
            <article class="form-group col-sm-4 col-4 ">
              <sa-widget class="jarviswidget" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                         [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                <div>
                  <div class="widget-body no-padding">
                    <div type="info" class="no-margin alert alert-primary">
                      <i class="fa-fw fa fa-sitemap"></i>
                      商品分类
                    </div>
                    <div class="pd-10 border-overflow-320" style="margin-top: -11px;">
                      <div class="widget-body">
                        <div class="tree smart-form">
                          <ul class="">
                            <li class=" parent_li">
                                  <span><label class="checkbox inline-block tree-label pt-12 ">
                                          <input type="checkbox" name="checkbox-inline" [checked]="select_category_ids[0]" (click)="selectCategoryAll()"><i></i>
                                        </label>
                                    <i class="fa fa-lg fa-folder-open"></i>全部
                                    <i class="sa-icon fa fa-lg fa-plus-circle" *ngIf="showUl == 0" (click)="showLeftUl(1)"></i>
                                    <i class="sa-icon fa fa-lg fa-minus-circle" *ngIf="showUl == 1" (click)="showLeftUl(0)"></i>
                                  </span>
                              <ul class="" *ngIf="showUl == 1">
                                <li class=" parent_li" *ngFor="let c of productDefault?.result?.categoryList;let ind = index;">
                                    <span>
                                      <label class="checkbox inline-block tree-label ">
                                        <input type="checkbox" name="checkbox-inline" [checked]="select_category_ids[c.category_id]" (click)="selectCategory(c.category_id,ind,0,1)">
                                        <i></i>{{c.category_desc}}
                                        <em class="txt-color-blue">({{c.child_count}})</em>
                                      </label>
                                      <i class="sa-icon fa fa-lg fa-minus-circle" *ngIf="showUlChild == c.category_id && c.has_child != 0" (click)="showLeftUlChild(0)"></i>
                                      <i class="sa-icon fa fa-lg fa-plus-circle" *ngIf="showUlChild != c.category_id && c.has_child != 0" (click)="showLeftUlChild(c.category_id)"></i>
                                    </span>
                                  <ul class="" *ngIf="showUlChild == c.category_id">
                                    <li *ngFor="let dc of c.child;let indChild = index;">
                                        <span>
                                          <label class="checkbox inline-block tree-label">
                                            <input type="checkbox" name="checkbox-inline" [checked]="select_category_ids[c.category_id] || select_category_ids[dc.category_id]" (click)="selectCategory(dc.category_id,ind,indChild,c.category_id)">
                                            <i></i>{{dc.category_desc}}
                                            <em class="txt-color-blue">({{c.child_count}})</em>
                                          </label>
                                        </span>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="footer-size">
                    </div>
                  </div>
                </div>
              </sa-widget>

            </article>
            <article class="form-group col-sm-8 col-8 ">
              <sa-widget class="jarviswidget" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                         [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                <div>
                  <div class="widget-body no-padding">
                    <div type="info" class="no-margin alert alert-primary" >
                      <i class="fa-fw fa fa-table"></i>
                      商品列表
                    </div>
                    <div class=" "  style="padding:0;">
                      <div style="padding: 0;z-index: 1;" class="table-responsive border-overflow-320">
                        <table class="table table-striped   smart-form table-height-20">
                          <thead>
                          <tr>
                            <td><label class="checkbox mt-8">
                              <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)">
                              <i></i>
                            </label>
                            </td>
                            <th>商品编号</th>
                            <th>商品名称</th>
                            <th>商品类型</th>
                            <th>剩余数量</th>
                            <!--<th>总数量</th>-->
                            <th>计量单位</th>
                            <th>成本单价</th>
                            <th>入库时间</th>
                            <th>备注</th>
                          </tr>
                          </thead>
                          <tbody *ngIf="searchProductList?.result?.assetsList?.data">
                          <tr  *ngFor="let a of searchProductList?.result?.assetsList?.data;let ind = index;"><!-- class="table-color"-->
                            <td>
                              <label class="checkbox padding-top-10" >
                                <input type="checkbox" name="checkbox-inline" value="{{ a.assets_id }}" [checked]="selects[a.assets_id]" (change)="handle($event,ind)">
                                <i></i>
                              </label>
                            </td>
                            <td>{{a.assets_number}}</td>
                            <td>{{a.assets_name}}</td>
                            <td>{{a.category_desc}}</td>
                            <td>{{a.assets_surplus_count}}</td>
                            <!--<td>{{ a.assets_count}}</td>-->
                            <td>{{a.assets_unit}}</td>
                            <td>{{a.assets_price}}</td>
                            <td>{{a.assets_buy_date}}</td>
                            <td>{{a.assets_note}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <!-- 底部-（分页部分）-->
                    <div class="footer-size flex-justify-end">
                      <ul class="pagination"  *ngIf="searchProductList?.result?.page">
                        <li *ngFor="let p of searchProductList?.result?.page" class="{{p.class}}">
                          <a class="page-link" (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>>
                          <a class="page-link"  *ngIf="p.method==''">{{p.text}}</a>
                        </li>
                        <li class="page-item disabled">
                          <a  class="page-link" disabled>共{{ searchProductList?.result?.productList?.total}}条</a>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </sa-widget>
              <!-- end widget -->
            </article>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success ml-2" (click)="addInput();lgModal.hide()"><span class="fa-fw fa fa-plus"></span>选入</button>
        <button type="button" class="btn btn-default ml-2" (click)="closeSubmit();lgModal.hide()">返回</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade bd-example-modal-xl" id="particulars" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'></h3>
        <h4 class="modal-title">打印预览</h4>
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>

      </div>
      <div class="modal-body height-overflow-380">
        <div class="row ">
          <div class="col-sm-12">
            <div class="col-xs-6 pd-b10">
                <span class="width-120">编号:</span>
                <span>366555</span>
            </div>
            <div class="col-xs-6 pd-b10">
              <span class="width-120">单据日期:</span>
              <span>366555</span>
            </div>
            <div class="col-xs-6 pd-b10">
              <span class="width-120">姓名:</span>
              <span>366555</span>
            </div>
            <div class="col-xs-6 pd-b10">
              <span class="width-120">年龄:</span>
              <span>55</span>
            </div>
            <div class="col-xs-12 pd-b10">
              <span class="width-120">病症:</span>
              <span>病症病症病症病症病症病症病症病症病病症病症病症
                病症病症病症症病症病症病症病症病症病症
                病症病症病症病症病症病症
                病症病症病症病症病症病症病症病症病症病症
                病症病症病症病症病症病症病症病症</span>
            </div>
            <div class="col-xs-12 pd-b10" >
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>序号</th>
                  <th>商品名称</th>
                  <th>分类</th>
                  <th>数量</th>
                  <th>计量单位</th>
                  <th>单价</th>
                  <th>总价</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>df</td>
                  <td>1df</td>
                  <td>2</td>
                  <td>g</td>
                  <td>6</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>df</td>
                  <td>1df</td>
                  <td>2</td>
                  <td>g</td>
                  <td>6</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>df</td>
                  <td>1df</td>
                  <td>2</td>
                  <td>g</td>
                  <td>6</td>
                  <td>12</td>
                </tr>
                </tbody>
              </table>

            </div>
            <div class="col-xs-6 pd-b10">
              <span class="width-120">经办人:</span>
              <span>某某</span>
            </div>
            <div class="col-xs-6 pd-b10 text-align-right">
              <span class="width-120">总价:</span>
              <strong>21554</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" type="submit"><i class="fa fa-print"></i>
          打印
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
      </div>
    </div>
  </div>
</div>


