<div id="content" xmlns="http://www.w3.org/1999/html">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>往来客户或单位</h2>
          </header>

          <div>
            <div class="widget-body no-padding" >
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >

                      <div class="form-group pdlr-4">
                        <a class="btn btn-success btn-sm" (click)="lgModal.show();">
                          <span class="glyphicon glyphicon-plus mr-5"></span>添加</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailCustomer('edit')">
                          <span class="glyphicon glyphicon-pencil mr-5 color-yellow"></span>修改</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="deleteCustomer('id')">
                          <span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailCustomer('detail')">
                          <span class="glyphicon glyphicon-zoom-in mr-5 color-green"></span>详情</a>
                      </div>

                      <div class="form-group pdlr-4" *ngIf="isStatus == 2">
                        <a class="btn default-btn btn-sm" (click)="editStatus(1,'id')">
                          <span class="fa-fw fa fa-play mr-5 color-green"></span>启用</a>
                      </div>
                      <div class="form-group pdlr-4" *ngIf="isStatus == 1">
                        <a class="btn default-btn btn-sm" (click)="editStatus(2,'id')" >
                          <span class="fa-fw fa fa-stop mr-5 txt-color-blueDark"></span>无效</a>
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <a class="btn default-btn btn-sm dropdown-toggle" (click)="showAllCheck()" data-toggle="dropdown">
                          <span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a (click)="editStatus(1,'all')" ><span class="fa-fw fa fa-play mr-5 color-green"></span>批量设为启动</a></li>
                          <li><a (click)="editStatus(2,'all')"><span class="fa-fw fa fa-stop mr-5 txt-color-blueDark"></span>批量设为无效</a></li>
                          <li class="divider"></li>
                          <li><a (click)="deleteCustomer('all')"><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>
                        </ul>
                      </div>

                    </form>

                    <form class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search">
                      <div class="form-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" [(ngModel)]="keyword" placeholder="请输入搜索内容" type="text">
                      </div>
                      <div class="form-group pdlr-4">
                        <button class="btn btn-default" type="button" (click)="getCustomerList(1)">
                          <i  class="glyphicon glyphicon-search"></i>
                          搜索
                        </button>
                      </div>
                    </form>

                  </div>
                </article>
              </div>

              <div  class="padding0">
                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-responsive padding0">
                  <table class="table table-striped smart-form">
                    <thead>
                    <tr style="height: 37px;">
                      <td><label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)">
                        <i></i>
                      </label>
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 34.5px;" *ngFor="let c of customerList?.result?.customerList?.data">
                      <td *ngIf="isAll != 0">
                        <label class="checkbox mt-8" *ngIf="cid != super_admin_id && cid != c.c_id" >
                          <input type="checkbox" name="checkbox-inline" disabled="disabled">
                          <i></i>
                        </label>
                        <label class="checkbox" *ngIf="cid == super_admin_id || cid == c.c_id" >
                          <input type="checkbox" name="checkbox-inline" value="{{ c.c_id }}" [checked]="selects[c.c_id]" (change)="handle($event)">
                          <i></i>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div style="z-index: 2;width:20%;float:left;" class="table-responsive padding0">
                  <table class="table table-striped   smart-form">
                    <thead>
                    <tr>
                      <th>单位编号</th>
                      <th>单位名称</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let c of customerList?.result?.customerList?.data" (click)="isStatusShow(c.c_id,c.c_status)" [ngClass]="{'table-color':editStatusCustomerId == c.c_id}">
                      <td>
                        <span class="click-a"><a>{{c.c_number}}</a></span>
                      </td>
                      <td>{{c.c_name}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div [ngStyle]="{'padding': '0','z-index': '1','width':width_1,'float':'left'}" class="table-responsive">
                  <table class="table table-striped smart-form">
                    <thead>
                    <tr>
                      <th>登记日期</th>
                      <th>单位分类 </th>
                      <th>单位电话 </th>
                      <th>联系人 </th>
                      <th>联系人手机 </th>
                      <th>单位地址</th>
                      <th>状态 </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let c of customerList?.result?.customerList?.data" (click)="isStatusShow(c.c_id,c.c_status)" [ngClass]="{'table-color':editStatusCustomerId == c.c_id}">
                      <td>{{c.created_at}}</td>
                      <td>{{c.unit_category}}</td>
                      <td>{{c.c_phone}}</td>
                      <td>{{c.c_contacts}}</td>
                      <td>{{c.c_phone}}</td>
                      <td>{{c.c_address}}</td>
                      <td>
                        <span [ngSwitch]="c.c_status">
                          <span class="label-normal" *ngSwitchCase=1>正常</span>
                          <span class="label-invalid" *ngSwitchCase=2>无效</span>
                          <span class="label-unknown" *ngSwitchDefault>未知</span>
                        </span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="col-xs-12 col-sm-6">
                  <span>共{{customerList.result?.customerList?.total}}条</span>
                </div>
                <div class="hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li *ngFor="let p of customerList?.result?.page" class="{{p.class}}">
                      <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                      <a *ngIf="p.method==''">{{p.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>
<!--id="myModal"-->
<div bsModal #lgModal="bs-modal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!--<form class="smart-form "  [formGroup]="formModel">-->
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close"  (click)="clear_();lgModal.hide()" aria-label="Close">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title txt-color-blue" data-ng-bind='results.title' *ngIf="c_id == 0"><i class="fa-fw fa fa-plus"></i>添加往来单位</h3>
        <h3 class="modal-title  color-yellow" data-ng-bind='results.title' *ngIf="c_id != 0"><i class="glyphicon glyphicon-pencil"></i>修改往来单位</h3>
      </div>
      <div class="modal-body">
        <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
          <header>
            <ul class="nav nav-tabs pull-left in">
              <li [class.active]="state.tabs.demo3=='hr1'" class="active">
                <a (click)="state.tabs.demo3 = 'hr1'">基本信息</a>
              </li>
              <li [class.active]="state.tabs.demo3=='hr2'" class="active">
                <a (click)="state.tabs.demo3 = 'hr2'">联系人信息</a>
              </li>
              <li [class.active]="state.tabs.demo3=='hr3'" class="active">
                <a (click)="state.tabs.demo3 = 'hr3'">其他信息</a>
              </li>
            </ul>
          </header>
          <div class="height-overflow-380">
            <div class="widget-body mt-20">
              <tabset>
                <tab [active]="state.tabs.demo3 == 'hr1'">
                  <tabset >
                    <tab [active]="state.tabs.demo3 == 'hr1'">
                      <div class="row">
                        <form class="smart-form ">
                          <fieldset>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section>
                                <label class="label txt-color-blue">单位编号<span class="asterisk-color">*</span></label>
                                <label class="input">
                                  <input type="text" placeholder="单位编号" name="c_number" [(ngModel)]="c_number">
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section>
                                <label class="label txt-color-blue">单位名称<span class="asterisk-color">*</span></label>
                                <label class="input">
                                  <input type="text" placeholder="" name="c_name" [(ngModel)]="c_name">
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section>
                                <label class="label">商户类型</label>
                                <label class="select">
                                  <select class="input-sm" name="c_role" [(ngModel)]="c_role" (change)="getUnitCategoryList($event,1)">
                                    <option value="0" disabled="disabled">--请选择--</option>
                                    <option value="3" >供应商</option>
                                    <option value="4" >客户</option>
                                  </select> <i></i>
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <label class="label txt-color-blue">上级分类<span class="asterisk-color">*</span></label>
                              <section>
                                <div class="input-group">
                                  <label   class="select form-control border-0">
                                    <select class="input-sm" name="c_category_id" [(ngModel)]="c_category_id">
                                      <option [selected]="c_id == 0" value="0">--请选择--</option>
                                      <!--<option *ngFor="let c of customerDefault.result?.categoryList" [selected]="customerInfo.result?.c_category_id == c.category_id" value="{{ c.category_id }}">-->
                                      <!--<b *ngIf="c.category_depth == 0">{{c.category_desc}}</b>-->
                                      <!--<b *ngIf="c.category_depth != 0">&#45;&#45;{{c.category_desc}}</b>-->
                                      <!--</option>-->
                                      <option *ngFor="let c of unitCategoryList?.result?.categoryList" value="{{ c.category_id }}" [disabled]="(c.category_depth == 0 && c.child_count > 0) ? 'disabled' : false" [ngStyle]="{'font-weight':((c.category_depth == 0) ? 'bold' : 'normal'),'color':((c.category_depth == 0 && c.child_count > 0) ? 'black' : '#404040')}">
                                        <strong *ngIf="c.category_depth == 0">{{c.category_desc}}</strong>
                                        <span *ngIf="c.category_depth != 0">--{{c.category_desc}}</span>
                                      </option>
                                    </select><i></i>
                                  </label>

                                  <div class="input-group-btn">
                                    <a  href="http://cn.i3ot.com/#/customer-management/unit-classify" target="_blank" (click)="smartModEg1()" class="btn btn-default btn-sm pb-6" type="button">
                                      <!-- <i class="fa fa-plus "></i>--> 添加
                                    </a>
                                    <a class="btn btn-default btn-sm pb-6" type="button" (click)="getUnitCategoryList(c_role,2)"><i class="fa fa-link"></i>
                                      刷新
                                    </a>
                                  </div>
                                </div>

                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label">单位电话</label>
                                <label class="input"> <i class="icon-append fa fa-phone"></i>
                                  <input name="c_phone" [(ngModel)]="c_phone" placeholder="请输入电话号码" maxlength="12">
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section>
                                <label class="label txt-color-blue">单位地址<span class="asterisk-color">*</span></label>
                                <label class="input">
                                  <input type="text" placeholder="" name="c_address" [(ngModel)]="c_address">
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section>
                                <label class="label">助记码</label>
                                <label class="input">
                                  <input type="text" placeholder="助记码(或单位简称)" name="c_abbreviation" [(ngModel)]="c_abbreviation" >
                                </label>
                              </section>
                            </div>

                            <!--<div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                              <!--<section>-->
                                <!--<label class="label txt-color-blue">价格级别<span class="asterisk-color">*</span></label>-->
                                <!--<label class="select">-->
                                  <!--<select name="c_price_type" [(ngModel)]="c_price_type">-->
                                    <!--<option disabled="" selected="" value="0" >请选择价格级别</option>-->
                                    <!--<option value="1" >参数默认</option>-->
                                    <!--<option value="2" >参考价</option>-->
                                    <!--<option value="3" >零售价</option>-->
                                    <!--<option value="4" >一级价</option>-->
                                  <!--</select> <i></i> </label>-->
                              <!--</section>-->
                            <!--</div>-->
                            <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <section>
                                <label class="label">备注</label>
                                <label class="textarea textarea-resizable">
                                  <textarea class="custom-scroll" rows="2" name="c_notes" [(ngModel)]="c_notes"></textarea>
                                </label>
                              </section>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </tab>
                  </tabset>
                </tab>
                <tab [active]="state.tabs.demo3 == 'hr2'">
                  <tabset >
                    <tab [active]="state.tabs.demo3 == 'hr2'">
                      <div class="row">
                        <form   class="smart-form ">
                          <fieldset>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">联系人</label>
                                <label class="input">
                                  <input name="c_contacts" [(ngModel)]="c_contacts" type="text" >
                                </label>
                                <!--<label class="select">-->
                                  <!--<select name="c_contacts" [(ngModel)]="c_contacts">-->
                                    <!--<option [selected]="c_id == 0" value="0">&#45;&#45;请选择&#45;&#45;</option>-->
                                    <!--<option *ngFor="let u of customerDefault.result?.userList" [selected]="customerInfo.result?.c_follow_user_id == u.id" value="{{ u.id }}">{{u.u_username}}</option>-->
                                  <!--</select><i></i>-->
                                <!--</label>-->
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">职务</label>
                                <label class="input">
                                  <input name="user_title" [(ngModel)]="user_title" type="text" >
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label">电话</label>
                                <label class="input"> <i class="icon-append fa fa-phone"></i>
                                  <input name="user_phone" [(ngModel)]="user_phone" placeholder="请输入电话号码" maxlength="12">
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label">手机</label>
                                <label class="input"> <i class="icon-append fa fa-phone"></i>
                                  <input name="user_mobile" [(ngModel)]="user_mobile" placeholder="请输入手机号码" maxlength="12">
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">Email</label>
                                <label class="input">
                                  <input name="user_email" [(ngModel)]="user_email" type="text" >
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">QQ</label>
                                <label class="input">
                                  <input name="user_qq" [(ngModel)]="user_qq" type="text" >
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">地址</label>
                                <label class="input">
                                  <input name="user_addr" [(ngModel)]="user_addr" type="text" >
                                </label>
                              </section>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </tab>
                  </tabset>
                </tab>
                <tab [active]="state.tabs.demo3 == 'hr3'">
                  <tabset >
                    <tab [active]="state.tabs.demo3 == 'hr3'">
                      <div class="row">
                        <form class="smart-form ">
                          <fieldset>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <label class="label txt-color-blue">业务员<span class="asterisk-color">*</span></label>
                              <section>
                                <div class="input-group">
                                  <label   class="select form-control border-0">
                                    <select name="c_follow_user_id" [(ngModel)]="c_follow_user_id" (change)="getDepartment($event,1)">
                                      <option [selected]="c_id == 0" value="0">--请选择业务员--</option>
                                      <option *ngFor="let u of customerDefault.result?.userList" [selected]="customerInfo.result?.c_follow_user_id == u.id" value="{{ u.id }}">{{u.u_username}}</option>
                                    </select><i></i>
                                  </label>

                                  <div class="input-group-btn">
                                    <a  href="http://cn.i3ot.com/#/forms/employees/0" target="_blank" (click)="smartModEg1()" class="btn btn-default btn-sm pb-6" type="button">
                                      <!-- <i class="fa fa-plus "></i>--> 添加
                                    </a>
                                    <a class="btn btn-default btn-sm pb-6" type="button" (click)="getCustomerDefault()"><i class="fa fa-link"></i>
                                      刷新
                                    </a>

                                  </div>
                                </div>


                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section>
                                <label class="label txt-color-blue">分管部门<span class="asterisk-color">*</span></label>
                                <label class="input">
                                  <!--<i class="icon-append glyphicon glyphicon-search cursor-pointer" data-toggle="modal" data-target="#myModalname"></i>-->
                                  <input type="text" placeholder="" disabled="disabled" name="department" [(ngModel)]="department">
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">税率%</label>
                                <label class="input">
                                  <input name="c_tax" [(ngModel)]="c_tax" type="number" >
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">税号</label>
                                <label class="input">
                                  <input name="c_tax_number" [(ngModel)]="c_tax_number" type="text" >
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">开户行</label>
                                <label class="input">
                                  <input name="c_bank" [(ngModel)]="c_bank" type="text" >
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">银行帐号</label>
                                <label class="input">
                                  <input name="c_bank_account" [(ngModel)]="c_bank_account" type="text" >
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">折扣率%</label>
                                <label class="input">
                                  <input name="c_discount_rate" [(ngModel)]="c_discount_rate" type="number" >
                                </label>
                              </section>
                            </div>
                            <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                              <section >
                                <label class="label ">信用额度</label>
                                <label class="input">
                                  <input name="c_credit_amount" [(ngModel)]="c_credit_amount" type="number" >
                                </label>
                              </section>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                    </tab>
                  </tabset>
                </tab>
              </tabset>
            </div>
          </div>
        </sa-widget>
      </div>
      <div class="modal-footer">
        <!--<button class="btn btn-success btn-sm" type="button"><span class="glyphicon glyphicon-plus"></span>保存并新增</button>-->
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit();lgModal.hide()">保存</button>
        <button type="button" class="btn btn-default"  (click)="clear_();lgModal.hide()" aria-label="Close">返回</button>
      </div>
    </div>
  <!--</form>-->
  </div>
</div>

<div class="modal fade" bsModal #detailModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="detailModal.hide()"> × </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'></h3>
        <h4 class="modal-title">单位名称-编号</h4>
      </div>
      <div class="modal-body height-overflow-380">
        <div class="row ">
          <div class="col-sm-12">
            <div class="" >
              <P class="alert alert-info">基本信息</P>
              <table class="table table-striped table-forum">
                <tbody>
                <tr>
                  <td class="width-120">单位编号:</td>
                  <td class="">{{customerInfo?.result?.c_number}}</td>
                  <td class="width-120">单位名称:</td>
                  <td >
                    {{customerInfo?.result?.c_name}}
                  </td>
                </tr>
                <tr>
                  <td class="width-120">商户类型:</td>
                  <td [ngSwitch]="customerInfo?.result?.c_role">
                    <span *ngSwitchCase="3">供应商</span>
                    <span *ngSwitchCase="4">供销商</span>
                  </td>
                  <td class="width-120">单位分类：</td>
                  <td class="">{{customerInfo?.result?.unit_category}}</td>
                </tr>
                <tr>
                  <td class="width-120">单位电话：</td>
                  <td class="">{{customerInfo?.result?.c_phone}}</td>
                  <td class="width-120">单位地址:</td>
                  <td class="">{{customerInfo?.result?.c_address}}</td>
                </tr>
                <tr>
                  <td class="width-120">助记码：</td>
                  <td class="">{{customerInfo?.result?.c_abbreviation}}</td>
                  <td class="width-120">价格级别：</td>
                  <td class="">{{customerInfo?.result?.c_price_type}}</td>
                </tr>
                <tr>
                  <td class="width-120">备注：</td>
                  <td class="">{{customerInfo?.result?.c_notes}}</td>
                  <td class="width-120"></td>
                  <td class=""></td>
                </tr>
                </tbody>
              </table>
              <P class="alert alert-info">联系人信息</P>
              <table class="table table-striped table-forum">
                <tbody>
                <tr>
                  <td class="width-120">联系人:</td>
                  <td class="">{{customerInfo?.result?.user_info?.c_contacts}}</td>
                  <td class="width-120">职务:</td>
                  <td class="">{{customerInfo?.result?.user_info?.user_title}}</td>
                </tr>
                <tr>
                  <td class="width-120">电话:</td>
                  <td class="">{{customerInfo?.result?.user_info?.user_mobile}}</td>
                  <td class="width-120">手机:</td>
                  <td class="">{{customerInfo?.result?.user_info?.user_phone}}</td>
                </tr>
                <tr>
                  <td class="width-120">Email:</td>
                  <td class="">{{customerInfo?.result?.user_info?.user_email}}</td>
                  <td class="width-120">QQ:</td>
                  <td class="">{{customerInfo?.result?.user_info?.user_qq}}</td>
                </tr>
                <tr>
                  <td class="width-120">地址:</td>
                  <td class="">{{customerInfo?.result?.user_info?.user_addr}}</td>
                  <td class="width-120"></td>
                  <td class=""></td>
                </tr>
                </tbody>
              </table>

              <P class="alert alert-info">其他信息</P>
              <table class="table table-striped table-forum">
                <tbody>
                <tr>
                  <td class="width-120">业务员:</td>
                  <td class="">{{customerInfo?.result?.u_username}}</td>
                  <td class="width-120">分管部门:</td>
                  <td class="">{{customerInfo?.result?.department_name}}</td>
                </tr>
                <tr>
                  <td class="width-120">税率%:</td>
                  <td class="">{{customerInfo?.result?.c_tax}}</td>
                  <td class="width-120">税号:</td>
                  <td class="">{{customerInfo?.result?.c_tax_number}}</td>
                </tr>

                <tr>
                  <td class="width-120">开户行:</td>
                  <td class="">{{customerInfo?.result?.c_bank}}</td>
                  <td class="width-120">银行帐号:</td>
                  <td class="">{{customerInfo?.result?.c_bank_account}}</td>
                </tr>
                <tr>
                  <td class="width-120">折扣率%:</td>
                  <td class="">{{customerInfo?.result?.c_discount_rate}}</td>
                  <td class="width-120">信用额度:</td>
                  <td class="">{{customerInfo?.result?.c_credit_amount}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="detailModal.hide()">返回</button>
      </div>
    </div>
  </div>
</div>