<div id="content">

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-6">

        <sa-widget [editbutton]="false" color="orange">

          <header>
            <span class="widget-icon"> <i class="fa fa-lg fa-calendar"></i> </span>
            <h2>hjkjj </h2>
          </header>

          <div>
            <div class="widget-body">
              <div class="widget-body-toolbar bg-color-white">
                <form class="form-inline" role="form">
                  <div class="row">
                    <div class="col-sm-12 col-md-10">
                      <div class="form-group">
                        <label class="sr-only">Task title</label>
                        <input [(ngModel)]="task" name="task" class="form-control input-sm" placeholder="My Task">
                      </div>
                      <div class="form-group">
                        <label class="sr-only">Pick Week</label>
                        <select [(ngModel)]="week" name="week" class="form-control input-sm">
                          <option>Week 1</option>
                          <option>Week 2</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label class="sr-only">Days</label>
                        <select [(ngModel)]="day" name="day" class="form-control input-sm">

                          <option [value]="day" *ngFor="let day of days">{{day}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-2 text-align-right">
                      <button (click)="add()" class="btn btn-warning btn-xs">
                        <i class="fa fa-plus"></i> Add
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div >
                <sa-tree-view [items]="demo1" (change)="changeLstener($event)" ></sa-tree-view>
              </div>
            </div>

          </div>

        </sa-widget>

      </article>

      <article class="col-sm-12 col-md-12 col-lg-6">

        <sa-widget [editbutton]="false" color="blue">

          <header>
            <span class="widget-icon"> <i class="fa fa-sitemap"></i> </span>
            <h2>Simple View </h2>
          </header>

          <div>
            <div class="widget-body">
              <div class="tree smart-form">
                <sa-tree-view [items]="demo2" (change)="changeLstener($event)"></sa-tree-view>
              </div>
            </div>

          </div>

        </sa-widget>

      </article>

    </div>

    <div class="row">
    </div>

  </sa-widgets-grid>

</div>
