<!---大图查看-->
<div class="modal bd-example-modal-xl" style="display: block;z-index:9991;" *ngIf="select_type == 'bigPic'">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'></h3>
        <button type="button" class="close" (click)="hideBigPicModal()">×</button>
      </div>

      <div class="text-align-center">
        <ul>
          <li class="picture-normal">
            <!--<button type="button" class="close" (click)="hideModal()">×</button>-->
            <!--<a class="fa fa-times-circle picture-normal-a" style="display:block;" (click)="hideBigPicModal()"></a>-->
            <img src="{{show_big_pic}}">
          </li>
        </ul>
      </div>
    </div>

  </div><!-- /.modal -->
</div>


<bs-modal-backdrop class="modal-backdrop fade in" *ngIf="select_type == 'bigPic'"></bs-modal-backdrop>