<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['矿易帮设置', '员工设置']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>
  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs pull-left in">
        <li [class.active]="state.tabs.demo4=='AA'" class="active">
          <a (click)="state.tabs.demo4 = 'AA'">合同类型</a>
        </li>
        <li [class.active]="state.tabs.demo4=='BB'">
          <a (click)="state.tabs.demo4 = 'BB'">学历来源 </a>
        </li>
      </ul>
    </header>
    <div>
      <div class="widget-body">
        <tabset>
          <tab [active]="state.tabs.demo4 == 'AA'">
            <div class="row">
              <article class="col-sm-12 col-md-12 col-lg-6">
                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">

                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-plus"></i>
                        添加合同类型
                      </alert>

                      <form [formGroup]="formModel" (ngSubmit)="onSubmitUserCategory()" novalidate class="smart-form ">
                        <fieldset>
                          <section>
                            <label class="input">
                              <input type="text" required
                                     placeholder="请输入合同类型" minlength="1" maxlength="20" formControlName="category_desc" name="category_desc">
                              <input type="hidden" value="4" formControlName="category_type" name="category_type">
                              <input type="hidden" value="" formControlName="category_id" name="category_id">
                            </label>
                          </section>
                        </fieldset>
                        <footer>
                          <button type="submit" class="btn btn-primary">
                            保存
                          </button>

                        </footer>
                      </form>
                    </div>
                  </div>
                </sa-widget>
              </article>
              <article class="col-sm-12 col-md-12 col-lg-6">
                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-spoon"></i>
                        合同类型
                      </alert>
                      <div class="table-responsive">
                        <table class="table table-hover table-bordered dataTable">
                          <thead>
                          <tr>
                            <th>合同类型</th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let cl of userCategoryList.result?.data">
                            <td>{{ cl.category_desc }}</td>
                            <td><a class="btn btn-warning btn-xs" (click)="editUserCategory(4,cl.category_id, cl.category_desc)" ><span class="glyphicon glyphicon-pencil"></span>修改</a>
                              <a class="btn btn-danger btn-xs" (click)="deleteUserCategory(4,cl.category_id,userCategoryList.result?.current_page)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                            </td>
                          </tr>
                          </tbody>
                        </table>

                        <!-- 底部-（分页部分）-->
                        <div class="dt-toolbar">
                          <div class="hidden-xs right">
                            <ul class="pagination pagination-sm">
                              <li *ngFor="let p of userCategoryList?.page" class="{{p.class}}">
                                <a (click)="pagination(4,p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                <a *ngIf="p.method==''">{{p.text}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </sa-widget>
                <!-- end widget -->
              </article>
            </div>
          </tab>
          <tab [active]="state.tabs.demo4 == 'BB'">
            <div class="row">
              <article class="col-sm-12 col-md-12 col-lg-6">

                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-plus"></i>
                        添加学历来源
                      </alert>

                      <form [formGroup]="formModelSource" (ngSubmit)="onSubmitSource()" novalidate class="smart-form ">
                        <fieldset>
                          <section>
                            <label class="input">
                              <input type="text" required
                                     placeholder="请输入学历来源" minlength="1" maxlength="20" formControlName="category_desc" name="category_desc">
                              <input type="hidden" value="5" formControlName="category_type" name="category_type">
                              <input type="hidden" value="" formControlName="category_id" name="category_id">
                            </label>
                          </section>
                        </fieldset>
                        <footer>
                          <button type="submit" class="btn btn-primary">
                            保存
                          </button>
                        </footer>
                      </form>
                    </div>
                  </div>
                </sa-widget>
              </article>
              <article class="col-sm-12 col-md-12 col-lg-6">
                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-spoon"></i>
                        学历来源
                      </alert>
                      <div class="table-responsive">
                        <table class="table table-hover table-bordered dataTable">
                          <thead>
                          <tr>
                            <th>学历来源 </th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let cl of sourceList.result?.data">
                            <td>{{ cl.category_desc }}</td>
                            <td><a class="btn btn-warning btn-xs" (click)="editUserCategory(5,cl.category_id, cl.category_desc)" ><span class="glyphicon glyphicon-pencil"></span>修改</a>
                              <a class="btn btn-danger btn-xs" (click)="deleteUserCategory(5,cl.category_id,sourceList.result?.current_page)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        <!-- 底部-（分页部分）-->
                        <div class="dt-toolbar">
                          <div class="hidden-xs right">
                            <ul class="pagination pagination-sm">
                              <li *ngFor="let p of sourceList?.page" class="{{p.class}}">
                                <a (click)="pagination(5,p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                <a *ngIf="p.method==''">{{p.text}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </sa-widget>
              </article>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </sa-widget>
</div>
