<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false"  >
          <header *ngIf="otherorder_id == 0">
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2 >添加其他出库单</h2>
          </header>
          <header *ngIf="otherorder_id != 0 && isDetail!='detail'">
            <span class="widget-icon"> <i class="fa-fw fa fa-pencil"></i> </span>
            <h2 >修改其他出库单 </h2>
          </header>
          <header *ngIf="isDetail=='detail'">
            <span class="widget-icon"> <i class="fa-fw fa fa-list-alt"></i> </span>
            <h2 >详情 </h2>
          </header>
          <div>
            <!--小部件内容 (ngSubmit)="onSubmit()"-->
            <div class="widget-body no-padding">
              <form id="smart-form-register" class="form-distance" [formGroup]="formModel">
                <fieldset>
                  <legend>基本信息</legend>
                  <div class="picture-opacity" style="left: -24px; top: 38px;position: absolute;z-index: 999;">
                    <!--同意-->
                    <img src="assets/img/chapter1.png" *ngIf="otherorderInfo?.result?.otherorder_status == 'yes'">
                    <!--拒绝-->
                    <img src="assets/img/chapter2.png" *ngIf="otherorderInfo?.result?.otherorder_status == 'no'">
                    <!--作废-->
                    <img src="assets/img/chapter4.png" *ngIf="otherorderInfo?.result?.otherorder_status == 'cancel'">
                  </div>

                  <div class="form-row">

                    <div class="form-group col-sm-4">
                      <label class="label txt-color-blue">单据日期<span class="asterisk-color">*</span></label>
                      <input  class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" name="otherorder_date"  maxlength="20" formControlName="otherorder_date" placeholder="选择日期" [dpDayPicker]="datePickerConfig" [theme]="'dp-material'" [mode]="'day'" />
                      <input  class="form-control"  *ngIf="isDetail!='detail'" name="otherorder_date"  maxlength="20" formControlName="otherorder_date" placeholder="选择日期" [dpDayPicker]="datePickerConfig" [theme]="'dp-material'" [mode]="'day'" />
                    </div>

                    <div class="form-group col-sm-4">
                      <label class="label txt-color-blue">单据号<span class="asterisk-color">*</span></label>
                      <input  class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" type="text" placeholder="单据号" name="otherorder_order" formControlName="otherorder_order">
                      <input  class="form-control"  *ngIf="isDetail!='detail'" type="text" placeholder="单据号" name="otherorder_order" formControlName="otherorder_order">
                    </div>

                    <!--<div class="form-group col-sm-4">-->
                    <!--<label class="label">默认仓库</label>-->
                    <!--<div class="input-group mb-2 mr-sm-2">-->

                    <!--<select  class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" name="storehouse_id" formControlName="storehouse_id" [(ngModel)]="storehouse_id_default">-->
                    <!--<option [selected]="this.otherorder_id == 0" value="0">&#45;&#45;请选择&#45;&#45;</option>-->
                    <!--<option *ngFor="let u of otherorderList?.result?.storehouse" [selected]="otherorderInfo.result?.storehouse_id == u.storehouse_id" value="{{ u.storehouse_id }}">{{u.storehouse_name}}</option>-->
                    <!--</select>-->
                    <!--<select   class="form-control" *ngIf="isDetail!='detail'" name="storehouse_id" formControlName="storehouse_id" [(ngModel)]="storehouse_id_default">-->
                    <!--<option [selected]="this.otherorder_id == 0" value="0">&#45;&#45;请选择&#45;&#45;</option>-->
                    <!--<option *ngFor="let u of otherorderList?.result?.storehouse" [selected]="otherorderInfo.result?.storehouse_id == u.storehouse_id" value="{{ u.storehouse_id }}">{{u.storehouse_name}}</option>-->
                    <!--</select>-->

                    <!--<div class="input-group-prepend">-->
                    <!--<a   class="input-group-text" type="button"  href="http://cn.i3ot.com/#/forms/inventory1/0" (click)="smartModEg1()" target="_blank">添加-->
                    <!--</a>-->
                    <!--</div>-->
                    <!--<div class="input-group-prepend">-->
                    <!--<a class="input-group-text refresh-page" type="button" >-->
                    <!--刷新-->
                    <!--</a>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--</div>-->

                    <div class="form-group col-sm-4">
                      <label class="label">出库类别</label>
                      <div class="input-group mb-2 mr-sm-2">

                        <select  class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" name="category_id" formControlName="category_id" [(ngModel)]="category_id_default">
                          <option [selected]="this.otherorder_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let u of otherorderList?.result?.category" [selected]="otherorderInfo.result?.category_id == u.category_id" value="{{ u.category_id }}">{{u.category_desc}}</option>
                        </select>
                        <select   class="form-control"  *ngIf="isDetail!='detail'" name="category_id" formControlName="category_id" [(ngModel)]="category_id_default">
                          <option [selected]="this.otherorder_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let u of otherorderList?.result?.category" [selected]="otherorderInfo.result?.category_id == u.category_id" value="{{ u.category_id }}">{{u.category_desc}}</option>
                        </select>

                        <div class="input-group-prepend">
                          <a   class="input-group-text" type="button"  href="http://cn.i3ot.com/#/management/setting-repertory" (click)="smartModEg1()" target="_blank">添加
                          </a>
                        </div>
                        <div class="input-group-prepend">
                          <a class="input-group-text refresh-page" type="button" >
                            刷新
                          </a>
                        </div>

                      </div>
                    </div>


                    <div class="form-group col-sm-4">
                      <label class="label">经手人</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <select    class="form-control" *ngIf="isDetail=='detail'" disabled="disabled" name="otherorder_user_id" formControlName="otherorder_user_id" [(ngModel)]="otherorder_user_id_default" (change)="getDepartment($event,1)">
                          <option [selected]="this.otherorder_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let u of otherorderList?.result?.userList" [selected]="otherorderInfo.result?.otherorder_user_id == u.id" value="{{ u.id }}">{{u.u_username}}</option>
                        </select>
                        <select  class="form-control"  *ngIf="isDetail!='detail'" name="otherorder_user_id" formControlName="otherorder_user_id" [(ngModel)]="otherorder_user_id_default" (change)="getDepartment($event,1)">
                          <option [selected]="this.otherorder_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let u of otherorderList?.result?.userList" [selected]="otherorderInfo.result?.otherorder_user_id == u.id" value="{{ u.id }}">{{u.u_username}}</option>
                        </select>

                        <div class="input-group-prepend">
                          <a   class="input-group-text" type="button"   href="http://cn.i3ot.com/#/forms/employees/0" (click)="smartModEg1()" target="_blank" >添加
                          </a>
                        </div>
                        <div class="input-group-prepend">
                          <a class="input-group-text refresh-page" type="button" >
                            刷新
                          </a>
                        </div>

                      </div>
                    </div>

                    <div class="form-group col-sm-4">
                      <label class="label">业务部门</label>
                      <input  class="form-control" disabled="disabled" name="department_name_default"  maxlength="20" [(ngModel)]="department_name_default" [ngModelOptions]="{standalone: true}" />
                    </div>

                    <div class="form-group col-sm-12">
                      <label class="label">扫码</label>
                      <textarea *ngIf="isDetail=='detail'" disabled="disabled" type="text" class="form-control"  placeholder="" name="otherorder_qrcode" formControlName="otherorder_qrcode"></textarea>
                      <textarea *ngIf="isDetail!='detail'" type="text" placeholder="" class="form-control"  name="otherorder_qrcode" formControlName="otherorder_qrcode"></textarea>
                    </div>

                    <div class="form-group col-sm-12">
                      <div class="navbar navbar-default">
                        <form  class="navbar-form" novalidate="" role="search" >
                          <div class="btn-group">
                            <input  class="form-control" *ngIf="isDetail=='detail'" disabled="disabled" type="text" placeholder="" name="keyword" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
                            <input  class="form-control" *ngIf="isDetail!='detail'" type="text" placeholder="搜索库存商品名称" name="keyword" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn default-btn"  (click)="showProduct()">搜索</button>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="form-group col-sm-12">
                      <div  class="padding0">
                        <div style="z-index: 2;width:20%;float:left;" class="table-responsive padding0 table-minheight">
                          <table style="margin-top: 0!important;" class="table table-hover table-border table-bordered dataTable table-height-50">
                            <thead>
                            <tr>
                              <th>操作</th>
                              <th >商品名称 </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of selectProductList;let ind = index;">
                              <td>
                                <a *ngIf="isDetail!='detail'" class="btn btn-danger btn-xs" (click)="removeInput(ind)"><span class="fa fa-remove" style="color:#fff;"></span></a>
                              </td>
                              <td>
                                {{p.p_name}}
                              </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="he-40">
                              <th></th>
                              <th></th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                        <div style="padding: 0;z-index:1;width:80%;float:left;" class="table-responsive table-minheight">
                          <table style="margin-top: 0!important;" class="table table-hover table-border table-bordered dataTable table-height-50">
                            <thead>
                            <tr>
                              <th>商品编码</th>
                              <th>商品分类</th>
                              <th>规格型号</th>
                              <th>单位</th>
                              <th>剩余库存量</th>
                              <th>调出仓库</th>
                              <th class="txt-color-blue">调入仓库</th>
                              <th class="txt-color-blue">数量</th>
                              <th class="txt-color-blue">出库单价</th>
                              <th>出库成本</th>
                              <th>条码</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of selectProductList;let ind1 = index;">
                              <td>{{p.p_product_id}}</td>
                              <td>{{p.category}}</td>
                              <td>{{p.p_specification}}</td>
                              <td>{{p.p_unit}}</td>
                              <td>{{p.openinginventory_surplus_count}}</td>
                              <td>{{p.storehouse_name}}</td>
                              <td>
                                <div class="form-group">
                                  <select  class="form-control" *ngIf="isDetail=='detail'" disabled="disabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_storehouse_id">
                                    <option [selected]="this.otherorder_id == 0" value="0">--请选择--</option>
                                    <option *ngFor="let u of otherorderList?.result?.storehouse" [selected]="otherorderInfo.result?.storehouse_id == u.storehouse_id" value="{{ u.storehouse_id }}">{{u.storehouse_name}}</option>
                                  </select>
                                  <select class="form-control" *ngIf="isDetail!='detail'" [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_storehouse_id">
                                    <option [selected]="this.otherorder_id == 0" value="0">--请选择--</option>
                                    <option *ngFor="let u of otherorderList?.result?.storehouse" [selected]="otherorderInfo.result?.storehouse_id == u.storehouse_id" value="{{ u.storehouse_id }}">{{u.storehouse_name}}</option>
                                  </select>

                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input  class="form-control" *ngIf="isDetail=='detail'" disabled="disabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_count" value="{{p.p_count}}" type="number">
                                  <input  class="form-control" *ngIf="isDetail!='detail'" [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_count" value="{{p.p_count}}" type="number" (keyup)="sumPCounts($event,ind1,p.p_count,p.old_p_count,p.openinginventory_surplus_count)">
                                </div>
                              </td>
                              <td>
                                <div class="form-group">
                                  <input   class="form-control"  *ngIf="isDetail=='detail'" disabled="disabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_price" value="{{p.p_price}}" type="number">
                                  <input  class="form-control"  *ngIf="isDetail!='detail'" [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_price" value="{{p.p_price}}" type="number" (blur)="sumPCount()">
                                </div>

                              </td>
                              <td>{{p.p_price * p.p_count}}</td>
                              <td>{{p.p_qrcode}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="he-40">
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th>{{p_prices}}</th>
                              <th></th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>


                    <div class="form-group col-sm-12">
                      <label class="label">备注</label>
                      <textarea *ngIf="isDetail=='detail'" disabled="disabled" class="form-control"  rows="2" name="otherorder_note" formControlName="otherorder_note"></textarea>
                      <textarea *ngIf="isDetail!='detail'" class="form-control"  rows="2" name="otherorder_note" formControlName="otherorder_note"></textarea>
                    </div>

                    <div class="form-group col-sm-12">
                      <div class="label ">审批人<a *ngIf="isDetail!='detail'" class="txt-color-blue pd-10" (click)="showDetail('assign')">添加审批人</a></div>
                      <ul  class="avatars" *ngIf="approve_user">
                        <li *ngFor="let su of approve_user;let ind = index;">
                          <a *ngIf="isDetail!='detail'" class="fa fa-times-circle picture-a" style="display:block;" (click)="removeUser(su.id,'assign')"></a>
                          <a class="portrait-size" title="{{su.u_username}}">
                            {{su.u_username}}
                          </a>
                          <div class="approval-arrow" *ngIf="ind < approve_user.length && ind != 0" >
                            <img  src="assets/img/icon/arrow.png" >
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group col-sm-12">
                      <div class="label ">抄送人<a *ngIf="isDetail!='detail'" class="txt-color-blue pd-10" (click)="showDetail('follower')">添加抄送人</a><span class="txt-color-blueLight pd-10">(审批通过后，通知抄送人)</span></div>
                      <ul  class="avatars" *ngIf="follower_user">
                        <li *ngFor="let su1 of follower_user;let ind1 = index;">
                          <a *ngIf="isDetail!='detail'" class="fa fa-times-circle picture-a" style="display:block;" (click)="removeUser(su1.id,'follower')"></a>
                          <a class="portrait-size" title="{{su1.u_username}}">
                            {{su1.u_username}}
                          </a>
                        </li>
                      </ul>
                    </div>


                  </div>

                </fieldset>
                <div class="footer-size flex-justify-end">
                  <div *ngIf="isPermission(menu_id,'verify') && isDetail!='detail'">
                  <button type="button" class="btn btn-primary  ml-2"  (click)="showDetail('transfer')" *ngIf="isDetail!='detail' && uid == otherorderInfo?.result?.otherorder_status">
                    转交
                  </button>
                  <button type="button" class="btn btn-primary  ml-2" (click)="showModal('urge','urge')" *ngIf="isDetail!='detail' && uid == otherorderInfo?.result?.u_id && otherorderInfo?.result?.otherorder_status != 'yes' && otherorderInfo?.result?.otherorder_status != 'no' && otherorderInfo?.result?.otherorder_status != 'cancel'" >
                    催办
                  </button>
                  <button type="button" class="btn btn-primary  ml-2" (click)="showModal('operation','back_cancel')" *ngIf="isDetail!='detail' && uid == otherorderInfo?.result?.u_id && otherorderInfo?.result?.otherorder_status == 'cancel'">
                    弃废
                  </button>
                  <button type="button" class="btn btn-warning  ml-2"  (click)="showModal('operation','cancel')" *ngIf="isDetail!='detail' && uid == otherorderInfo?.result?.u_id && otherorderInfo?.result?.otherorder_status != 'yes' && otherorderInfo?.result?.otherorder_status != 'no' && otherorderInfo?.result?.otherorder_status != 'cancel'">
                    作废
                  </button>
                  <button type="button" class="btn btn-warning  ml-2" (click)="showModal('operation','operation')" *ngIf="isDetail!='detail' && uid == otherorderInfo?.result?.otherorder_status">
                    审核
                  </button>
                  </div>

                  <button *ngIf="isPermission(menu_id,'edit') && isDetail!='detail' && otherorder_id!=0 && otherorderInfo?.result?.otherorder_status != 'no' && otherorderInfo?.result?.otherorder_status != 'yes' && otherorderInfo?.result?.otherorder_status != 'cancel'" type="button" (click)="onSubmit(1)" class="btn btn-primary  ml-2">提交</button>
                  <div *ngIf="isPermission(menu_id,'add') && isDetail!='detail'">
                    <button *ngIf="otherorder_id==0" type="button" (click)="onSubmit(1)" class="btn btn-primary  ml-2">提交</button>
                  <button *ngIf="otherorder_id==0" class="btn btn-success  ml-2" type="button" (click)="onSubmit(2)">提交并新增</button>
                  </div>


                  <button type="button" class="btn btn-default ml-2" [routerLink]="['/inventory-management/outbound']">
                    返回
                  </button>
                </div>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>
<!--选择库存-->
<app-select-stock [productDefault]="productDefault" [select_category_ids_preporty]="select_category_ids_preporty" [searchProductList]="searchProductList" [select_category_ids]="select_category_ids" [p_type]="p_type" [isShowProduct]="isShowProduct" [keyword]="keyword" (isShowProducts)="getShowProductStatus($event)" (selectProductList)="getProductData($event)" *ngIf="isShowProduct"></app-select-stock>
<!--选择审批人和抄送人-->
<app-select-user (approve_users)="getData($event)" [is_show_detail]="is_show_detail" (is_show_details)="getShowStatus($event)" [approval_or_copy]="approval_or_copy" *ngIf="is_show_detail"></app-select-user>
<!--审批操作弹框-->
<app-verify-frame [log_type]="log_type" [log_table_name]="log_table_name" [operate_type]="operate_type" [username]="otherorderInfo?.result?.create_user_name" [order_number]="otherorderInfo?.result?.otherorder_order" [pr_id]="otherorder_id" [create_user_id]="create_user_id" [operate_button_type_is_more]="operate_button_type_is_more" [operate_button_type]="operate_button_type" (operate_types)="getOperateTypes($event)"></app-verify-frame>
