<div  class="row ">
  <div  class="col-sm-12 mt-13">
    <div class="navbar navbar-default">
      <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
          <div class="form-group pdlr-4">
              <strong> 筛选：</strong>
          </div>
          <div class="form-group btn-group pdlr-4">
              <a class="btn default-btn btn-sm dropdown-toggle" data-toggle="dropdown">
                  {{property_title}}<i class="fa fa-fw fa-chevron-down"></i></a>
              <ul class="dropdown-menu" role="menu">
                  <li (click)="setProperty('approval','流程审批')"><a >流程审批</a></li>
                  <li (click)="setProperty('purchase_cg_after','采购审批')"><a >采购审批</a></li>
                  <li (click)="setProperty('purchase_sale','销售审批')"><a >销售审批</a></li>
                  <li (click)="setProperty('stockallot','调拨审批')"><a >调拨审批</a></li>
                  <li (click)="setProperty('otherorder_in','其他入库审批')"><a >其他入库审批</a></li>
                  <li (click)="setProperty('otherorder_out','其他出库审批')"><a >其他出库审批</a></li>
                  <li (click)="setProperty('assets_ff','资产发放审批')"><a >资产发放审批</a></li>
                  <li (click)="setProperty('assets_bf','资产报废审批')"><a >资产报废审批</a></li>
              </ul>
          </div>
          <div class="form-group pdlr-4">
          <input  class="form-control ng-pristine ng-valid ng-touched" name="keyword" maxlength="15" [(ngModel)]="keyword" placeholder="请输入搜索内容" type="text">
        </div>
        <div class="form-group pdlr-4">
          <button class="btn btn-default" type="button" (click)="onSubmit()">
            <i  class="glyphicon glyphicon-search"></i>
            搜索
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="" style="padding:0;">
  <div style="padding: 0;z-index: 2;" class="table-responsive">
    <table class="table table-striped  smart-form table-hover">
      <thead>
      <tr >
        <th>审批标题</th>
        <th>审批摘要</th>
        <th>发起时间</th>
        <th>完成时间</th>
        <th>状态</th>
      </tr>
      </thead>
      <tbody *ngIf="select_property == 'approval'">
      <tr class="editor" *ngFor="let pa of processMyList?.result?.approvalList?.data" (click)="showDetail(pa.approval_id)">
        <td>{{pa.u_username}}的
          <span [ngSwitch]="pa.approval_type">
                  <span *ngSwitchCase="1">请假</span>
                  <span *ngSwitchCase="2">出差</span>
                  <span *ngSwitchCase="3">外出</span>
                  <span *ngSwitchCase="4">报销</span>
                  <span *ngSwitchCase="5">通用审批</span>
                </span>
        </td>
        <td [ngSwitch]="pa.approval_type">
                  <span *ngSwitchCase="1">
                    请假类型：{{pa.detail.type}}<br/>
                    开始时间：{{pa.approval_start_date}}<br/>
                    结束时间：{{pa.approval_end_date}}<br/>
                  </span>
          <span *ngSwitchCase="2">
                    <span *ngIf="pa.detail">
                      出差地点：
                      <span *ngFor="let dt of pa.detail.trip">
                      {{dt.address}}&nbsp;&nbsp;
                      </span><br/>
                      开始时间：{{pa.approval_start_date}}<br/>
                      结束时间：{{pa.approval_end_date}}<br/>
                      出差事由：{{pa.detail.reason}} <br/>
                    </span>
                  </span>
          <span *ngSwitchCase="3">
                  开始时间：{{pa.approval_start_date}}<br/>
                  结束时间：{{pa.approval_end_date}}<br/>
                  </span>
          <span *ngSwitchCase="4">
                    <span *ngFor="let d of pa.detail.detail">
                      报销金额（元）：{{d.price}}<br/>
                      报销类型:{{d.type}}<br/>
                      费用明细：{{d.reason}}<br/>
                    </span>
                    总报销金额（元）：{{pa.detail.total}}<br/>
                  </span>
          <span *ngSwitchCase="5">
                  申请内容：{{pa.detail.title}} <br/>
                  申请详情：{{pa.detail.reason}}<br/>
                  </span>
        </td>
        <td>{{pa.created_at}}</td>
        <td>{{pa.approval_end_date}}</td>
        <td>
          <span *ngIf="pa.approval_status == 'yes'">审批完成<br/>同意</span>
          <span *ngIf="pa.approval_status == 'no'">审批完成<br/>拒绝</span>
          <span *ngIf="pa.approval_status == 'cancel'">审批完成<br/>已撤销</span>
          <span *ngIf="pa.approval_status != 'no' && pa.approval_status != 'yes' && pa.approval_status != 'cancel'">审批中</span>
        </td>
      </tr>
      </tbody>
        <tbody *ngIf="select_property == 'purchase_cg_after'||select_property == 'purchase_sale'">
        <tr *ngFor="let pa of processMyList?.result?.approvalList?.data" (click)="showDetail(pa.pr_id)">
            <td>
                {{pa.u_username}}
                <span [ngSwitch]="pa.pr_type">
                    <span *ngSwitchCase="1">的进货单申请</span>
                    <span *ngSwitchCase="2">的进货单申请</span>
                    <span *ngSwitchCase="4">的销售单申请</span>
                    <span *ngSwitchCase="5">的销售单申请</span>
                </span>
            </td>
            <td>
              <span>
                <span>单据号:{{pa.pr_order}}</span>
              </span>
            </td>
            <td>{{ pa.created_at }}</td>
            <td>{{ pa.updated_at }}</td>
            <td>
                <span *ngIf="pa.pr_status == 'yes'">审批完成<br/>同意</span>
                <span *ngIf="pa.pr_status == 'no'">审批完成<br/>拒绝</span>
                <span *ngIf="pa.pr_status == 'cancel'">审批完成<br/>已作废</span>
                <span *ngIf="pa.pr_status != 'no' && pa.pr_status != 'yes' && pa.pr_status != 'cancel'">审批中</span>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="select_property == 'otherorder_in'||select_property == 'otherorder_out'">
        <tr *ngFor="let pa of processMyList?.result?.approvalList?.data" (click)="showDetail(pa.otherorder_id)">
            <td>
                {{pa.u_username}}
                <span [ngSwitch]="pa.otherorder_type">
                    <span *ngSwitchCase="1">的其他入库单申请</span>
                    <span *ngSwitchCase="2">的其他出库单申请</span>
                </span>
            </td>
            <td>
              <span>
                <span>单据号:{{pa.otherorder_order}}</span>
              </span>
            </td>
            <td>{{ pa.created_at }}</td>
            <td>{{ pa.updated_at }}</td>
            <td>
                <span *ngIf="pa.otherorder_status == 'yes'">审批完成<br/>同意</span>
                <span *ngIf="pa.otherorder_status == 'no'">审批完成<br/>拒绝</span>
                <span *ngIf="pa.otherorder_status == 'cancel'">审批完成<br/>已作废</span>
                <span *ngIf="pa.otherorder_status != 'no' && pa.otherorder_status != 'yes' && pa.otherorder_status != 'cancel'">审批中</span>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="select_property == 'stockallot'">
        <tr *ngFor="let pa of processMyList?.result?.approvalList?.data" (click)="showDetail(pa.stock_allot_id)">
            <td>
                {{pa.u_username}}的调拨单申请
            </td>
            <td>
              <span>
                <span>单据号:{{pa.stock_allot_number}}</span>
              </span>
            </td>
            <td>{{ pa.created_at }}</td>
            <td>{{ pa.updated_at }}</td>
            <td>
                <span *ngIf="pa.stock_allot_status == 'yes'">审批完成<br/>同意</span>
                <span *ngIf="pa.stock_allot_status == 'no'">审批完成<br/>拒绝</span>
                <span *ngIf="pa.stock_allot_status == 'cancel'">审批完成<br/>已作废</span>
                <span *ngIf="pa.stock_allot_status != 'no' && pa.stock_allot_status != 'yes' && pa.stock_allot_status != 'cancel'">审批中</span>
            </td>
        </tr>
        </tbody>
        <tbody *ngIf="select_property == 'assets_ff'||select_property == 'assets_bf'">
        <tr *ngFor="let pa of processMyList?.result?.approvalList?.data" (click)="showDetail(pa.assets_id)">
            <td>
                {{pa.u_username}}
                <span [ngSwitch]="pa.assets_type">
                    <span *ngSwitchCase="2">的资产发放申请</span>
                    <span *ngSwitchCase="3">的资产报废申请</span>
                </span>
            </td>
            <td>
              <span>
                  <span>资产编号:{{pa.assets_number}}</span>
              </span>
            </td>
            <td>{{ pa.created_at }}</td>
            <td>{{ pa.updated_at }}</td>
            <td>
                <span *ngIf="pa.assets_verify_status == 'yes'">审批完成<br/>同意</span>
                <span *ngIf="pa.assets_verify_status == 'no'">审批完成<br/>拒绝</span>
                <span *ngIf="pa.assets_verify_status == 'cancel'">审批完成<br/>已作废</span>
                <span *ngIf="pa.assets_verify_status != 'no' && pa.assets_verify_status != 'yes' && pa.assets_verify_status != 'cancel'">审批中</span>
            </td>
        </tr>
        </tbody>
        
    </table>
  </div>
</div>
<!-- 底部-（分页部分）-->
<div class="dt-toolbar mb-13">
  <div class="col-xs-12 col-sm-6">
    <span>共{{processMyList?.result?.approvalList?.total}}条</span>
  </div>
  <div class="hidden-xs right">
    <ul class="pagination pagination-sm" *ngIf="processMyList?.result?.page">
      <li *ngFor="let p of processMyList?.result?.page" class="{{p.class}}">
        <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
        <a *ngIf="p.method==''">{{p.text}}</a>
      </li>
    </ul>
  </div>
</div>
