<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['产品管理', '产品']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

  </div>

  <div class="box-header with-border" >
    <a class="btn btn-success btn-sm"  (click)="lgModal.show()">
      <span class="glyphicon glyphicon-plus"></span>创建</a>

  </div>

  <sa-widget [editbutton]="false" color="blueDark">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>产品列表 </h2>
    </header>
    <div>


      <div class="widget-body no-padding">


        <sa-datatable tableClass="table table-striped table-bordered table-hover">

          <thead>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <th>ID  </th>
            <th>类型</th>
            <th>产品编号 </th>
            <th>名称 </th>
            <th>数量</th>
            <th>单位 </th>
            <th>规格/参数</th>
            <th>内部质检员</th>
            <th>生产日期</th>
            <th>存放仓库</th>
            <th>入库时间</th>
            <th>是否合格</th>
            <th>备注说明</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr style="display: none;">
            <td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td>
          </tr>
          <tr *ngFor="let pl of productList.result?.data">
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <td>{{ pl.p_id }}</td>
            <td>{{ pl.p_category_id }}</td>
            <td>{{ pl.p_product_id }}</td>
            <td>{{ pl.p_name }}</td>
            <td>{{ pl.p_quantity }}</td>
            <td>{{ pl.p_unit }}</td>
            <td>{{ pl.p_specification }}</td>
            <td>{{ pl.p_inspector }}</td>
            <td>{{ pl.p_production_date }}</td>
            <td>{{ pl.p_storehouse }}</td>
            <td>{{ pl.p_storage_time }}</td>
            <td>
              <span [ngSwitch]="pl.p_is_acceptable">
                <span *ngSwitchCase="1">合格</span>
                <span *ngSwitchCase="0">不合格</span>
                <span *ngSwitchDefault>未知</span>
              </span>
            </td>
            <td>{{ pl.p_notes }}</td>
            <td>{{ pl.updated_at }}</td>
            <td>
              <a class="btn btn-warning btn-xs" (click)="update(stock)">
                <span class="glyphicon glyphicon-pencil"></span>修改
              </a>
              <a class="btn btn-danger btn-xs" (click)="deleteProduct( pl.p_id ,productList.result?.current_page)">
                <span class="glyphicon glyphicon-remove"></span>删除
              </a>
            </td>
          </tr>

          </tbody>


        </sa-datatable>
        <!-- 分页部分-->
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
          <ul class="pagination"><!-- [ngClass]="{'disabled':prev == true}"   [ngClass]="{'disabled':next == true}" -->
            <li class="paginate_button previous" id="DataTables_Table_0_previous">
              <a (click)="pagination(productList.result?.prev_page_url)" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">上一页</a>
            </li>
            <li class="paginate_button next" id="DataTables_Table_0_next">
              <a (click)="pagination(productList.result?.next_page_url)" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">下一页</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </sa-widget>


  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">添加客户</h4>
        </div>
 <!--       <div class="modal-body">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Title" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" placeholder="Content" rows="5" required></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="category"> Category</label>
                <select class="form-control" id="category">
                  <option>Articles</option>
                  <option>Tutorials</option>
                  <option>Freebies</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="tags"> Tags</label>
                <input type="text" class="form-control" id="tags" placeholder="Tags">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="well well-sm well-primary">
                <form class="form form-inline " role="form">
                  <div class="form-group">
                    <input type="text" class="form-control" value="" placeholder="Date" required>
                  </div>
                  <div class="form-group">
                    <select class="form-control">
                      <option>Draft</option>
                      <option>Published</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm">
                      <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-eye-open"></span> Preview
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>-->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="lgModal.hide()">
            取消
          </button>
          <button type="button" class="btn btn-primary">
            确定
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
