<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['产品管理', '产品列表']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="box-header with-border" >
    <a class="btn btn-success btn-sm" routerLink="/forms/product1/0">
      <span class="glyphicon glyphicon-plus"></span>添加产品</a>
  </div>

  <sa-widget [editbutton]="false" color="blueDark">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>产品列表 </h2>
    </header>
    <div>
      <div class="widget-body no-padding">
        <sa-datatable tableClass="table table-striped table-bordered table-hover smart-form">
          <thead>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)">
                <i></i>
              </label>
            </td>
            <th>产品ID</th>
            <th>产品名称</th>
            <th>产品类型</th>
            <th>数量</th>
            <th>计量单位 </th>
            <th>生产日期</th>
            <th>存放仓库</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr style="display: none;">
            <td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td>
            <td></td>
          </tr>
          <tr *ngFor="let pl of productList.result?.data">
            <td>
              <label class="checkbox">
                <input type="checkbox" value="{{ pl.p_id }}" [checked]="selects[pl.p_id]" (change)="handle($event)">
                <i></i>
              </label>
            </td>
            <td>{{ pl.p_product_id }}</td>
            <td>{{ pl.p_name }}</td>
            <td>{{ pl.category }}</td>
            <td>{{ pl.p_quantity }}</td>
            <td>{{ pl.p_unit }}</td>
            <td>{{ pl.p_production_date }}</td>
            <td>{{ pl.storehouse_name }}</td>
            <td>
              <a class="btn btn-warning btn-xs" [routerLink]="['/forms/product1', pl.p_id]">
                <span class="glyphicon glyphicon-pencil"></span>修改
              </a>
              <a class="btn btn-danger btn-xs" (click)="deleteProduct( pl.p_id ,productList.result?.current_page)">
                <span class="glyphicon glyphicon-remove"></span>删除
              </a>
            </td>
          </tr>
          </tbody>
        </sa-datatable>
        <!-- 分页部分-->
        <div class="dataTables_paginate">
          <ul class="pagination">
            <li>
              <a (click)="pagination(productList.result?.prev_page_url)"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li>
              <a (click)="pagination(productList.result?.next_page_url)"><i class="fa fa-arrow-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </sa-widget>

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">添加产品</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label > 一级类型</label>
                <select class="form-control" >
                  <option value="0" disabled>选择一级类型</option>
                  <option>煤矿</option>
                  <option>磷矿</option>
                  <option>铅锌矿</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label > 二级类型</label>
                <select class="form-control" >
                  <option value="0" disabled>选择二级类型</option>
                  <option>贫煤(PM)</option>
                  <option>贫瘦煤(PS)</option>
                  <option>焦煤(JM)</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label > </label>
                <button type="button" class="btn btn-primary btn-sm btn-block">
                  添加类型
                </button>
               <!-- 直接跳到设置产品类型页面-->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label > 产品ID</label>
                <input type="text" class="form-control"  placeholder="请输入产品编号">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label > 名称</label>
                <input type="text" class="form-control"  placeholder="请输入名称">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label > 数量</label>
                <input type="text" class="form-control"  placeholder="请输入数量">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label > 单位</label>
                <input type="text" class="form-control"  placeholder="请输入单位">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label > 型号</label>
                <select class="form-control" >
                  <option value="0" disabled>选择型号</option>
                  <option>PM5</option>
                  <option>PS2</option>
                  <option>JM6</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label > </label>
                <button type="button" class="btn btn-primary btn-sm btn-block">
                  添加型号
                </button>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label > 参数名称</label>
                <input type="text" class="form-control" placeholder="请输入参数名称" required>
              </div>
              <div class="form-group">
                <label > 参数内容</label>
                <textarea class="form-control" placeholder="请输入参数内容" rows="3" required></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label > 内部质检员</label>
                <select class="form-control" >
                  <option value="0" disabled>选择内部质检员</option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label > 生产日期</label>
                <select class="form-control" >
                  <option value="0" disabled>选择生产日期</option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label > 存放仓库</label>
                <select class="form-control" >
                  <option value="0" disabled>选择存放仓库</option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label > 入库时间</label>
                <select class="form-control" >
                  <option value="0" disabled>选择入库时间</option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <label >是否合格</label>
              <div class="inline-group">
                <label >
                  <input type="radio" name="" checked="checked">
                  <i></i>是</label>
                <label >
                  <input type="radio" name="">
                  <i></i>否</label>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label >备注说明</label>
                <textarea class="form-control" placeholder="备注说明" rows="5" required></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="lgModal.hide()">
            取消
          </button>
          <button type="button" class="btn btn-primary">
            确定
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
