<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>调拨单</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                      <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                        <div class="form-group pdlr-4">
                          <a class="btn btn-success btn-sm" (click)="isDemo('/inventory-management/add-requisition','0','')">
                            <span class="glyphicon glyphicon-plus mr-5"></span>添加</a>
                        </div>
                        <div class="form-group pdlr-4">
                          <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="isDemo('/inventory-management/add-requisition','1','edit')">
                            <span class="glyphicon glyphicon-pencil mr-5 color-yellow"></span>修改</a>
                        </div>
                        <div class="form-group pdlr-4">
                          <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="deleteStockallot('id')">
                            <span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>
                        </div>
                        <div class="form-group pdlr-4">
                          <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="isDemo('/inventory-management/add-requisition','1','detail')" >
                            <span class="glyphicon glyphicon-zoom-in mr-5 color-green"></span>详情</a>
                        </div>
                        <div class="form-group pdlr-4" *ngIf="isStatus == 2">
                          <a class="btn default-btn btn-sm" (click)="editStatus(1,'id')">
                            <span class="fa-fw fa fa-play mr-5 color-green"></span>启用</a>
                        </div>
                        <div class="form-group pdlr-4" *ngIf="isStatus == 1">
                          <a class="btn default-btn btn-sm" (click)="editStatus(2,'id')" >
                            <span class="fa-fw fa fa-stop mr-5 txt-color-blueDark"></span>无效</a>
                        </div>
                        <div class="form-group btn-group pdlr-4">
                          <a class="btn default-btn btn-sm dropdown-toggle" (click)="showAllCheck()" data-toggle="dropdown">
                            <span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>

                          <ul class="dropdown-menu" role="menu">
                            <li><a (click)="editStatus(1,'all')"><span class="fa-fw fa fa-play mr-5 color-green"></span>批量设为启动</a></li>
                            <li><a (click)="editStatus(2,'all')"><span class="fa-fw fa fa-stop mr-5 txt-color-blueDark"></span>批量设为无效</a></li>
                            <li class="divider"></li>
                            <li><a (click)="deleteStockallot('all')"><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>
                          </ul>
                        </div>
                      </form>
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" [(ngModel)]="keyword" placeholder="请输入搜索内容" type="text">
                      </div>
                      <div class="form-group pdlr-4">
                        <button class="btn btn-default" type="button" (click)="getStockallotList(1)">
                          <i  class="glyphicon glyphicon-search"></i>
                          搜索
                        </button>
                      </div>
                    </form>
                  </div>
                </article>
              </div>
              <div class="padding0">
                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-scrolling padding0">
                  <table class="table table-striped  smart-form table-height-20">
                    <thead>
                    <tr>
                      <td><label class="checkbox mt-8">
                        <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)" >
                        <i></i>
                      </label>
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let s of stockallotList?.result?.stockallotList?.data">
                      <td>
                        <label class="checkbox mt-8">
                          <input type="checkbox" value="{{s.stock_allot_id}}" [checked]="selects[s.stock_allot_id]" (change)="handle($event)">
                          <i></i>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div style="z-index: 2;width:30%;float:left;" class="table-scrolling padding0">
                  <table class="table table-striped  smart-form table-height-20">
                    <thead>
                    <tr >
                      <!--<td *ngIf="isAll != 0"><label class="checkbox mt-8">-->
                        <!--<input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)" >-->
                        <!--<i></i>-->
                      <!--</label>-->
                      <!--</td>-->
                      <th>单据号</th>
                      <th>单据日期 </th>
                      <th>单据状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let s of stockallotList?.result?.stockallotList?.data" (click)="isStatusShow(s.stock_allot_id,s.stock_allot_status)" [ngClass]="{'table-color':editStatusStockallotId == s.stock_allot_id}">
                      <!--<td *ngIf="isAll != 0">-->
                        <!--<label class="checkbox mt-8">-->
                          <!--<input type="checkbox" value="{{s.stock_allot_id}}" [checked]="selects[s.stock_allot_id]" (change)="$event.preventDefault();$event.stopPropagation();handle($event)">-->
                          <!--<i></i>-->
                        <!--</label>-->
                      <!--</td>-->
                      <td>{{s.stock_allot_number}}</td>
                      <td>{{s.stock_allot_date}}</td>
                      <td>
                        <span [ngSwitch]="s.stock_allot_status">
                          <span class="label-normal" *ngSwitchCase="1">正常</span>
                          <span class="label-invalid" *ngSwitchCase="2">失效</span>
                          <span class="label-unknown" *ngSwitchDefault>未知</span>
                        </span>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div  [ngStyle]="{'padding': '0','z-index': '1','width':width_1,'float':'left'}" class="table-responsive">
                  <table class="table table-striped   smart-form table-height-20">
                    <thead>
                    <tr>
                      <th>调入仓库</th>
                      <th>调出仓库</th>
                      <th>经手人</th>
                      <th>经手部门 </th>
                      <th>制单人</th>
                      <th>创建时间 </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let s of stockallotList?.result?.stockallotList?.data" (click)="isStatusShow(s.stock_allot_id,s.stock_allot_status)" [ngClass]="{'table-color':editStatusStockallotId == s.stock_allot_id}">
                      <td>{{s.storehouse_name}}</td>
                      <td>{{s.out_storehouse_name}}</td>
                      <td>{{s.user_name}}</td>
                      <td>{{s.stock_allot_date}}</td>
                      <td>{{s.u_username}}</td>
                      <td>{{s.created_at}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="dt-toolbar">
                <div class="col-xs-12 col-sm-6">
                  <span>共{{stockallotList?.result?.stockallotList?.total}}条</span>
                </div>
                <div class="hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li *ngFor="let p of stockallotList?.result?.page" class="{{p.class}}">
                      <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                      <a *ngIf="p.method==''">{{p.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>




