<div  style="padding:10px 20px;background-color:#fff;border:1px solid #ccc;">
  <article>
    <form class="align-items-center" >
      <div class="btn-group">
        <h5  class="">选择设备种类</h5>
      </div>
      <div class="btn-group">
        <select  class="form-control">
          <option selected>选择设备种类</option>
          <option>...</option>
        </select>
      </div>
      <div class="btn-group">
        <h5  class="">选择设备地址</h5>
      </div>

      <div class="btn-group">
        <select  class="form-control">
          <option selected>选择设备地址</option>
          <option>...</option>
        </select>

      </div>


    </form>

  </article>


</div>

<table class="table table-striped">
  <thead>
  <tr >
    <th>名称</th>
    <th>地址</th>
    <th>本地地址</th>
    <th>值</th>
    <th>终值</th>
    <th>写值</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>电压</td>
    <td>0X02010100</td>
    <td>30001:2</td>
    <td>0F16，0F17</td>
    <td>38.55</td>
    <td>禁用</td>
  </tr>
  <tr>
    <td>预置多寄存器</td>
    <td>10:10100:6</td>
    <td>41010:6</td>
    <td>0F16，0F15，0F14，0F13，0F12，0F11</td>
    <td>4447.222</td>
    <td>38425.33</td>
  </tr>
  <tr>
    <td>读取保持寄存器</td>
    <td>3:41222:2</td>
    <td>43333:2</td>
    <td>0F13，0F14</td>
    <td>12:34</td>
    <td>禁用</td>
  </tr>
  <tr>
    <td>强制</td>
    <td>15:00188:2</td>
    <td>00288:2</td>
    <td>0,1</td>
    <td>0,1</td>
    <td></td>
  </tr>
  </tbody>

</table>