<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget  [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
                    <header>
                        <ul class="nav nav-tabs pull-left in">
                            <li [class.active]="state.tabs.demo3=='hr1'" class="active">
                                <a (click)="state.tabs.demo3 = 'hr1'">出入库类别</a>
                            </li>
                        </ul>
                    </header>
                    <div>
                        <div class="widget-body">
                            <tabset>
                                <tab [active]="state.tabs.demo3 == 'hr1'">
                                    <div class="row">
                                        <article class="form-group  col-sm-6 ">
                                            <sa-widget class="jarviswidget" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                                                       [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                                                <div>
                                                    <div class="widget-body no-padding">
                                                        <div type="info" class="no-margin alert alert-primary" *ngIf="category_id == 0">
                                                            <i class="fa-fw fa fa-plus"></i>
                                                            添加出入库类别
                                                        </div>
                                                        <div type="info" class="no-margin alert alert-primary" *ngIf="category_id != 0">
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                            修改出入库类别
                                                        </div>
                                                        <div  class="">
                                                            <form  class="form-distance">
                                                                <fieldset>
                                                                    <div class="form-row">
                                                                        <div class="form-group col-sm-6">
                                                                            <label class="label txt-color-blue">类别编号<span class="asterisk-color">*</span></label>
                                                                            <input type="text" class="form-control"  placeholder="类别编号" name="category_number" [(ngModel)]="category_number">
                                                                        </div>

                                                                        <div class="form-group col-sm-6">
                                                                            <label class="label txt-color-blue">类别名称<span class="asterisk-color">*</span></label>
                                                                            <input type="text" class="form-control"  placeholder="类别名称"  name="category_desc" [(ngModel)]="category_desc">
                                                                        </div>

                                                                        <div class="form-group col-sm-12">
                                                                            <label class="label">出入库标志</label>
                                                                            <div class="input-group  mr-sm-2">
                                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                                    <input  id="gridRadios1" class="custom-control-input" type="radio" [checked]="category_tab == 1" [value]="1" (click)="checkTab(1)">
                                                                                    <label class="custom-control-label"  for="gridRadios1">出库</label>

                                                                                </div>
                                                                                <div class="custom-control custom-radio custom-control-inline">
                                                                                    <input  id="gridRadios2" class="custom-control-input"  type="radio" [checked]="category_tab == 2" [value]="2" (click)="checkTab(2)">
                                                                                    <label class="custom-control-label"  for="gridRadios2">入库</label>

                                                                                </div>
                                                                            </div>

                                                                        </div>



                                                                    </div>



                                                                </fieldset>
                                                                <div class="footer-size flex-justify-end">
                                                                    <div *ngIf="isPermission(menu_id,'add') || isPermission(menu_id,'edit')">
                                                                        <button class="btn btn-success  ml-2" type="button" (click)="addCategory()">保存并新增</button>
                                                                        <button type="button" class="btn btn-primary  ml-2" (click)="addCategory()">
                                                                            保存
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </sa-widget>
                                        </article>
                                        <article class="form-group col-sm-6 ">
                                            <sa-widget class="jarviswidget" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                                                       [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                                                <div>
                                                    <div class="widget-body no-padding">
                                                        <div type="info" class="no-margin alert alert-primary" >
                                                            <i class="fa-fw fa fa-table"></i>
                                                            出入库类别
                                                        </div>
                                                        <div  class="row ">
                                                            <article  class="col-sm-12">
                                                                <div class="navbar navbar-default">
                                                                    <form  class="navbar-form " novalidate="" role="search" >
                                                                        <div class="btn-group" *ngIf="isPermission(menu_id,'edit')">
                                                                            <button type="button"   [ngClass]="{'btn btn-warning':true,'not-click':editStatusCategoryId == 0}"  (click)="editCategory()"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                                                                        </div>
                                                                        <div class="btn-group" *ngIf="isPermission(menu_id,'delete')">
                                                                            <button type="button"  [ngClass]="{'btn btn-danger':true,'not-click':editStatusCategoryId == 0}"  (click)="deleteCategory('id')"><span class="fa-fw fa  fa-trash-o mr-5"></span>删除</button>
                                                                        </div>

                                                                        <div class="btn-group"  *ngIf="isPermission(menu_id,'delete')">
                                                                            <button type="button" class="btn btn-secondary"  (click)="showAllCheck()"  ><span class="fa-fw fa fa-th-large mr-5"></span>批处理</button>
                                                                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                                                <span class="sr-only"></span>
                                                                            </button>
                                                                            <div class="dropdown-menu">
                                                                                <a class="dropdown-item"  (click)="deleteCategory('all')">批量删除</a>
                                                                            </div>
                                                                        </div>
                                                                    </form>

                                                                </div>

                                                            </article>
                                                        </div>
                                                        <div style="padding:0;" class="height-overflow">
                                                            <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-responsive">
                                                                <table class="table table-striped smart-form table-height-20">
                                                                    <thead>
                                                                    <tr style="">
                                                                        <td><label class="checkbox mt-8">
                                                                            <input type="checkbox" name="checkbox-inline"  [checked]="check" (change)="changeCheckAll($event)">
                                                                            <i></i>
                                                                        </label>
                                                                        </td>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr style="" *ngFor="let c of categoryList?.result?.categoryList?.data" >
                                                                        <td>
                                                                            <label class="checkbox mt-8" *ngIf="cid != super_admin_id && cid != c.c_id" >
                                                                                <input type="checkbox" name="checkbox-inline" disabled="disabled">
                                                                                <i></i>
                                                                            </label>
                                                                            <label class="checkbox mt-8" *ngIf="cid == super_admin_id || cid == c.c_id" >
                                                                                <input type="checkbox" name="checkbox-inline" value="{{ c.category_id }}" [checked]="selects[c.category_id]" (change)="handle($event)">
                                                                                <i></i>
                                                                            </label>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div [ngStyle]="{'padding': '0','z-index': '2','width':width_1,'float':'left'}" class="table-responsive">
                                                                <table class="table table-striped smart-form table-height-20">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>编号</th>
                                                                        <th>名称</th>
                                                                        <th>出入库类别 </th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr *ngFor="let c of categoryList?.result?.categoryList?.data" (click)="isStatusShow(c.category_id)" [ngClass]="{'table-color':editStatusCategoryId == c.category_id}">
                                                                        <td>{{c.category_number}}</td>
                                                                        <td>{{c.category_desc}}</td>
                                                                        <td><span [ngSwitch]="c.category_tab">
                <span *ngSwitchCase="1">出库</span>
                <span *ngSwitchCase="2">入库</span>
                <span *ngSwitchDefault>未知</span>
              </span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                        <!-- 底部-（分页部分）-->
                                                        <div class="footer-size flex-justify-end">
                                                            <ul class="pagination" >
                                                                <li  *ngFor="let p of categoryList?.result?.page" class="{{p.class}}">
                                                                    <a class="page-link" (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                                                    <a class="page-link"  *ngIf="p.method==''">{{p.text}}</a>
                                                                </li>
                                                                <li class="page-item disabled">
                                                                    <a  class="page-link" disabled>共{{categoryList?.result?.categoryList?.total}}条</a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </sa-widget>
                                            <!-- end widget -->
                                        </article>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </sa-widget>
            </article>
        </div>
    </sa-widgets-grid>
</div>


