<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class=" no-margin no-padding">
      <div class="row margin-bottom-40">
        <div class="col-sm-12">
          <h1 class="no-margin  title-h1">账号绑定<span class="padding-left-5" href="" style="font-size:16px;color:#ccc;">(绑定账号：123235)</span></h1><hr />
        </div>
        <div class="col-sm-12 ">
          <ul class="col-sm-12 list-inline  icon-set">
            <li class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20">
              <a (click)="(null)" ><i class="icon-set_phone"></i></a>
              <span class="icon-account" title="">15822222221</span>
              <span class="icon-click" data-toggle="modal" data-target="#bindingqq">绑定</span>
              <span class="icon-click" data-toggle="modal" data-target="#bindingremove" >解除绑定</span>
            </li>
            <li class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20">
              <a (click)="(null)" ><i class="icon-set_wechat"></i></a>
              <span class="icon-account" title="3427870036@qq.com">微信未绑定</span>
              <span class="icon-click" data-toggle="modal" data-target="#bindingwxdd" >绑定</span>
              <span class="icon-click" data-toggle="modal" data-target="#bindingremove" >解除绑定</span>
            </li>
            <li class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20">
              <a (click)="(null)" ><i class="icon-set_nailing"></i></a>
              <span class="icon-account" title="">钉钉未绑定</span>
              <span class="icon-click"  data-toggle="modal" data-target="#bindingwxdd">绑定</span>
              <span class="icon-click" data-toggle="modal" data-target="#bindingremove" >解除绑定</span>
            </li>
            <li class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20">
              <a (click)="(null)" ><i class="icon-set_email"></i></a>
              <span class="icon-account" title="">邮箱未绑定</span>
              <span class="icon-click" >绑定</span>
              <span class="icon-click" data-toggle="modal" data-target="#bindingremove">解除绑定</span>

            </li>
          </ul>

        </div>
      </div>
    </div>


  </div>

</div>
<!-- end row -->

<div class="modal fade" id="bindingqq" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'>绑定手机</h3>
        <h3 class="modal-title" data-ng-bind='results.title'>解绑手机</h3>
      </div>
      <div class="modal-body">
        <div class=" no-margin no-padding">

          <div class="row pd-80">
            <div class="cpwd">

              <div class="pwd">
                <div><span>手机号：</span><input type="password" class="old" /></div>
                <div>
                  <span>验证码：</span>
                  <input type="password" class="now" style="width:180px;" />
                  <button class="binding-bt">获取验证码</button>
                  <button class="binding-bt">重新获取(49s)</button>
                </div>
                <div class="text-align-center margin-top-24">
                  <button class="btn-save" data-ng-click="ok()">保存</button>
                  <button class="btn-cancel" data-dismiss="modal">取消</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>




<div class="modal fade" id="bindingwxdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'>微信绑定</h3>
        <h3 class="modal-title" data-ng-bind='results.title'>钉钉绑定</h3>
      </div>
      <div class="modal-body">
        <div class=" no-margin no-padding">
          <div class="text-align-center">

          </div>
          <div class="text-align-center ">
            <span class="user-image">
              <img alt="" src="assets/img/weixin.jpg" style="width: 280px; height: 280px;">
            </span>
            <p class="pd-10">请使用微信扫描二维码绑定账号</p>
            <p class="pd-10">请使用钉钉扫描二维码绑定账号</p>
          </div>


        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>


<div class="modal fade" id="bindingremove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'>解除绑定</h3>
      </div>
      <div class="modal-body">
        <div class=" no-margin no-padding">

          <div class="row pd-80">
            <div class="cpwd">

              <div class="pwd">
                <div><span>密码：</span><input type="password" class="old" /></div>
                <div>
                  <span>验证码：</span>
                  <input type="password" class="now" style="width:180px;" />
                  <button class="binding-bt">获取验证码</button>
                  <button class="binding-bt">重新获取(49s)</button>
                </div>
                <div class="text-align-center margin-top-24">
                  <button class="btn-save" data-ng-click="ok()">保存</button>
                  <button class="btn-cancel" data-dismiss="modal">取消</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>
