<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class=" no-margin no-padding">
        <div class="row margin-bottom-40">
          <div class="col-sm-12">
            <h1 class="no-margin  title-h1">账号绑定<span class="padding-left-5" href="" style="font-size:16px;color:#ccc;">(绑定账号：123235)</span></h1><hr />
          </div>
          <div class="col-sm-12 ">
            <ul class="col-sm-12 list-inline  icon-set">
              <li class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20">
                <a (click)="(null)" ><i class="icon-set_phone"></i></a>
                <span class="icon-account" title="">15822222221</span>
                <span class="icon-click" >绑定</span>
                <span class="icon-click" >解除绑定</span>
              </li>
              <li class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20">
                <a (click)="(null)" ><i class="icon-set_wechat"></i></a>
                <span class="icon-account" title="3427870036@qq.com">3427870036@qq.com</span>
                <span class="icon-click" >绑定</span>
                <span class="icon-click" >解除绑定</span>
              </li>
              <li class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20">
                <a (click)="(null)" ><i class="icon-set_nailing"></i></a>
                <span class="icon-account" title="">钉钉未绑定</span>
                <span class="icon-click" >绑定</span>
                <span class="icon-click" >解除绑定</span>
              </li>
              <li class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20">
                <a (click)="(null)" ><i class="icon-set_email"></i></a>
                <span class="icon-account" title="">邮箱未绑定</span>
                <span class="icon-click" >绑定</span>
                <span class="icon-click" >解除绑定</span>

              </li>
            </ul>

          </div>
        </div>
      </div>


    </div>

  </div>
  <!-- end row -->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'>个人信息</h3>
        <!-- <h4 class="modal-title" id="myModalLabel">
            模态框（Modal）标题
        </h4> -->
      </div>
      <div class="modal-body">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-ng-click="ok()">确定</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>