<sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">

  <header>
    <span class="widget-icon"> <i class="fa  fa-child  txt-color-white"></i> </span>

    <h2> 员工健康统计 </h2>
  </header>

  <div class="row">
    <div class="col-sm-6">
      <div echarts [options]="chartOption" class="demo-chart-220"  ></div>
    </div>
    <div class="col-sm-6" style="margin-bottom:20px;">
      <ul class="list-group ">
        <li class="list-group-item ">总人数：
          <span class="label label-success label-pc">80</span>
        </li>
        <li class="list-group-item">健康：
          <span class="label label-primary label-pc">60</span>
        </li>
        <li class="list-group-item">不健康：
          <span class="label label-warning label-pc">20</span>
        </li>
        <li class="list-group-item">
          <a routerLink="/equipment/station-chart" >查看详情</a>
        </li>

      </ul>

    </div>
  </div>
</sa-widget>
