<sa-widget [editbutton]="false"  color="blueDark">

  <header>
    <span class="widget-icon"> <i class="fa  fa-child  txt-color-white"></i> </span>

    <h2> 员工健康统计 </h2>
  </header>

  <div>
    <div class="col-sm-12">
      <div class="col-sm-8">
        <div echarts [options]="chartOption" class="demo-chart-220"  ></div>
      </div>
      <div class="col-sm-4">
        <ul class="list-group ">
          <li class="list-group-item ">总人数：
            <span class="label label-success">80</span>
          </li>
          <li class="list-group-item">健康：
            <span class="label label-primary">60</span>
          </li>
          <li class="list-group-item">不健康：
            <span class="label label-warning">20</span>
          </li>
          <li class="list-group-item">
            <a routerLink="/equipment/station-chart" >查看详情</a>
          </li>

        </ul>

      </div>
    </div>

    <!--<div class="ibox-content">
      <h1 class="no-margins">30</h1>
      <div class="stat-percent text-blove">活跃用户20%<i class="fa fa-bolt"></i>
      </div>
      <small>总人数</small>
    </div>-->
  </div>
</sa-widget>
