
<li *ngFor="let ml of taskMessageList?.data;let indr = index;" (click)="readTask(ml.project_id,ml.todo_id,ml.userId,indr)">

    <div class="text-align-center mb6"><span>{{ml.send_time | date:'yyyy-MM-dd HH:mm'}}</span></div>
    <div class="approval-message badge-primary" >待办事项</div>
   <span class="bar-holder">
      <a>
         <span class="margin-bottom-5 from">
            <strong>{{ml.username}}</strong> <i>{{ml.messageTitle}}</i>
        </span>
        <span class="subject">任务：<em class="note no-margin">{{ml.taskTitle}} </em></span>
        <span class="subject">截止日期：<em class="note no-margin">{{ml.expired_at}} </em></span>
      </a>
    </span>
</li>
