<li>
   <span class="bar-holder">
      <a>
         <span class="margin-bottom-5 from">
            <strong>某某</strong> <i>给你分配了一个新任务！</i>
        </span>
        <span class="subject">任务：<em class="note no-margin">任务名称 </em></span>
        <span class="subject">截止日期<em class="note no-margin">：2018-01-22 10:47  </em></span>
      </a>
    </span>
</li>
<li >
    <span class="bar-holder">
          <a>
             <span class="margin-bottom-5 from">
                <strong>某某</strong> <i>给你分配了一个新任务！</i>
            </span>
            <span class="subject">任务：<em class="note no-margin">任务名称 </em></span>
            <span class="subject">截止日期<em class="note no-margin">：未设置截止日期  </em></span>
          </a>
    </span>
</li>
<li >
    <span class="bar-holder">
      <a>
         <span class="margin-bottom-5 from">
            <strong>某某</strong> <i>给任务设置了截止日期！</i>
        </span>
        <span class="subject">任务：<em class="note no-margin">任务名称 </em></span>
        <span class="subject">截止日期<em class="note no-margin">：2018-01-22 10:47  </em></span>
      </a>


    </span>
</li>
<li >
                <span class="bar-holder">
                  <a>
                     <span class="margin-bottom-5 from">
                     <strong>某某</strong> <i>提醒你关注任务！</i>
                    </span>
                    <span class="subject">任务：<em class="note no-margin">任务名称 </em></span>
                    <span class="subject">截止日期<em class="note no-margin">：2018-01-22 10:47  </em></span>
                  </a>


                </span>
</li>
<li >
    <span class="bar-holder">
          <a>
             <span class="margin-bottom-5 from">
                <strong>某某</strong> <i>评论了任务！</i>
            </span>
            <span class="subject">任务：<em class="note no-margin">任务名称 </em></span>
            <span class="subject">评论：<em class="note no-margin">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容 </em></span>
            <span class="subject">截止日期：<em class="note no-margin">2018-01-22 10:47  </em></span>
          </a>

</span>
</li>
<li >
    <span class="bar-holder">
      <a>
         <span class="margin-bottom-5 from">
            <strong>某某</strong> <i>评论了任务！</i>
        </span>
        <span class="subject">任务：<em class="note no-margin">任务名称 </em></span>
          <span class="subject">回复了评论：<em class="note no-margin">评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容 </em></span>
        <span class="subject">截止日期：<em class="note no-margin"></em></span>
      </a>

    </span>
</li>

<!--<span class="bar-holder">
  <a>
     <span class="margin-bottom-5 from">
      <i *ngIf="item.status == 'PRIMARY'" class="fa fa-warning text-warning"></i>
        <strong>{{item.status}}</strong> <i>{{item.title}}</i>
    </span>
    <span class="subject">任务：<em class="note no-margin">{{item.message}} </em></span>
    <span class="subject">截止日期<em class="note no-margin">：{{item.time}} </em></span>
  </a>


</span>-->
