<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['人事管理', '员工列表']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>




  <sa-widget [editbutton]="false" color="blueDark">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>员工列表 </h2>
    </header>
    <div>
      <div class="widget-body no-padding">

        <sa-datatable tableClass="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <th>ID  </th>
            <th>姓名</th>
            <th>角色  </th>
            <th>性别 </th>
            <th>年龄 </th>
            <th>公司</th>
            <th>所属部门 </th>
            <th>联系电话</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr style="display: none;">
            <td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td>
            <td></td><td></td>
          </tr>
          <tr *ngFor="let ul of userList.result?.data">
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <td>{{ ul.u_id }}</td>
            <td>{{ ul.u_name }}</td>
            <td>{{ ul.u_role }}</td>
            <td *ngIf="ul.u_gender == 1">男</td>
            <td *ngIf="ul.u_gender == 2">女</td>
            <td *ngIf="ul.u_gender == 3">未知</td>
            <td>{{ ul.u_age }}</td>
            <td>{{ ul.c_name }}</td>
            <td>{{ ul.u_department }}</td>
            <td>{{ ul.u_phone }}</td>
            <td><a class="btn btn-warning btn-xs" (click)="update(stock)"><span class="glyphicon glyphicon-pencil"></span>修改</a>
              <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除</a></td>
          </tr>

          </tbody>


        </sa-datatable>
        <!-- 分页部分-->
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
          <ul class="pagination">
            <li class="paginate_button previous" [ngClass]="{'disabled':prev == true}" id="DataTables_Table_0_previous">
              <a (click)="pagination(userList.result?.prev_page_url)" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">上一页</a>
            </li>
            <li class="paginate_button next" [ngClass]="{'disabled':next == true}" id="DataTables_Table_0_next">
              <a (click)="pagination(userList.result?.next_page_url)" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">下一页</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </sa-widget>





</div>
