<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['客户管理', '客户列表']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

  </div>
  <sa-widget [editbutton]="false" color="blueDark">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>客户列表 </h2>
    </header>
    <div>
      <div class="widget-body no-padding">

        <sa-datatable tableClass="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <th>ID  </th>
            <th>全称</th>
            <!--<th>简称 </th>-->
            <th>所属行业 </th>
            <th>联系人 </th>
            <th>联系电话</th>
            <th>企业邮箱</th>
            <th>主要产品</th>
            <!--<th>详细地址</th>-->
            <!--<th>更新时间</th>-->
            <th>操作</th>
          </tr>
          </thead>
          <tbody>

          <tr style="display: none;">
            <td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td>
            <td></td>
            <!--<td></td>-->
            <!--<td></td><td></td>-->
          </tr>
          <tr *ngFor="let cl of customerList.result?.data">
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <td>{{ cl.c_id }}</td>
            <td>{{ cl.c_name }}</td>
            <!--<td>{{ cl.c_abbreviation }}</td>-->
            <td>{{ cl.category_desc }}</td>
            <td>{{ cl.c_contacts }}</td>
            <td>{{ cl.c_phone }}</td>
            <td>{{ cl.c_email }}</td>
            <td>{{ cl.c_products }}</td>
            <!--<td>{{ cl.c_address }}</td>-->
            <!--<td>{{ cl.updated_at }}</td>-->
            <td><a class="btn btn-warning btn-xs" (click)="update(stock)"><span class="glyphicon glyphicon-pencil"></span>修改</a>
              <a class="btn btn-danger btn-xs" (click)="deleteCustomer(cl.c_id ,customerList.result?.current_page)"><span class="glyphicon glyphicon-remove"></span>删除</a></td>
          </tr>
          </tbody>

        </sa-datatable>
        <!-- 分页部分-->
        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
          <ul class="pagination">
            <li class="paginate_button previous" id="DataTables_Table_0_previous">
              <a (click)="pagination(customerList.result?.prev_page_url)" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0">上一页</a>
            </li>
            <li class="paginate_button next" id="DataTables_Table_0_next">
              <a (click)="pagination(customerList.result?.next_page_url)" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">下一页</a>
            </li>          </ul>
        </div>

      </div>
    </div>
  </sa-widget>





</div>
