<div id="content">
  <!--<div class="row">
    <sa-big-breadcrumbs [items]="['矿易帮设置', '客户设置']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>-->
  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs pull-left in">

        <li [class.active]="state.tabs.demo3=='hr1'">
          <a (click)="state.tabs.demo3 = 'hr1'"> <i class="fa fa-lg fa-suitcase"></i> <span
                  class="hidden-mobile hidden-tablet"> 所属行业 </span>
          </a>
        </li>
        <li [class.active]="state.tabs.demo3=='hr2'">
          <a (click)="state.tabs.demo3 = 'hr2'"> <i class="fa fa-lg fa-child"></i> <span
                  class="hidden-mobile hidden-tablet"> 客户来源 </span>
          </a>
        </li>
      </ul>
    </header>
    <div>
      <div class="widget-body">
        <tabset>
          <tab [active]="state.tabs.demo3 == 'hr1'">
            <div class="row">
              <article class="col-sm-12 col-md-12 col-lg-6">
                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" *ngIf="category_id1 == 0">
                        <i class="fa-fw fa fa-plus"></i>
                        添加行业
                      </alert>
                      <alert type="info" class="no-margin" *ngIf="category_id1 != 0">
                        <i class="fa-fw fa fa-plus"></i>
                        修改行业
                      </alert>
                      <form [formGroup]="formModel" (ngSubmit)="onSubmitIndustryCategory()" novalidate class="smart-form ">
                        <fieldset>
                          <section>
                            <label class="input">
                              <input type="text" required
                                     placeholder="请输入行业" minlength="1" maxlength="20" formControlName="category_desc" name="category_desc">
                              <input type="hidden" value="1" formControlName="category_type" name="category_type">
                              <input type="hidden" value="" formControlName="category_id" name="category_id">
                            </label>
                          </section>
                        </fieldset>
                        <footer>
                          <button type="submit" class="btn btn-primary">
                            保存
                          </button>
                        </footer>
                      </form>
                    </div>
                  </div>
                </sa-widget>
              </article>
              <article class="col-sm-12 col-md-12 col-lg-6">
                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-spoon"></i>
                        行业
                      </alert>
                      <div class="table-responsive">
                        <table class="table table-hover table-bordered dataTable">
                          <thead>
                          <tr>
                            <th>行业</th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let cl of industryCategoryList.result?.data">
                            <td>{{ cl.category_desc }}</td>
                            <td><a class="btn btn-warning btn-xs" (click)="editIndustryCategory(1,cl.category_id, cl.category_desc)" ><span class="glyphicon glyphicon-pencil mr-5"></span>修改</a>
                              <a class="btn btn-danger btn-xs" (click)="deleteIndustryCategory(1,cl.category_id,industryCategoryList.result?.current_page)"><span class="glyphicon glyphicon-remove mr-5"></span>删除</a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        <!-- 底部-（分页部分）-->
                        <div class="dt-toolbar">
                          <div class="hidden-xs right">
                            <ul class="pagination pagination-sm">
                              <li *ngFor="let p of industryCategoryList?.page" class="{{p.class}}">
                                <a (click)="pagination(1,p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                <a *ngIf="p.method==''">{{p.text}}</a>
                              </li>
                            </ul>
                           <!--<ul class="pagination">-->
                             <!--<li>-->
                               <!--<a (click)="pagination(industryCategoryList.result?.prev_page_url)"><i class="fa fa-arrow-left"></i></a>-->
                             <!--</li>-->
                             <!--<li>-->
                               <!--<a (click)="pagination(industryCategoryList.result?.next_page_url)"><i class="fa fa-arrow-right"></i></a>-->
                             <!--</li>-->
                           <!--</ul>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </sa-widget>
              </article>
            </div>
          </tab>
          <tab [active]="state.tabs.demo3 == 'hr2'">

            <div class="row">
              <article class="col-sm-12 col-md-12 col-lg-6">

                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" *ngIf="category_id2 == 0" >
                        <i class="fa-fw fa fa-plus"></i>
                        添加客户来源
                      </alert>
                      <alert type="info" class="no-margin" *ngIf="category_id2 != 0">
                        <i class="fa-fw fa fa-plus"></i>
                        修改客户来源
                      </alert>
                      <form class="smart-form" [formGroup]="formModelSource" (ngSubmit)="onSubmitSource()" novalidate>
                        <fieldset>
                          <section>
                            <label class="input">
                              <input type="text" required
                                     placeholder="请输入客户来源" minlength="1" maxlength="20" formControlName="category_desc" name="category_desc">
                              <input type="hidden" value="2" formControlName="category_type" name="category_type">
                              <input type="hidden" value="" formControlName="category_id" name="category_id">
                            </label>
                          </section>
                        </fieldset>
                        <footer>
                          <button type="submit" class="btn btn-primary">
                            保存
                          </button>
                        </footer>
                      </form>
                    </div>
                  </div>
                </sa-widget>
              </article>
              <article class="col-sm-12 col-md-12 col-lg-6">

                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">

                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-spoon"></i>
                        客户来源
                      </alert>
                      <div class="table-responsive">
                        <table class="table table-hover table-bordered dataTable">
                          <thead>
                          <tr>
                            <th>客户来源</th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let cl of sourceList.result?.data">
                            <td>{{ cl.category_desc }}</td>
                            <td><a class="btn btn-warning btn-xs" (click)="editIndustryCategory(2,cl.category_id, cl.category_desc)" ><span class="glyphicon glyphicon-pencil mr-5"></span>修改</a>
                              <a class="btn btn-danger btn-xs" (click)="deleteIndustryCategory(2,cl.category_id,sourceList.result?.current_page)"><span class="glyphicon glyphicon-remove mr-5"></span>删除</a>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        <!-- 底部-（分页部分）-->
                        <div class="dt-toolbar">
                          <div class="hidden-xs right">
                            <ul class="pagination pagination-sm">
                              <li *ngFor="let p of sourceList?.page" class="{{p.class}}">
                                <a (click)="pagination(2,p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                <a *ngIf="p.method==''">{{p.text}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </sa-widget>
              </article>
            </div>
          </tab>
        </tabset>
      </div>
      <!-- end widget content -->
    </div>
    <!-- end widget div -->
  </sa-widget>
</div>
