<div id="content">

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-inbox"></i> </span>
            <h2><a [routerLink]="['/forms/todo-projects']">项目</a>  &nbsp;&nbsp;=>  &nbsp;&nbsp;{{todoList?.result?.project_title}}</h2>
            <div class="widget-toolbar">
              <!--<button class="btn btn-xs btn-default"><i class="fa fa-plus"></i> 添加</button>-->
              <button class="btn btn-success btn--fancy ng-binding" data-toggle="dropdown" (click)="showPublishTemplate(todoList?.result?.project_id,3)"><i class="fa fa-plus"></i>新建任务列表</button>
              <ul class="dropdown-menu pull-right" style="width: 300px;padding: 10px 20px;">
                <!--<li>-->
                <!--<button type="button" class="close margin-bottom-10" data-dismiss="modal" aria-hidden="true">-->
                <!--×-->
                <!--</button>-->
                <!--</li>-->
                <li>
                  <div class="form-group">
                    <input  name="template_name" [(ngModel)]="template_name" placeholder="列表名" type="text" class="form-control " required="" >
                  </div>
                </li>
                <li>
                  <div class="form-group">
                    <button  data-loading-text="保存中…" class="btn btn-success" (click)="showPublishTemplate(todoList?.result?.project_id,2)" >保&nbsp;&nbsp;存</button>
                    <button  class="btn btn-secondary ml-2" (click)="showPublishTemplate(todoList?.result?.project_id,3)">取&nbsp;&nbsp;消</button>
                  </div>
                </li>
              </ul>

            </div>
            <div class="widget-toolbar">
              <button class="btn btn-save" (click)="checkLayout()">切换布局</button>

            </div>
            <div class="widget-toolbar">
              <button class="btn btn-save" (click)="hideStatus()">{{button_name}}</button>
            </div>
          </header>
          <div>
            <!--小部件内容-->
            <div class="widget-body no-padding">
              <div class="ng-scope ">
                <div [ngClass]="{'entries_panel js-sortable layout_content_main_tasks ng-scope wt-scroll':true, 'entries_panel_cross':isCheck}"  >
                  <div class="entries_panel_sortarea ui-sortable margin-bottom-40" >

                    <div class="entry ng-scope" *ngFor="let tl of todoList?.result?.template_list;let ind = index;" droppable [dropScope]="''+tl.key" [dragOverClass]="'drag-target-border'"
                         [dragHintClass]="'drag-hint'" (onDrop)="onListDrop_(tl.key)">
                      <div class="entry_header ui-sortable-handle">
                        <i class="wtfont wtf-entryhover ng-scope" ></i>
                        <div class="entry_header_title">
                          <h2>
                            <a data-toggle="dropdown"><span class="ng-binding ng-scope" (click)="showEditTemplateName(tl.info,tl.key)">{{tl.info}}</span>&nbsp; &nbsp;({{tl.complate_count}} / {{tl.todo_list_count}}) </a>
                            <ul class="dropdown-menu pull-right" style="width: 300px;padding: 10px 20px;">
                              <li>
                                <button type="button" class="close margin-bottom-10" data-dismiss="modal" aria-hidden="true">
                                  ×
                                </button>
                                <h4>重命名</h4>
                              </li>
                              <li>
                                <div class="form-group">
                                  <input name="entry_name" [(ngModel)]="edit_template_name[tl.key]" placeholder="" type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="" >
                                </div>
                              </li>
                              <li>
                                <div class="form-group">
                                  <button  data-loading-text="保存中…" class="btn btn-success" (click)="editTemplateName(todoList?.result?.project_id,tl.key)">保&nbsp;&nbsp;存</button>
                                  <button  class="btn btn-secondary ml-2">取&nbsp;&nbsp;消</button>
                                </div>
                              </li>
                            </ul>

                          </h2>
                        </div>
                        <a class="entry_header_number ng-binding ng-scope" (click)="deleteTodoList(tl.key,todoList?.result?.project_id)">
                          删除 </a>
                      </div>
                      <div [ngClass]="{'entry-task-panel wt-scroll':true, 'entries_panel_height':isCheck}">
                        <div class="entry-tasks js-sortable ui-sortable">
                          <div *ngFor="let tl1 of tl.todo_list;let indtl=index;">
                            <!-- isCheck为0 的切换模式--->
                            <div *ngIf="((indtl < todoListPages[tl.key] && todoListPages[tl.key] == 5) || (todoListPages[tl.key] >= 10)) && isCheck == 0 && (is_hide == 1 || (is_hide == 2 && tl1.todo_status == 1))" (click)="showDetail(tl1.todo_id,tl.info,1);" [ngClass]="{'right_click_trigger slide-trigger js-popbox false task task_style task-':true,'task-selected':tl1.todo_status==2,'bo-color-orange':tl1.isAssign,'bo-color-info':tl1.isFollower,'bo-color-blue':tl1.u_id == cookie_u_id}" draggable [dragScope]="tl.d" [dragClass]="'drag-over'" [dragData]="tl1" (onDragEnd)="onDragList_(tl1.todo_id,tl1.project_id)"><!--tl1.template_id,-->
                              <div [ngClass]="{'entry-task-main':true,'task-completed-style':tl1.todo_status==2}">
                                <a class="entry-task-check ng-scope" *ngIf="tl1.todo_status != 2" (click)="editStatus($event,2,tl1.todo_id,todoList?.result?.project_id)">
                                  <i class="fa fa-square-o"></i>
                                </a>
                                <a class="entry-task-check ng-scope" *ngIf="tl1.todo_status == 2" (click)="editStatus($event,1,tl1.todo_id,todoList?.result?.project_id)">
                                  <i class="fa fa-check-square"></i>
                                </a>
                                <a class="entry-task-title ng-binding">{{tl1.todo_title}}</a>
                              </div>
                              <div class="task-badges task-height">
                                <span class="task-badge fa fa-clock-o badge-expire-soon" title="任务即将截止">{{tl1.expired_at | date:'yyyy-MM-dd'}}</span>
                                <span class="task-badge fa fa-long-arrow-right" title="任务有描述" *ngIf="tl1.todo_content"></span>
                                <span class="task-badge fa fa-comment-o" title="任务有 {{tl1.comment_count}} 个评论">{{tl1.comment_count}}</span>
                                <span class="task-badge fa fa-user" title="分配人数"> {{tl1.assignCount}}</span>
                                <span class="task-badge task-label" title="{{tag}}" *ngFor="let tag of tl1.tags;let ti = index;"  [ngStyle]="{'background-color': tl1.tags_color[ti]}">{{tag}}</span>
                              </div>
                              <!--<div class="entry-task-members" *ngIf="tl1.todo_assign">-->
                              <!--<a class="js-popbox member avatar ng-scope avatar-28" title="{{h.u_username}}" *ngFor="let h of tl1.assignList">-->
                              <!--{{h.u_username}}-->
                              <!--</a>-->
                              <!--</div>-->
                            </div>
                            <!-- isCheck为1 的切换模式--->
                            <div *ngIf="isCheck == 1 && (is_hide == 1 || (is_hide == 2 && tl1.todo_status == 1))" (click)="showDetail(tl1.todo_id,tl.info,1);" [ngClass]="{'right_click_trigger slide-trigger js-popbox false task task_style task-':true,'task-selected':tl1.todo_status==2,'bo-color-orange':tl1.isAssign,'bo-color-info':tl1.isFollower,'bo-color-blue':tl1.u_id == cookie_u_id}" draggable [dragScope]="tl.d" [dragClass]="'drag-over'" [dragData]="tl1" (onDragEnd)="onDragList_(tl1.todo_id,tl1.project_id)"><!--tl1.template_id,-->
                              <div [ngClass]="{'entry-task-main':true,'task-completed-style':tl1.todo_status==2}">
                                <a class="entry-task-check ng-scope" *ngIf="tl1.todo_status != 2" (click)="editStatus($event,2,tl1.todo_id,todoList?.result?.project_id)">
                                  <i class="fa fa-square-o"></i>
                                </a>
                                <a class="entry-task-check ng-scope" *ngIf="tl1.todo_status == 2" (click)="editStatus($event,1,tl1.todo_id,todoList?.result?.project_id)">
                                  <i class="fa fa-check-square"></i>
                                </a>
                                <a class="entry-task-title ng-binding">{{tl1.todo_title}}</a>
                              </div>
                              <div class="task-badges task-height">
                                <span class="task-badge fa fa-clock-o badge-expire-soon" title="任务即将截止">{{tl1.expired_at | date:'yyyy-MM-dd'}}</span>
                                <span class="task-badge fa fa-long-arrow-right" title="任务有描述" *ngIf="tl1.todo_content"></span>
                                <span class="task-badge fa fa-comment-o" title="任务有 {{tl1.comment_count}} 个评论">{{tl1.comment_count}}</span>
                                <span class="task-badge fa fa-user" title="分配人数"> {{tl1.assignCount}}</span>
                                <span class="task-badge task-label" title="{{tag}}" *ngFor="let tag of tl1.tags;let ti = index;"  [ngStyle]="{'background-color': tl1.tags_color[ti]}">{{tag}}</span>
                              </div>
                              <!--<div class="entry-task-members" *ngIf="tl1.todo_assign">-->
                              <!--<a class="js-popbox member avatar ng-scope avatar-28" title="{{h.u_username}}" *ngFor="let h of tl1.assignList">-->
                              <!--{{h.u_username}}-->
                              <!--</a>-->
                              <!--</div>-->
                            </div>
                          </div>
                          <a (click)="showTodoList(tl.key,1)" *ngIf="todoListPages[tl.key] <= 5 && tl.todo_list_count > 5 && isCheck== 0 && is_hide == 1">查看更多</a><!-- (click)="getTodoDefault(project_id,tl.key)"-->
                          <a (click)="showTodoList(tl.key,2)" *ngIf="todoListPages[tl.key] == 10 && tl.todo_list_count > 5 && isCheck== 0 && is_hide == 1">隐藏</a>
                        </div>
                        <!--新建任务发布框-->
                        <div class="entry-add-bottom-composer entry-task-composer ng-isolate-scope" *ngIf="selects[tl.key]" >
                          <div class="composer-body" >
                            <div class="entry-task-labels">
                            </div>
                            <div class="form-group">
                              <textarea rows="2" class="form-control help-block" placeholder="请输入任务标题" [(ngModel)]="publish_todo_title[tl.key]"></textarea>
                            </div>

                            <div class="composer-body-footer">
                              <div class="task-badges" >
                              </div>
                            </div>
                          </div>
                          <div class="composer-footer">
                            <button  class="btn btn-success " (click)="submitTodo(todoList?.result?.project_id,tl.key)">保&nbsp;&nbsp;存</button>
                            <button  class="btn btn-secondary ml-2" (click)="showAddTodo(tl.key)">取&nbsp;&nbsp;消</button>
                          </div>
                        </div>


                      </div>
                      <div class="entry-task-footer ng-scope" *ngIf=" ! selects[tl.key]">
                        <a  class="js-add-task-composer ng-binding ng-scope" (click)="showAddTodo(tl.key)">
                          <i class="fa fa-plus-circle"></i> 新建任务
                        </a>
                      </div>

                    </div>


                    <div class="entry-new ng-scope" >
                      <a  class="ng-binding entry-add" *ngIf="!is_show_publish_template" (click)="showPublishTemplate(todoList?.result?.project_id,1)">
                        <i class="fa fa-plus-circle"></i> 新建任务列表
                      </a>
                      <div  class="pd-10 " *ngIf="is_show_publish_template"><!-- ng-hide-->
                        <div class="form-group">
                          <input name="template_name" [(ngModel)]="template_name" placeholder="列表名" type="text" class="form-control" required="" >
                        </div>
                        <div class="form-group">
                          <button  data-loading-text="保存中…" class="btn btn-success" (click)="showPublishTemplate(todoList?.result?.project_id,2)">保&nbsp;&nbsp;存</button>
                          <button  class="btn btn-secondary ml-2" (click)="showPublishTemplate(todoList?.result?.project_id,3)">取&nbsp;&nbsp;消</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<app-todo-mission-detail (isEdit)="getData($event)" [todoList]="todoList" [selects]="selects" [is_show_detail]="is_show_detail" *ngIf="is_show_detail"></app-todo-mission-detail>

