<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" >
          <header >
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2 >出差</h2>
          </header>
          <div>
            <!--小部件内容-->
            <div class="widget-body no-padding">
              <form id="smart-form-register" class="smart-form" >
                <fieldset>
                  <legend>行程明细(1)</legend>
                  <input type="hidden" name="">
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label class="label txt-color-blue">出差地点<span class="asterisk-color">*</span></label>
                      <label class="input">
                        <input  type="text" placeholder="如：北京、上海、四川、杭州（必填）" name="" >
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label txt-color-blue">开始日期<span class="asterisk-color">*</span></label>
                      <label  class="input">
                        <input  name=""  maxlength="20"  placeholder="选择日期（必填）"  class="form-control ng-binding expire-text-soon"/>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label txt-color-blue">结束日期<span class="asterisk-color">*</span></label>
                      <label  class="input">
                        <input  name=""  maxlength="20"  placeholder="选择日期（必填）"  class="form-control ng-binding expire-text-soon"/>
                      </label>
                    </section>
                  </div>
                </fieldset>

                <fieldset>
                  <legend>行程明细(2)</legend>
                  <input type="hidden" name="">
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <section>
                      <label class="label txt-color-blue">出差地点<span class="asterisk-color">*</span></label>
                      <label class="input">
                        <input  type="text" placeholder="如：北京、上海、四川、杭州（必填）" name="" >
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label txt-color-blue">开始日期<span class="asterisk-color">*</span></label>
                      <label  class="input">
                        <input  name=""  maxlength="20"  placeholder="选择日期（必填）"  class="form-control ng-binding expire-text-soon"/>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label txt-color-blue">结束日期<span class="asterisk-color">*</span></label>
                      <label  class="input">
                        <input  name=""  maxlength="20"  placeholder="选择日期（必填）"  class="form-control ng-binding expire-text-soon"/>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-20 text-center">
                    <button class="btn btn-default btn-xs " >
                     <span class="hidden-mobile">删除行程明细(2)</span>
                    </button>
                  </div>
                </fieldset>
                <fieldset>
                  <legend>行程明细(3)</legend>
                  <input type="hidden" name="">
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <section>
                      <label class="label txt-color-blue">出差地点<span class="asterisk-color">*</span></label>
                      <label class="input">
                        <input  type="text" placeholder="如：北京、上海、四川、杭州（必填）" name="" >
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label txt-color-blue">开始日期<span class="asterisk-color">*</span></label>
                      <label  class="input">
                        <input  name=""  maxlength="20"  placeholder="选择日期（必填）"  class="form-control ng-binding expire-text-soon"/>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label txt-color-blue">结束日期<span class="asterisk-color">*</span></label>
                      <label  class="input">
                        <input  name=""  maxlength="20"  placeholder="选择日期（必填）"  class="form-control ng-binding expire-text-soon"/>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-20 text-center">
                    <button class="btn btn-default btn-xs " >
                      <span class="hidden-mobile">删除行程明细(3)</span>
                    </button>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-20 text-center">
                    <button class="btn btn-save btn-xs " >
                      <i class="fa fa-plus"></i> <span class="hidden-mobile">添加行程明细</span>
                    </button>
                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <section>
                      <label class="label txt-color-blue">出差天数<span class="asterisk-color">*</span></label>
                      <label class="input">
                        <input  type="text" placeholder="请输入出差天数（必填）" name="" >
                      </label>
                    </section>
                  </div>


                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <section>
                      <label class="label txt-color-blue">出差事由<span class="asterisk-color">*</span></label>
                      <label class="textarea textarea-resizable">
                        <textarea class="custom-scroll" rows="4" name="" placeholder="请输入出差事由（必填）"></textarea>
                      </label>
                    </section>
                  </div>

                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="label ">图片<a class="txt-color-blue pd-10" >添加图片</a><span class="txt-color-blueLight pd-10">(最多可以选择10张)</span></div>
                    <div  class="picture mb-20">
                      <div  class="picture-list " >
                        <a  class="fa fa-times-circle picture-a" style="display:block;"></a>
                        <img   src="assets/img/superbox/superbox-thumb-2.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list picture-a" >
                        <a  class="fa fa-times-circle" style="display:block;"></a>
                        <img  src="assets/img/superbox/superbox-thumb-4.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list picture-a" >
                        <a  class="fa fa-times-circle" style="display:block;"></a>
                        <img src="assets/img/superbox/superbox-thumb-6.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list" >
                        <a  class="fa fa-times-circle picture-a" ></a>
                        <img src="assets/img/superbox/superbox-thumb-6.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list" >
                        <a  class="fa fa-times-circle picture-a" ></a>
                        <img src="assets/img/superbox/superbox-thumb-6.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list" >
                        <a  class="fa fa-times-circle picture-a" ></a>
                        <img src="assets/img/superbox/superbox-thumb-6.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list" >
                        <a  class="fa fa-times-circle picture-a" ></a>
                        <img src="assets/img/superbox/superbox-thumb-6.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list" >
                        <a  class="fa fa-times-circle picture-a" ></a>
                        <img src="assets/img/superbox/superbox-thumb-6.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list" >
                        <a  class="fa fa-times-circle picture-a" ></a>
                        <img src="assets/img/superbox/superbox-thumb-6.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list" >
                        <a  class="fa fa-times-circle picture-a" ></a>
                        <img src="assets/img/superbox/superbox-thumb-6.jpg" alt="" title="">
                      </div>
                      <div  class="picture-list" >
                        <a  class="fa fa-times-circle picture-a" ></a>
                        <img src="assets/img/superbox/superbox-thumb-6.jpg" alt="" title="">
                      </div>

                    </div>

                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-20">
                    <div class="label ">附件<a class="txt-color-blue pd-10" >添加附件</a></div>
                  </div>

                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-20">
                    <div class="label ">审批人<a class="txt-color-blue pd-10" data-toggle="modal" data-target="#myModal">添加审批人</a></div>
                    <ul  class="avatars">
                      <li>
                        <a class="fa fa-times-circle picture-a" style="display:block;"></a>
                        <a  class="portrait-size" title="刘鑫">
                          刘鑫
                        </a>
                      </li>
                      <li >
                        <a class="fa fa-times-circle picture-a" ></a>
                        <a  class=" portrait-size" title="刘鑫">
                          刘鑫
                        </a>
                      </li>
                      <li>
                        <a class="fa fa-times-circle picture-a" ></a>
                        <a  class=" portrait-size" title="刘鼎折覆餗鑫">
                          刘鼎折覆餗鑫
                        </a>
                      </li>
                      <li >
                        <a class="fa fa-times-circle picture-a"></a>
                        <a  class="portrait-size" title="刘鼎折覆餗鑫">
                          刘鼎折覆餗鑫
                        </a>
                      </li>
                    </ul>

                  </div>

                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-20">
                    <div class="label ">抄送人<a class="txt-color-blue pd-10" data-toggle="modal" data-target="#myModal">添加抄送人</a><span class="txt-color-blueLight pd-10">(审批通过后，通知抄送人)</span></div>
                    <ul  class="avatars">
                      <li>
                        <a class="fa fa-times-circle picture-a" style="display:block;"></a>
                        <a  class="portrait-size" title="刘鑫">
                          刘鑫
                        </a>
                      </li>
                      <li >
                        <a class="fa fa-times-circle picture-a" ></a>
                        <a  class=" portrait-size" title="刘鑫">
                          刘鑫
                        </a>
                      </li>
                      <li>
                        <a class="fa fa-times-circle picture-a" ></a>
                        <a  class=" portrait-size" title="刘鼎折覆餗鑫">
                          刘鼎折覆餗鑫
                        </a>
                      </li>
                      <li >
                        <a class="fa fa-times-circle picture-a"></a>
                        <a  class="portrait-size" title="刘鼎折覆餗鑫">
                          刘鼎折覆餗鑫
                        </a>
                      </li>
                    </ul>

                  </div>

                </fieldset>
                <footer>
                  <button type="button" class="btn btn-default" >
                    返回
                  </button>
                  <button  type="submit" class="btn btn-primary">
                    提交
                  </button>
                </footer>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>选择人</h3>
      </div>
      <div class="modal-body ">
        <div  class="row">
          <article  class="col-sm-12">
            <div class="navbar navbar-default">
              <div class="collapse navbar-collapse">

                <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                  <div class="form-group pdlr-4">
                    <div class="form-group padding-left-10">
                      <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15"   name="keyword_product" placeholder="请输入搜索内容" type="text">
                    </div>
                    <button class="btn btn-default" type="button" >
                      <i  class="glyphicon glyphicon-search"></i>
                      搜索
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </article>
        </div>
        <div class="pt">
          <div class="row margin-b50" style="padding:0 10px;">
            <article class="form-group col col-xs-4 ">
              <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                         [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                <div>
                  <div class="widget-body no-padding">
                    <alert type="info" class="no-margin">
                      <i class="fa-fw fa fa-sitemap"></i>
                      部门分类
                    </alert>
                    <div class="pd-10 border-overflow-320" style="margin-top: -11px;">
                      <div class="widget-body">
                        <div class="tree smart-form">
                          <ul class="">
                            <li class=" parent_li">
                                  <span>
                                    <label class="checkbox inline-block tree-label pt-12 ">
                                          <input name="checkbox-inline" type="checkbox"><i></i>
                                   </label>
                                    <i class="fa fa-lg fa-folder-open"></i>矿易帮
                                    <i class="sa-icon fa fa-lg fa-minus-circle"></i>
                                  </span>
                              <ul class="">
                                <li class=" parent_li">
                                        <span>
                                          <label class="checkbox inline-block tree-label ">
                                            <input name="checkbox-inline" type="checkbox">
                                            <i></i>财务部
                                            <em class="txt-color-blue">(0)</em>
                                          </label>

                                        </span>
                                </li>
                                <li class=" parent_li">
                                        <span>
                                          <label class="checkbox inline-block tree-label ">
                                            <input name="checkbox-inline" type="checkbox">
                                            <i></i>互联网部
                                            <em class="txt-color-blue">(0)</em>
                                          </label>

                                        </span>
                                </li>
                                <li class=" parent_li">
                                        <span>
                                          <label class="checkbox inline-block tree-label ">
                                            <input name="checkbox-inline" type="checkbox">
                                            <i></i>行政部
                                            <em class="txt-color-blue">(0)</em>
                                          </label>
                                           <i class="sa-icon fa fa-lg fa-plus-circle"></i>
                                        </span>
                                  <ul class="">
                                    <li>
                                            <span>
                                              <label class="checkbox inline-block tree-label">
                                                <input name="checkbox-inline" type="checkbox">
                                                <i></i>财务部
                                                <em class="txt-color-blue">(0)</em>
                                              </label>
                                            </span>
                                    </li>
                                  </ul>

                                </li>
                                <li class=" parent_li">
                                        <span>
                                          <label class="checkbox inline-block tree-label ">
                                            <input name="checkbox-inline" type="checkbox">
                                            <i></i>软件部
                                            <em class="txt-color-blue">(2)</em>
                                          </label>
                                        </span>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="dt-toolbar">
                    </div>
                  </div>
                </div>
              </sa-widget>

            </article>
            <article class="form-group col col-xs-8 ">
              <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                         [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                <div>
                  <div class="widget-body no-padding">
                    <alert type="info" class="no-margin" >
                      <i class="fa-fw fa fa-table"></i>
                      员工列表
                    </alert>
                    <div class="mt-10 "  style="padding:0;">
                      <div style="padding: 0;z-index: 1;" class="table-responsive border-overflow-320">
                        <table class="table table-striped   smart-form table-height-20">
                          <thead>
                          <tr>
                            <td>
                              <label class="checkbox mt-8">
                                <input type="checkbox" name="checkbox-inline" >
                                <i></i>
                              </label>
                            </td>
                            <th>员工ID </th>
                            <th>姓名</th>
                            <th>所属部门</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr >
                            <td>
                              <label class="checkbox mt-8" >
                                <input type="checkbox"   />
                                <i></i>
                              </label>
                            </td>
                            <td>dgff</td>
                            <td>dfgd</td>
                            <td>dfgfd</td>
                          </tr>
                          <tr >
                            <td>
                              <label class="checkbox mt-8" >
                                <input type="checkbox"   />
                                <i></i>
                              </label>
                            </td>
                            <td>dgff</td>
                            <td>dfgd</td>
                            <td>dfgfd</td>
                          </tr>
                          <tr >
                            <td>
                              <label class="checkbox mt-8" >
                                <input type="checkbox"   />
                                <i></i>
                              </label>
                            </td>
                            <td>dgff</td>
                            <td>dfgd</td>
                            <td>dfgfd</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- 底部-（分页部分）-->
                    <div class="dt-toolbar">
                      <div class="col-xs-12 col-sm-6">
                        <span>共5条</span>
                      </div>
                      <div class="hidden-xs right">
                        <ul class="pagination pagination-sm">
                          <li *ngFor="let p of searchProductList?.result?.page" class="{{p.class}}">
                            <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                            <a *ngIf="p.method==''">{{p.text}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </sa-widget>
              <!-- end widget -->
            </article>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-ng-click="ok()"><span class="glyphicon glyphicon-plus"></span>选入</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" >返回</button>
      </div>
    </div>
  </div>
</div>
