<!--主要内容-->
<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['广播预警预防系统', '添加广播信息']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
    </div>

    <sa-widgets-grid>
        <div class="row">

            <article class="col-sm-12 ">

                <sa-widget [editbutton]="false" [deletebutton]="false" >
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>添加广播信息</h2>
                    </header>

                    <div>
                        <!--小部件内容-->
                        <div class="widget-body no-padding">

                            <form id="smart-form-register" class="smart-form" >
                                <fieldset>

                                    <legend>基本信息</legend>
                                    <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                        <section>
                                            <label class="label">设备ID</label>

                                            <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus "  style="width: 100%;">
                                           <span class="selection">
                                             <span class="select2-selection select2-selection--multiple">
                                               <ul class="select2-selection__rendered">
                                                 <li class="select2-selection__choice" >
                                                   <span class="select2-selection__choice__remove" >
                                                     ×</span>124
                                                 </li>
                                                 <li class="select2-selection__choice" >
                                                   <span class="select2-selection__choice__remove" >
                                                     ×</span>4565
                                                 </li>
                                               </ul>
                                             </span>
                                           </span>
                                         </span>
                                            <span class="select2 select2-container--open select2-container select2-container--default select2-container--below select2-container--focus select-hidden" dir="ltr" style="width: 100%;position: absolute;">
                                           <span class="selection">
                                             <span class="select2-selection select2-selection--multiple select2-results select2-dropdown select2-drop-active">
                                              <ul class="select2-results__options select2-results__options--nested">
                                                <li class="select2-results__option  select2-results__option--highlighted" >4566</li>
                                                <li class="select2-results__option">4666</li>
                                                <li class="select2-results__option">456465456</li>
                                                <li class="select2-results__option">4-45665</li>
                                                <li class="select2-results__option">46656</li>
                                                <li class="select2-results__option">456456</li>
                                                <li class="select2-results__option">456546</li>
                                              </ul>
                                             </span>
                                           </span>


                                         </span>
                                        </section>

                                    </div>
                                    <!--<div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                        <section>
                                            <label class="label">通信方式</label>

                                                <label class="select select-hidden ">
                                                    <select>
                                                        <option>42Hz</option>
                                                        <option>42Hz</option>
                                                        <option>42Hz</option>
                                                        <option>42Hz</option>
                                                        <option>42Hz</option>
                                                    </select>
                                                </label>
                                            <span class="select2 select2-container select2-container&#45;&#45;default select2-container&#45;&#45;below select2-container&#45;&#45;focus" dir="ltr" style="width: 100%">
                                               <span class="selection">
                                                 <span class="select2-selection select2-selection&#45;&#45;multiple">
                                                   <ul class="select2-selection__rendered">
                                                     <li class="select2-selection__choice" title="42HZ">
                                                       <span class="select2-selection__choice__remove">
                                                         ×</span>42HZ
                                                     </li>
                                                   </ul>
                                                 </span>
                                               </span>
                                             </span>
                                               <span dir="ltr" style="width: 100%;position: absolute;" class="select2 select2-container&#45;&#45;open select2-container select2-container&#45;&#45;default select2-container&#45;&#45;below select2-container&#45;&#45;focus select-hidden" ng-reflect-ng-class="[object Object]">
                                               <span class="selection">
                                                 <span class="select2-selection select2-selection&#45;&#45;multiple select2-results select2-dropdown select2-drop-active">
                                                  <ul class="select2-results__options select2-results__options&#45;&#45;nested">
                                                     <li class="select2-results__option" value="170">42HZ</li>
                                                      <li class="select2-results__option"  value="167">4G</li>
                                                      <li class="select2-results__option" value="166">wifi</li>
                                                  </ul>
                                                 </span>
                                               </span>
                                             </span>
                                        </section>
                                    </div>-->
                                    <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                        <section >
                                            <label class="label">文字输入</label>
                                            <label class="input">
                                                <input type="text" name="" placeholder="请输入内容 " maxlength="40" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                        <section >
                                            <label class="label">闪烁</label>
                                            <label class="input">
                                                <input type="text" name="" placeholder="请输入内容 " maxlength="" />
                                            </label>
                                        </section>
                                    </div>
                                    <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                        <section >
                                            <label class="label">警报</label>
                                            <label class="input">
                                                <input type="text" name="" placeholder="请输入内容 " maxlength="" />
                                            </label>
                                        </section>
                                    </div>


                                </fieldset>
                                <footer>
                                    <button type="button" class="btn btn-default" >
                                        返回
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        保存
                                    </button>
                                </footer>

                            </form>
                        </div>

                    </div>
                </sa-widget>

            </article>

        </div>




    </sa-widgets-grid>





</div>