<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['设备管理', '添加设备']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [editbutton]="false" [deletebutton]="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>添加设备</h2>
          </header>
          <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
              <form id="smart-form-register" class="smart-form" [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate>
                <fieldset>
                  <legend>基本信息</legend>
                  <input type="hidden" name="i_id" formControlName="i_id">

                  <!--<div class="col col-sm-6">
                    <div class="form-group">
                      <label class="label">Select2 Plugin (select)</label>
                      <select select2 style="width:100%" class="select2">
                        <optgroup label="Alaskan/Hawaiian Time Zone">
                          <option value="AK">Alaska</option>
                          <option value="HI">Hawaii</option>
                        </optgroup>
                        <optgroup label="Pacific Time Zone">
                          <option value="CA">California</option>
                          <option value="NV">Nevada</option>
                          <option value="OR">Oregon</option>
                          <option value="WA">Washington</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>-->

                  <section class="col col-6">
                    <label class="label">设备类型</label>
                    <label class="select">
                      <select name="role" >
                        <!--选择类型才出现功能选项，基站设备比安全帽少健康复选框-->
                        <option value="1">安全帽</option>
                        <option value="2">基站设备</option>
                      </select> <i></i> </label>
                  </section>

                  <section class="col col-6">
                    <label class="label">设备ID</label>
                    <label class="input">
                      <input type="text" name="i_number" placeholder="请输入客户编号" maxlength="20" formControlName="i_number"/>
                    </label>
                  </section>

                  <section class="col col-6">
                    <label class="label">设备名称</label>
                    <label class="input">
                      <input type="text" name="i_name" placeholder="请输入全称 " maxlength="10" formControlName="i_name"/>
                    </label>
                  </section>



                  <!--<section class="col col-6">
                    <label class="label">生产日期</label>
                    <label class="input">
                      <input type="date" name="i_date" formControlName="i_date"/>
                    </label>
                  </section>-->
                  <section class="col col-6">
                    <label class="label">设备地址</label>
                    <label class="input">
                      <input type="text" name="i_address" placeholder="请输入设备地址 " maxlength="40" formControlName="i_address"/>
                    </label>
                  </section>
                  <section class="col col-6">
                    <label class="label">是否激活</label>
                    <div class="inline-group">
                      <label class="radio">
                        <input type="radio" [checked]="i3otp_info.result?.i_is_activate == 1" [value]="1" name="i_is_activate" formControlName="i_is_activate">
                        <i></i>激活</label>
                      <label class="radio">
                        <input type="radio" [checked]="i3otp_info.result?.i_is_activate == 2" [value]="2" name="i_is_activate" formControlName="i_is_activate">
                        <i></i>未激活</label>
                    </div>
                  </section>
                <!--<section class="col col-6">
                  <label class="label">所属公司</label>
                  <label class="select">
                    <select name="c_id" formControlName="c_id" [(ngModel)]="c_id_default">
                      <option *ngFor="let c of i3otpList.result?.customerList" [selected]="i3otp_info.result?.c_id == c.c_id || this.i_id == 0" value="{{c.c_id}}">{{c.c_name}}</option>
                    </select> <i></i> </label>
                </section>-->
                  </fieldset>
                <fieldset>
                  <legend>功能选项</legend>
                  <section class="col col-6">
                    <label class="label">检测气体数据</label>
                    <div class="inline-group">
                      <label class="checkbox"><input type="checkbox"><i></i>甲烷</label>
                      <label class="checkbox"><input type="checkbox"><i></i>一氧化碳</label>
                      <label class="checkbox"><input type="checkbox"><i></i>二氧化碳</label>
                      <label class="checkbox"><input type="checkbox"><i></i>氧气</label>
                    </div>
                  </section>

                  <section class="col col-6">
                    <label class="label">温湿度</label>
                    <div class="inline-group">
                      <label class="checkbox"><input type="checkbox"><i></i>温度</label>
                      <label class="checkbox"><input type="checkbox"><i></i>湿度</label>
                    </div>
                  </section>

                  <section class="col col-6">
                    <label class="label">健康</label>
                    <div class="inline-group">
                      <label class="checkbox"><input type="checkbox"><i></i>脑电</label>
                      <label class="checkbox"><input type="checkbox"><i></i>心率</label>
                      <label class="checkbox"><input type="checkbox"><i></i>血氧</label>
                    </div>
                  </section>

                </fieldset>
                <footer>
                  <button type="submit" class="btn btn-primary">
                    保存
                  </button>
                </footer>
              </form>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </sa-widget>
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
