<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>员工管理</h2>
          </header>

          <div>
            <div class="widget-body no-padding" >
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >

                      <div class="form-group pdlr-4">
                        <a class="btn btn-success btn-sm" (click)="lgModal.show();">
                          <span class="glyphicon glyphicon-plus mr-5"></span>添加</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailUser('edit')">
                          <span class="glyphicon glyphicon-pencil mr-5 color-yellow"></span>修改</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="deleteUser('id')">
                          <span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailUser('detail')">
                          <span class="glyphicon glyphicon-zoom-in mr-5 color-green"></span>详情</a>
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <a class="btn default-btn btn-sm dropdown-toggle"  data-toggle="dropdown" (click)="showAllCheck()">
                          <span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>

                        <ul class="dropdown-menu" role="menu">
                          <li><a (click)="deleteUser('all')"><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>
                        </ul>
                      </div>
                    </form>
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" name="keyword" maxlength="15" [(ngModel)]="keyword" placeholder="请输入搜索内容" type="text">
                      </div>
                      <div class="form-group pdlr-4">
                        <button class="btn btn-default" type="button" (click)="getUserList(1)">
                          <i  class="glyphicon glyphicon-search"></i>
                          搜索
                        </button>
                      </div>
                    </form>

                  </div>
                </article>
              </div>
              <div class="mt-10" style="padding:0;">
                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-scrolling">
                  <table class="table table-striped smart-form">
                    <thead>
                    <tr style="height: 37px;">
                      <td style="padding-top: 15px;">
                        <label class="checkbox mt-8">
                          <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)">
                          <i></i>
                        </label>
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 35px;" *ngFor="let ul of userList.result?.userList?.data">
                      <td style="padding-top: 15px;">
                        <label class="checkbox mt-8" >
                          <input type="checkbox" value="{{ul.id}}" [checked]="selects[ul.id]" (change)="handle($event);" />
                          <i></i>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div style="padding: 0;z-index: 2;width:20%;float:left;" class="table-scrolling">
                  <table class="table table-striped smart-form">
                    <thead>
                    <tr>
                      <th>员工编号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let ul of userList.result?.userList?.data" (click)="isStatusShow(ul.id,ul.u_status)" [ngClass]="{'table-color':editStatusUserId == ul.id}">
                      <td>{{ ul.u_number }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive" [ngStyle]="{'padding': '0','z-index': '1','width':width_1,'float':'left'}">
                  <table class="table table-striped  smart-form ">
                    <thead>
                    <tr >
                      <th>姓名</th>
                      <th>性别</th>
                      <th>年龄</th>
                      <th>电话号码</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let ul of userList.result?.userList?.data" (click)="isStatusShow(ul.id,ul.u_status)" [ngClass]="{'table-color':editStatusUserId == ul.id}">
                      <td>{{ ul.u_username}}</td>
                      <td>{{ ul.u_gender == 1?'男':'女'}}</td>
                      <td>{{ ul.u_age }}</td>
                      <td>{{ ul.u_phone }}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="col-xs-12 col-sm-6">
                  <span>共{{userList.result?.userList?.total}}条</span>
                </div>
                <div class="hidden-xs right">
                  <ul class="pagination pagination-sm" *ngIf="userList?.result?.page != ''">
                    <li *ngFor="let p of userList?.result?.page" class="{{p.class}}">
                      <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                      <a *ngIf="p.method==''">{{p.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<div class="modal fade" bsModal #lgModal="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="clear_();lgModal.hide()">×</button>
        <!-- 标题 -->
        <h3 *ngIf="id == 0" class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>添加员工信息</h3>
        <h3 *ngIf="id != 0" class="modal-title  color-yellow" data-ng-bind='results.title'><i class="glyphicon glyphicon-pencil"></i>修改员工信息</h3>
      </div>
      <div class="modal-body height-overflow-380">
        <div class="row mt-20">
          <form   class="smart-form ">
            <fieldset>
              <!--<div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                <!--<section>-->
                  <!--<label  class="label txt-color-blue">登陆账号</label>-->
                  <!--<label class="input">-->
                    <!--<input  type="text" name="name" [(ngModel)]="name">-->
                  <!--</label>-->
                <!--</section>-->
              <!--</div>-->
              <!--<div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                <!--<section>-->
                  <!--<label  class="label txt-color-blue">密码</label>-->
                  <!--<label class="input">-->
                    <!--<input  type="text" placeholder="{{passwordPlaceholder}}" maxlength="20" minlength="6" name="u_password" [(ngModel)]="u_password">-->
                  <!--</label>-->
                <!--</section>-->
              <!--</div>-->

              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label class="label txt-color-blue">编号<span  class="asterisk-color">*</span></label>
                  <label class="input">
                    <input  type="text" name="u_number" [(ngModel)]="u_number">
                  </label>
                </section>
              </div>
              <!--<div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                <!--<section>-->
                  <!--<label class="label">角色</label>-->
                  <!--<label class="select">-->
                    <!--<select name="u_role" [(ngModel)]="u_role">-->
                      <!--<option [value]="0">&#45;&#45;请选择&#45;&#45;</option>-->
                      <!--<option [value]="2">管理员</option>-->
                      <!--<option [value]="3">客户部</option>-->
                      <!--<option [value]="4">人事部</option>-->
                      <!--<option [value]="5">产品部</option>-->
                      <!--<option [value]="6">库管部</option>-->
                      <!--<option [value]="7">销售部</option>-->
                      <!--<option [value]="8">自定义</option>-->
                    <!--</select> <i></i> </label>-->
                <!--</section>-->
              <!--</div>-->
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label txt-color-blue">姓名<span  class="asterisk-color">*</span></label>
                  <label class="input">
                    <input  type="text" name="u_username" [(ngModel)]="u_username">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label ">性别</label>
                  <label   class="select form-control border-0">
                    <select name="u_gender" [(ngModel)]="u_gender">
                      <option value="0">--请选择--</option>
                      <option value="1">男</option>
                      <option value="2">女</option>
                    </select><i></i>
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label">年龄</label>
                  <label class="input">
                    <input  type="number" name="u_age" [(ngModel)]="u_age">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label ">电话号码</label>
                  <label class="input">
                    <input  type="text" name="u_phone" [(ngModel)]="u_phone">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section>
                  <label class="label">备注</label>
                  <label class="textarea textarea-resizable">
                    <textarea  class="custom-scroll" rows="3" name="u_notes" [(ngModel)]="u_notes"></textarea>
                  </label>
                </section>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <!--<button class="btn btn-success btn-sm" type="button"><span class="glyphicon glyphicon-plus"></span>保存并新增</button>-->
        <button type="button" class="btn btn-primary" (click)="onSubmit();">保存</button>
        <button type="button" class="btn btn-default" (click)="clear_();lgModal.hide()">返回</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #detailModal="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="clear_();detailModal.hide()">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'></h3>
        <h4 class="modal-title">员工信息</h4>
      </div>
      <div class="modal-body height-overflow-380">
        <div class="row ">
          <div class="col-sm-12">
            <div class="" >
              <P class="alert alert-info">基本信息</P>
              <table class="table table-striped table-forum">
                <tbody>
                <tr>
                  <td class="width-120">编号:</td>
                  <td class="">{{userInfo?.result?.u_number}}</td>
                  <td class="width-120">姓名:</td>
                  <td >{{userInfo?.result?.u_username}}</td>

                </tr>
                <tr  style="display: none;">
                  <td class="width-120">登录账号:</td>
                  <td >{{userInfo?.result?.name}}</td>
                  <td class="width-120">角色:</td>
                  <td class="">{{userInfo?.result?.u_role}}</td>
                </tr>
                <tr>
                  <td class="width-120">性别:</td>
                  <td class="">{{userInfo?.result?.u_gender}}</td>
                  <td class="width-120">年龄:</td>
                  <td >{{userInfo?.result?.u_age}}</td>
                </tr>
                <tr>
                  <td class="width-120">电话号码:</td>
                  <td class="" colspan="3">{{userInfo?.result?.u_phone}}</td>
                </tr>
                <tr>
                  <td class="width-120">备注:</td>
                  <td class="" colspan="3">{{userInfo?.result?.u_notes}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clear_();detailModal.hide()">返回</button>
      </div>
    </div>
  </div>
</div>






