<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['矿易帮设置', '订单设置']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>

  </div>
  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs pull-left in">

        <li [class.active]="state.tabs.demo5=='iss1'" class="active">
          <a (click)="state.tabs.demo5 = 'iss1'">结算方式</a>
        </li>
        <li [class.active]="state.tabs.demo5=='iss2'">
          <a (click)="state.tabs.demo5 = 'iss2'">运输方式 </a>
        </li>
      </ul>
    </header>
    <div>
      <div class="widget-body">
        <tabset>
          <tab [active]="state.tabs.demo5 == 'iss1'">
            <div class="row">
              <article class="col-sm-12 col-md-12 col-lg-6">

                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">

                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-plus"></i>
                        添加结算方式
                      </alert>
                      <form [formGroup]="formModel" (ngSubmit)="onSubmitOrderCategory()" novalidate class="smart-form ">
                        <fieldset>
                          <section>
                            <label class="input">
                              <input type="text" required
                                     placeholder="请输入结算方式" minlength="1" maxlength="20" formControlName="category_desc" name="category_desc">
                              <input type="hidden" value="8" formControlName="category_type" name="category_type">
                              <input type="hidden" value="" formControlName="category_id" name="category_id">

                            </label>
                          </section>
                        </fieldset>
                        <footer>
                          <button  type="submit" class="btn btn-primary">
                            保存
                          </button>

                        </footer>
                      </form>

                    </div>
                  </div>

                </sa-widget>


              </article>

              <article class="col-sm-12 col-md-12 col-lg-6">

                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">


                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-spoon"></i>
                        结算方式
                      </alert>
                      <div class="table-responsive">

                        <table class="table table-hover table-bordered">
                          <thead>
                          <tr>
                            <th>结算方式 </th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let cl of orderCategoryList.result?.data">
                            <td>{{ cl.category_desc }}</td>
                            <td><a class="btn btn-warning btn-xs" (click)="editOrderCategory(8,cl.category_id, cl.category_desc)" ><span class="glyphicon glyphicon-pencil"></span>修改</a>
                              <a class="btn btn-danger btn-xs" (click)="deleteOrderCategory(8,cl.category_id,orderCategoryList.result?.current_page)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                            </td>
                          </tr>

                          </tbody>


                        </table>

                        <div class="dataTables_paginate">
                          <ul class="pagination">
                            <li>
                              <a (click)="pagination(8,orderCategoryList.result?.prev_page_url)"><i class="fa fa-arrow-left"></i></a>
                            </li>
                            <li>
                              <a (click)="pagination(8,orderCategoryList.result?.next_page_url)"><i class="fa fa-arrow-right"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                </sa-widget>



              </article>

            </div>
          </tab>
          <tab [active]="state.tabs.demo5 == 'iss2'">
            <div class="row">
              <article class="col-sm-12 col-md-12 col-lg-6">

                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">

                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-plus"></i>
                        添加运输方式
                      </alert>

                      <form [formGroup]="formModelSource" (ngSubmit)="onSubmitSource()" novalidate class="smart-form ">
                        <fieldset>
                          <section>
                            <label class="input">
                              <input type="text" required
                                     placeholder="请输入运输方式" minlength="1" maxlength="20" formControlName="category_desc" name="category_desc">
                              <input type="hidden" value="9" formControlName="category_type" name="category_type">
                              <input type="hidden" value="" formControlName="category_id" name="category_id">

                            </label>
                          </section>
                        </fieldset>
                        <footer>
                          <button type="submit" class="btn btn-primary">
                            保存
                          </button>

                        </footer>
                      </form>

                    </div>
                  </div>

                </sa-widget>


              </article>

              <article class="col-sm-12 col-md-12 col-lg-6">

                <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                           [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">

                  <div>
                    <div class="widget-body no-padding">
                      <alert type="info" class="no-margin" >
                        <i class="fa-fw fa fa-spoon"></i>
                        运输方式
                      </alert>
                      <div class="table-responsive">

                        <table class="table table-hover table-bordered">
                          <thead>
                          <tr>
                            <th>运输方式 </th>
                            <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let cl of sourceList.result?.data">
                            <td>{{ cl.category_desc }}</td>
                            <td><a class="btn btn-warning btn-xs" (click)="editOrderCategory(9,cl.category_id, cl.category_desc)" ><span class="glyphicon glyphicon-pencil"></span>修改</a>
                              <a class="btn btn-danger btn-xs" (click)="deleteOrderCategory(9,cl.category_id,sourceList.result?.current_page)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                            </td>
                          </tr>
                          </tbody>

                        </table>

                        <div class="dataTables_paginate">
                          <ul class="pagination">
                            <li>
                              <a (click)="pagination(9,sourceList.result?.prev_page_url)"><i class="fa fa-arrow-left"></i></a>
                            </li>
                            <li>
                              <a (click)="pagination(9,sourceList.result?.next_page_url)"><i class="fa fa-arrow-right"></i></a>
                            </li>
                          </ul>
                        </div>

                      </div>

                    </div>
                  </div>

                </sa-widget>

              </article>

            </div>
          </tab>

        </tabset>
      </div>
    </div>
  </sa-widget>


</div>
