<!-- RIBBON -->
<div id="ribbon">
  <div class="row">
    <div class="form-group col col-sm-9">
      <ul class="nav nav-pills nav-pills-head mb-3" id="pills-tab" role="tablist">
        <li class="nav-item"   *ngFor="let n of navList;let ind = index;" class="{{n.class_}}">
          <a class="nav-link" routerLink="{{n.url}}"><i class="fa fa-lg fa-fw display-initial {{n.icon}}"></i> {{n.title}}
            <span class="glyphicon glyphicon-remove" (click)="removeTopTab($event,ind,1)"></span></a>
        </li>
      </ul>

      <!--<ul class="nav nav-pills beyond-pills">-->
        <!--<li *ngFor="let n of navList;let ind = index;" class="{{n.class_}}">-->
          <!--<a routerLink="{{n.url}}"><i class="fa fa-lg fa-fw display-initial {{n.icon}}"></i> {{n.title}}-->
            <!--<span class="glyphicon glyphicon-remove" (click)="removeTopTab($event,ind,1)"></span>-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    </div>
    <div class="form-group col col-sm-2" *ngIf="navListMore.length != 0">

      <div class="nav nav-pills  nav-pills-head" >
        <span  id="dropdownMenu1" data-toggle="dropdown" style="float:right;padding-right:30px;" class=""><a href="#">更多<span class="fa fa-caret-down padding-left-5"></span></a></span>
        <ul class="dropdown-menu dropdown-menu-right nav-pills  nav-pills-head" style="width:200px;" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation" *ngFor="let nm of navListMore;let indm = index;" class="{{nm.class_}}">
            <a role="menuitem" tabindex="-1" routerLink="{{nm.url}}">
              <i class="fa fa-lg fa-fw fa-home"></i>{{nm.title}}
              <span class="glyphicon glyphicon-remove" (click)="removeTopTab($event,indm,2)"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
