<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a routerLink="/auth/register" class="btn btn-danger">Create account</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form class="smart-form client-form" (ngSubmit)="onSubmit(myForm.value, myForm.valid)" #myForm="ngForm" novalidate>
            <header>
              Sign In
            </header>
            <fieldset>
              <section>
                <label class="label">客户编号</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" minlength="1" ngModel required name="cNumber">
                </label>
              </section>

              <section>
                <label class="label">用户编号</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" minlength="1" ngModel required name="uNumber">
                </label>
              </section>

              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" ngModel minlength="6" data-smart-validate-input="" data-required="" data-minlength="3" data-message="Please enter your email password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                    your password</b>

                  <div [hidden]="!myForm.form.hasError('minlength','password')">
                    用户名最小长度是6
                  </div>
                </label>
                <div class="note">
                  <a routerLink="/auth/forgot-password">Forgot password?</a>
                </div>
              </section>
              <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked>
                  <i></i>Stay signed in</label>
              </section>
            </fieldset>
            <footer>
              <button class="btn btn-primary" [disabled]="!myForm.form.valid">
                Sign in
              </button>
            </footer>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
