<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="I3OT"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">需要一个新帐户吗?</span> <a routerLink="/auth/register" class="btn btn-danger">注册账户</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="text-primary login-header-big">I3oT一体化办公云平台</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
          </div>
          <img src="assets/img/login-img.png" class="pull-right display-image" alt="" style="width:400px">
        </div>
        <ul class="login-text" >
          <li>
            <div class="col">
              <h5 class="about-heading">关于</h5>
              <p>
                版权所有 © 2015-2018 成都矿易帮信息科技有限公司     蜀ICP备16000670号-1
              </p>
            </div>
          </li>
          <li>
            <div class="col">
              <h5 class="about-heading">联系我们</h5>

              <p>
                单位地址：四川省成都市下南大街59号世代锦江国际酒店25楼
                如有任何意见与建议请写信至：i3ot@kuangyibang.com
              </p>
              <h5 class=" txt-color-red login-header-big">演示账号</h5>

              <p>
                企业登录：（客户ID:demo 用户ID：ux9528 密码：123456）
              </p>
            </div>

          </li>

        </ul>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">

        <div class="login-box clearfix">
          <ul class="flex-container ">
            <li class="flex-item " [ngClass] = "item==0 ? 'login-item' : ''" (click)="OnItemClick(0)"  >企业登录</li>
            <li class="flex-item " [ngClass] = "item==1 ? 'login-item' : ''" (click)="OnItemClick(1)" >个人登录</li>
          </ul>

          <div class="login-user" >
            <div class=""  [style.display] = "item == 0 ? 'block' : 'none'">

              <form class=" "  (ngSubmit)="onSubmit(myForm.value, myForm.valid)" #myForm="ngForm" novalidate >
                <div class="form-group">
                  <label class="label">客户ID</label>
                  <input class="form-control" type="text" placeholder="请输入客户ID"  minlength="1" ngModel required name="cNumber">
                </div>
                <div class="form-group">
                  <label class="label">用户ID</label>
                  <input class="form-control" type="text" placeholder="请输入用户ID" minlength="1" ngModel required name="uNumber">
                </div>

                <div class="form-group">
                  <label class="label">密码</label>
                  <input class="form-control" placeholder="请输入密码"  type="password" name="password" ngModel minlength="6" data-smart-validate-input="" data-required="" data-minlength="3" data-message="Please enter your email password">
                  <b [hidden]="!myForm.form.hasError('minlength','password')" class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>密码最小长度是6</b>
                  <div class="note">
                    <a routerLink="/auth/forgot-password">找回密码</a>
                  </div>
                </div>

                <div class="form-group custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"  name="remember" checked>
                  <label class="custom-control-label" >记住密码，下次自动登录</label>
                </div>

                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block login-btn" [disabled]="!myForm.form.valid">
                    登录
                  </button>
                </div>

              </form>

            </div>
            <div class=""  [style.display] = "item == 1 ? 'block' : 'none'">

              <form  novalidate>
                <div class="form-group">
                  <label class="label">用户名或手机号码</label>
                  <input class="form-control" placeholder="请输入用户名或手机号码" type="text" minlength="1" ngModel required name="uNumber" disabled="disabled">
                </div>
                <div class="form-group">
                  <label class="label">密码</label>
                  <input class="form-control" disabled="disabled" placeholder="请输入密码" type="password" name="password" ngModel minlength="6" data-smart-validate-input="" data-required="" data-minlength="3"  >
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>密码最小长度是6</b>

                  <div class="note">
                    <a routerLink="/auth/forgot-password">找回密码</a>
                  </div>
                </div>

                <div class="form-group custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input"  name="remember" checked>
                  <label class="custom-control-label" >记住密码，下次自动登录</label>
                </div>

                <div class="form-group">
                  <p class="txt-color-red" style="padding-bottom:10px;">暂不开放</p>
                </div>

                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block login-btn" [disabled]="!myForm.form.valid">
                    登录
                  </button>
                </div>

              </form>

            </div>



          </div>



        </div>
        <h5 class="text-center"> -使用第三方账号 -</h5>
        <ul class="list-inline text-center icon-set">
          <li>
            <a (click)="(null)" ><i class="icon-set_wechat"></i></a>
          </li>
          <li>
            <a (click)="(null)" ><i class="icon-set_nailing"></i></a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>
