<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="I3OT"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">需要一个新帐户吗?</span> <a routerLink="/auth/register" class="btn btn-danger">注册账户</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="text-primary login-header-big">I3oT一体化办公云平台</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
          </div>
          <img src="assets/img/login-img.png" class="pull-right display-image" alt="" style="width:400px">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">关于</h5>

            <p>
              版权所有 © 2015-2018 成都矿易帮信息科技有限公司     蜀ICP备16000670号-1
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">联系我们</h5>

            <p>
              单位地址：四川省成都市下南大街59号世代锦江国际酒店25楼
              如有任何意见与建议请写信至：i3ot@kuangyibang.com
            </p>
            <h5 class=" txt-color-red login-header-big">演示账号</h5>

            <p>
            企业登录：（客户ID:demo 用户ID：ux9528 密码：123456）
            </p>
          </div>
        </div>
      </div>



      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">

        <div class="well no-padding">

          <ul id="myTab" class="nav nav-tabs text-align-center" >
            <li class="active"  style="width: 50%;">
              <a href="#home" data-toggle="tab">
                个人登录
              </a>
            </li>
            <li style="width: 50%;"><a href="#ios" data-toggle="tab" >企业登录</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <form class="smart-form client-form" (ngSubmit)="onSubmit(myForm.value, myForm.valid)" #myForm="ngForm" novalidate>
                <fieldset>

                  <section>
                    <label class="label">用户名或手机号码</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input class="form-control" placeholder="请输入用户名或手机号码" type="text" minlength="1" ngModel required name="uNumber" disabled="disabled">
                    </label>
                  </section>

                  <section>
                    <label class="label">密码</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input class="form-control" disabled="disabled" placeholder="请输入密码" type="password" name="password" ngModel minlength="6" data-smart-validate-input="" data-required="" data-minlength="3"  >
                      <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>密码最小长度是6</b>

                    </label>
                    <div class="note">
                      <a routerLink="/auth/forgot-password">找回密码</a>
                    </div>
                  </section>
                  <section>
                    <label class="checkbox">
                      <input type="checkbox" name="remember" checked>
                      <i></i>记住密码，下次自动登录</label>
                  </section>

                  <p class="txt-color-red">暂不开放</p>
                </fieldset>




                <footer>
                  <button class="btn btn-primary" [disabled]="!myForm.form.valid">
                    登录
                  </button>
                </footer>
              </form>

            </div>
            <div class="tab-pane fade" id="ios">
              <form class="smart-form client-form" (ngSubmit)="onSubmit(myForm.value, myForm.valid)" #myForm="ngForm" novalidate>
                <fieldset>
                  <section>
                    <label class="label">客户ID</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input type="text" placeholder="请输入客户ID"  minlength="1" ngModel required name="cNumber">
                    </label>
                  </section>

                  <section>
                    <label class="label">用户ID</label>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                      <input type="text" placeholder="请输入用户ID" minlength="1" ngModel required name="uNumber">
                    </label>
                  </section>

                  <section>
                    <label class="label">密码</label>
                    <label class="input"> <i class="icon-append fa fa-lock"></i>
                      <input placeholder="请输入密码"  type="password" name="password" ngModel minlength="6" data-smart-validate-input="" data-required="" data-minlength="3" data-message="Please enter your email password">
                      <b [hidden]="!myForm.form.hasError('minlength','password')" class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>密码最小长度是6</b>


                    </label>
                    <div class="note">
                      <a routerLink="/auth/forgot-password">找回密码</a>
                    </div>
                  </section>
                  <section>
                    <label class="checkbox">
                      <input type="checkbox" name="remember" checked>
                      <i></i>记住密码，下次自动登录</label>
                  </section>
                </fieldset>
                <footer>
                  <button class="btn btn-primary" [disabled]="!myForm.form.valid">
                    登录
                  </button>
                </footer>
              </form>
            </div>
          </div>
        </div>


        <h5 class="text-center"> -使用第三方账号 -</h5>
        <ul class="list-inline text-center icon-set">
          <li>
            <a (click)="(null)" ><i class="icon-set_wechat"></i></a>
          </li>
          <li>
            <a (click)="(null)" ><i class="icon-set_nailing"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
