<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['销售管理', '添加订单']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [editbutton]="false" [deletebutton]="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>添加订单 </h2>
          </header>
          <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
              <form id="smart-form-register" class="smart-form" [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate>
                <fieldset>
                  <legend>基本信息</legend>
                  <input type="hidden" name="o_id" formControlName="o_id" >

                  <!--<div class="row">
                    &lt;!&ndash;<section class="col col-6">&ndash;&gt;
                      &lt;!&ndash;<div class="col col-8">&ndash;&gt;
                        &lt;!&ndash;<label class="label "> 型号</label>&ndash;&gt;
                        &lt;!&ndash;<label class="select">&ndash;&gt;
                          &lt;!&ndash;<select name="o_specification"  formControlName="o_specification">&ndash;&gt;
                            &lt;!&ndash;<option *ngFor="let c7 of orderList.result?.categoryList7" [selected]="order_info.result?.o_specification == c7.category_id" value="{{c7.category_id}}">{{c7.category_desc}}</option>&ndash;&gt;
                          &lt;!&ndash;</select> <i></i>&ndash;&gt;
                        &lt;!&ndash;</label>&ndash;&gt;
                      &lt;!&ndash;</div>&ndash;&gt;
                      &lt;!&ndash;<div class="col col-4">&ndash;&gt;
                        &lt;!&ndash;<label > </label>&ndash;&gt;
                        &lt;!&ndash;<button type="button" class="btn btn-primary btn-sm btn-block">&ndash;&gt;
                          &lt;!&ndash;添加型号&ndash;&gt;
                        &lt;!&ndash;</button>&ndash;&gt;
                      &lt;!&ndash;</div>&ndash;&gt;
                    &lt;!&ndash;</section>&ndash;&gt;
                    &lt;!&ndash;<section class="col col-6">&ndash;&gt;
                      &lt;!&ndash;<label class="label "> 产品</label>&ndash;&gt;
                      &lt;!&ndash;<label class="select">&ndash;&gt;
                        &lt;!&ndash;<select  name="p_id" formControlName="p_id" >&ndash;&gt;
                          &lt;!&ndash;<option *ngFor="let p of orderList.result?.productList" [selected]="order_info.result?.p_id == p.p_id" value="{{p.p_id}}">{{p.p_name}}</option>&ndash;&gt;
                        &lt;!&ndash;</select> <i></i>&ndash;&gt;
                      &lt;!&ndash;</label>&ndash;&gt;
                    &lt;!&ndash;</section>&ndash;&gt;
                  </div>-->
                  <!--<section>-->
                    <!--<label class="label">参数内容</label>-->
                    <!--<label class="textarea textarea-resizable">-->
                      <!--<textarea class="custom-scroll" name="o_specification_content" formControlName="o_specification_content" rows="3"></textarea>-->
                    <!--</label>-->
                  <!--</section>-->
                  <div class="row">
                    <section class="col col-6">
                      <label class="label">订单号/合同号</label>
                      <label class="input">
                        <input type="text" name="o_order" maxlength="20" formControlName="o_order" placeholder="请输入订单号/合同号 "/>
                      </label>
                    </section>

                    <section class="col col-6">
                      <label class="label">数量</label>
                      <label class="input">
                        <input type="number" maxlength="10" name="o_quantity" formControlName="o_quantity" placeholder="请输入数量 "/>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">计量单位</label>
                      <label class="input">
                        <input type="text"  maxlength="10" name="o_unit" formControlName="o_unit" placeholder="请输入单位 "/>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">单价/元</label>
                      <label class="input">
                        <input type="number"  maxlength="6" name="o_unit_price" formControlName="o_unit_price" placeholder="请输入单价/单位 "/>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">总价/元</label>
                      <label class="input">
                        <input type="number"  maxlength="8" name="o_total_price" formControlName="o_total_price" placeholder="请输入总价/单位 "/>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label ">产品</label>
                      <label class="select">
                        <select  name="p_id" formControlName="p_id" [(ngModel)]="p_id_default">
                          <option *ngFor="let p of orderList.result?.productList" [selected]="order_info.result?.p_id == p.p_id || this.o_id == 0" value="{{p.p_id}}">{{p.p_name}}</option>
                        </select> <i></i>
                      </label>
                    </section>




                  </div>


                  <div class="row">
                    <!-- <div class="row">

                     <section class="col col-6">
                       <div class=" col-lg-4">
                         <label class="label "> 一级类型</label>
                         <label class="select">
                           <select name="o_category1" formControlName="o_category1" (change)="getOrderChild($event.target.value,1)" [(ngModel)]="category_id1_default">
                             <option *ngFor="let c of orderList.result?.categoryList6" [selected]="order_info.result?.o_category1 == c.category_id || this.o_id == 0" value="{{c.category_id}}">{{c.category_desc}}</option>
                           </select> <i></i>
                         </label>
                       </div>
                       <div class="col col-lg-4">
                         <label class="label "> 二级类型</label>
                         <label class="select">
                           <select name="o_category2" formControlName="o_category2" [(ngModel)]="category_id2_default">
                             <option *ngFor="let pc of childCategory.result" [selected]="order_info.result?.o_category2 == pc.category_id" value="{{pc.category_id}}">{{pc.category_desc}}</option>
                           </select> <i></i>
                         </label>
                       </div>
                       <div class="col col-lg-2">
                         <button type="button" class="btn btn-info btn-sm margin-top-26 ">
                           添加类型
                         </button>
                       </div>
                     </section>
                   </div>-->
                    <div class="col-6">
                      <section class="col col-4">
                        <label class="label">一级类型</label>
                        <label class="select">
                          <select name="o_category1" formControlName="o_category1" (change)="getOrderChild($event.target.value,1)" [(ngModel)]="category_id1_default">
                            <option *ngFor="let c of orderList.result?.categoryList6" [selected]="order_info.result?.o_category1 == c.category_id || this.o_id == 0" value="{{c.category_id}}">{{c.category_desc}}</option>
                          </select> <i></i>
                        </label>
                      </section>
                      <section class="col col-4">
                        <label class="label">二级类型</label>
                        <label class="select">
                          <select name="o_category2" formControlName="o_category2" [(ngModel)]="category_id2_default">
                            <option *ngFor="let pc of childCategory.result" [selected]="order_info.result?.o_category2 == pc.category_id" value="{{pc.category_id}}">{{pc.category_desc}}</option>
                          </select> <i></i>
                        </label>
                      </section>
                      <section class="col col-4">
                        <button type="button"  class="btn btn-info btn-sm margin-top-26 ">
                          添加类型
                        </button>
                      </section>
                    </div>
                    <section class="col col-6">
                      <label class="label "> 出库仓库</label>
                      <label class="select">
                        <select  name="o_out_storehouse" formControlName="o_out_storehouse" [(ngModel)]="o_out_storehouse_default">
                          <option *ngFor="let s of orderList.result?.storehouseList" [selected]="order_info.result?.o_out_storehouse == s.storehouse_id || this.o_id == 0" value="{{s.storehouse_id}}">{{s.storehouse_name}}</option>
                        </select> <i></i>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">出库时间</label>
                      <label class="input"> <i class="icon-append fa fa-calendar"></i>
                        <input type="date"  maxlength="20" name="o_out_storehouse_time" formControlName="o_out_storehouse_time" placeholder="出库时间"
                               saUiDatepicker date-format="dd/mm/yy" />
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label "> 销售质检员</label>
                      <label class="select">
                        <select  name="o_inspector" formControlName="o_inspector" [(ngModel)]="o_inspector_default">
                          <option *ngFor="let u of orderList.result?.userList" [selected]="order_info.result?.o_inspector == u.id || this.o_id == 0" value="{{u.id}}">{{u.u_username}}</option>
                        </select> <i></i> </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">运单号</label>
                      <label class="input">
                        <input type="text"  maxlength="20" name="o_waybill_number" formControlName="o_waybill_number" placeholder="请输入运单号 "/>
                      </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">交货地点</label>
                      <label class="input">
                        <input type="text"  maxlength="50" name="o_receiver_address" formControlName="o_receiver_address" placeholder="请输入交货地点 "/>
                      </label>
                    </section>
                    <section class="col col-6">
                      <div class="">
                        <label class="label "> 结算方式</label>
                        <label class="select">
                          <select  name="o_payment_method" formControlName="o_payment_method" [(ngModel)]="o_payment_method_default">
                            <option *ngFor="let c8 of orderList.result?.categoryList8" [selected]="order_info.result?.o_payment_method == c8.category_id || this.o_id == 0" value="{{c8.category_id}}">{{c8.category_desc}}</option>
                          </select> <i></i>
                        </label>
                      </div>

                    </section>

                    <section class="col col-6">
                      <label class="label "> 购买公司</label>
                      <label class="select">
                        <select name="o_buy_company_id" formControlName="o_buy_company_id" [(ngModel)]="o_buy_company_id_default">
                          <option *ngFor="let c of orderList.result?.customerList" [selected]="order_info.result?.o_buy_company_id == c.c_id || this.o_id == 0" value="{{c.c_id}}">{{c.c_name}}</option>
                        </select> <i></i> </label>
                    </section>
                    <section class="col col-6">
                      <div class=" ">
                        <label class="label "> 运输方式</label>
                        <label class="select">
                          <select  name="o_delivery_method" formControlName="o_delivery_method" [(ngModel)]="o_delivery_method_default">
                            <option *ngFor="let c9 of orderList.result?.categoryList9" [selected]="order_info.result?.o_delivery_method == c9.category_id || this.o_id == 0" value="{{c9.category_id}}">{{c9.category_desc}}</option>
                          </select> <i></i>
                        </label>
                      </div>
                    </section>
                    <section class="col col-6">
                      <label class="label "> 销售人员</label>
                      <label class="select">
                        <select  name="u_id" formControlName="u_id" [(ngModel)]="u_id_default">
                          <option *ngFor="let u of orderList.result?.userList" [selected]="order_info.result?.u_id == u.id || this.o_id == 0" value="{{u.id}}">{{u.u_username}}</option>
                        </select> <i></i> </label>
                    </section>
                    <section class="col col-6">
                      <label class="label">订单状态</label>
                      <div class="inline-group">
                        <label class="radio">
                          <input type="radio" [checked]="order_info.result?.o_is_complete == 1" [value]="1" name="o_is_complete" formControlName="o_is_complete">
                          <i></i>已完成</label>
                        <label class="radio">
                          <input type="radio" [checked]="order_info.result?.o_is_complete == 2" [value]="2" name="o_is_complete" formControlName="o_is_complete">
                          <i></i>进行中</label>
                      </div>
                    </section>
                  </div>
                  <section>
                    <label class="label">备注说明</label>
                    <label class="textarea textarea-resizable">
                      <textarea class="custom-scroll" rows="3" name="o_notes" formControlName="o_notes"></textarea>
                    </label>
                  </section>
                </fieldset>

                <footer>
                  <button type="submit" class="btn btn-primary">
                    保存
                  </button>
                </footer>
              </form>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </sa-widget>
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->






</div>
