<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs *ngIf="o_id == 0" [items]="['销售管理', '添加订单']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
    <sa-big-breadcrumbs *ngIf="o_id != 0" [items]="['销售管理', '修改订单']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [editbutton]="false" [deletebutton]="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2 *ngIf="o_id == 0">添加订单</h2>
            <h2 *ngIf="o_id != 0">修改订单</h2>
          </header>
          <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
              <form id="smart-form-register" class="smart-form" [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate>
                <fieldset>
                  <legend>基本信息</legend>
                  <input type="hidden" name="o_id" formControlName="o_id" >
                  <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label">订单号/合同号</label>
                      <label class="input">
                        <input type="text" name="o_order" maxlength="20" formControlName="o_order" placeholder="请输入订单号/合同号 "/>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label ">产品批号</label>
                      <label class="select">
                        <select  name="p_id" formControlName="p_id" [(ngModel)]="p_id_default" (change)="showProInfo($event)">
                          <option [selected]="this.o_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let p of orderList.result?.productList" [selected]="order_info.result?.p_id == p.p_id" value="{{p.p_id}}">{{p.p_product_id}}({{p.p_name}})</option>
                        </select> <i></i>
                      </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <div [ngClass]="{ 'row  product-batch well':true,'select-hidden':is_show_pro_info}">
                      <div class="col-lg-4">
                        <ul class="list-unstyled">
                          <li>
                            <span ><strong>产品名称：</strong>{{product_info.result?.p_name}}</span>
                          </li>
                          <li>
                            <span ><strong>入库时间：</strong>{{product_info.result?.p_storage_time}}</span>
                          </li>
                          <li>
                            <span><strong>剩余总量：</strong>{{product_info.result?.p_t_quantity}}</span>
                          </li>

                        </ul>
                      </div>
                      <div class="col-lg-4">
                        <ul class="list-unstyled">
                          <li>
                            <span ><strong>类型：</strong>一级:{{product_info.result?.category1}}&nbsp;&nbsp;&nbsp;&nbsp;二级:{{product_info.result?.category2}}</span>
                          </li>
                          <li>
                            <span><strong>内部质检员：</strong>{{product_info.result?.u_username}}</span>
                          </li>
                          <li>
                          <span ><strong>是否合格：</strong>
                          <span [ngSwitch]="product_info.result?.p_is_acceptable">
                            <span *ngSwitchCase="1">合格</span>
                            <span *ngSwitchCase="2">不合格</span>
                            <span *ngSwitchDefault>未知</span>
                          </span></span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-4">
                        <ul class="list-unstyled">
                          <li>
                            <span ><strong>存放仓库：</strong>{{product_info.result?.storehouse_name}}</span>
                          </li>
                          <li>
                            <span ><strong>参数内容：</strong>{{product_info.result?.p_specification}}</span>
                          </li>
                          <!--<li>-->
                          <!--<span><strong>质检日期：</strong>读取质检日期</span>-->
                          <!--</li>-->
                        </ul>
                      </div>
                    </div>

                  </div>
                  
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label">元/吨</label>
                      <label class="input">
                        <input type="number" (blur)="saveNum()" maxlength="6" name="o_unit_price" formControlName="o_unit_price" placeholder="请输入单价(元/吨) "/>
                      </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label">数量</label>
                      <label class="input">
                        <input type="number" (blur)="saveNum()" required minlength="1" maxlength="10" name="o_quantity" formControlName="o_quantity" placeholder="请输入数量 "/>
                      </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label">总价</label>
                      <label class="input">
                        <input type="text" disabled="disabled" maxlength="8" name="o_total_price" formControlName="o_total_price"/>
                      </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label "> 购买公司</label>
                      <label class="select">
                        <select name="o_buy_company_id" formControlName="o_buy_company_id" [(ngModel)]="o_buy_company_id_default">
                          <option *ngFor="let c of orderList.result?.customerList" [selected]="order_info.result?.o_buy_company_id == c.c_id || this.o_id == 0" value="{{c.c_id}}">{{c.c_name}}</option>
                        </select> <i></i> </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label">销售时间</label>
                      <label class="input">
                        <input type="date"  maxlength="20" placeholder="销售时间"
                               saUiDatepicker date-format="dd/mm/yy"  name="o_sales_time" formControlName="o_sales_time"  />
                      </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label "> 销售人员</label>
                      <label class="select">
                        <select  name="u_id" formControlName="u_id" [(ngModel)]="u_id_default">
                          <option *ngFor="let u of orderList.result?.userList" [selected]="order_info.result?.u_id == u.id || this.o_id == 0" value="{{u.id}}">{{u.u_username}}</option>
                        </select> <i></i> </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <div class=" ">
                        <label class="label "> 运输方式</label>
                        <label class="select">
                          <select  name="o_delivery_method" formControlName="o_delivery_method" [(ngModel)]="o_delivery_method_default">
                            <option *ngFor="let c9 of orderList.result?.categoryList9" [selected]="order_info.result?.o_delivery_method == c9.category_id || this.o_id == 0" value="{{c9.category_id}}">{{c9.category_desc}}</option>
                          </select> <i></i>
                        </label>
                      </div>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label">运单号</label>
                      <label class="input">
                        <input type="text"  maxlength="20" name="o_waybill_number" formControlName="o_waybill_number" placeholder="请输入运单号 "/>
                      </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label">交货地点</label>
                      <label class="input">
                        <input type="text"  maxlength="50" name="o_receiver_address" formControlName="o_receiver_address" placeholder="请输入交货地点 "/>
                      </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <div class="">
                        <label class="label "> 结算方式</label>
                        <label class="select">
                          <select  name="o_payment_method" formControlName="o_payment_method" [(ngModel)]="o_payment_method_default">
                            <option *ngFor="let c8 of orderList.result?.categoryList8" [selected]="order_info.result?.o_payment_method == c8.category_id || this.o_id == 0" value="{{c8.category_id}}">{{c8.category_desc}}</option>
                          </select> <i></i>
                        </label>
                      </div>

                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label">订单状态</label>
                      <div class="inline-group">
                        <label class="radio">
                          <input type="radio" [checked]="order_info.result?.o_is_complete == 1" [value]="1" name="o_is_complete" formControlName="o_is_complete">
                          <i></i>已完成</label>
                        <label class="radio">
                          <input type="radio" [checked]="order_info.result?.o_is_complete == 2" [value]="2" name="o_is_complete" formControlName="o_is_complete">
                          <i></i>进行中</label>
                      </div>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label">是否出库</label>
                      <div class="inline-group">
                        <label class="checkbox"><input type="checkbox" value="1" [checked]="order_info.result?.o_is_out == 1" name="o_is_out" formControlName="o_is_out"><i></i>是</label>
                      </div>
                    </section>

                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <section>
                      <label class="label">备注说明</label>
                      <label class="textarea textarea-resizable">
                        <textarea class="custom-scroll" rows="3" name="o_notes" formControlName="o_notes"></textarea>
                      </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">

                  </div>

                </fieldset>

                <footer>
                  <button type="button" class="btn btn-default" >
                    返回
                  </button>
                  <button type="submit" class="btn btn-primary">
                    保存
                  </button>
                </footer>
              </form>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </sa-widget>
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->


  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="getOrderDefault(2)" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">添加类型</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <section class="col col-md-8">
                <label > 一级</label>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="请输入类型" minlength="1" maxlength="20" [(ngModel)]="category_desc1" name="category_desc1" required>
                </div>
              </section>
              <section class="col col-4">
                <button class="btn btn-warning btn-xs text-center" (click)="submitCategory(1)" style="padding:6px;margin:24px 0;" >
                  <i class="fa fa-plus"></i> <span class="hidden-mobile">保存并添加二级类型</span>
                </button>
              </section>
            </div>
            <div class="col-md-12" style="padding-left:60px;">
              <section class="col col-md-8">
                <label > 二级</label>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="请输入类型" minlength="1" maxlength="20" [(ngModel)]="category_desc2" name="category_desc2" required>
                </div>
              </section>
              <section class="col col-4">
                <button class="btn btn-warning btn-xs text-center" (click)="submitCategory(2)" style="padding:6px;margin:24px 0;" >
                  <i class="fa fa-plus"></i> <span class="hidden-mobile">保存并添加二级类型</span>
                </button>
              </section>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="getOrderDefault(2)">
            关闭
          </button>
        </div>
      </div>
    </div>
  </div>



</div>
