<div id="content">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12 ">
                <sa-widget  [editbutton]="false" [deletebutton]="false">
                    <header>
                        <ul class="nav nav-tabs pull-left in">

                            <li [class.active]="state.tabs.demo5=='iss1'" class="active">
                                <a (click)="state.tabs.demo5 = 'iss1'">待我审批的<span class="badge bg-color-red txt-color-white">99</span></a>
                            </li>
                            <li [class.active]="state.tabs.demo5=='iss2'">
                                <a (click)="state.tabs.demo5 = 'iss2'">我已审批的 </a>
                            </li>
                            <li [class.active]="state.tabs.demo5=='iss3'">
                                <a (click)="state.tabs.demo5 = 'iss3'">我发起的 </a>
                            </li>
                            <li [class.active]="state.tabs.demo5=='iss4'">
                                <a (click)="state.tabs.demo5 = 'iss4'">抄送我的 </a>
                            </li>
                        </ul>
                    </header>
                    <div>
                        <div class="widget-body">
                            <tabset>
                                <tab [active]="state.tabs.demo5 == 'iss1'">
                                    <div class="row">
                                        <app-process-await></app-process-await>
                                    </div>

                                </tab>
                                <tab [active]="state.tabs.demo5 == 'iss2'">
                                    <div class="row">
                                        <app-process-already></app-process-already>
                                    </div>

                                </tab>
                                <tab [active]="state.tabs.demo5 == 'iss3'">
                                    <div class="row">
                                        <app-process-my></app-process-my>
                                    </div>

                                </tab>
                                <tab [active]="state.tabs.demo5 == 'iss4'">
                                    <div class="row">
                                        <app-process-copy></app-process-copy>
                                    </div>

                                </tab>

                            </tabset>
                        </div>
                    </div>
                </sa-widget>

            </article>
        </div>


    </sa-widgets-grid>

</div>


<div class="slide-content"  style="position:fixed;z-index: 99999;" >
    <div class="entity-well entity-well--tasks">

        <div class="entity-well-header" >
            <span  class="approval-head" >某某的通用审批</span>
            <ul class="entity-well-header-nav nav s pull-right">

                <li class="divider-v"></li>
                <li><a class="entity-well-header-close" >
                    <i class="fa fa-times"></i></a>
                </li>
            </ul>
        </div>
        <div class="entity-well-scroll height-nonav height-nonav--notab ng-scope wt-scroll "  style="overflow-x: hidden;overflow-y: auto;">
            <div class="approve-top approve-intro" >
                <div class="approve-moreaction" >
                    <a >
                        <img class="rightIcon" src="assets/img/icon/share.png" name="copysend">
                    </a>
                    <a ><img class="rightIcon" src="assets/img/icon/print.png" name="print" >
                    </a>
                </div>
                <div class="approve-head" >
                    <a class="approval-size" title=" 刘鑫胜多负少的">
                        刘鑫胜多负少的
                    </a>
                    <p class="username" >刘鑫胜多负少的</p>
                    <p class="text-warning" >
                    等待某某审批
                   </p>
                    <p class="text-success" >
                     已同意
                    </p>
                    <p class="text-danger" >
                        已拒绝
                    </p>
                    <p class="text-primary" >
                        已撤销
                    </p>
                </div>

               <!-- 已同意-->
                <div class="approve-result agree pullout" ></div>

                <!--已拒绝-->
                <div class="approve-result refuse pullout" ></div>
                <!--已撤销-->
                <div class="approve-result revoke pullout" ></div>


                <!--请假-->
                <div >
                    <div class="approve-formschema" >
                        <div class="line component-textfield" >
                            <label class="label" >审批编号:</label>
                            <span >201803221022000496456</span>
                        </div>
                        <div class="line component-textareafield">
                            <label class="label" >所在部门:</label>
                            <span >矿易帮</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >请假类型:</label>
                            <span >fhgfg</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >开始时间:</label>
                            <span >2018-03-24</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >结束时间:</label>
                            <span >2018-03-24</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >请假天数:</label>
                            <span >2</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >请假事由:</label>
                            <span >1111111111</span>
                        </div>
                        <div class="line component-ddphotofield">
                            <label class="label" >图片:</label>
                            <div class="picture mb-20">
                                <div class="picture-list ">
                                    <a class="fa fa-times-circle picture-a" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-2.jpg" title="">
                                </div>
                                <div class="picture-list picture-a">
                                    <a class="fa fa-times-circle" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-4.jpg" title="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




                <!--外出-->
                <div >
                    <div class="approve-formschema" >
                        <div class="line component-textfield" >
                            <label class="label" >审批编号:</label>
                            <span >201803221022000496456</span>
                        </div>
                        <div class="line component-textareafield">
                            <label class="label" >所在部门:</label>
                            <span >矿易帮</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >开始时间:</label>
                            <span >2018-03-24</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >结束时间:</label>
                            <span >2018-03-24</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >外出时间（小时）:</label>
                            <span >2</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >外出事由:</label>
                            <span >1111111111</span>
                        </div>
                        <div class="line component-ddphotofield">
                            <label class="label" >图片:</label>
                            <div class="picture mb-20">
                                <div class="picture-list ">
                                    <a class="fa fa-times-circle picture-a" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-2.jpg" title="">
                                </div>
                                <div class="picture-list picture-a">
                                    <a class="fa fa-times-circle" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-4.jpg" title="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--出差-->
                <div>
                    <div class="approve-formschema" >
                        <div class="line component-textfield" >
                            <label class="label" >审批编号:</label>
                            <span >201803221022000496456</span>
                        </div>
                        <div class="line component-textareafield">
                            <label class="label" >所在部门:</label>
                            <span >矿易帮</span>
                        </div>

                    </div>
                    <div class="line approve-formschema">
                        <div class="subs-row" >
                            <label class="label row-label-title" >
                                <span >行程明细1</span>
                            </label>
                            <div class="line component-textfield" >
                                <label class="label" >出差地点</label>
                                <span class="component-content" >地方地方</span>
                            </div>
                            <div class="line component-textfield">
                                <label class="label" >开始时间:</label>
                                <span >2018-03-24</span>
                            </div>
                            <div class="line component-textfield">
                                <label class="label" >结束时间:</label>
                                <span >2018-03-24</span>
                            </div>
                        </div>
                        <div class="subs-row">
                            <label class="label row-label-title" >
                                <span>行程明细2</span>
                            </label>
                            <div class="line component-textfield">
                                <label class="label" >出差地点</label>
                                <span class="component-content" >胜多负少的</span>
                            </div>
                            <div class="line component-textfield">
                                <label class="label" >开始时间:</label>
                                <span >2018-03-24</span>
                            </div>
                            <div class="line component-textfield">
                                <label class="label" >结束时间:</label>
                                <span >2018-03-24</span>
                            </div>
                        </div>
                    </div>
                    <div class="approve-formschema" >
                        <div class="line component-ddphotofield">
                            <label class="label" >图片:</label>
                            <div class="picture mb-20">
                                <div class="picture-list ">
                                    <a class="fa fa-times-circle picture-a" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-2.jpg" title="">
                                </div>
                                <div class="picture-list picture-a">
                                    <a class="fa fa-times-circle" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-4.jpg" title="">
                                </div>

                            </div>
                        </div>
                    </div>

                </div>



                <!--报销-->
                <div>
                    <div class="approve-formschema" >
                        <div class="line component-textfield" >
                            <label class="label" >审批编号:</label>
                            <span >201803221022000496456</span>
                        </div>
                        <div class="line component-textareafield">
                            <label class="label" >所在部门:</label>
                            <span >矿易帮</span>
                        </div>

                    </div>
                    <div class="line approve-formschema">
                        <div class="subs-row" >
                            <label class="label row-label-title" >
                                <span >报销明细1</span>
                            </label>
                            <div class="line component-textfield" >
                                <label class="label" >报销金额(元)</label>
                                <span class="component-content" >12</span>
                            </div>
                            <div class="line component-textfield">
                                <label class="label" >报销类别:</label>
                                <span >12</span>
                            </div>
                            <div class="line component-textfield">
                                <label class="label" >费用明细:</label>
                                <span >4566646</span>
                            </div>
                        </div>
                        <div class="subs-row">
                            <label class="label row-label-title" >
                                <span>报销明细2</span>
                            </label>
                            <div class="line component-textfield" >
                                <label class="label" >报销金额(元)</label>
                                <span class="component-content" >12</span>
                            </div>
                            <div class="line component-textfield">
                                <label class="label" >报销类别:</label>
                                <span >12</span>
                            </div>
                            <div class="line component-textfield">
                                <label class="label" >费用明细:</label>
                                <span >4566646</span>
                            </div>
                        </div>
                        <hr/>
                        <div class="line component-textfield">
                            <label class="label" >总报销金额(元):</label>
                            <span class="text-warning">123123</span>
                        </div>
                    </div>
                    <div class="approve-formschema" >
                        <div class="line component-ddphotofield">
                            <label class="label" >图片:</label>
                            <div class="picture mb-20">
                                <div class="picture-list ">
                                    <a class="fa fa-times-circle picture-a" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-2.jpg" title="">
                                </div>
                                <div class="picture-list picture-a">
                                    <a class="fa fa-times-circle" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-4.jpg" title="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <!--通用审批-->
                <div>
                    <div class="approve-formschema" >
                        <div class="line component-textfield" >
                            <label class="label" >审批编号:</label>
                            <span >201803221022000496456</span>
                        </div>
                        <div class="line component-textareafield">
                            <label class="label" >所在部门:</label>
                            <span >矿易帮</span>
                        </div>
                        <div class="line component-textfield">
                            <label class="label" >申请内容:</label>
                            <span >fhgfg</span>
                        </div>
                        <div class="component-textfield " >
                            <label class="label" >审批详情:</label>
                            <span >fhgfg</span>
                        </div>
                        <div class="line component-ddphotofield">
                            <label class="label" >图片:</label>
                            <div class="picture mb-20">
                                <div class="picture-list ">
                                    <a class="fa fa-times-circle picture-a" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-2.jpg" title="">
                                </div>
                                <div class="picture-list picture-a">
                                    <a class="fa fa-times-circle" style="display:block;"></a>
                                    <img alt="" src="assets/img/superbox/superbox-thumb-4.jpg" title="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <hr/>
            <div class="cl-mcont">
                <ul class="cbp_tmtimeline">
                    <li>
                        <time class="cbp_tmtime" datetime="2018-04-10 18:30"><span>18/04/10</span> <span>18:30</span></time>
                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                        <div class="cbp_tmlabel">
                            <h2>我发起了申请</h2>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2018-04-11 12:04"><span>18/04/11</span> <span>12:04</span></time>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2>我已同意</h2>
                            <p>意见</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2018-04-13 05:36"><span>18/04/13</span> <span>05:36</span></time>
                        <div class="cbp_tmicon cbp_tmicon-mail"></div>
                        <div class="cbp_tmlabel">
                            <h2> 某某同意</h2>
                            <p>意见</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2018-04-15 13:15"><span>18/04/15</span> <span>13:15</span></time>
                        <div class="cbp_tmicon cbp_tmicon-phone"></div>
                        <div class="cbp_tmlabel">
                            <h2>我</h2>
                            <p>评论内容</p>
                        </div>
                    </li>
                    <li>
                        <time class="cbp_tmtime" datetime="2018-04-16 21:30"><span>18/04/16</span> <span>21:30</span></time>
                        <div class="cbp_tmicon cbp_tmicon-earth"></div>
                        <div class="cbp_tmlabel">
                            <h2>某某已拒绝</h2>
                            <p>意见</p>
                        </div>
                    </li>


                </ul>
            </div>
            <div class="entity-well-content">
                <div class="entity-members peopel-bg">
                    <dl class="pd-10">
                        <dt class="ng-binding"><span class="peopel-span">抄送人<small>审批通过后，通知抄送人</small></span></dt>
                        <dd >
                            <ul class="avatars">
                                <li  >
                                    <a class="portrait-size"  title="分隔符">
                                        分隔符
                                    </a>
                                </li>
                                <li   >
                                    <a class="portrait-size"  title="地方个">
                                        地方个
                                    </a>
                                </li>
                                <li >
                                    <a class="portrait-size"  title="风格的个">
                                        风格的个
                                    </a>
                                </li>

                            </ul>
                        </dd>
                    </dl>
                </div>
                <hr class="entity-hr">
                <div class="entity-content-footer">
                    <div  class="ng-binding ng-scope">某某 2018-03-22 14:54，创建了审核</div>
                </div>
            </div>


        </div>
        <div class="body">
            <div class="approve-foot show ">
               <!-- 当我发起审批时页面显示：
                1、审批人是自己：同意、拒绝、撤销、评论、转交
                2、审批人是其他人：催办、撤销、评论
                3、完成审批：评论
                当其他人发起审批时页面显示：
                1、我审批时：同意、拒绝、转交、评论
                2、他人审批中：评论-->

                <div class="tFlexbox tAlignCenter tJustifyCenter" >
                    <div class="tFlex1 approval-action tTap agree" data-toggle="modal" data-target="#opinion" >同意</div>
                    <div class="tFlex1 approval-action tTap refuse" data-toggle="modal" data-target="#opinion">拒绝</div>
                    <div class="tFlex1 approval-action tTap reminders" data-toggle="modal" data-target="#rush">催办</div>
                    <div class="tFlex1 approval-action tTap revoke" data-toggle="modal" data-target="#revocation">撤销</div>
                    <div class="tFlex1 approval-action tTap  comment " data-toggle="modal" data-target="#opinion">评论</div>
                    <div class="tFlex1 approval-action tTap  " data-toggle="modal" data-target="#myModal">转交</div>
                </div>
            </div>



    </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="opinion" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!-- 标题 -->
                <h3 class="modal-title " data-ng-bind='results.title'>审批同意意见</h3>
                <h3 class="modal-title " data-ng-bind='results.title'>审批拒绝意见</h3>
                <h3 class="modal-title " data-ng-bind='results.title'>评论</h3>
            </div>
            <div class="modal-body">
                <form  class="smart-form" >
                    <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <section>
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" rows="8" name="" placeholder=""></textarea>
                            </label>
                        </section>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn btn-primary" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 撤销 -->
<div class="modal fade" id="revocation" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!-- 标题 -->
                <h3 class="modal-title " data-ng-bind='results.title'>提示</h3>
            </div>
            <div class="pd-20">
                <div class="text-center pd-20">
                    <h4>你确定要撤销申请吗？</h4>
                </div>
            </div>
            <div class="modal-footer text-center">

                <button type="button" class="btn btn btn-primary  btn-lg" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger  btn-lg" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- 催办 -->
<div class="modal fade" id="rush" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!-- 标题 -->
                <h3 class="modal-title " data-ng-bind='results.title'>催办</h3>
            </div>
            <div class="modal-body">
                <form  class="smart-form" >
                    <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <section>
                            <label class="textarea textarea-resizable">
                                <textarea class="custom-scroll" rows="8" name="" placeholder=""></textarea>
                            </label>
                        </section>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn btn-primary" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--添加员工-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- 关闭按钮 -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <!-- 标题 -->
                <h3 class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>选择人</h3>
            </div>
            <div class="modal-body ">
                <div  class="row">
                    <article  class="col-sm-12">
                        <div class="navbar navbar-default">
                            <div class="collapse navbar-collapse">

                                <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                                    <div class="form-group pdlr-4">
                                        <div class="form-group padding-left-10">
                                            <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15"   name="keyword_product" placeholder="请输入搜索内容" type="text">
                                        </div>
                                        <button class="btn btn-default" type="button" >
                                            <i  class="glyphicon glyphicon-search"></i>
                                            搜索
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="pt">
                    <div class="row margin-b50" style="padding:0 10px;">
                        <article class="form-group col col-xs-4 ">
                            <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                                       [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                                <div>
                                    <div class="widget-body no-padding">
                                        <alert type="info" class="no-margin">
                                            <i class="fa-fw fa fa-sitemap"></i>
                                            部门分类
                                        </alert>
                                        <div class="pd-10 border-overflow-320" style="margin-top: -11px;">
                                            <div class="widget-body">
                                                <div class="tree smart-form">
                                                    <ul class="">
                                                        <li class=" parent_li">
                                  <span>
                                    <label class="checkbox inline-block tree-label pt-12 ">
                                          <input name="checkbox-inline" type="checkbox"><i></i>
                                   </label>
                                    <i class="fa fa-lg fa-folder-open"></i>矿易帮
                                    <i class="sa-icon fa fa-lg fa-minus-circle"></i>
                                  </span>
                                                            <ul class="">
                                                                <li class=" parent_li">
                                        <span>
                                          <label class="checkbox inline-block tree-label ">
                                            <input name="checkbox-inline" type="checkbox">
                                            <i></i>财务部
                                            <em class="txt-color-blue">(0)</em>
                                          </label>

                                        </span>
                                                                </li>
                                                                <li class=" parent_li">
                                        <span>
                                          <label class="checkbox inline-block tree-label ">
                                            <input name="checkbox-inline" type="checkbox">
                                            <i></i>互联网部
                                            <em class="txt-color-blue">(0)</em>
                                          </label>

                                        </span>
                                                                </li>
                                                                <li class=" parent_li">
                                        <span>
                                          <label class="checkbox inline-block tree-label ">
                                            <input name="checkbox-inline" type="checkbox">
                                            <i></i>行政部
                                            <em class="txt-color-blue">(0)</em>
                                          </label>
                                           <i class="sa-icon fa fa-lg fa-plus-circle"></i>
                                        </span>
                                                                    <ul class="">
                                                                        <li>
                                            <span>
                                              <label class="checkbox inline-block tree-label">
                                                <input name="checkbox-inline" type="checkbox">
                                                <i></i>财务部
                                                <em class="txt-color-blue">(0)</em>
                                              </label>
                                            </span>
                                                                        </li>
                                                                    </ul>

                                                                </li>
                                                                <li class=" parent_li">
                                        <span>
                                          <label class="checkbox inline-block tree-label ">
                                            <input name="checkbox-inline" type="checkbox">
                                            <i></i>软件部
                                            <em class="txt-color-blue">(2)</em>
                                          </label>
                                        </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dt-toolbar">
                                        </div>
                                    </div>
                                </div>
                            </sa-widget>

                        </article>
                        <article class="form-group col col-xs-8 ">
                            <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                                       [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                                <div>
                                    <div class="widget-body no-padding">
                                        <alert type="info" class="no-margin" >
                                            <i class="fa-fw fa fa-table"></i>
                                            员工列表
                                        </alert>
                                        <div class="mt-10 "  style="padding:0;">
                                            <div style="padding: 0;z-index: 1;" class="table-responsive border-overflow-320">
                                                <table class="table table-striped   smart-form table-height-20">
                                                    <thead>
                                                    <tr>
                                                        <td>
                                                            <label class="checkbox mt-8">
                                                                <input type="checkbox" name="checkbox-inline" >
                                                                <i></i>
                                                            </label>
                                                        </td>
                                                        <th>员工ID </th>
                                                        <th>姓名</th>
                                                        <th>所属部门</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr >
                                                        <td>
                                                            <label class="checkbox mt-8" >
                                                                <input type="checkbox"   />
                                                                <i></i>
                                                            </label>
                                                        </td>
                                                        <td>dgff</td>
                                                        <td>dfgd</td>
                                                        <td>dfgfd</td>
                                                    </tr>
                                                    <tr >
                                                        <td>
                                                            <label class="checkbox mt-8" >
                                                                <input type="checkbox"   />
                                                                <i></i>
                                                            </label>
                                                        </td>
                                                        <td>dgff</td>
                                                        <td>dfgd</td>
                                                        <td>dfgfd</td>
                                                    </tr>
                                                    <tr >
                                                        <td>
                                                            <label class="checkbox mt-8" >
                                                                <input type="checkbox"   />
                                                                <i></i>
                                                            </label>
                                                        </td>
                                                        <td>dgff</td>
                                                        <td>dfgd</td>
                                                        <td>dfgfd</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- 底部-（分页部分）-->
                                        <div class="dt-toolbar">
                                            <div class="col-xs-12 col-sm-6">
                                                <span>共5条</span>
                                            </div>
                                            <div class="hidden-xs right">
                                                <ul class="pagination pagination-sm">
                                                    <li *ngFor="let p of searchProductList?.result?.page" class="{{p.class}}">
                                                        <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                                        <a *ngIf="p.method==''">{{p.text}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </sa-widget>
                            <!-- end widget -->
                        </article>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-ng-click="ok()"><span class="glyphicon glyphicon-plus"></span>选入</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" >返回</button>
            </div>
        </div>
    </div>
</div>

