/*头部框*/
article.sortable-grid {
    min-height: 30px;
}
.clearfix, .inner-spacer:after, .jarviswidget, .jarviswidget-editbox, .jarviswidget>div {
    zoom: 1;
}
.clearfix:after, .clearfix:before, .inner-spacer:after, .inner-spacer:before, .jarviswidget-editbox:after, .jarviswidget-editbox:before, .jarviswidget:after, .jarviswidget:before, .jarviswidget>div:after, .jarviswidget>div:before {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
}

.jarviswidget>header {
    color: #333;
    border: 1px solid #C2C2C2;
    background: #fafafa;
    height: 34px;
    padding: 0;
    line-height: 40px;
}
.ui-sortable .jarviswidget-sortable>header {
    cursor: move;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: normal;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}
.jarviswidget-color-blueDark>header {
    border-color: #45474b!important;
    background: #4c4f53;
    color: #fff
}
.jarviswidget-color-green>header {
    border-color: #306430!important;
    background: #356e35;
    color: #fff
}
.jarviswidget-color-magenta>header {
    border-color: #643167!important;
    background: #6e3671;
    color: #fff
}

.jarviswidget-color-magenta .nav-tabs li:not(.active) a,.jarviswidget-color-magenta>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-magenta .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-pink>header {
    border-color: #a24d7f!important;
    background: #ac5287;
    color: #fff
}

.jarviswidget-color-pink .nav-tabs li:not(.active) a,.jarviswidget-color-pink>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-pink .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-pinkDark>header {
    border-color: #a27998!important;
    background: #a8829f;
    color: #fff
}

.jarviswidget-color-pinkDark .nav-tabs li:not(.active) a,.jarviswidget-color-pinkDark>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-pinkDark .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-yellow>header {
    border-color: #aa9452!important;
    background: #b09b5b;
    color: #fff
}

.jarviswidget-color-yellow .nav-tabs li:not(.active) a,.jarviswidget-color-yellow>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-yellow .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-orange>header {
    border-color: #ba871f!important;
    background: #c79121;
    color: #fff
}

.jarviswidget-color-orange .nav-tabs li:not(.active) a,.jarviswidget-color-orange>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-orange .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-orangeDark>header {
    border-color: #b1811d!important;
    background: #b6841e;
    color: #fff
}

.jarviswidget-color-orangeDark .nav-tabs li:not(.active) a,.jarviswidget-color-orangeDark>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-orangeDark .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-darken>header {
    border-color: #383838!important;
    background: #404040;
    color: #fff
}

.jarviswidget-color-darken>.nav-tabs>li:not(.active)>a,.jarviswidget-color-darken>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-darken .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-purple>header {
    border-color: #665271!important;
    background: #6e587a;
    color: #fff
}

.jarviswidget-color-purple .nav-tabs li:not(.active) a,.jarviswidget-color-purple>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-purple .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-teal>header {
    border-color: #508180!important;
    background: #568a89;
    color: #fff
}

.jarviswidget-color-teal .nav-tabs li:not(.active) a,.jarviswidget-color-teal>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-teal .nav-tabs li a:hover {
    color: #333!important
}



.jarviswidget-color-blueDark .nav-tabs li:not(.active) a,.jarviswidget-color-blueDark>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-blueDark .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-blue>header {
    border-color: #45474b!important;
    background: #4c4f53;
    color: #fff
}

.jarviswidget-color-blue .nav-tabs li:not(.active) a,.jarviswidget-color-blue>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-blue .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-blueLight>header {
    border-color: #a0aeb3!important;
    background: #cbd2d5;
    color: #000
}

.jarviswidget-color-blueLight .nav-tabs li a:hover,.jarviswidget-color-blueLight .nav-tabs li:not(.active) a,.jarviswidget-color-blueLight>header>.jarviswidget-ctrls a {
    color: #2b363c!important
}

.jarviswidget-color-red>header {
    border-color: #9a0325!important;
    background: #a90329;
    color: #fff
}

.jarviswidget-color-red .nav-tabs li:not(.active) a,.jarviswidget-color-red>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-red .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-redLight>header {
    border-color: #9c5353!important;
    background: #a65858;
    color: #fff
}

.jarviswidget-color-redLight .nav-tabs li:not(.active) a,.jarviswidget-color-redLight>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-redLight .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-white>header {
    border-color: #ccc!important;
    background: #fff;
    color: #666
}

.jarviswidget-color-white .nav-tabs li a:hover,.jarviswidget-color-white .nav-tabs li:not(.active) a,.jarviswidget-color-white>header>.jarviswidget-ctrls a {
    color: gray!important
}

.jarviswidget-color-greenDark>header {
    border-color: #436043!important;
    background: #496949;
    color: #fff
}

.jarviswidget-color-greenDark .nav-tabs li:not(.active) a,.jarviswidget-color-greenDark>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-greenDark .nav-tabs li a:hover {
    color: #333!important
}



.jarviswidget-color-green .nav-tabs li:not(.active) a,.jarviswidget-color-green>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-green .nav-tabs li a:hover {
    color: #333!important
}

.jarviswidget-color-greenLight>header {
    border-color: #687a3a!important;
    background: #71843f;
    color: #fff
}

.jarviswidget-color-greenLight .nav-tabs li:not(.active) a,.jarviswidget-color-greenLight>header>.jarviswidget-ctrls a {
    color: #fff!important
}

.jarviswidget-color-greenLight .nav-tabs li a:hover {
    color: #333!important
}
.jarviswidget-ctrls {
    width: auto;
    float: right;
    padding: 0;
    margin: 0;
}
.jarviswidget-ctrls .button-icon {
    min-width: 30px;
    height: 32px;
    float: left;
    position: relative;
    font-family: Arial,Helvetica,sans-serif;
    border-left: 1px solid rgba(0,0,0,.09);
}
.jarviswidget-ctrls .button-icon:hover {
    background-color: rgba(0,0,0,.05)
}

.jarviswidget-ctrls a {
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    line-height: 32px;
    padding: 0;
    margin: 0;
    color: #333;
}
.widget-toolbar {
    display: inline-block;
    float: right;
    width: auto;
    height: 32px;
    line-height: 32px;
    position: relative;
    border-left: 1px solid rgba(0,0,0,.09);
    cursor: pointer;
    padding: 0 8px;
    text-align: center;
}
.widget-toolbar>:first-child {
    text-align: left;
}
.widget-toolbar>.color-box {
    margin-top: 7px;
    width: 18px;
    height: 18px;
    outline: 1px solid rgba(0,0,0,.2);
}
.color-box {
    position: relative;
    vertical-align: middle;
    border: 1px solid rgba(255,255,255,.3)!important;
    outline: 1px solid rgba(0,0,0,.1);
    background: rgba(255,255,255,.3)!important;
}
.color-box, .color-select li span {
    display: block;
    width: 22px;
    height: 22px;
    padding: 0;
    background: #333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.widget-toolbar .dropdown-menu.color-select {
    right: -1px;
}
.color-select {
    list-style: none;
    margin: 0;
    padding: 4px;
    min-width: 166px;
    max-width: 156px;
    right: -3px;
}
.color-select li {
    display: block;
    margin: 2px;
    float: left;
}
.color-select li span:hover {
    border: 3px solid rgba(0,0,0,.2)
}
.jarviswidget-remove-colors {
    color: #333!important;
    padding: 0!important;
    background: none!important
}
.arrow-box-up-right:after,.arrow-box-up-right:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}
.arrow-box-up-right:before {
    border-color: rgba(131,131,131,0);
    border-bottom-color: #838383;
    border-width: 8px;
    right: 9px;
    margin-left: -8px
}
.arrow-box-up-right:after {
    border-color: rgba(255,255,255,0);
    border-bottom-color: #fff;
    border-width: 7px;
    right: 10px;
    margin-left: -7px
}
fieldset {
    position: relative
}
.jarviswidget>header>.widget-icon {
    display: block;
    width: 30px;
    height: 32px;
    position: relative;
    float: left;
    font-size: 111%;
    line-height: 32px;
    text-align: center;
    margin-right: -10px;
}
.jarviswidget>header>h2 {
    margin-left: 10px;
    float: left;
}
.jarviswidget>header h2 {
    height: 100%;
    width: auto;
    display: inline-block;
    font-size: 14px;
    position: relative;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: 0;
}
.jarviswidget-loader {
    width: 32px;
    height: 32px;
    margin: 0;
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    text-align: center;
    line-height: 32px;
    font-size: 111%;
}
.jarviswidget>div {
    background-color: #fff!important;
}
.jarviswidget>div {
    float: left;
    width: 100%;
    position: relative;
    font-size: 13px;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-top: none;
    border-right-color: #CCC!important;
    border-bottom-color: #CCC!important;
    border-left-color: #CCC!important;
    padding: 13px 13px 0;
    overflow: visible;
}
.widget-body.no-padding {
    margin: -13px -13px 0;
}
.jarviswidget .widget-body {
    min-height: 100px;
    position: relative;
    padding-bottom: 13px;
}
.clearfix:after, .inner-spacer:after, .jarviswidget-editbox:after, .jarviswidget:after, .jarviswidget>div:after {
    clear: both;
}
.jarviswidget>header>:first-child.widget-icon {
    margin-left: 0;
}



/*分类----------导航*/
.jarviswidget {
    margin: 0 0 30px;
    position: relative;
    -moz-border-radius: 0;
    -khtml-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
}
.jarviswidget header:first-child .nav-tabs {
    float: left;
}
.jarviswidget header .nav-tabs {
    border-bottom-color: transparent;
}
.jarviswidget header:first-child .nav-tabs li {
    padding-left: 0;
}
.jarviswidget>header>.nav-tabs.pull-left>li:first-child a {
    border-left-width: 0!important;
}
.jarviswidget header .nav-tabs>li.active>a, .jarviswidget header .nav-tabs>li.active>a:focus, .jarviswidget header .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #FFF;
    border: 1px solid #C2C2C2;
    border-bottom-color: transparent;
    border-top: none;
    cursor: default;
}
.jarviswidget header:first-child .nav-tabs li a {
    color: #333;
}
.nav-tabs>li>a {
    border-radius: 0;
    color: #333
}
.jarviswidget header .nav-tabs>li>a {
    border-radius: 0;
    border: none;
    padding: 7px 15px 6px;
}
.nav-tabs>li.active>a {
    -webkit-box-shadow: 0 -2px 0 #57889c;
    -moz-box-shadow: 0 -2px 0 #57889c;
    box-shadow: 0 -2px 0 #57889c;
    border-top-width: 0!important;
    margin-top: 1px!important;
    font-weight: 700;
}
.nav-tabs>li.active>a .badge, .nav-tabs>li.active>a .label, .nav-tabs>li.active>a>.fa {
    opacity: 1;
}
.nav-tabs>li>a>.fa {
    opacity: .5;
}

.no-padding>.table-bordered,.no-padding>.table-responsive>.table-bordered {
    border: none!important
}
.no-padding .table-responsive .table {
    margin-bottom: 0
}
.no-padding>.table-bordered tbody tr td:first-child,.no-padding>.table-bordered thead tr td:first-child,.no-padding>.table-bordered thead tr th:first-child,.no-padding>.table-responsive>.table-bordered tbody tr td:first-child,.no-padding>.table-responsive>.table-bordered thead tr td:first-child,.no-padding>.table-responsive>.table-bordered thead tr th:first-child {
    border-left-width: 0!important
}
.no-padding>.table-bordered tbody tr td:last-child,.no-padding>.table-bordered thead tr th:last-child,.no-padding>.table-responsive>.table-bordered tbody tr td:last-child,.no-padding>.table-responsive>.table-bordered thead tr th:last-child {
    border-right-width: 0!important
}
.no-padding>.table-bordered tbody tr:last-child td,.no-padding>.table-responsive>.table-bordered tbody tr:last-child td {
    border-bottom-width: 0!important
}


.tab-container>.nav.nav-tabs {
    display: none;
}

.pill-content>.pill-pane, .tab-content>.tab-pane {
    display: none;
}
.pill-content>.active, .tab-content>.active {
    display: block;
}





.widget-body .well {
    margin-bottom: 0;
}
.jarviswidget.well {
    margin: 0 0 30px;
}


.jarviswidget.well>div {
    border: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
}
.widget-body.no-padding .alert {
    margin: 0 0 10px;
    padding: 10px;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    border-width: 0 0 1px!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
}
.alert {
    margin-bottom: 20px;
    margin-top: 0;
    color: #675100;
    border-width: 0;
    border-left-width: 5px;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.alert-info {
    border-color: #9cb4c5;
    color: #305d8c;
    background-color: #d6dde7;
}


/*表单--------------------------------------------------------------------*/
.smart-form {
    margin: 0;
    outline: 0;
    color: #666;
    position: relative;
}
.smart-form fieldset {
    display: block;
    padding: 25px 14px 5px;
    border: none;
    background: rgba(255,255,255,.9);
    position: relative;
}
.smart-form legend {
    padding-top: 15px;
}

.bootstrap-duallistbox-container label,.form header,legend {
    display: block;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    background: #fff;
    font-size: 16px;
    font-weight: 300;
    color: #222;
    margin: 25px 0 20px
}
legend {
    font-weight: 400;
    margin-top: 0;
    background: 0 0;
}
.smart-form .row {
    margin: 0 -15px
}

.smart-form .row:after {
    content: '';
    display: table;
    clear: both
}

.smart-form .col {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

.smart-form .col-1 {
    width: 8.33%
}

.smart-form .col-2 {
    width: 16.66%
}

.smart-form .col-3 {
    width: 25%
}

.smart-form .col-4 {
    width: 33.33%
}

.smart-form .col-5 {
    width: 41.66%
}

.smart-form .col-6 {
    width: 50%
}

.smart-form .col-8 {
    width: 66.67%
}

.smart-form .col-9 {
    width: 75%
}

.smart-form .col-10 {
    width: 83.33%
}
.smart-form section {
    margin-bottom: 15px;
    position: relative;
}
.smart-form .label {
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
    font-size: 13px;
    color: #333;
    text-align: left;
    white-space: normal;
}
.smart-form .button, .smart-form .checkbox, .smart-form .input, .smart-form .radio, .smart-form .select, .smart-form .textarea, .smart-form .toggle {
    position: relative;
    display: block;
    font-weight: 400;
}
.smart-form .checkbox i, .smart-form .icon-append, .smart-form .icon-prepend, .smart-form .input input, .smart-form .radio i, .smart-form .select select, .smart-form .textarea textarea, .smart-form .toggle i {
    border-color: #BDBDBD;
    transition: border-color .3s;
    -o-transition: border-color .3s;
    -ms-transition: border-color .3s;
    -moz-transition: border-color .3s;
    -webkit-transition: border-color .3s;
}
.smart-form .input input, .smart-form .select select, .smart-form .textarea textarea {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 5px 10px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    background: #fff;
    font: 13px/16px 'Open Sans',Helvetica,Arial,sans-serif;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.smart-form .icon-append, .smart-form .icon-prepend {
    color: #A2A2A2;
}
.smart-form .icon-append {
    right: 5px;
    padding-left: 3px;
    border-left-width: 1px;
    border-left-style: solid;
}
.smart-form .icon-append, .smart-form .icon-prepend {
    position: absolute;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}
.smart-form .input .icon-append+input, .smart-form .textarea .icon-append+textarea {
    padding-right: 37px;
}


.smart-form .tooltip-bottom-right {
    top: 100%;
    margin-top: 15px;
}
.smart-form .tooltip-bottom-right:after {
    bottom: 100%;
    right: 11px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0,0,0,.9);
    border-left: 4px solid transparent
}

.smart-form .tooltip {
    position: absolute;
    z-index: 99999;
    left: -9999px;
    padding: 2px 8px 3px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    background: rgba(0,0,0,.9);
    color: #fff;
    opacity: 0;
    transition: margin .3s,opacity .3s;
    -o-transition: margin .3s,opacity .3s;
    -ms-transition: margin .3s,opacity .3s;
    -moz-transition: margin .3s,opacity .3s;
    -webkit-transition: margin .3s,opacity .3s;
}
.smart-form .tooltip:after {
    content: '';
    position: absolute
}
.smart-form .tooltip-bottom-right:after {
    bottom: 100%;
    right: 11px;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0,0,0,.9);
    border-left: 4px solid transparent;
}

.smart-form .checkbox:hover i, .smart-form .input:hover input, .smart-form .radio:hover i, .smart-form .select:hover select, .smart-form .textarea:hover textarea, .smart-form .toggle:hover i {
    border-color: #5D98CC;
}
.smart-form .select i {
    position: absolute;
    top: 10px;
    right: 11px;
    width: 5px;
    height: 11px;
    background: #fff;
    box-shadow: 0 0 0 9px #fff;
}
.smart-form .select i:before {
    top: 0;
    border-bottom: 4px solid #404040;
}
.smart-form .select i:after, .smart-form .select i:before {
    content: '';
    position: absolute;
    right: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.smart-form .select i:after {
    bottom: 0;
    border-top: 4px solid #404040;
}
.smart-form .select i:after, .smart-form .select i:before {
    content: '';
    position: absolute;
    right: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.smart-form .btn {
    box-sizing: border-box;
    moz-box-sizing: border-box;
}
.smart-form fieldset+fieldset {
    border-top: 1px solid rgba(0,0,0,.1);
}
.smart-form footer {
    display: block;
    padding: 7px 14px 15px;
    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
}
.smart-form footer:after {
    content: '';
    display: table;
    clear: both
}

.smart-form footer .btn {
    float: right;
    height: 31px;
    margin: 10px 0 0 5px;
    padding: 0 22px;
    font: 300 15px/29px 'Open Sans',Helvetica,Arial,sans-serif;
    cursor: pointer;
}
.smart-form .inline-group {
    margin: 0 -15px -4px 0;
}
.smart-form .checkbox, .smart-form .radio {
    margin-bottom: 4px;
    padding-left: 25px;
    line-height: 25px;
    color: #404040;
    cursor: pointer;
    font-size: 13px;
}
.smart-form .checkbox input, .smart-form .radio input {
    position: absolute;
    left: -9999px;
}
.smart-form .checkbox input:checked+i, .smart-form .radio input:checked+i, .smart-form .toggle input:checked+i {
    border-color: #3276B1;
}
.smart-form .radio i {
    border-radius: 50%;
}
.smart-form .checkbox i,.smart-form .radio i {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    background: #FFF
}

.smart-form .checkbox input:checked+i:after, .smart-form .radio input:checked+i:after {
    opacity: 1;
}
.smart-form .radio input+i:after {
    background-color: #3276B1;
}
.smart-form .radio input+i:after {
    content: '';
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}
.smart-form .checkbox input+i:after, .smart-form .radio input+i:after {
    position: absolute;
    opacity: 0;
    -o-transition: opacity .1s;
    -ms-transition: opacity .1s;
    -moz-transition: opacity .1s;
}
.smart-form .inline-group .checkbox, .smart-form .inline-group .radio {
    float: left;
    margin-right: 30px;
}
.smart-form .checkbox:hover i, .smart-form .radio:hover i, .smart-form .toggle:hover i {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
}
.form-control,.input-lg,.input-sm,.input-xs {
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important
}
.form-control {
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important
}
.smart-form .tooltip-top-right {
    bottom: 100%;
    margin-bottom: 15px
}

.smart-form .tooltip-top-right:after {
    top: 100%;
    right: 11px;
    border-top: 4px solid rgba(0,0,0,.9);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}
.smart-form .checkbox+.checkbox,.smart-form .radio+.radio {
    margin-top: 0
}

.smart-form .label.col {
    margin: 0;
    padding-top: 7px
}

.smart-form .note a {
    font-size: 13px
}


/* end 表单--------------------------------------------------------------------*/





/*表格--------------------------------------------------------------------*/
table.table-bordered.dataTable {
    border-collapse: separate!important;
}
table.dataTable {
    clear: both;
    margin-top: 6px!important;
    margin-bottom: 6px!important;
    max-width: none!important;
}
.smart-form *,.smart-form :after,.smart-form :before {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -moz-box-sizing: content-box
}

.btn-sm {
    padding: 6px 10px 5px;
}
.fc-border-separate thead tr, .table thead tr {
    background-color: #eee;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#fafafa));
    background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -ms-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
    font-size: 12px;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-width: 1px;
}

.smart-form .checkbox:last-child, .smart-form .radio:last-child {
    margin-bottom: 0;
}
.smart-form.table td .checkbox i, .smart-form.table td .radio i, .smart-form.table th .checkbox i, .smart-form.table th .radio i {
    top: 0!important;
}
.smart-form .checkbox input+i:after {
    color: #3276B1;
}
.smart-form .checkbox input+i:after {
    content: '\f00c';
    top: -1px;
    left: 1px;
    width: 15px;
    height: 15px;
    font: 400 16px/19px FontAwesome;
    text-align: center;
}
.smart-form .checkbox input+i:after, .smart-form .radio input+i:after {
    position: absolute;
    opacity: 0;
    transition: opacity .1s;
    -o-transition: opacity .1s;
    -ms-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -webkit-transition: opacity .1s;
}
.smart-form .textarea textarea {
    height: auto;
    resize: none
}

.smart-form .textarea-resizable textarea {
    resize: vertical
}
.custom-scroll::-webkit-scrollbar {
    -webkit-overflow-scrolling: touch;
    height: 10px;
    width: 10px
}

.custom-scroll::-webkit-scrollbar:hover {
    background-color: #E9E9E9;
    border: 1px solid #dbdbdb
}

.custom-scroll::-webkit-scrollbar-button:end:increment,.custom-scroll::-webkit-scrollbar-button:start:decrement {
    background: 0 0;
    display: block;
    height: 0
}
.custom-scroll::-webkit-scrollbar-track-piece {
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: transparent;
    border-radius: 0
}

.custom-scroll::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent
}
.custom-scroll::-webkit-scrollbar-thumb {
    -moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip: padding-box;
    background-color: rgba(0,0,0,.2);
    border: none;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07)
}


table.dataTable td,table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}


table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_desc_disabled {
    cursor: pointer
}

table.dataTable thead>tr>th {
    padding-right: 18px
}

table.dataTable th:active {
    outline: 0
}

div.dataTables_scrollHead table {
    margin-bottom: 0!important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

div.dataTables_scrollHead table thead tr:last-child td:first-child,div.dataTables_scrollHead table thead tr:last-child th:first-child {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0!important;
    margin-bottom: 0!important
}

div.dataTables_scrollBody tbody tr:first-child td,div.dataTables_scrollBody tbody tr:first-child th {
    border-top: none
}

div.dataTables_scrollFoot table {
    margin-top: 0!important;
    border-top: none
}


table.table-bordered thead td,table.table-bordered thead th {
    border-left-width: 0;
    border-top-width: 0
}

table.table-bordered tbody td,table.table-bordered tbody th {
    border-left-width: 0;
    border-bottom-width: 0
}

table.table-bordered td:last-child,table.table-bordered th:last-child {
    border-right-width: 0
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0
}
table.DTTT_selectable tbody tr {
    cursor: pointer;
    *cursor: hand
}

table.dataTable tr.DTTT_selected.odd,table.dataTable tr.DTTT_selected.odd td.sorting_1,table.dataTable tr.DTTT_selected.odd td.sorting_2,table.dataTable tr.DTTT_selected.odd td.sorting_3 {
    background-color: #9FAFD1
}

table.dataTable tr.DTTT_selected.even,table.dataTable tr.DTTT_selected.even td.sorting_1,table.dataTable tr.DTTT_selected.even td.sorting_2,table.dataTable tr.DTTT_selected.even td.sorting_3 {
    background-color: #B0BED9
}

div.DTTT_collection {
    width: 150px;
    padding: 8px 8px 4px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.4);
    background-color: #f3f3f3;
    background-color: rgba(255,255,255,.3);
    overflow: hidden;
    z-index: 2002;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    -ms-box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    -o-box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,.3)
}

div.DTTT_collection_background {
    z-index: 2001
}

div.DTTT_collection a.DTTT_button,div.DTTT_collection button.DTTT_button,div.DTTT_collection div.DTTT_button {
    position: relative;
    left: 0;
    right: 0;
    display: block;
    float: none;
    margin-bottom: 4px;
    -webkit-box-shadow: 1px 1px 3px #999;
    -moz-box-shadow: 1px 1px 3px #999;
    -ms-box-shadow: 1px 1px 3px #999;
    -o-box-shadow: 1px 1px 3px #999;
    box-shadow: 1px 1px 3px #999
}

.DTTT_print_info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    margin-left: -200px;
    margin-top: -75px;
    text-align: center;
    color: #333;
    padding: 10px 30px;
    background: #fff;
    background: -webkit-linear-gradient(top,#fff 0,#f3f3f3 89%,#f9f9f9 100%);
    background: -moz-linear-gradient(top,#fff 0,#f3f3f3 89%,#f9f9f9 100%);
    background: -ms-linear-gradient(top,#fff 0,#f3f3f3 89%,#f9f9f9 100%);
    background: -o-linear-gradient(top,#fff 0,#f3f3f3 89%,#f9f9f9 100%);
    background: linear-gradient(top,#fff 0,#f3f3f3 89%,#f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9', GradientType=0);
    opacity: .95;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    -ms-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    -o-box-shadow: 0 3px 7px rgba(0,0,0,.5);
    box-shadow: 0 3px 7px rgba(0,0,0,.5)
}

.DTTT_print_info h6 {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    margin: 1em
}

.DTTT_print_info p {
    font-size: 14px;
    line-height: 20px
}

table.has-columns-hidden>tbody>tr>td>span.responsiveExpander {
    background: url(../img/plus.png) no-repeat 5px center;
    padding-left: 32px;
    cursor: pointer
}

table.has-columns-hidden>tbody>tr.detail-show>td span.responsiveExpander {
    background: url(../img/minus.png) no-repeat 5px center
}

table.has-columns-hidden>tbody>tr.row-detail>td {
    background: #eee
}

table.has-columns-hidden>tbody>tr.row-detail>td>ul {
    list-style: none;
    margin: 0;
    padding: 0
}

table.has-columns-hidden>tbody>tr.row-detail>td>ul>li>span.columnTitle {
    font-weight: 700
}

.dt-toolbar {
    display: block;
    position: relative;
    padding: 6px 7px 1px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    background: #fafafa
}

.dt-toolbar-footer {
    background: #fafafa;
    font-size: 11px;
    overflow: hidden;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    -ms-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff
}

.dt-toolbar-footer>:first-child,.dt-toolbar>:first-child {
    padding-left: 0!important
}

.dt-toolbar-footer>:last-child,.dt-toolbar>:last-child {
    padding-right: 0!important
}

table.dataTable thead .sorting {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC) no-repeat center right
}

table.dataTable thead .sorting_asc {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC) no-repeat center right
}

table.dataTable thead .sorting_desc {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=) no-repeat center right
}

table.dataTable thead .sorting_asc_disabled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABUVFR8AzIeAAAAAnRSTlMAf7YpoZUAAAAdSURBVAjXY8AJHID4AQMD4wcGBuYfDAzsfxgIAQCkSQQQkGx5MAAAAABJRU5ErkJggg==) no-repeat center right
}

table.dataTable thead .sorting_desc_disabled {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABUVFR8AzIeAAAAAnRSTlMAf7YpoZUAAAAcSURBVAjXYyAE2P8wMDD/YGBg/ADkPABiB5xKAZDZBBBG27rUAAAAAElFTkSuQmCC) no-repeat center right
}

table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc {
    background-color: #eee
}

.dataTables_empty {
    padding: 20px 10px!important;
    font-size: 14px;
    text-align: center;
    color: #575757
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
    padding: 8px 10px
}

table.dataTable tfoot>tr>th,table.dataTable thead>tr>th {
    padding-left: 9px!important
}

table.dataTable tfoot>tr>th input,table.dataTable thead>tr>th input {
    width: 100%!important;
    font-weight: 400
}

table.dataTable thead>tr>th.hasinput {
    padding: 6px!important
}

div.dataTables_info {
    padding-top: 9px;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    color: #969696
}

.dataTable thead>tr>th {
    border-left: none!important
}

.dataTable input[type=checkbox].checkbox,.dataTable input[type=radio].radiobox {
    left: -999px
}

table.dataTable thead>tr>th.sorting_disabled {
    padding-right: 9px!important
}

.dataTables_filter {
    float: left;
    width: 100%
}

.dataTables_filter .input-group-addon {
    width: 32px;
    margin-top: 0;
    float: left;
    height: 32px;
    padding-top: 8px
}

.dataTables_filter .input-group-addon+.form-control {
    float: left
}

.dt-toolbar>:first-child .DTTT,.dt-toolbar>:first-child .dataTables_filter>:only-child,.dt-toolbar>:first-child .dataTables_length,.dt-toolbar>:first-child .pagination {
    float: left!important
}

.dt-toolbar>:last-child .DTTT,.dt-toolbar>:last-child .dataTables_filter>:only-child,.dt-toolbar>:last-child .dataTables_length,.dt-toolbar>:last-child .pagination {
    float: right
}

.dt-toolbar-footer>:first-child .DTTT,.dt-toolbar-footer>:first-child .dataTables_filter>:only-child,.dt-toolbar-footer>:first-child .dataTables_length,.dt-toolbar-footer>:first-child .pagination {
    float: left
}

.dt-toolbar-footer>:last-child .DTTT,.dt-toolbar-footer>:last-child .dataTables_filter>:only-child,.dt-toolbar-footer>:last-child .dataTables_length,.dt-toolbar-footer>:last-child .pagination {
    float: right
}

body.DTTT_Print {
    background: #fff!important
}

.DTTT_Print #main {
    margin: 0!important
}

.DTTT_PrintMessage {
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-weight: 700
}

.DTTT_Print table.dataTable {
    margin-top: 0!important
}

.DTTT_Print .dataTables_wrapper table {
    border: 1px solid #C7C7C7!important
}

div.ColVis {
    margin-bottom: 0!important
}

ul.ColVis_collection {
    width: 127px
}

ul.ColVis_collection li span {
    vertical-align: 3px
}

ul.ColVis_collection li label {
    margin-bottom: 0!important
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(25%,rgba(255,255,255,.9)),color-stop(75%,rgba(255,255,255,.9)),color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.9)25%,rgba(255,255,255,.9)75%,rgba(255,255,255,0)100%);
    background: -moz-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.9)25%,rgba(255,255,255,.9)75%,rgba(255,255,255,0)100%);
    background: -ms-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.9)25%,rgba(255,255,255,.9)75%,rgba(255,255,255,0)100%);
    background: -o-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.9)25%,rgba(255,255,255,.9)75%,rgba(255,255,255,0)100%);
    background: linear-gradient(to right,rgba(255,255,255,0)0,rgba(255,255,255,.9)25%,rgba(255,255,255,.9)75%,rgba(255,255,255,0)100%)
}

.dataTable tbody .details-control {
    vertical-align: middle;
    text-align: center;
    cursor: pointer
}

.dataTable tbody .details-control:before {
    font-family: FontAwesome;
    content: "\f055";
    font-size: 1.4em;
    color: #739e73
}

.dataTable tbody .shown .details-control:before {
    content: "\f056";
    color: #a90329
}

.dataTable tbody .shown+tr>td {
    padding: 0!important
}

.dataTable tbody .shown {
    background: rgba(205,209,98,.2)!important
}

.dataTable tbody .shown>td {
    background: none!important
}

.dataTable tbody .shown+tr>td>table>tbody>tr:last-child {
    border-bottom: 1px solid #c2c2c2
}

.dataTable tbody .shown+tr>td>table tbody tr {
    background-color: rgba(205,209,98,.05)!important
}

.dataTable tbody .shown .table>tbody>tr>td {
    border: none!important
}

.table-bordered .progress {
    background: #fff!important;
    -webkit-box-shadow: 0 1px 0 transparent,0 0 0 1px #D6D6D6 inset;
    -moz-box-shadow: 0 1px 0 transparent,0 0 0 1px #D6D6D6 inset;
    box-shadow: 0 1px 0 transparent,0 0 0 1px #D6D6D6 inset
}

.dataTables_scroll .dataTables_scrollBody,.dataTables_scroll .dataTables_scrollHead,.dataTables_scroll+.dt-toolbar-footer {
    float: left
}

.dataTables_scroll+.dt-toolbar-footer {
    width: 100%
}

.dataTables_scroll .dataTables_scrollHeadInner {
    margin-top: -6px
}

.dataTables_scroll .dataTables_scrollHead {
    background: #f4f4f4
}


/*员工详情*/

.well {
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #ececec;
    -webkit-box-shadow: 0 1px 1px #ececec;
    -moz-box-shadow: 0 1px 1px #ececec;
    position: relative;
}
.well.well-light {
    background: #fff;
    border: 1px solid #e2e2e2
}
.profile-carousel .carousel-inner {
    max-height: 150px
}
.profile-pic {
    text-align: right
}
.profile-pic>img {
    border-radius: 0;
    position: relative;
    border: 5px solid #fff;
    top: -30px;
    left: 10px;
    display: inline-block;
    text-align: right;
    z-index: 4;
    max-width: 100px;
    margin-bottom: -30px
}


/*时间轴分离器*/
.timeline-seperator {
    display: block;
    text-align: center;
    color: #999;
    margin: 20px 0 0
}

.timeline-seperator>:first-child {
    padding: 4px 5px;
    border: 1px dashed rgba(0,0,0,.1);
    background: #fff;
    font-size: 11px;
    border-radius: 4px
}

.timeline-seperator .btn,.timeline-seperator .btn+.dropdown-menu {
    margin-right: 15px
}

.timeline-seperator:after {
    display: block;
    content: " ";
    margin: 0 20px;
    border-bottom: 1px dashed rgba(0,0,0,.1);
    margin-top: -8px
}

/*消息列表*/
.profile-message {
    background: none!important;
    height: auto!important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    overflow: hidden
}

.profile-message li.message.message-reply {
    margin-left: 85px!important;
    background: #F7F7F7;
    padding: 10px;
    margin: 3px 0 0 20px
}

.profile-message li.message.message-reply img {
    width: 35px!important
}

.profile-message li.message.message-reply .message-text {
    margin-left: 45px!important
}

.profile-message .wall-comment-reply {
    margin-left: 85px;
    margin-bottom: 20px
}
.chat-body {
    background: #FAFAFA;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#fafafa 0,#fff 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#fff));
    background: -webkit-linear-gradient(top,#fafafa 0,#fff 100%);
    background: -o-linear-gradient(top,#fafafa 0,#fff 100%);
    background: -ms-linear-gradient(top,#fafafa 0,#fff 100%);
    background: linear-gradient(to bottom,#f5fcff 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ffffff', GradientType=0);
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.04);
    -moz-box-shadow: inset -2px -2px 5px rgba(0,0,0,.04);
    display: block;
    height: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #fff;
    border-top: none
}

.chat-body ul {
    margin: 0;
    padding: 0
}

.chat-body li.message {
    display: block;
    position: relative;
    margin: 20px 20px 0
}

.chat-body li:first-child {
    margin-top: 10px
}

.chat-body li.message img {
    display: inline-block;
    border-left: 4px solid #fff;
    position: absolute
}

.chat-body li.message img.online {
    border-left-color: #00a300
}

.chat-body li.message img.offline {
    border-left-color: #ddd
}

.chat-body li.message img.busy {
    border-left-color: #A90329
}

.chat-body li.message img.away {
    border-left-color: #ffc40d
}

.chat-body li.message .message-text {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin-left: 65px;
    line-height: normal
}

.chat-body li.message .message-text time {
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 10px;
    line-height: 10px;
    color: #AFAFAF
}

.chat-body li.message .message-text .chat-file:nth-child(3) {
    margin-top: 15px
}

.chat-body li.message .message-text .chat-file {
    display: block;
    margin: 3px 0;
    padding: 4px;
    border: 1px dotted #ddd;
    background: rgba(0,0,0,.05);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: right;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.chat-body li.message .message-text .chat-file.row-fluid [class*=span] {
    min-height: 10px!important
}

.chat-body li.message .message-text .chat-file b {
    font-style: italic;
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.chat-body li.message .message-text a.username {
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
    vertical-align: top;
    line-height: 14px;
    font-size: 14px;
    letter-spacing: -1px;
    text-decoration: none!important
}
.input-xs {
    height: 24px;
    padding: 2px 10px;
    font-size: 11px;
    line-height: 1.5
}


