<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>其他入库单</h2>
          </header>

          <div>
            <div class="widget-body no-padding" >
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search">
                      <div class="form-group pdlr-4">
                        <a class="btn btn-success btn-sm" (click)="isDemo('/inventory-management/add-storage','0','')">
                          <span class="glyphicon glyphicon-plus mr-5"></span>添加</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a class="btn default-btn btn-sm" [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="isDemo('/inventory-management/add-storage','1','edit')">
                          <span class="glyphicon glyphicon-pencil mr-5 color-yellow"></span>修改</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="deleteOtherorder('id')">
                          <span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="isDemo('/inventory-management/add-storage','1','detail')" >
                          <span class="glyphicon glyphicon-zoom-in mr-5 color-green"></span>详情</a>
                      </div>

                      <div class="form-group pdlr-4" (click)="showModal('operation','operation','')" *ngIf="uid == sa_status">
                        <a class="btn default-btn btn-sm" >
                          <span class="fa-fw fa fa-stop  mr-5 text-warning"></span>审核</a>
                      </div>
                      <div class="form-group pdlr-4" (click)="showModal('operation','cancel','')" *ngIf="uid == sa_u_id && sa_status != 'yes' && sa_status != 'no' && sa_status != 'cancel'">
                        <a  class="btn default-btn btn-sm" >
                          <span class="fa-fw fa fa-trash-o mr-5 text-warning"></span>作废</a>
                      </div>
                      <div class="form-group pdlr-4" (click)="showModal('operation','back_cancel','')" *ngIf="uid == sa_u_id && sa_status == 'cancel'">
                        <a class="btn default-btn btn-sm" >
                          <span class="fa-fw fa fa-mail-reply-all mr-5 text-primary"></span>弃废</a>
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <a class="btn default-btn btn-sm dropdown-toggle" (click)="showAllCheck()" data-toggle="dropdown">
                          <span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a (click)="showModal('operation','operation','all')"><span class="fa-fw fa  fa-stop  mr-5 text-warning"></span>批量审核</a></li>
                          <li class="divider"></li>
                          <li><a (click)="showModal('operation','cancel','all')"><span class="fa-fw fa fa-trash-o mr-5 text-warning"></span>批量作废</a></li>
                          <li><a (click)="showModal('operation','back_cancel','all')"><span class="fa-fw fa fa-mail-reply-all mr-5 text-primary"></span>批量弃废</a></li>
                          <li class="divider"></li>
                          <li><a (click)="deleteOtherorder('all')"><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>
                        </ul>
                      </div>
                    </form>
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" [(ngModel)]="keyword" placeholder="请输入搜索内容" type="text">
                      </div>
                      <div class="form-group pdlr-4">
                        <button class="btn btn-default" type="button" (click)="getOtherorderList(1)">
                          <i  class="glyphicon glyphicon-search"></i>
                          搜索
                        </button>
                      </div>
                    </form>
                  </div>
                </article>
              </div>
              <div style="padding:0;">
                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-scrolling padding0">
                  <table class="table table-striped   smart-form table-height-20">
                    <thead>
                    <tr style="height: 37px;" >
                      <td><label class="checkbox mt-8">
                        <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)" >
                        <i></i>
                      </label>
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 34.5px;" *ngFor="let p of otherorderList?.result?.otherorderList?.data">
                      <td>
                        <label class="checkbox mt-8">
                          <input type="checkbox" value="{{p.otherorder_id}}" [checked]="selects[p.otherorder_id]" (change)="handle($event)">
                          <i></i>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div style="padding: 0;z-index: 2;width:20%;float:left;" class="table-scrolling">
                  <table class="table table-striped  smart-form table-height-20">
                    <thead>
                    <tr>
                      <th>单据状态</th>
                      <th>单据号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p2 of otherorderList?.result?.otherorderList?.data" (click)="isStatusShow(p2.otherorder_id,p2.otherorder_status,p2.u_id,p2.create_user_name,p2.otherorder_order)" [ngClass]="{'table-color':editStatusOtherorderId == p2.otherorder_id}">
                      <!--<td>-->
                        <!--<span [ngSwitch]="p2.otherorder_status">-->
                          <!--<span class="button label-button blue" *ngSwitchCase="1">正常</span>-->
                          <!--<span class="button label-button orange" *ngSwitchCase="2">无效</span>-->
                          <!--<span class="button label-button gray" *ngSwitchDefault>未知</span>-->
                        <!--</span>-->
                      <!--</td>-->
                      <td>
                        <div>
                          <span class="label-maintain" *ngIf="p2.otherorder_status != 'yes' && p2.otherorder_status != 'no' && p2.otherorder_status != 'cancel'">审核中</span>
                          <span class="label-normal" *ngIf="p2.otherorder_status == 'yes'">已同意</span>
                          <span  class="label-full" *ngIf="p2.otherorder_status == 'no'">已拒绝</span>
                          <span  class="label-full" *ngIf="p2.otherorder_status == 'cancel'">已作废</span>
                        </div>
                      </td>
                      <td>
                        <div class="click-a"><a> {{p2.otherorder_order}}</a></div>
                       </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div [ngStyle]="{'padding': '0','z-index': '2','width':width_1,'float':'left'}" class="table-responsive">
                  <table class="table table-striped  smart-form table-height-20">
                    <thead>
                    <tr>
                      <th>单据日期</th>
                      <th>入库类别 </th>
                      <th>成本合计 </th>
                      <th>入库仓库</th>
                      <th>经手人 </th>
                      <th>业务部门 </th>
                      <th>制单人 </th>
                      <th>创建时间 </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p1 of otherorderList?.result?.otherorderList?.data" (click)="isStatusShow(p1.otherorder_id,p1.otherorder_status,p1.u_id,p1.create_user_name,p1.otherorder_order)" [ngClass]="{'table-color':editStatusOtherorderId == p1.otherorder_id}">
                      <td>{{p1.otherorder_date}}</td>
                      <td>{{p1.category_desc}}</td>
                      <td>{{p1.otherorder_prices}}</td>
                      <td>{{p1.storehouse_name}}</td>
                      <td>{{p1.u_username}}</td>
                      <td>{{p1.department_name}}</td>
                      <td>{{p1.create_user_name}}</td>
                      <td>{{p1.created_at}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="col-xs-12 col-sm-6">
                  <span>共{{otherorderList?.result?.otherorderList?.total}}条</span>
                </div>
                <div class="hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li *ngFor="let p of otherorderList?.result?.page" class="{{p.class}}">
                      <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                      <a *ngIf="p.method==''">{{p.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<app-verify-frame [log_type]="log_type" [log_table_name]="log_table_name" [select_count]="select_count" [selects]="selects" [operate_type]="operate_type" [username]="sa_u_username" [order_number]="sa_order" [pr_id]="editStatusOtherorderId" [create_user_id]="sa_u_id" [operate_button_type]="operate_button_type" [operate_button_type_is_more]="operate_button_type_is_more"  (operate_types)="getOperateTypes($event)" *ngIf="operate_type"></app-verify-frame>


