<!--主要内容-->
<div id="content">
<!--
  <div class="row">
    <sa-big-breadcrumbs [items]="['采购管理', '添加采购订单']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>
-->

  <sa-widgets-grid>
    <div class="row">

      <article class="col-sm-12 ">

        <sa-widget [editbutton]="false" [deletebutton]="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2 *ngIf="pr_id == 0">添加采购订单</h2>
            <h2 *ngIf="pr_id != 0">修改采购订单</h2>
          </header>

          <div>
            <!--小部件内容-->
            <div class="widget-body no-padding">
              <form id="smart-form-register" class="smart-form" [formGroup]="formModel" (ngSubmit)="onSubmit()">
                <fieldset>
                  <legend>基本信息</legend>
                  <input type="hidden" name="pr_id" formControlName="pr_id">
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label txt-color-blue">单据日期<span class="asterisk-color">*</span></label>
                      <label  class="input">
                        <input type="date" name="pr_date" formControlName="pr_date">
                      </label>
                    </section>

                  </div>

                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label class="label txt-color-blue">单据号<span class="asterisk-color">*</span></label>
                      <label class="input">
                        <input type="text" placeholder="单据号" name="pr_order" formControlName="pr_order">
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label class="label ">供应商</label>
                      <!--<label class="input">-->
                        <!--<i class="icon-append glyphicon glyphicon-search cursor-pointer"></i>&lt;!&ndash; data-toggle="modal" data-target="#myModal"&ndash;&gt;-->
                        <!--<input type="text" placeholder="" >-->
                      <!--</label>-->
                      <label class="select">
                        <select name="pr_supplier" formControlName="pr_supplier" [(ngModel)]="pr_supplier_default">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let cus of purchaseList.result?.supplier" [selected]="purchaseInfo.result?.pr_supplier == cus.c_id" value="{{ cus.c_id }}">{{cus.c_name}}</option>
                        </select><i></i>
                      </label>
                    </section>

                  </div>

                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label ">采购类型</label>
                      <label class="select">
                        <select name="pr_category" formControlName="pr_category" [(ngModel)]="pr_category_default">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let ca of purchaseList.result?.category" [selected]="purchaseInfo.result?.pr_category == ca.category_id" value="{{ca.category_id }}">{{ca.category_desc}}</option>
                        </select><i></i>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">采购员</label>
                      <label class="select">
                        <select  name="pr_employee" formControlName="pr_employee" [(ngModel)]="pr_employee_default">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let u of purchaseList.result?.userList" [selected]="purchaseInfo.result?.pr_employee == u.id" value="{{ u.id }}">{{u.u_username}}</option>
                        </select><i></i>
                      </label>
                    </section>

                  </div>

                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">默认仓库</label>
                      <label class="select">
                        <select name="storehouse_id" formControlName="storehouse_id" [(ngModel)]="storehouse_id_default">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let s of purchaseList.result?.storehouse" [selected]="purchaseInfo.result?.storehouse_id == s.storehouse_id" value="{{s.storehouse_id }}">{{s.storehouse_name}}</option>
                        </select><i></i>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">结算方式</label>
                      <label class="select">
                        <select name="pr_payment_method" formControlName="pr_payment_method" [(ngModel)]="pr_payment_method_default">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let tr of purchaseList.result?.payment_method" [selected]="purchaseInfo.result?.pr_payment_method == tr.category_id" value="{{tr.category_id }}">{{tr.category_desc}}</option>
                        </select><i></i>
                      </label>
                    </section>

                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">发送方式</label>
                      <label class="select">
                        <select name="pr_transport" formControlName="pr_transport" [(ngModel)]="pr_transport_default">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let tr of purchaseList.result?.transport" [selected]="purchaseInfo.result?.pr_transport == tr.category_id" value="{{tr.category_id }}">{{tr.category_desc}}</option>
                        </select><i></i>
                      </label>
                    </section>
                  </div>

                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <section>
                      <label class="label">到货地点</label>
                      <label class="input">
                        <input type="text" placeholder="" name="pr_address" formControlName="pr_address">
                      </label>
                    </section>
                  </div>

                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">搜索的商品名称</label>
                      <label class="input">
                        <!--<form class="smart-form">-->
                        <!--<section>-->
                        <!--<label class="input">-->
                        <i class="icon-append glyphicon glyphicon-search cursor-pointer" (click)="searchKey()"></i><!-- data-toggle="modal" data-target="#myModal"-->
                        <input type="text" placeholder="" name="keyword" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
                        <!--</label>-->
                        <!--</section>-->
                        <!--</form>-->
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 padding20">
                    <div class="widget-body no-padding">
                      <div  class="padding0">
                        <div style="z-index: 2;width:20%;float:left;" class="table-responsive padding0 table-minheight">
                          <table class="table table-hover table-border  table-bordered dataTable table-height-70">
                            <thead>
                            <tr>
                              <!--<th></th>-->
                              <th>操作</th>
                              <th class="txt-color-blue">商品名称</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of selectProductList;let ind = index;">
                              <!--<td>1</td>-->
                              <td ><a class="btn btn-warning btn-xs"  ><span class="glyphicon glyphicon-plus"></span></a>
                                <a class="btn btn-danger btn-xs" (click)="removeInput(ind)"><span class="glyphicon glyphicon-remove"></span></a>
                              </td>
                              <td>
                                <form class="smart-form">
                                  <section>
                                    <label class="input">
                                      <i class="icon-append glyphicon glyphicon-search cursor-pointer" (click)="searchKey()"></i><!-- data-toggle="modal" data-target="#myModal"-->
                                      <input type="text" placeholder="" name="keyword" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
                                    </label>
                                  </section>
                                </form>
                              </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr >
                              <!--<th></th>-->
                              <th></th>
                              <th>合计</th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                        <div style="padding: 0;z-index:1;width:80%;float:left;" class="table-responsive table-minheight">
                          <table class="table table-hover table-border table-bordered dataTable table-height-70">
                            <thead>
                            <tr>
                              <th>商品编号</th>
                              <th>条码</th>
                              <th>商品分类</th>
                              <th>单位</th>
                              <!--<th>仓库</th>-->
                              <th class="txt-color-blue">数量</th>
                              <th class="txt-color-blue">单价</th>
                              <th class="txt-color-blue">折扣率%</th>
                              <th>折前金额</th>
                              <th>折后单价 </th>
                              <th>折后金额</th>
                              <th class="txt-color-blue">税率% </th>
                              <th>税前金额 </th>
                              <th>无税单价 </th>
                              <th>税后金额 </th>
                              <th class="txt-color-blue">备注 </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of selectProductList">
                              <td>{{p.p_product_id}}</td>
                              <td>{{p.p_qrcode}}</td>
                              <td>{{p.category}}</td>
                              <td>{{p.p_unit}}</td>
                              <!--<td></td>-->
                              <td>
                                <label  class="input">
                                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_count" value="{{p.p_count}}" type="number">
                                </label>
                              </td>
                              <td>
                                <label  class="input">
                                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_price" value="{{p.p_price}}" type="number">
                                </label>
                              </td>
                              <td>
                                <label  class="input">
                                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="p.discount" value="{{p.discount}}" type="number">
                                </label>
                              </td>
                              <td>{{p.p_count * p.p_price}}</td>
                              <td>{{p.p_price * p.discount}}</td>
                              <td>{{(p.p_count * p.p_price * p.discount)}}</td>
                              <td>
                                <label  class="input">
                                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="p.rate" value="{{p.rate}}" type="number">
                                </label>
                              </td>
                              <td>{{p.p_count * p.p_price * p.discount}}</td>
                              <td>{{p.p_price * p.discount}}</td>
                              <td>{{p.p_count * p.p_price * p.discount * p.rate}}</td>
                              <td>
                                <label  class="input">
                                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_note" value="{{p.p_note}}" type="text">
                                </label>
                              </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr >
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <section>
                      <label class="label">本次付款</label>
                      <label class="input">
                        <input type="number" placeholder="" name="pr_payment" formControlName="pr_payment">
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <section>
                      <label class="label">本次欠款</label>
                      <label class="input">
                        <input type="number" placeholder="" name="pr_arrears" formControlName="pr_arrears">
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <section>
                      <label class="label">采购费用</label>
                      <label class="input">
                        <input type="number" placeholder="" name="pr_cost" formControlName="pr_cost">
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">结算账户</label>
                      <label class="input">
                        <input type="text" placeholder="" name="pr_account" formControlName="pr_account">
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <section>
                      <label class="label">支付备注</label>
                      <label class="input">
                        <input type="text" placeholder="" name="pr_payment_note" formControlName="pr_payment_note">
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <section>
                      <label class="label">备注</label>
                      <label class="textarea textarea-resizable">
                        <textarea class="custom-scroll" rows="2" name="pr_note" formControlName="pr_note"></textarea>
                      </label>
                    </section>
                  </div>
                </fieldset>
                <footer>
                  <button type="button" class="btn btn-default" >
                    返回
                  </button>
                  <button type="button" class="btn btn-success btn-sm" ><span class="glyphicon glyphicon-plus"></span>保存并新增</button>
                  <button type="submit" class="btn btn-primary">
                    保存
                  </button>
                </footer>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<div>
  <span *ngFor="let p of searchProductList?.result?.data;let ind = index;">
   <a (click)="addInput(ind)"> {{p.p_id}}:{{p.p_name}}</a>
  </span>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>选择供应商</h3>
      </div>
      <div class="modal-body height-overflow-380">
        <div class="row text-center" style="padding:10px 40px;">
          <div class="dd" >
            <ol class="dd-list">
              <li class="dd-item " >
                <button data-action="expand" type="button" style="display: none;">收起</button>
                <button data-action="collapse" type="button"  style="display: block;">展开</button>
                <div class="dd-handle dd-handle-color">
                  矿
                  <small  class="text-muted">
                    <i >(202500)</i>
                  </small>
                  <span>&nbsp;&nbsp;参考价&nbsp;&nbsp;供应商</span>
                  <div>
                  </div>
                </div>
                <ol class="dd-list"  style="display: block;">
                  <li class="dd-item" >
                    <div class="dd-handle">
                      矿
                      <small  class="text-muted">
                        <i >(202500)</i>
                      </small>
                      <span>&nbsp;&nbsp;参考价&nbsp;&nbsp;供应商</span>
                      <div>
                      </div>
                    </div>
                  </li>
                </ol>
              </li>
              <li class="dd-item" >
                <button  type="button"  style="display: block;">收起</button>
                <button  type="button" style="display: none;">展开</button>
                <div class="dd-handle">
                  矿
                  <small  class="text-muted">
                    <i >(202500)</i>
                  </small>
                  <span>&nbsp;&nbsp;参考价&nbsp;&nbsp;供应商</span>
                  <div>
                  </div>

                </div>
                <ol class="dd-list"  style="display: none;">
                  <li class="dd-item" id="186">
                    <div class="dd-handle">
                      矿
                      <small  class="text-muted">
                        <i >(202500)</i>
                      </small>
                      <span>&nbsp;&nbsp;参考价&nbsp;&nbsp;供应商</span>
                      <div>
                      </div>
                    </div>
                  </li>
                </ol>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" ><span class="glyphicon glyphicon-plus"></span>选入</button>
        <!--    <button type="button" class="btn btn-primary" data-ng-click="ok()">保存</button>-->
        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
      </div>
    </div>
  </div>
</div>
