<div id="content">
  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
        <ul class="nav nav-tabs pull-left in">

            <li [class.active]="state.tabs.demo5=='iss1'" class="active">
                <a (click)="state.tabs.demo5 = 'iss1'">未读</a>
            </li>
            <li [class.active]="state.tabs.demo5=='iss2'">
                <a (click)="state.tabs.demo5 = 'iss2'">处理中 </a>
            </li>
            <li [class.active]="state.tabs.demo5=='iss3'">
                <a (click)="state.tabs.demo5 = 'iss3'">已读 </a>
            </li>
        </ul>
    </header>
    <div>
      <div class="widget-body">
          <tabset>
              <tab [active]="state.tabs.demo5 == 'iss1'">
                  <div class="row">
                      <!--没有消息的时候显示的内容-->
                     <!-- <div class="col-xs-12">
                          <div class="empty-panel text-center margin-bottom-40" ><i class="fa fa-bell"></i><br><br>
                              <span class="ng-binding">没有未读的消息</span>
                          </div>
                      </div>-->
                      <div class="col-xs-8">
                          <div class="well">
                              <div class="list-group contact-group">
                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                 <a>某某</a> 给你分配了新的任务 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-check-square-o"></i>任务名
                                              </div>
                                              <div class="column-datetime"><span >2017-12-25 15:51</span></div>
                                          </div>
                                      </div><!-- media -->
                                  </a>

                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a>提醒你关注任务 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-check-square-o"></i>任务名
                                              </div>
                                              <div class="column-datetime"><span >2017-12-25 15:51</span></div>
                                          </div>
                                      </div><!-- media -->
                                  </a>
                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a> 完成了任务 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-check-square-o"></i>胜多负少发顺丰的
                                              </div>
                                          </div>
                                      </div><!-- media -->
                                  </a>
                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a>评论了任务：任务名 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-comment-o"></i>评论内容
                                              </div>
                                              <div class="column-datetime"><span >2017-12-25 15:51</span></div>
                                          </div>
                                      </div><!-- media -->
                                  </a>

                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a>评论了任务：任务名 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-comment-o"></i> 回复了任务：任务内容
                                              </div>
                                              <div class="column-datetime"><span >2017-12-25 15:51</span></div>
                                          </div>
                                      </div><!-- media -->
                                  </a>

                              </div>

                              <div class="hidden-xs right">
                                  <ul class="pagination pagination-sm">
                                      <li class="disabled"><a>上一页</a></li>
                                      <li class="active"><a>1</a></li>
                                      <li class=""><a>2</a> </li>
                                      <li class=""><a>下一页</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-4">
                          <div class="well">
                              <h5 class="margin-top-0">按类型筛选</h5>
                              <div class="row">
                                  <div class="col-lg-12">
                                      <ul class="list-group no-margin editor">
                                          <li class="list-group-item table-color">
                                              <a  class="text-color-black"> <span class="badge pull-right">15</span> 全部 </a>
                                          </li>
                                          <li class="list-group-item">
                                              <a class="text-color-black"> <span class="badge pull-right">2</span> 分配给我 </a>
                                          </li>
                                          <li class="list-group-item">
                                              <a class="text-color-black"> <span class="badge pull-right">9</span> 提醒关注 </a>
                                          </li>
                                          <li class="list-group-item">
                                              <a class="text-color-black"> <span class="badge pull-right">4</span>评论</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                          </div>
                      </div>

                  </div>
              </tab>
              <tab [active]="state.tabs.demo5 == 'iss2'">
                  <div class="row">
                      <!--没有消息的时候显示的内容-->
                      <!-- <div class="col-xs-12">
                           <div class="empty-panel text-center margin-bottom-40" ><i class="fa fa-bell"></i><br><br>
                               <span class="ng-binding">没有待处理的消息</span>
                           </div>
                       </div>-->
                      <div class="col-xs-8">
                          <div class="well">
                              <div class="list-group contact-group">
                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a> 给你分配了新的任务 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-check-square-o"></i>任务名
                                              </div>
                                              <div class="column-datetime"><span >2017-12-25 15:51</span></div>
                                          </div>
                                      </div><!-- media -->
                                  </a>

                              </div>

                              <div class="hidden-xs right">
                                  <ul class="pagination pagination-sm">
                                      <li class="disabled"><a>上一页</a></li>
                                      <li class="active"><a>1</a></li>
                                      <li class=""><a>2</a> </li>
                                      <li class=""><a>下一页</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-4">
                          <div class="well">
                              <h5 class="margin-top-0">按类型筛选</h5>
                              <div class="row">
                                  <div class="col-lg-12">
                                      <ul class="list-group no-margin editor">
                                          <li class="list-group-item table-color">
                                              <a  class="text-color-black"> <span class="badge pull-right">15</span> 全部 </a>
                                          </li>
                                          <li class="list-group-item">
                                              <a class="text-color-black"> <span class="badge pull-right">2</span> 分配给我 </a>
                                          </li>
                                          <li class="list-group-item">
                                              <a class="text-color-black"> <span class="badge pull-right">9</span> 提醒关注 </a>
                                          </li>
                                          <li class="list-group-item">
                                              <a class="text-color-black"> <span class="badge pull-right">4</span>评论</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </tab>
              <tab [active]="state.tabs.demo5 == 'iss3'">
                  <div class="row">
                      <!--没有消息的时候显示的内容-->
                      <!-- <div class="col-xs-12">
                           <div class="empty-panel text-center margin-bottom-40" ><i class="fa fa-bell"></i><br><br>
                               <span class="ng-binding">没有已读的消息</span>
                           </div>
                       </div>-->
                      <div class="col-xs-8">
                          <div class="well">
                              <div class="list-group contact-group">
                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a> 给你分配了新的任务 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-check-square-o"></i>任务名
                                              </div>
                                              <div class="column-datetime"><span >2017-12-25 15:51</span></div>
                                          </div>
                                      </div><!-- media -->
                                  </a>

                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a>提醒你关注任务 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-check-square-o"></i>任务名
                                              </div>
                                              <div class="column-datetime"><span >2017-12-25 15:51</span></div>
                                          </div>
                                      </div><!-- media -->
                                  </a>
                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a> 完成了任务 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-check-square-o"></i>胜多负少发顺丰的
                                              </div>
                                          </div>
                                      </div><!-- media -->
                                  </a>
                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a>评论了任务：任务名 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-comment-o"></i>评论内容
                                              </div>
                                              <div class="column-datetime"><span >2017-12-25 15:51</span></div>
                                          </div>
                                      </div><!-- media -->
                                  </a>

                                  <a href="#" class="list-group-item">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="img-circle img-online online" src="assets/img/avatars/male.png" alt="...">
                                          </div>
                                          <div class="media-body">
                                              <h4 class="media-heading">
                                                  <a>某某</a>评论了任务：任务名 <small></small></h4>
                                              <div class="media-content">
                                                  <i class="fa fa-comment-o"></i> 回复了任务：任务内容
                                              </div>
                                              <div class="column-datetime"><span >2017-12-25 15:51</span></div>
                                          </div>
                                      </div><!-- media -->
                                  </a>

                              </div>

                              <div class="hidden-xs right">
                                  <ul class="pagination pagination-sm">
                                      <li class="disabled"><a>上一页</a></li>
                                      <li class="active"><a>1</a></li>
                                      <li class=""><a>2</a> </li>
                                      <li class=""><a>下一页</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-4">
                          <div class="well">
                              <h5 class="margin-top-0">按类型筛选</h5>
                              <div class="row">
                                  <div class="col-lg-12">
                                      <ul class="list-group no-margin editor">
                                          <li class="list-group-item table-color">
                                              <a  class="text-color-black"> <span class="badge pull-right">15</span> 全部 </a>
                                          </li>
                                          <li class="list-group-item">
                                              <a class="text-color-black"> <span class="badge pull-right">2</span> 分配给我 </a>
                                          </li>
                                          <li class="list-group-item">
                                              <a class="text-color-black"> <span class="badge pull-right">9</span> 提醒关注 </a>
                                          </li>
                                          <li class="list-group-item">
                                              <a class="text-color-black"> <span class="badge pull-right">4</span>评论</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </tab>

          </tabset>
      </div>
    </div>
  </sa-widget>
</div>


<!--点击的效果直接拷贝 app-todo-mission  html 备注：select-hidden 这部分放在这个位置-->
