<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="I3OT"> </span>
  </div>


  <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">你已经注册?</span> <a routerLink="/auth/login" class="btn btn-danger">登录</a>
  </span>

</header>


<div id="main" role="main" class="animated fadeInDown">

  <!-- MAIN CONTENT -->
  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="text-primary login-header-big">I3oT一体化办公云平台</h1>

        <div class="hero">
          <div class="pull-left login-desc-box-l">
          </div>
          <img src="assets/img/login-img.png" class="pull-right display-image" alt="" style="width:400px">
        </div>
        <ul class="login-text" >
          <li>
            <div class="col">
              <h5 class="about-heading">关于</h5>
              <p>
                版权所有 © 2015-2018 成都矿易帮信息科技有限公司     蜀ICP备16000670号-1
              </p>
            </div>
          </li>
          <li>
            <div class="col">
              <h5 class="about-heading">联系我们</h5>

              <p>
                单位地址：四川省成都市下南大街59号世代锦江国际酒店25楼
                如有任何意见与建议请写信至：i3ot@kuangyibang.com
              </p>
              <h5 class=" txt-color-red login-header-big">演示账号</h5>

              <p>
                企业登录：（客户ID:demo 用户ID：ux9528 密码：123456）
              </p>
            </div>

          </li>

        </ul>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="login-box clearfix">

          <ul class="flex-container ">
            <li class="flex-item " [ngClass] = "item==0 ? 'login-item' : ''" (click)="OnItemClick(0)"  >企业注册</li>
            <li class="flex-item " [ngClass] = "item==1 ? 'login-item' : ''" (click)="OnItemClick(1)" >个人注册</li>
          </ul>

          <div class="login-user">
            <div class=""  [style.display] = "item == 0 ? 'block' : 'none'">
              <form class=" " >
                <div class="form-group">
                  <label class="label">手机号码</label>
                  <input class="form-control" disabled="disabled" placeholder="可用于登录或找回密码" type="text" minlength="1"   name="uNumber">
                </div>

                <div class="form-group">
                  <label class="label">密码</label>
                  <input class="form-control" disabled="disabled" placeholder="请设置登录密码" type="password" name="password"  minlength="6"  data-minlength="3" >
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>用户名最小长度是6</b>
                </div>
                <div class="form-group">
                  <label class="labe">验证码</label>
                  <div class="input-group mb-2 mr-sm-2">
                    <input class="form-control" disabled="disabled" placeholder="请输入验证码" type="text" minlength="1" name="uNumber">

                    <div class="input-group-prepend">
                      <button  disabled="disabled" type="button" class="input-group-text btn txt-color-blueLight btn-sm form-control" >
                        获取短信验证码
                      </button>
                    </div>

                  </div>
                </div>
                <div class="form-group">
                  <p class="txt-color-red" style="padding-bottom:10px;">暂不开放，如需注册，请联系QQ：2839761055</p>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block login-btn "  disabled="disabled" >
                    注册
                  </button>
                </div>

              </form>
            </div>
            <div class=""  [style.display] = "item == 1 ? 'block' : 'none'">
              <form class="" >
                <div class="form-group">
                  <label class="label">手机号码</label>
                  <input class="form-control" disabled="disabled" placeholder="可用于登录或找回密码" type="text" minlength="1"   name="uNumber">
                </div>

                <div class="form-group">
                  <label class="label">密码</label>
                  <input class="form-control" disabled="disabled" placeholder="请设置登录密码" type="password" name="password"  minlength="6"  data-minlength="3" >
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>用户名最小长度是6</b>
                </div>

                <div class="form-group">
                  <label class="labe">验证码</label>
                  <div class="input-group mb-2 mr-sm-2">
                    <input class="form-control" disabled="disabled" placeholder="请输入验证码" type="text" minlength="1" name="uNumber">

                    <div class="input-group-prepend">
                      <button  disabled="disabled" type="button" class="input-group-text btn txt-color-blueLight btn-sm form-control" >
                        获取短信验证码
                      </button>
                    </div>

                  </div>
                </div>

                <div class="form-group">
                  <p class="txt-color-red" style="padding-bottom:10px;">暂不开放</p>
                </div>

                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block login-btn"  disabled="disabled" >
                    注册
                  </button>
                </div>

              </form>
            </div>


          </div>
        </div>

        <h5 class="text-center"> -使用第三方账号 -</h5>
        <ul class="list-inline text-center icon-set">
          <li>
            <a (click)="(null)" ><i class="icon-set_wechat"></i></a>
          </li>
          <li>
            <a (click)="(null)" ><i class="icon-set_nailing"></i></a>
          </li>
        </ul>


      </div>
    </div>
  </div>

</div>
