<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['人事管理', '人员类别']" icon="pencil-square-o" ></sa-big-breadcrumbs>
  </div>
  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs pull-left in">
        <li [class.active]="state.tabs.demo4=='AA'" class="active">
          <a (click)="state.tabs.demo4 = 'AA'">人员类别</a>
        </li>
      </ul>
    </header>
    <div>
      <div class="widget-body">
        <tabset>
          <tab [active]="state.tabs.demo4 == 'AA'">
            <tabset class="padding-10">
              <tab [active]="state.tabs.demo4 == 'AA'">
                <div class="row">
                  <article class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                               [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                      <div>
                        <div class="widget-body no-padding">
                          <alert type="info" class="no-margin" *ngIf="category_id == 0">
                            <i class="fa-fw fa fa-plus"></i>
                            添加人员类别
                          </alert>
                          <alert type="info" class="no-margin"  *ngIf="category_id != 0">
                            <i class="fa-fw fa fa-plus"></i>
                            修改人员类别
                          </alert>
                          <form   class="smart-form ">
                            <fieldset>
                              <section>
                                <label class="label">类别编号</label>
                                <label class="input"><input type="text" placeholder="类别编号" minlength="1" maxlength="20" name="category_number" [(ngModel)]="category_number">
                                </label>
                              </section>
                              <section>
                                <label class="label">人员类别</label>
                                <label class="input">
                                  <input type="text" placeholder="请输人员类别" minlength="1" maxlength="20"  name="category_desc" [(ngModel)]="category_desc">
                                </label>
                              </section>
                            </fieldset>
                            <footer>
                              <button type="button" class="btn btn-primary" (click)="addCategory()">
                                保存
                              </button>
                            </footer>
                          </form>
                        </div>
                      </div>
                    </sa-widget>
                  </article>
                  <article class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                               [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                      <div>
                        <div class="widget-body no-padding">
                          <alert type="info" class="no-margin" >
                            <i class="fa-fw fa fa-spoon"></i>
                            人员类别
                          </alert>
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered dataTable">
                              <thead>
                              <tr>
                                <th>类别编号</th>
                                <th>类别名称</th>
                                <th>操作</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let c of categoryList?.result">
                                <td>{{c.category_number}}</td>
                                <td>{{c.category_desc}}</td><!--yellow-label-->
                                <td>
                                  <div *ngIf="cid == super_admin_id || c.c_id == cid" >
                                    <a class="btn btn-warning btn-xs" (click)="editCategory(c.category_id)"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                                    <a class="btn btn-danger btn-xs" (click)="deleteCategory(c.category_id)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                  </div>
                                  <div *ngIf="cid != super_admin_id && c.c_id != cid">无权操作</div>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                            <!-- 底部-（分页部分）-->
                            <div class="dt-toolbar">
                              <!--<div class="hidden-xs right">-->
                                <!--<ul class="pagination pagination-sm">-->
                                  <!--<li *ngFor="let p of categoryList?.page" class="{{p.class}}">-->
                                    <!--<a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>-->
                                    <!--<a *ngIf="p.method==''">{{p.text}}</a>-->
                                  <!--</li>-->
                                <!--</ul>-->
                              <!--</div>-->
                            </div>
                          </div>
                        </div>
                      </div>
                    </sa-widget>
                    <!-- end widget -->
                  </article>
                </div>
              </tab>
            </tabset>
          </tab>
        </tabset>
      </div>
    </div>
  </sa-widget>
</div>

