<div id="content">

  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs pull-left in">
        <li [class.active]="state.tabs.demo4=='AA'" class="active">
          <a (click)="state.tabs.demo4 = 'AA'">角色</a>
        </li>
      </ul>
    </header>
    <div>
      <div class="widget-body">
        <tabset>
          <tab [active]="state.tabs.demo4 == 'AA'">
            <tabset class="pd-10">
              <tab [active]="state.tabs.demo4 == 'AA'">
                <div class="row">
                  <article class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                               [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                      <div>
                        <div class="widget-body no-padding">
                          <alert type="info" class="no-margin" *ngIf="category_id == 0">
                            <i class="fa-fw fa fa-plus"></i>
                            添加角色
                          </alert>
                          <alert type="info" class="no-margin"  *ngIf="category_id != 0">
                            <i class="glyphicon glyphicon-pencil"></i>
                            修改角色
                          </alert>
                          <div  class="mt-10">
                            <form   class="smart-form ">
                              <fieldset>
                                <section>
                                  <label class="label txt-color-blue">类别编号<span class="asterisk-color">*</span></label>
                                  <label class="input">
                                    <input type="text" placeholder="自动编码" minlength="1" maxlength="20" disabled="disabled" name="category_number" [(ngModel)]="category_number">
                                  </label>
                                </section>
                                <section>
                                  <label class="label txt-color-blue">角色<span class="asterisk-color">*</span></label>
                                  <label class="input">
                                    <input type="text" placeholder="请输角色" minlength="1" maxlength="20"  name="category_desc" [(ngModel)]="category_desc">
                                  </label>
                                </section>
                              </fieldset>
                              <footer>
                                <button class="btn btn-success" type="button">保存并新增</button>
                                <button type="button" class="btn btn-primary" (click)="addCategory()">
                                  保存
                                </button>
                              </footer>
                            </form>
                          </div>

                        </div>
                      </div>
                    </sa-widget>
                  </article>
                  <article class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                               [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                      <div>
                        <div class="widget-body no-padding">
                          <alert type="info" class="no-margin" >
                            <i class="fa-fw fa fa-table"></i>
                            角色
                          </alert>

                          <div  class="row mt-10">
                            <article  class="col-sm-12">
                              <div class="navbar navbar-default">
                                <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                                    <div class="form-group pdlr-4">
                                      <a class="btn default-btn btn-sm"  >
                                        <span class="glyphicon glyphicon-pencil mr-5 color-yellow"></span>修改</a>
                                    </div>
                                    <div class="form-group pdlr-4">
                                      <a class="btn default-btn btn-sm" >
                                        <span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>
                                    </div>
                                    <div class="form-group btn-group pdlr-4">
                                      <a class="btn default-btn btn-sm dropdown-toggle"  data-toggle="dropdown">
                                        <span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>

                                      <ul class="dropdown-menu" role="menu">
                                        <li><a ><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>
                                      </ul>
                                    </div>
                                  </form>
                              </div>
                            </article>
                          </div>

                          <div style="padding:0;">
                            <div style="padding: 0;z-index: 2;" class="table-responsive">
                              <table class="table table-striped   smart-form">
                                <thead>
                                <tr >
                                  <td><label class="checkbox">
                                    <input type="checkbox" name="checkbox-inline" >
                                    <i></i>
                                  </label>
                                  </td>
                                  <th>类别编号</th>
                                  <th>类别名称</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let c of categoryList?.result">
                                  <td><label class="checkbox">
                                    <input type="checkbox" name="checkbox-inline" >
                                    <i></i>
                                  </label>
                                  </td>
                                  <td>{{c.category_number}}</td>
                                  <td>{{c.category_desc}}</td><!--yellow-label-->
                                </tr>
                                </tbody>
                              </table>

                            </div>
                          </div>


                          <!-- 底部-（分页部分）-->
                          <div class="dt-toolbar">
                            <div class="col-xs-12 col-sm-6">
                              <div class="col-xs-12 col-sm-6">
                                <span>共1条</span>
                              </div>
                            </div>
                            <div class="hidden-xs right">
                              <!--<ul class="pagination pagination-sm">
                                <li *ngFor="let p of categoryList?.page" class="{{p.class}}">
                                  <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                  <a *ngIf="p.method==''">{{p.text}}</a>
                                </li>
                              </ul>-->
                            </div>
                          </div>

                        </div>
                      </div>
                    </sa-widget>
                    <!-- end widget -->
                  </article>
                </div>
              </tab>
            </tabset>
          </tab>
        </tabset>
      </div>
    </div>
  </sa-widget>
</div>

