<sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs pull-left in">
        <li [class.active]="state.tabs.demo3=='hr1'">
          <a (click)="state.tabs.demo3 = 'hr1'">  <span
                  class="hidden-mobile hidden-tablet"> 详细信息 </span>
          </a>
        </li>
      </ul>
    </header>
    <div>
      <div class="widget-body">
        <tabset>
          <tab [active]="state.tabs.demo3 == 'hr1'">
            <div class="row">
                <div class="col-sm-4">
                    <div class="well">
                        <P class="alert alert-info">基本资料</P>
                        <table class="table table-striped table-forum">
                            <tbody>
                            <tr>
                                <td class="width-120">设备ID:</td>
                                <td class="">{{ recordInfo.result?.p_id }}</td>
                            </tr>
                            <tr><td class="width-120">设备ID-名称:</td>
                                <td class="">设备ID-名称</td>
                            </tr>
                            <tr>
                                <td class="width-120">员工ID:</td>
                                <td class="">{{ recordInfo.result?.u_id }}</td>
                            </tr>
                            <tr><td class="width-120">姓名:</td>
                                <td class="">信标信息-员工ID-姓名</td>
                            </tr>
                            <tr>
                                <td class="width-120">性别:</td>
                                <td class="">信标信息-员工ID-性别</td>
                            </tr>
                            <tr>
                                <td class="width-120">所属部门:</td>
                                <td class="">信标信息-员工ID-所属部门</td>
                            </tr>
                            <tr><td class="width-120">职务:</td>
                                <td class="">信标信息-员工ID-职务</td>
                            </tr>
                            <tr>
                                <td class="width-120">采集数据时间:</td>
                                <td class="">读取数据时，系统时间</td>
                            </tr>
                            <tr><td class="width-120">采集数据地址:</td>
                                <td class="">读取基站设备地址</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <P class="alert alert-info">检测气体数据</P>
                        <table class="table table-striped table-forum">
                            <tbody>
                            <tr>
                                <td class="width-120">甲烷:</td>
                                <td class="">{{ recordInfo.result?.detail.ch4 }}</td>
                            </tr>
                            <tr><td class="width-120">一氧化碳:</td>
                                <td class="">{{ recordInfo.result?.detail.co }}</td>
                            </tr>
                            <tr>
                                <td class="width-120">二氧化碳:</td>
                                <td class="">{{ recordInfo.result?.detail.co2 }}</td>
                            </tr>
                            <tr><td class="width-120">氧气:</td>
                                <td class="">{{ recordInfo.result?.detail.o2 }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <P class="alert alert-info">温湿度</P>
                        <table class="table table-striped table-forum">
                            <tbody>
                            <tr>
                                <td class="width-120">温度:</td>
                                <td class="">{{ recordInfo.result?.detail.temp }}</td>
                            </tr>
                            <tr><td class="width-120">湿度:</td>
                                <td class="">{{ recordInfo.result?.detail.humi }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="well">
                        <P class="alert alert-info">健康</P>
                        <table class="table table-striped table-forum">
                            <tbody>
                            <tr>
                                <td class="width-120">脑电:</td>
                                <td class="">{{ recordInfo.result?.detail.eeg }}</td>
                            </tr>
                            <tr><td class="width-120">心率:</td>
                                <td class="">{{ recordInfo.result?.detail.ecg }}</td>
                            </tr>
                            <tr><td class="width-120">血氧:</td>
                                <td class="">{{ recordInfo.result?.detail.spo2h }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </tab>
        </tabset>
      </div>
      <!-- end widget content -->
    </div>
    <!-- end widget div -->
  </sa-widget>
