<div id="content">

<!--  <div class="row">
    <sa-big-breadcrumbs [items]="['面板', '动态面板']" icon="home" ></sa-big-breadcrumbs>

  </div>-->

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <app-panel-element></app-panel-element>
      </article>

      <article class="col-sm-4">
        <app-todo-widget></app-todo-widget>
      </article>
      <article class="col-sm-8 ">
        <app-panel-products></app-panel-products>
        <div class="row">
          <article class="col-sm-6">
            <app-panel-staff></app-panel-staff>
          </article>
          <article class="col-sm-6">
            <app-panel-storehouse></app-panel-storehouse>
          </article>
        </div>

      </article>
      <article class="col-sm-6">
        <app-panel-mine></app-panel-mine>
      </article>
      <article class="col-sm-6">
        <app-panel-sell></app-panel-sell>
      </article>



    </div>

    <div class="row">



    </div>
  </sa-widgets-grid>
</div>
