<div id="content">

  <div class="row">
    <sa-big-breadcrumbs [items]="['面板', '动态面板']" icon="home"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4" ></sa-big-breadcrumbs>

  </div>

  <sa-widgets-grid>

    <div class="row">
      <article class="col-sm-12">
        <app-panel-element></app-panel-element>

      </article>
    </div>


    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-4">
        <app-panel-staff></app-panel-staff>




      </article>

      <article class="col-sm-12 col-md-12 col-lg-4">


      </article>
      <article class="col-sm-12 col-md-12 col-lg-4">

        <app-todo-widget></app-todo-widget>


      </article>
    </div>
  </sa-widgets-grid>
</div>
