<!-- 催办-->
<div class="modal" style="display: block" *ngIf="operate_type == 'urge'" id="cuiBan" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:400px;">
    <div class="modal-content text-center">
      <div class="modal-header">
        <!-- 标题 -->
        <h3 class="modal-title " data-ng-bind='results.title'>提示</h3>
        <button type="button" class="close" (click)="close()">&times;</button>
      </div>
      <div class="pd-20">
        <div class="text-center pd-20">
          <h4>你确定要发送催办消息吗？</h4>
        </div>
      </div>
      <div class="modal-footer text-center">

        <button type="button" class="btn btn btn-primary  btn-lg" (click)="setModal('urge')">确定</button>
        <button type="button" class="btn btn-default  btn-lg" (click)="close()">取消</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 审批 -->
<div class="modal" style="display: block" *ngIf="operate_type == 'operation' && is_show_result != 'ok'" id="audit" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:500px;">
    <div class="modal-content text-center">
      <div class="modal-header">
        <!-- 标题 -->
        <h3 class="modal-title " data-ng-bind='results.title'>提示</h3>
        <button type="button" class="close" (click)="close()">&times;</button>
      </div>
      <div class="modal-body ">
        <div class="text-align-left pd-15">
          <h4 *ngIf="operate_button_type == 'operation' && operate_button_type_is_more == ''">{{username}}的单据[{{order_number}}]需要您审批!</h4>
          <h4 *ngIf="operate_button_type == 'cancel' && operate_button_type_is_more == ''">你确定要将单据[{{order_number}}]作废！</h4>
          <h4 *ngIf="operate_button_type == 'back_cancel' && operate_button_type_is_more == ''">你确定要将单据[{{order_number}}]弃废！</h4>
          <h4 *ngIf="operate_button_type == 'cancel' && operate_button_type_is_more == 'all'">您确认批量作废当前选中的[{{select_count}}]张单据吗？</h4>
          <h4 *ngIf="operate_button_type == 'back_cancel' && operate_button_type_is_more == 'all'">您确认批量弃废当前选中的[{{select_count}}]张单据吗？</h4>
          <h4 *ngIf="operate_button_type == 'operation' && operate_button_type_is_more == 'all'">您确认批量审核当前选中的[{{select_count}}]张单据吗？</h4>
        </div>
        <form  >
          <div class="form-group">
            <textarea class="form-control"  rows="6" name="content" [(ngModel)]="content" placeholder="请输入你的意见"></textarea>
          </div>
        </form>
      </div>

      <div class="modal-footer text-center">
        <button type="button" class="btn btn-success  btn-lg" (click)="setModal('ok')" *ngIf="operate_button_type == 'operation'">同意</button>
        <button type="button" class="btn btn-danger  btn-lg" (click)="setModal('no')" *ngIf="operate_button_type == 'operation'">拒绝</button>
        <button type="button" class="btn btn-primary  btn-lg" (click)="setModal(operate_button_type)" *ngIf="operate_button_type == 'cancel' || operate_button_type == 'back_cancel'">确定</button>
        <button type="button" class="btn btn-default  btn-lg" (click)="close()">取消</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal " *ngIf="is_show_result" style="display: block;">
<div class="modal-dialog" style="width:500px;">
<div class="modal-content text-center">
<div class="modal-header">
  <!-- 标题 -->
  <h3 class="modal-title " *ngIf="operate_button_type == 'operation'">开始执行批量审核，请勿关闭</h3>
  <h3 class="modal-title " *ngIf="operate_button_type == 'cancel'">开始执行批量作废，请勿关闭</h3>
  <h3 class="modal-title " *ngIf="operate_button_type == 'back_cancel'">开始执行批量弃废，请勿关闭</h3>
<button type="button" class="close" (click)="close()">&times;</button>
</div>
<div class="pd-20">
  <div class="text-center pd-20" *ngFor="let ra of result_array?.result">
    <div><span>{{ra.msg}}</span></div>
  </div>
</div>
<div class="modal-footer text-center">
<button type="button" class="btn btn btn-primary  btn-lg" (click)="close()">确定</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<bs-modal-backdrop class="modal-backdrop" *ngIf="operate_type == 'urge' || operate_type == 'operation'"></bs-modal-backdrop><!--  *ngIf="is_show_detail"-->

