<!-- MAIN CONTENT -->
<div id="content">
 <!-- <div class="row">
    <sa-big-breadcrumbs *ngIf="u_id == 0" [items]="['用户管理', '添加用户']" icon="pencil-square-o" ></sa-big-breadcrumbs>
    <sa-big-breadcrumbs *ngIf="u_id != 0" [items]="['用户管理', '修改用户']" icon="pencil-square-o" ></sa-big-breadcrumbs>
  </div>-->
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false" >
          <header  *ngIf="u_id == 0">
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>添加员工</h2>
          </header>

          <header *ngIf="u_id != 0">
            <span class="widget-icon"> <i class="fa-fw fa fa-pencil"></i> </span>
            <h2 >修改员工 </h2>
          </header>
          <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
              <app-registration-form></app-registration-form>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </sa-widget>
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
