<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['SRM管理', '客户列表']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

  </div>
  <sa-widget [editbutton]="false" color="blueDark">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>客户列表 </h2>
    </header>
    <div>
      <div class="widget-body no-padding">

        <sa-datatable tableClass="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <th>ID  </th>
            <th>全称</th>
            <th>简称 </th>
            <th>所属行业 </th>
            <th>联系人 </th>
            <th>联系电话</th>
            <th>企业邮箱</th>
            <th>主要产品</th>
            <th>详细地址</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>

          <tr style="display: none;">
            <td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td><td></td>
          </tr>
          <tr >
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a class="btn btn-warning btn-xs" ><span class="glyphicon glyphicon-pencil"></span>修改</a>
              <a class="btn btn-danger btn-xs" ><span class="glyphicon glyphicon-remove"></span>删除</a></td>
          </tr>
          </tbody>

        </sa-datatable>
        <!-- 分页部分-->
        <div class="dataTables_paginate">
          <ul class="pagination">
            <li>
              <a (click)="(null)"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li>
              <a (click)="(null)">2</a>
            </li>
            <li>
              <a (click)="(null)">...</a>
            </li>
            <li>
              <a (click)="(null)">15</a>
            </li>
            <li>
              <a (click)="(null)"><i class="fa fa-arrow-right"></i></a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </sa-widget>





</div>
