<sa-widget
        [editbutton]="false" [deletebutton]="false" [colorbutton]="false">

  <header>
                    <span class="widget-icon">
                        <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>

    <h2>实时数据</h2>

    <ul class="nav nav-tabs pull-right in">
      <li [class.active]="state.tabs.demo3=='hr1'">
        <a (click)="state.tabs.demo3 = 'hr1'"> <i class="fa fa-lg fa-suitcase"></i>
          <span class="hidden-mobile hidden-tablet"> 甲烷 </span>
        </a>
      </li>
      <li [class.active]="state.tabs.demo3=='hr2'">
        <a (click)="state.tabs.demo3 = 'hr2'"> <i class="fa fa-lg fa-child"></i>
          <span class="hidden-mobile hidden-tablet"> 氧气 </span>
        </a>
      </li>

      <li [class.active]="state.tabs.demo3=='hr3'">
        <a (click)="state.tabs.demo3 = 'hr3'"> <i class="fa fa-lg fa-child"></i>
          <span class="hidden-mobile hidden-tablet"> 一氧化碳 </span>
        </a>
      </li>
    </ul>

  </header>

  <div class="widget-body">

    <tabset>
      <tab [active]="state.tabs.demo3 == 'hr1'">
        <div class="row no-space">
          <div class="col-sm-8 col-md-8">
            <div echarts [options]="chartOption" class="demo-chart-220"  ></div>
            <!--  <div class="demo-chart" > <img src="assets/img/chat/chat1.png" class="img-responsive" style="margin: 10px 0 10px 60px;" alt=""></div>-->


          </div>
          <div class="col-sm-4 col-md-4 show-stats">

            <div class="margin-top-10">
              <table class="table table-hover table-striped table-bordered" >
                <thead>
                <tr>
                  <th >时间</th>
                  <th >数据</th>
                </tr>
                </thead>
                <tbody >
                <tr>
                  <td >2017-12-01 17:00:51</td>
                  <td >4.20</td>
                </tr>
                <tr>
                  <td >2017-12-01 17:00:21</td>
                  <td >2.53</td>
                </tr>
                <tr>
                  <td >2017-12-01 17:00:51</td>
                  <td >4.20</td>
                </tr>
                <tr>
                  <td >2017-12-01 17:00:21</td>
                  <td >2.53</td>
                </tr>
                </tbody>
              </table>

              <span class="show-stat-buttons text-align-center">
          <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <a  routerLink="/equipment/helmet-chart" class="btn btn-default btn-block hidden-xs">查看异常数据</a>
          </span>
        </span>
            </div>
          </div>


        </div>
      </tab>

      <tab [active]="state.tabs.demo3 == 'hr2'">
        <div class="row no-space">
          <div class="col-sm-8 col-md-8">
            <div class="demo-chart" > <img src="assets/img/chat/chat1.png" class="img-responsive" style="width:100%;" alt=""></div>
          </div>
          <div class="col-sm-4 col-md-4 show-stats">

            <div class="margin-top-10">
              <table class="table table-hover table-striped table-bordered" >
                <thead>
                <tr>
                  <th >时间</th>
                  <th >数据</th>
                </tr>
                </thead>
                <tbody >
                <tr>
                  <td >2017-12-01 17:00:51</td>
                  <td >4.20</td>
                </tr>
                <tr>
                  <td >2017-12-01 17:00:21</td>
                  <td >2.53</td>
                </tr>
                <tr>
                  <td >2017-12-01 17:00:51</td>
                  <td >4.20</td>
                </tr>
                <tr>
                  <td >2017-12-01 17:00:21</td>
                  <td >2.53</td>
                </tr>
                <tr>
                  <td >2017-12-01 17:00:51</td>
                  <td >4.20</td>
                </tr>
                </tbody>
              </table>

              <span class="show-stat-buttons text-align-center">
          <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <a (click)="(null)" class="btn btn-default btn-block hidden-xs">查看异常数据</a>
          </span>
        </span>
            </div>
          </div>


        </div>
      </tab>

      <tab [active]="state.tabs.demo3 == 'hr3'">
        一氧化碳
      </tab>
    </tabset>

  </div>

</sa-widget>
