<div id="content">
  <!--<div class="row">
    <sa-big-breadcrumbs [items]="['物联网管理', '图表设置']" icon="pencil-square-o"></sa-big-breadcrumbs>
  </div>-->
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <sa-widget
                [togglebutton]="true"
                [editbutton]="false"
                [fullscreenbutton]="true"
                [colorbutton]="true"
                [deletebutton]="false" saSparklineContainer saEasyPieChartContainer>
          <header>
            <ul class="nav nav-tabs pull-left in" id="myTab">
              <li class="active">
                <a data-toggle="tab" href="#s1"><i class="glyphicon glyphicon-stats" ></i> <span
                        class="hidden-mobile hidden-tablet">图表取值范围和颜色效果</span></a>
              </li>
            </ul>
          </header>
          <div class="no-padding">
            <div class="widget-body">
              <div id="myTabContent" class="tab-content" >
                <div class="tab-pane fade active in pd-10 no-padding-bottom" id="s1">
                  <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-6">
                      <sa-widget >
                        <div>
                          <!-- widget content -->
                          <div class="widget-body no-padding">
                            <div type="info" class="no-margin alert alert-primary" *ngIf="s_id == 0">
                              <i class="fa-fw fa fa-plus"></i>
                              添加图表取值范围和颜色效果
                            </div>
                            <div type="info" class="no-margin alert alert-primary" *ngIf="s_id != 0">
                              <i class="fa-fw fa fa-plus"></i>
                              修改图表取值范围和颜色效果
                            </div>
                            <div class="widget-body">

                                <form class="" [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate>
                                  <fieldset>
                                    <div class="col-sm-12">
                                      <div class="form-group">
                                        <label >选择名称</label>
                                        <input type="hidden" name="s_id" formControlName="s_id">
                                        <select class="form-control" style="width:100%" name="s_name" formControlName="s_name" [(ngModel)]="s_name_default">
                                          <option value="0" [selected]="s_id == 0">--请选择---</option>
                                          <option value="ch4"  >甲烷</option>
                                          <option value="co">一氧化碳</option>
                                          <option value="co2">二氧化碳</option>
                                          <option value="o2">氧气</option>
                                          <option value="temp">温度</option>
                                          <option value="humi">湿度</option>
                                          <option value="eeg">脑电</option>
                                          <option value="ecg">心率</option>
                                          <option value="spo2h">血氧</option>
                                        </select>
                                      </div>
                                    </div>
                                  </fieldset>

                                  <fieldset>
                                    <legend><span style="margin-left: 13px;">第一阶段</span></legend>

                                    <div class="form-group margin-top-10 ">
                                      <div class="col-sm-12">
                                        <div class="form-group">
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                              <label>范围取值(最小值)</label>
                                              <input required class="form-control"  placeholder="请输入范围最小值" name="s_interval1_1" formControlName="s_interval1_1" minlength="1" maxlength="10" type="text">
                                            </div>
                                          </div>
                                          <!--<div class="col-sm-2">
                                            <div class="form-group">
                                              <label>  </label>
                                              <b>至</b>
                                            </div>
                                          </div>-->
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                              <div class="form-group">
                                                <label>范围取值(最大值)</label>
                                                <input required class="form-control" placeholder="请输入范围最大值" name="s_interval1_2" formControlName="s_interval1_2" minlength="1" maxlength="10" type="text">
                                              </div>
                                            </div>

                                          </div>
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                              <label>颜色</label>
                                              <input class="form-control" type="color"  maxlength="10" placeholder="#dff0d8" name="s_color1" formControlName="s_color1" />
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </fieldset>
                                  <fieldset>
                                    <legend><span style="margin-left: 13px;">第二阶段</span></legend>
                                    <div class="form-group margin-top-10 ">
                                      <div class="col-sm-12">

                                        <div class="form-group">
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                              <label>范围取值(最小值)</label>
                                              <input required class="form-control"  placeholder="请输入范围最小值" name="s_interval2_1" formControlName="s_interval2_1" minlength="1" maxlength="10" type="text">
                                            </div>
                                          </div>
                                          <!-- <div class="col-sm-1">
                                             <div class="form-group">
                                               <label>  </label>
                                               <b>至</b>
                                             </div>
                                           </div>-->
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                              <label>范围取值(最大值)</label>
                                              <input required class="form-control" placeholder="请输入范围最大值" name="s_interval2_2" formControlName="s_interval2_2" minlength="1" maxlength="10" type="text">
                                            </div>
                                          </div>
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                              <label>颜色</label>
                                              <input class="form-control"  type="color" placeholder="#fcf8e3" maxlength="10" name="s_color2" formControlName="s_color2"/>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </fieldset>
                                  <fieldset>
                                    <legend><span style="margin-left: 13px;">第三阶段</span></legend>
                                    <div class="form-group margin-top-10 ">
                                      <div class="col-sm-12">

                                        <div class="form-group">
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                              <label>范围取值(最小值)</label>
                                              <input required class="form-control"  placeholder="请输入范围最小值" name="s_interval3_1" formControlName="s_interval3_1" minlength="1" maxlength="10" type="text">
                                            </div>
                                          </div>
                                          <!--<div class="col-sm-1">
                                            <div class="form-group">
                                              <label>  </label>
                                              <b>至</b>
                                            </div>
                                          </div>-->
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                              <label>范围取值(最大值)</label>
                                              <input required class="form-control" placeholder="请输入范围最大值" name="s_interval3_2" formControlName="s_interval3_2" minlength="1" maxlength="10" type="text">
                                            </div>
                                          </div>
                                          <div class="col-sm-4">
                                            <div class="form-group">
                                              <label>颜色</label>
                                              <input class="form-control"   saColorpicker type="color" placeholder="#f2dede" maxlength="10" name="s_color3" formControlName="s_color3"/>
                                            </div>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </fieldset>
                                  <fieldset>
                                    <div class="col-sm-12">
                                      <button class="btn btn-warning btn-xs text-center" style="padding:6px;margin:24px 0;">
                                        <i class="fa fa-plus"></i> <span class="hidden-mobile">添加新的阶段</span>
                                      </button>
                                    </div>
                                  </fieldset>
                                  <div class="widget-footer" style="padding-bottom: 8px;margin-bottom: -13px;">
                                    <button type="button" class="btn btn-default  ml-2" >
                                      返回
                                    </button>
                                    <button class="btn btn-success  ml-2" type="button">保存并新增</button>
                                    <button class="btn btn-primary  ml-2" type="submit">
                                      保存
                                    </button>
                                  </div>
                                </form>


                            </div>
                          </div>
                          <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                      </sa-widget>
                    </article>
                    <article class="col-sm-12 col-md-12 col-lg-6">
                      <sa-widget >
                        <div>
                          <!-- widget content -->
                          <div class="widget-body no-padding">
                            <div type="info" class="no-margin alert alert-primary" >
                              <i class="fa-fw fa fa-table"></i>
                              显示图表取值范围和颜色效果
                            </div>

                            <div  class="row ">
                              <article  class="col-sm-12">
                                <div class="navbar navbar-default">
                                    <form  class="navbar-form navbar-left " novalidate="" role="search" >
                                      <div class="form-group pdlr-4">
                                        <a class="btn default-btn btn-sm" >
                                          <span class="fa-fw fa fa-pencil mr-5 color-yellow"></span>修改</a>
                                      </div>
                                      <div class="form-group pdlr-4">
                                        <a class="btn default-btn btn-sm" >
                                          <span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>
                                      </div>
                                      <div class="form-group pdlr-4">
                                        <a class="btn btn-success btn-sm" >
                                          恢复默认颜色</a>
                                      </div>
                                      <div class="form-group btn-group pdlr-4">
                                        <a class="btn default-btn btn-sm dropdown-toggle"  data-toggle="dropdown">
                                          <span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>

                                        <ul class="dropdown-menu" role="menu">
                                          <li><a ><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>
                                          <li><a >批量恢复默认颜色</a></li>
                                        </ul>
                                      </div>
                                    </form>
                                </div>
                              </article>
                            </div>

                            <div style="padding:0;" class="height-overflow">
                              <div style="padding: 0;z-index: 2;" class="table-responsive">
                                <table class="table table-striped   smart-form">
                                  <thead>
                                  <tr >
                                    <td><label class="checkbox">
                                      <input type="checkbox" name="checkbox-inline" >
                                      <i></i>
                                    </label>
                                    </td>
                                    <th>名称</th>
                                    <th colspan="3">取值范围</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr *ngFor="let sl of settingsList.result?.data">
                                    <td><label class="checkbox">
                                      <input type="checkbox" name="checkbox-inline" >
                                      <i></i>
                                    </label>
                                    <td>
                                      <span *ngIf="sl.s_name == 'ch4'">甲烷</span>
                                      <span *ngIf="sl.s_name == 'co'">一氧化碳</span>
                                      <span *ngIf="sl.s_name == 'co2'">二氧化碳</span>
                                      <span *ngIf="sl.s_name == 'o2'">氧气</span>
                                      <span *ngIf="sl.s_name == 'temp'">温度</span>
                                      <span *ngIf="sl.s_name == 'humi'">湿度</span>
                                      <span *ngIf="sl.s_name == 'eeg'">脑电</span>
                                      <span *ngIf="sl.s_name == 'ecg'">心率</span>
                                      <span *ngIf="sl.s_name == 'spo2h'">血氧</span>
                                    </td>
                                    <td *ngFor="let slc of sl.detail_list" [style.background-color]="slc.s_color">
                                      第<span [ngSwitch]="slc.number">
                                    <span *ngSwitchCase="1">一</span>
                                    <span *ngSwitchCase="2">二</span>
                                    <span *ngSwitchCase="3">三</span>
                                    <span *ngSwitchCase="4">四</span>
                                    <span *ngSwitchCase="5">五</span>
                                  </span>阶段
                                      <br>
                                      <small class="text-muted">
                                        <i>{{slc.s_interval_1}}-{{slc.s_interval_2}}</i>
                                      </small></td>
                                    <!--<td><a class="btn btn-warning btn-xs" (click)="getSettingsInfo(sl.s_id)"><span class="fa-fw fa fa-pencil"></span>修改</a>
                                      <a class="btn btn-danger btn-xs" (click)="deleteSettings(sl.s_id)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                      <a class="btn btn-success btn-xs" (click)="toDefault(sl.s_id)">默认颜色</a>
                                    </td>-->
                                  </tr>
                                  </tbody>
                                </table>

                              </div>
                            </div>


                            <!-- 底部-（分页部分）-->
                            <div class="dt-toolbar">
                              <div class="col-xs-12 col-sm-6">
                                <span>共5条</span>
                              </div>
                              <div class="hidden-xs right">
                                <!--<ul class="pagination pagination-sm">
                                  <li *ngFor="let p of categoryList?.page" class="{{p.class}}">
                                    <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                    <a *ngIf="p.method==''">{{p.text}}</a>
                                  </li>
                                </ul>-->
                              </div>
                            </div>

                          </div>
                          <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                      </sa-widget>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

