<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>库存管理</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >

                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailAssets('edit')">
                          <span class="glyphicon glyphicon-pencil mr-5 color-yellow"></span>修改</a>
                      </div>
                      <!--<div class="form-group pdlr-4">-->
                        <!--<a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="deleteAssets('id')">-->
                          <!--<span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>-->
                      <!--</div>-->
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailAssets('detail')">
                          <span class="glyphicon glyphicon-zoom-in mr-5 color-green"></span>详情</a>
                      </div>
                      <!--<div class="form-group btn-group pdlr-4">-->
                        <!--<a class="btn default-btn btn-sm dropdown-toggle" (click)="showAllCheck()" data-toggle="dropdown">-->
                          <!--<span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>-->

                        <!--<ul class="dropdown-menu" role="menu">-->
                          <!--<li><a (click)="deleteAssets('all')"><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    </form>
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" [(ngModel)]="keyword" name="keyword" placeholder="请输入搜索内容" type="text">
                      </div>
                      <div class="form-group pdlr-4">
                        <button class="btn btn-default" type="button" (click)="getAssetsList(1,0)">
                          <i  class="glyphicon glyphicon-search"></i>
                          搜索
                        </button>
                      </div>
                    </form>

                  </div>
                </article>
              </div>
              <div class="mt-10" style="padding:0;">
                <div style="padding: 0;z-index: 2;width:10%;float:left;" class="table-scrolling">
                  <table class="table table-striped  smart-form">
                    <thead>
                    <tr >
                      <th>资产编号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 35px;" *ngFor="let a of assetsList.result?.assetsList?.data" (click)="isStatusShow(a.assets_id,a.assets_status)" [ngClass]="{'table-color':editStatusAssetsId == a.assets_id}"><!--class="table-color"-->
                      <td><span>{{a.assets_number}}</span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive" [ngStyle]="{'padding': '0','z-index': '1','width':width_1,'float':'left'}">
                  <table class="table table-striped  smart-form ">
                    <thead>
                    <tr >
                      <th>商品名称</th>
                      <th>商品类型</th>
                      <th>数量</th>
                      <th>计量单位</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let a1 of assetsList.result?.assetsList?.data" (click)="isStatusShow(a1.assets_id,a1.assets_status)" [ngClass]="{'table-color':editStatusAssetsId == a1.assets_id}"><!-- class="table-color"-->
                      <td><span class="">{{a1.assets_name}}</span></td>
                      <td><span class="">{{a1.category_desc}}</span></td>
                      <td><span class="">{{a1.assets_surplus_count}}</span></td>
                      <td><span class="">{{a1.assets_unit}}</span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="col-xs-12 col-sm-6">
                  <span>共{{assetsList.result?.assetsList?.total}}条</span>
                </div>
                <div class="hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li *ngFor="let ap of assetsList?.result?.page" class="{{ap.class}}">
                      <a (click)="pagination(ap.value)" *ngIf="ap.method=='method'">{{ap.text}}</a>
                      <a *ngIf="ap.method==''">{{ap.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>


<div class="modal fade" bsModal #addModal="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="clear_('edit')">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title  color-yellow" data-ng-bind='results.title'><i class="glyphicon glyphicon-pencil"></i>修改库存信息</h3>
      </div>
      <div class="modal-body height-overflow-380">
        <div class="row mt-20">
          <form   class="smart-form ">
            <fieldset>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label class="label">编号</label>
                  <label class="input">
                    <input  type="text" name="assets_number" [(ngModel)]="assets_number">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label txt-color-blue">商名称<span  class="asterisk-color">*</span></label>
                  <label class="input">
                    <input  type="text" name="assets_name" [(ngModel)]="assets_name">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                <section>
                  <label class="label">商品类型</label>
                  <!--<label class="select form-control border-0">-->
                    <!--<select  name="" >-->
                      <!--<option value="0">&#45;&#45;请选择&#45;&#45;</option>-->
                      <!--<option>4545</option>-->
                      <!--<option>4545</option>-->
                    <!--</select><i></i>-->
                  <!--</label>-->
                  <label class="input">
                    <input  type="text" name="category_type_name" [(ngModel)]="category_type_name">
                  </label>
                </section>

              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                <section>
                  <label  class="label">数量</label>
                  <label class="input">
                    <input  type="number" name="assets_count" [(ngModel)]="assets_count">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12" >
                <section>
                  <label  class="label">计量单位</label>
                  <label class="input">
                    <input  type="text" name="assets_unit" [(ngModel)]="assets_unit">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section>
                  <label class="label">备注</label>
                  <label class="textarea textarea-resizable">
                    <textarea class="custom-scroll" rows="3" name="assets_note" [(ngModel)]="assets_note"></textarea>
                  </label>
                </section>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <!--<button class="btn btn-success btn-sm" type="button"><span class="glyphicon glyphicon-plus"></span>保存并新增</button>-->
        <button type="button" class="btn btn-primary" (click)="onSubmit()">保存</button>
        <button type="button" class="btn btn-default" (click)="clear_('edit')">返回</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" bsModal #detailModal="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="clear_('detail')">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'></h3>
        <h4 class="modal-title">库存信息</h4>
      </div>
      <div class="modal-body height-overflow-380">
        <div class="row ">
          <div class="col-sm-12">
            <div class="" >
              <P class="alert alert-info">基本信息</P>
              <table class="table table-striped table-forum">
                <tbody>
                <tr>
                  <td class="width-120">编号:</td>
                  <td class="">{{assetsInfo?.result?.assets_number}}</td>
                  <td class="width-120">商品名称:</td>
                  <td >{{assetsInfo?.result?.assets_name}}</td>
                </tr>
                <tr>
                  <td class="width-120">商品类型:</td>
                  <td class="">{{category_type_name}}</td>
                  <td class="width-120">数量:</td>
                  <td >{{assetsInfo?.result?.assets_count}}</td>
                </tr>
                <tr>
                  <td class="width-120">计量单位:</td>
                  <td class="" colspan="3">{{assetsInfo?.result?.assets_unit}}</td>
                </tr>
                <tr>
                  <td class="width-120">备注:</td>
                  <td class="" colspan="3">{{assetsInfo?.result?.assets_note}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clear_('detail')">返回</button>
      </div>
    </div>
  </div>
</div>






