<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa {{menuInfos?.menu_icon}}"></i> </span>
            <h2>{{menuInfos?.menu_name}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <article>
                <div class="navbar navbar-default"   *ngIf="super_admin_role_id == login_user_role_id">
                  <form  class="navbar-form" novalidate="" role="search" >

                    <div class="btn-group">
                      <select  class="form-control"  [(ngModel)]="customer_id" name="customer_id" (change)="getRole($event)">
                        <option *ngFor="let cd of customerDefault?.result?.customerList" value="{{cd.c_id}}">{{cd.c_name}}</option>
                      </select>
                    </div>


                  </form>

                </div>
              </article>
              <div class="row table-box-pd">
                <article class="form-group col-sm-6 col-12">

                  <sa-widget class="jarviswidget" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                             [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                    <div>
                      <div class="widget-body no-padding">
                        <div type="info" class="no-margin alert alert-primary"  role="alert" >
                          <i class="fa-fw fa fa-table"></i>
                          角色列表
                        </div>
                        <div class="height-overflow"  style="padding:0;">
                          <div style="padding: 0;z-index: 2;" class="table-responsive">
                            <table class="table table-striped   smart-form">
                              <thead>
                              <tr >
                                <th>角色编号</th>
                                <th>名称</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let r of roleList?.result" (click)="isStatusShow(r.category_id)" [ngClass]="{'table-color':editStatusCategoryId == r.category_id}">
                                <td>{{r.category_id}}</td>
                                <td>{{r.category_desc}}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="footer-size">
                        </div>
                      </div>
                    </div>
                  </sa-widget>
                  <!-- end widget -->
                </article>
                <article class="form-group col-sm-6 col-12">
                  <sa-widget class="jarviswidget" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                             [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                    <div>
                      <div class="widget-body no-padding">
                        <div type="info" class="no-margin alert alert-primary"  role="alert">
                          <i class="fa-fw fa fa-sitemap"></i>
                          角色授权
                        </div>
                        <div class="tree smart-form height-overflow">
                          <ul class="">
                            <li class=" parent_li">
                                    <span>
                                      <label class="checkbox inline-block tree-label pt-12 ">
                                        <input name="checkbox-inline" type="checkbox" [checked]="isHave('0','')" (click)="selectCategoryAll()"><i></i>
                                      </label>
                                      权限管理
                                    <i class="sa-icon fa fa-lg fa-plus-circle" *ngIf="showUl == 0" (click)="showLeftUl(1)"></i>
                                    <i class="sa-icon fa fa-lg fa-minus-circle" *ngIf="showUl == 1" (click)="showLeftUl(0)"></i>
                                    </span>

                              <ul *ngIf="showUl == 1">
                                <li [ngStyle]="{'display':isPermission(c.menu_id,'')?'block':'none'}" class=" parent_li 11" *ngFor="let c of customerDefault?.result?.menuList;let ind = index;">
                                      <span *ngIf="isPermission(c.menu_id,'')">
                                        <label class="checkbox inline-block tree-label ">
                                          <input type="checkbox" name="checkbox-inline" [checked]="isHave(c.menu_id,'')" (click)="selectMenu(c.menu_id,ind,1)">
                                          <i></i>{{c.menu_name}}
                                        </label>
                                        <i class="sa-icon fa fa-lg fa-minus-circle" *ngIf="showUlChild == c.menu_id && c.child_count != 0" (click)="showLeftUlChild(0)"></i>
                                        <i class="sa-icon fa fa-lg fa-plus-circle" *ngIf="showUlChild != c.menu_id && c.child_count != 0" (click)="showLeftUlChild(c.menu_id)"></i>
                                      </span>
                                  <ul *ngIf="showUlChild == c.menu_id  && isPermission(c.menu_id,'')">
                                    <li [ngStyle]="{'display':isPermission(dc.menu_id,'')?'block':'none'}" class="22" *ngFor="let dc of c.child;let indChild = index;">
                                            <span *ngIf="isPermission(dc.menu_id,'')">
                                              <label class="checkbox inline-block tree-label">
                                                <input type="checkbox" name="checkbox-inline" [checked]="isHave(dc.menu_id,'')" (click)="selectMenu(dc.menu_id,ind,2)">
                                                <i></i>{{dc.menu_name}}
                                              </label>
                                              <i class="sa-icon fa fa-lg fa-minus-circle" *ngIf="showUlChild3 == dc.menu_id && dc.child_count != 0" (click)="showLeftUlChild3(0)"></i>
                                              <i class="sa-icon fa fa-lg fa-plus-circle" *ngIf="showUlChild3 != dc.menu_id && dc.child_count != 0" (click)="showLeftUlChild3(dc.menu_id)"></i>
                                            </span>
                                      <ul *ngIf="dc.child_count > 0 && showUlChild3 == dc.menu_id && isPermission(dc.menu_id,'')">
                                        <li [ngStyle]="{'display':isPermission(dc1.menu_id,'')?'block':'none'}" class="33" *ngFor="let dc1 of dc.child;let indChild1 = index;">
                                                <span *ngIf="isPermission(dc1.menu_id,'')">
                                                  <label class="checkbox inline-block tree-label">
                                                    <input name="checkbox-inline" type="checkbox" [checked]=" isHave(dc1.menu_id,'')" (click)="selectMenu(dc1.menu_id,indChild,3)">
                                                    <i></i>{{dc1.menu_name}}
                                                  </label>
                                                </span>
                                          <ul *ngIf="dc1.child_count == 0 && isPermission(dc1.menu_id,'')">
                                            <li *ngFor="let dc2 of dc1.controls;let indChild2 = index;">
                                                  <span>
                                                    <label class="checkbox inline-block tree-label" *ngIf="dc2 == 'add'">
                                                      <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc1.menu_id,dc2)" value="{{dc1.menu_id}}_{{dc2}}" (click)="selectControl($event)">
                                                      <i></i>添加
                                                    </label>
                                                    <label class="checkbox inline-block tree-label" *ngIf="dc2 == 'edit'">
                                                      <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc1.menu_id,dc2)" value="{{dc1.menu_id}}_{{dc2}}" (click)="selectControl($event)">
                                                      <i></i>修改
                                                    </label>
                                                    <label class="checkbox inline-block tree-label" *ngIf="dc2 == 'detail'">
                                                      <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc1.menu_id,dc2)" value="{{dc1.menu_id}}_{{dc2}}" (click)="selectControl($event)">
                                                      <i></i>详情
                                                    </label>
                                                    <label class="checkbox inline-block tree-label" *ngIf="dc2 == 'delete'">
                                                      <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc1.menu_id,dc2)" value="{{dc1.menu_id}}_{{dc2}}" (click)="selectControl($event)">
                                                      <i></i>删除
                                                    </label>
                                                    <label class="checkbox inline-block tree-label" *ngIf="dc2 == 'verify'">
                                                      <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc1.menu_id,dc2)" value="{{dc1.menu_id}}_{{dc2}}" (click)="selectControl($event)">
                                                      <i></i>审核
                                                    </label>
                                                  </span>
                                            </li>
                                          </ul>

                                        </li>
                                      </ul>

                                      <ul *ngIf="dc.child_count == 0 && isPermission(dc.menu_id,'')">
                                        <li *ngFor="let dc1 of dc.controls;let indChild1 = index;">
                                                <span>
                                                  <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'add'">
                                                    <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc.menu_id,dc1)" value="{{dc.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                    <i></i>添加
                                                  </label>
                                                  <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'edit'">
                                                    <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc.menu_id,dc1)" value="{{dc.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                    <i></i>修改
                                                  </label>
                                                  <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'detail'">
                                                    <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc.menu_id,dc1)" value="{{dc.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                    <i></i>详情
                                                  </label>
                                                  <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'delete'">
                                                    <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc.menu_id,dc1)" value="{{dc.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                    <i></i>删除
                                                  </label>
                                                  <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'verify'">
                                                    <input name="checkbox-inline" type="checkbox" [checked]="isHave(dc.menu_id,dc1)" value="{{dc.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                    <i></i>审核
                                                  </label>
                                                </span>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>

                                  <ul *ngIf="c.child_count == 0 && isPermission(c.menu_id,'')">
                                    <li *ngFor="let dc1 of c.controls;let indChild1 = index;">
                                            <span>
                                              <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'add'">
                                                <input name="checkbox-inline" type="checkbox" [checked]="isHave(c.menu_id,dc1)" value="{{c.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                <i></i>添加
                                              </label>
                                              <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'edit'">
                                                <input name="checkbox-inline" type="checkbox" [checked]="isHave(c.menu_id,dc1)" value="{{c.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                <i></i>修改
                                              </label>
                                              <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'detail'">
                                                <input name="checkbox-inline" type="checkbox" [checked]="isHave(c.menu_id,dc1)" value="{{c.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                <i></i>详情
                                              </label>
                                              <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'delete'">
                                                <input name="checkbox-inline" type="checkbox" [checked]="isHave(c.menu_id,dc1)" value="{{c.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                <i></i>删除
                                              </label>
                                              <label class="checkbox inline-block tree-label" *ngIf="dc1 == 'verify'">
                                                <input name="checkbox-inline" type="checkbox" [checked]="isHave(c.menu_id,dc1)" value="{{c.menu_id}}_{{dc1}}" (click)="selectControl($event)">
                                                <i></i>审核
                                              </label>
                                            </span>
                                    </li>
                                  </ul>

                                </li>
                              </ul>

                            </li>
                          </ul>
                        </div>
                        <div class="footer-size flex-justify-end">
                          <button class="btn btn-primary  ml-2" type="button" (click)="submitControl()">
                            保存
                          </button>
                        </div>

                      </div>
                    </div>
                  </sa-widget>
                </article>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>
