<div id="content">
<!--  <div class="row">
    <sa-big-breadcrumbs [items]="['采购管理', '采购订单']" icon="table"></sa-big-breadcrumbs>
  </div>-->
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>采购订单</h2>
          </header>

          <div>
            <div class="widget-body no-padding" >
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                      <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                        <div class="form-group pdlr-4">
                          <a class="btn btn-success btn-sm" (click)="isDemo('/procurement-management/app-order','0')">
                            <span class="glyphicon glyphicon-plus mr-5"></span>添加采购订单</a>
                        </div>
                        <div class="form-group pdlr-4">
                          <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="isDemo('/procurement-management/app-order','1','edit')">
                            <span class="glyphicon glyphicon-pencil mr-5 color-yellow"></span>修改</a>
                        </div>
                        <div class="form-group pdlr-4">
                          <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="deletePurchase('id')">
                            <span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>
                        </div>
                        <div class="form-group pdlr-4">
                          <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="isDemo('/procurement-management/app-order','1','detail')" >
                            <span class="glyphicon glyphicon-zoom-in mr-5 color-green"></span>详情</a>
                        </div>
                        <div class="form-group pdlr-4" *ngIf="isStatus == 2">
                          <a class="btn default-btn btn-sm" (click)="editStatus(1,'id')">
                            <span class="fa-fw fa fa-reply-all mr-5 color-red"></span>弃废</a>
                        </div>
                        <div class="form-group pdlr-4" *ngIf="isStatus == 1">
                          <a class="btn default-btn btn-sm" (click)="editStatus(2,'id')" >
                            <span class="fa-fw fa fa-trash-o mr-5 color-yellow"></span>作废</a>
                        </div>
                        <!--<div class="form-group pdlr-4" >
                          <a class="btn default-btn btn-sm"  >
                            <span class="fa-fw fa fa-trash-o mr-5 color-yellow"></span>作废 </a>
                        </div>
                        <div class="form-group pdlr-4" >
                          <a class="btn default-btn btn-sm"  >
                            <span class="fa-fw fa fa-reply-all mr-5 color-red"></span>弃废 </a>
                        </div>-->
                        <div class="form-group pdlr-4" >
                          <a class="btn default-btn btn-sm"  >
                            <span class="fa-fw fa  fa-clipboard mr-5 color-green"></span>生产进货单 </a>
                        </div>
                        <div class="form-group btn-group pdlr-4">
                          <a class="btn default-btn btn-sm dropdown-toggle" (click)="showAllCheck()" data-toggle="dropdown">
                            <span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a (click)="editStatus(1,'all')"><span class="fa-fw fa fa-play mr-5 color-green"></span>批量设为启动</a></li>
                            <li><a (click)="editStatus(2,'all')"><span class="fa-fw fa fa-stop mr-5 txt-color-blueDark"></span>批量设为无效</a></li>
                            <li class="divider"></li>
                            <li><a (click)="deletePurchase('all')"><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>
                          </ul>
                        </div>

                      </form>
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                          <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" [(ngModel)]="keyword" placeholder="请输入搜索内容" type="text">
                      </div>
                      <div class="form-group pdlr-4">
                        <button class="btn btn-default" type="button" (click)="getPurchaseList(1)">
                          <i  class="glyphicon glyphicon-search"></i>
                          搜索
                        </button>
                      </div>
                    </form>

                  </div>
                </article>
              </div>
              <div  class="padding0">
                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-scrolling   padding0">
                  <table class="table table-striped   smart-form table-height-32">
                    <thead>
                    <tr style="height: 37px;" >
                      <td><label class="checkbox mt-8">
                        <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)" >
                        <i></i>
                      </label>
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 34.5px;" *ngFor="let p of purchaseList?.result?.purchaseList?.data">
                      <td>
                        <label class="checkbox mt-8">
                          <input type="checkbox" value="{{p.pr_id}}" [checked]="selects[p.pr_id]" (change)="handle($event)">
                          <i></i>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div style="z-index: 2;width:50%;float:left;" class="table-scrolling padding0">
                  <table class="table table-striped   smart-form table-height-32">
                    <thead>
                    <tr >
                      <!--<td *ngIf="isAll != 0"><label class="checkbox mt-8">-->
                        <!--<input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)">-->
                        <!--<i></i>-->
                      <!--</label>-->
                      <!--</td>-->
                      <th>单据号</th>
                      <th>单据状态</th>
                      <th>进退货标志</th>
                      <th>单据日期 </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of purchaseList?.result?.purchaseList?.data" (click)="isStatusShow(p.pr_id,p.pr_status)" [ngClass]="{'table-color':editStatusPurchaseId == p.pr_id}">
                      <!--<td *ngIf="isAll != 0">-->
                        <!--<label class="checkbox mt-8">-->
                          <!--<input type="checkbox" value="{{p.pr_id}}" [checked]="selects[p.pr_id]" (change)="handle($event)">-->
                          <!--<i></i>-->
                        <!--</label>-->
                      <!--</td>-->
                      <td>{{p.pr_order}}</td>
                      <td>
                        <span [ngSwitch]="p.pr_status">
                          <span class="button label-button blue" *ngSwitchCase="1">正常</span>
                          <span class="button label-button orange" *ngSwitchCase="2">作废</span>
                          <span class="button label-button gray" *ngSwitchDefault>未知</span>
                        </span>
                      </td>
                      <td>
                        <span [ngSwitch]="p.pr_type">
                          <span class="label-normal" *ngSwitchCase="1">进货</span>
                          <span class="label-invalid" *ngSwitchCase="2">退货</span>
                          <span class="label-unknown" *ngSwitchDefault>未知</span>
                        </span>
                      </td>
                      <td>{{p.pr_date}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div [ngStyle]="{'padding': '0','z-index': '2','width':width_1,'float':'left'}" class="table-responsive">
                  <table class="table table-striped   smart-form table-height-32">
                    <thead>
                    <tr>
                      <th>供应商</th>
                      <th>采购员 </th>
                      <th>采购金额</th>
                      <th>制单人</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p1 of purchaseList?.result?.purchaseList?.data" (click)="isStatusShow(p1.pr_id,p1.pr_status)" [ngClass]="{'table-color':editStatusPurchaseId == p1.pr_id}">
                      <td>{{p1.supplier}}</td>
                      <td>{{p1.employee}}</td>
                      <td>{{p1.pr_cost}}</td>
                      <td>{{p1.u_username}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="col-xs-12 col-sm-6">
                  <span>共{{purchaseList?.result?.purchaseList?.total}}条</span>
                </div>
                <div class="hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li *ngFor="let p of purchaseList?.result?.page" class="{{p.class}}">
                      <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                      <a *ngIf="p.method==''">{{p.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>

</div>

