<aside id="left-panel">
  <!-- User info -->
  <sa-login-info></sa-login-info>
  <nav>

    <!--动态读取--->
    <ul saSmartMenu >
      <li *ngFor="let c of menuDefault?.result?.menuList">
        <a href="#" *ngIf="c.menu_url == '#' || c.menu_url == ''">
          <i class="fa fa-lg fa-fw {{c.menu_icon}}"></i>
          <span class="menu-item-parent {{c.menu_name_class}}">{{c.menu_name}}</span>
        </a>
        <a routerLink="{{c.menu_url}}" *ngIf="c.menu_url != '#' && c.menu_url != ''&& c.menu_target == 0">
          <i class="fa fa-lg fa-fw {{c.menu_icon}}"></i>{{c.menu_name}}
          <span class="{{c.menu_tip_class}}">{{c.menu_tip}}</span>
        </a>
        <a href="{{c.menu_url}}" target="_blank" *ngIf="c.menu_url != '#' && c.menu_url != ''&& c.menu_target == 1">
          <i class="fa fa-lg fa-fw {{c.menu_icon}}"></i>{{c.menu_name}}
        </a>
        <ul  *ngIf="c.child_count != 0">
          <li routerLinkActive="active"  *ngFor="let dc of c.child">
            <a routerLink="{{dc.menu_url}}" *ngIf="dc.child_count == 0&& dc.menu_target == 0">
              {{dc.menu_name}}<span class="{{dc.menu_tip_class}}">{{dc.menu_tip}}</span>
            </a>
            <a href="{{dc.menu_url}}" target="_blank" *ngIf="dc.child_count == 0&& dc.menu_target == 1">
              {{dc.menu_name}}
            </a>
            <a href="#" *ngIf="dc.child_count != 0"><i class="fa fa-lg fa-fw {{dc.menu_icon}}"></i>
              <span class="menu-item-parent {{dc.menu_name_class}}">{{dc.menu_name}}</span>
            </a>
            <ul *ngIf="dc.child_count != 0">
              <li routerLinkActive="active" *ngFor="let dc1 of dc.child">
                <a routerLink="{{dc1.menu_url}}" *ngIf="dc1.menu_target == 0">{{dc1.menu_name}}
                  <span class="{{dc1.menu_tip_class}}">{{dc1.menu_tip}}</span></a>
                <a href="{{dc1.menu_url}}" target="_blank" *ngIf="dc1.menu_target == 1">{{dc1.menu_name}}
                  <span class="{{dc1.menu_tip_class}}">{{dc1.menu_tip}}</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>


    <ul saSmartMenu  *ngIf="c_id == sjfbID">
      <!---三彭州市三界丰碑育苗合作社 导航菜单-->
      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-group "></i> <span
                class="menu-item-parent">{{'人力资源' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/staff">{{'员工档案' | i18n}}</a>
          </li>

          <li routerLinkActive="active">
            <a routerLink="/forms/employees/0">{{'添加员工' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/management/setting-departmentnew">{{'部门设置' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/management/setting-honor">{{'职称设置' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-lg fa-fw  fa-list txt-color-blue"></i> <span
                class="menu-item-parent txt-color-blue">{{'物联网管理' | i18n}}</span></a>
        <ul>
          <!--<li routerLinkActive="active">-->
          <!--<a routerLink="/equipment/data-map">{{'全部实时数据' | i18n}}</a>-->
          <!--</li>-->
          <!--<li routerLinkActive="active">-->
          <!--<a routerLink="/equipment/station-chart">{{'基站传感数据' | i18n}}</a>-->
          <!--</li>-->
          <li routerLinkActive="active">
            <a routerLink="/equipment/helmet-chart">{{'基站传感数据' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/iot/iot-control">{{'风机控制设置' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-lg fa-fw  fa-credit-card"></i> <span
                class="menu-item-parent">{{'账户管理' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/account/account-company">{{'公司信息' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/account/personal-settings">{{'个人设置' | i18n}}</a>
          </li>
        </ul>
      </li>
    </ul>

    <!--默认导航-->
    <ul saSmartMenu  *ngIf="c_id != medical_id && c_id != sjfbID">

      <li *ngIf="is_admin=='1'">
        <a href="#"><i class="fa fa-lg fa-fw  fa-th txt-color-blue"></i> <span
                class="menu-item-parent">{{'收藏夹' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/outlook" title="Outlook">
              <i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">{{'Outlook' | i18n}}</span><span
                    class="badge pull-right inbox-badge margin-right-13">14</span></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-lg fa-fw fa-unlock-alt"></i> <span
                    class="menu-item-parent">{{'V1' | i18n}}</span></a>
            <ul>
              <li>
                <a href="#"><i class="fa fa-lg fa-fw  fa-shopping-cart"></i> <span
                        class="menu-item-parent">{{'采购管理' | i18n}}</span></a>
                <ul>
                  <li routerLinkActive="active">
                    <a routerLink="/procurement-management/procurement-order">{{'采购订单' | i18n}}</a>
                  </li>
                  <!--<li routerLinkActive="active">-->
                  <!--<a routerLink="/procurement-management/app-order/0">{{'添加采购订单' | i18n}}</a>-->
                  <!--</li>-->
                  <li routerLinkActive="active">
                    <a routerLink="/procurement-management/procurement-receipt">{{'进货单' | i18n}}</a>
                  </li>
                  <!--<li routerLinkActive="active">-->
                  <!--<a routerLink="/procurement-management/add-receipt/0">{{'添加进货单' | i18n}}</a>-->
                  <!--</li>-->
                  <li routerLinkActive="active">
                    <a routerLink="/procurement-management/procurement-type">{{'采购类型' | i18n}}</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-group"></i> <span
                        class="menu-item-parent">{{'人力资源' | i18n}}</span></a>
                <ul>
                  <li routerLinkActive="active" *ngIf="is_admin=='1' || is_admin=='2'">
                    <a routerLink="/management/department">{{'部门设置' | i18n}}</a>
                  </li>
                </ul>
              </li>
              <li>
              <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-cubes"></i> <span
                        class="menu-item-parent">{{'产品管理' | i18n}}</span></a>
                <ul>
                  <li routerLinkActive="active">
                    <a routerLink="/inventory-management/commodity-classify">{{'商品分类' | i18n}}</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/tables/product">{{'产品列表' | i18n}}</a>
                  </li>
                  <li routerLinkActive="active" *ngIf="is_admin!='0'">
                    <a routerLink="/forms/product1/0">{{'添加产品' | i18n}}</a>
                  </li>
                  <li routerLinkActive="active" *ngIf="is_admin=='1' || is_admin=='2'">
                    <a routerLink="/management/product3type">{{'产品类型设置' | i18n}}</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/management/setting-conversion">{{'单位换算设置' | i18n}}</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/management/setting-price">{{'商品价格级别' | i18n}}</a>
                  </li>
                  <li routerLinkActive="active" *ngIf="is_admin=='1' || is_admin=='2'">
                    <a routerLink="/management/product4parameters">{{'产品规格/参数设置' | i18n}}</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-suitcase"></i> <span
                        class="menu-item-parent">{{'客户管理' | i18n}}</span></a>
                <ul>
                  <li routerLinkActive="active">
                    <a routerLink="/tables/client1">{{'客户列表' | i18n}}</a>
                  </li>
                  <li routerLinkActive="active" *ngIf="is_admin!='0'">
                    <a routerLink="/forms/customer1/0">{{'添加客户' | i18n}}</a>
                  </li>

                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-skype"></i> <span
                        class="menu-item-parent ">{{'销售管理' | i18n}}</span></a>
                <ul>
                  <li routerLinkActive="active">
                    <a routerLink="/tables/indent">{{'订单列表' | i18n}}</a>
                  </li>
                  <li routerLinkActive="active" *ngIf="is_admin!='0'">
                    <a routerLink="/forms/indent1/0">{{'添加订单' | i18n}}</a>
                  </li>
                </ul>
              </li>
              <li *ngIf="is_admin=='1'">
                <a href="#"><i class="fa fa-lg fa-fw fa-cog txt-color-blue"></i> <span
                        class="menu-item-parent">{{'矿易帮设置' | i18n}}</span></a>
                <ul>
                  <li *ngIf="is_admin=='1'">
                    <a href="#"><i class="fa fa-lg fa-fw fa-suitcase"></i> <span
                            class="menu-item-parent">{{'客户管理' | i18n}}</span></a>
                    <ul>
                      <li routerLinkActive="active">
                        <a routerLink="/tables/client">{{'客户列表' | i18n}}</a>
                      </li>
                      <li routerLinkActive="active">
                        <a routerLink="/forms/customer/0">{{'添加客户' | i18n}}</a>
                      </li>
                    </ul>
                  </li>

                </ul>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active">
          <a routerLink="/app-views/profile"><i class="fa fa-group"></i>
          {{'员工详情页' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/graphs/tree-views">{{'部门参考' | i18n}}</a>
          </li>
          <li>
            <a href="#">{{'暂时不需要' | i18n}}</a>
            <ul>
              <li routerLinkActive="active">
                <a routerLink="/auth/homepage">{{'第一版首页' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/equipment/todo-details">{{'待办事项详情' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/forms/todo-mission">{{'待办事项详情' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/equipment/full-tables">{{'全员查看' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/equipment/helmet-list">{{'安全帽' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/equipment/equipment-beacon">{{'信标' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/equipment/equipment-positioning">{{'定位' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/equipment/station-list">{{'基站设备' | i18n}}</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/equipment/i3otp/0">{{'添加设备' | i18n}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>


      <!--乐风医疗管理 导航菜单-->
      <ul saSmartMenu  *ngIf="c_id == medical_id">
        <li>
          <a title="Dashboard"><i class="fa fa-lg fa-fw fa-medkit"></i> <span
                  class="menu-item-parent">{{'医疗管理' | i18n}}</span></a>
          <ul>
            <li routerLinkActive="active">
              <a routerLink="/medical/medical-commodity"><i class="fa fa-cubes"></i>{{'商品入库管理' | i18n}}</a>
            </li>

            <li routerLinkActive="active">
              <a routerLink="/medical/medical-patient/0"><i class="fa fa-user-md"></i>{{'病人管理' | i18n}}</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/medical/medical-employees"><i class="fa fa-group"></i>{{'员工管理' | i18n}}</a>
            </li>
            <li >
              <a href="#"><i class="fa fa-lg fa-fw fa-skype"></i> <span
                      class="menu-item-parent">{{'销售管理' | i18n}}</span></a>
              <ul>
                <li routerLinkActive="active">
                  <a routerLink="/medical/medical-sales">{{'销售列表' | i18n}}</a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/medical/medical-billing/0">{{'处方单' | i18n}}</a>
                </li>
              </ul>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/medical/medical-inventory"><i class="fa fa-database"></i>{{'库存管理' | i18n}}</a>
            </li>
            <li >
              <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i> <span
                      class="menu-item-parent">{{'设置' | i18n}}</span></a>
              <ul>
                <li routerLinkActive="active">
                  <a routerLink="/inventory-management/inventory-classification">{{'商品分类' | i18n}}</a>
                </li>
              </ul>
            </li>

          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-lg fa-fw  fa-bell"></i>
            <span class="menu-item-parent">{{'待办事项' | i18n}}</span></a>
          <ul>
            <li routerLinkActive="active">
              <a routerLink="/forms/todo-projects">{{'备忘录' | i18n}}</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-lg fa-fw  fa-credit-card"></i> <span
                  class="menu-item-parent">{{'账户管理' | i18n}}</span></a>
          <ul>
            <li routerLinkActive="active">
              <a routerLink="/account/account-company">{{'公司信息' | i18n}}</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/account/personal-settings">{{'个人设置' | i18n}}</a>
            </li>
          </ul>
        </li>
      </ul>

  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
