<aside id="left-panel">
  <!-- User info -->
  <sa-login-info></sa-login-info>

  <nav>
    <ul saSmartMenu>
      <li>
        <a title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
          class="menu-item-parent">{{'首页' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/dashboard/social">{{'动态墙' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/auth/homepage">{{'首页' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-suitcase"></i> <span
                class="menu-item-parent">{{'客户管理' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/client">{{'客户列表' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/customer/0">{{'添加客户' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-child "></i> <span
                class="menu-item-parent">{{'人事管理' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/staff">{{'员工列表' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/app-views/profile"><i class="fa fa-group"></i>
              {{'员工详情页' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/employees/0">{{'添加员工' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/management/department">{{'部门设置' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cubes"></i> <span
                class="menu-item-parent">{{'产品管理' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/product">{{'产品列表' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/product1/0">{{'添加产品' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/management/product3type">{{'产品类型设置' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/management/product4parameters">{{'产品规格/参数设置' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cube  fa-truck"></i> <span
                class="menu-item-parent">{{'CRM管理' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/client1">{{'客户列表' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/customer1/0">{{'添加客户' | i18n}}</a>
          </li>

        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cube  fa-truck"></i> <span
                class="menu-item-parent">{{'销售管理' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/indent">{{'订单列表' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/indent1/0">{{'添加订单' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-lg fa-fw  fa-database"></i> <span
                class="menu-item-parent">{{'仓储管理' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/tables/inventory">{{'仓储列表' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/forms/inventory1/0">{{'添加仓储' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span
                class="menu-item-parent">{{'矿易帮设置' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/management/enterprise">{{'客户设置' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/management/enterprise1">{{'员工设置' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/management/enterprise2">{{'订单设置' | i18n}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <sa-minify-menu></sa-minify-menu>
</aside>
