<div id="content">
 <!-- <div class="row">
    <sa-big-breadcrumbs [items]="['仓库管理', '商品档案']" icon="pencil-square-o" ></sa-big-breadcrumbs>
  </div>-->
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>商品档案</h2>
          </header>

          <div>
            <div class="widget-body no-padding" >
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                        <a class="btn btn-success btn-sm" (click)="lgModal.show();">
                          <span class="glyphicon glyphicon-plus mr-5"></span>添加</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailProduct('edit')" data-toggle="modal" data-target="#myModal3">
                          <span class="glyphicon glyphicon-pencil mr-5 color-yellow"></span>修改</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}"  (click)="deleteProduct('id')">
                          <span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailProduct('detail')">
                          <span class="glyphicon glyphicon-zoom-in mr-5 color-green"></span>详情</a>
                      </div>
                      <div class="form-group pdlr-4" *ngIf="isStatus == 2">
                        <a class="btn default-btn btn-sm" (click)="editStatus(1,'id')">
                          <span class="fa-fw fa fa-play mr-5 color-green"></span>启用</a>
                      </div>
                      <div class="form-group pdlr-4" *ngIf="isStatus == 1">
                        <a class="btn default-btn btn-sm" (click)="editStatus(2,'id')" >
                          <span class="fa-fw fa fa-stop mr-5 txt-color-blueDark"></span>无效</a>
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <a class="btn default-btn btn-sm dropdown-toggle" (click)="showAllCheck()" data-toggle="dropdown">
                          <span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a  (click)="editStatus(1,'all')"><span class="fa-fw fa fa-play mr-5 color-green"></span>批量设为启动</a></li>
                          <li><a  (click)="editStatus(2,'all')"><span class="fa-fw fa fa-stop mr-5 txt-color-blueDark"></span>批量设为无效</a></li>
                          <li class="divider"></li>
                          <li><a (click)="deleteProduct('all')"><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>
                        </ul>
                      </div>
                    </form>
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" [(ngModel)]="keyword"  name="keyword" placeholder="请输入搜索内容" type="text">
                      </div>
                      <div class="form-group pdlr-4">
                        <button class="btn btn-default" type="button" (click)="getProductList(1,0)">
                          <i class="glyphicon glyphicon-search"></i>
                          搜索
                        </button>
                      </div>
                    </form>
                  </div>
                </article>
              </div>
              <div class="pt">
                <article class="form-group col col-xs-4">
                  <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                             [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                    <div>
                      <div class="widget-body no-padding">
                        <alert type="info" class="no-margin">
                          <i class="fa-fw fa fa-sitemap"></i>
                          商品分类
                        </alert>
                        <div class="pd-10">
                          <div class="widget-body">
                            <div class="tree smart-form">
                              <ul class="">
                                <li class=" parent_li">
                                <span><label class="checkbox inline-block tree-label pt-12 ">
                                        <input type="checkbox" name="checkbox-inline" [checked]="select_category_ids[0]" (click)="selectCategoryAll()"><i></i>
                                      </label>
                                  <i class="fa fa-lg fa-folder-open"></i>全部
                                  <i class="sa-icon fa fa-lg fa-plus-circle" *ngIf="showUl == 0" (click)="showLeftUl(1)"></i>
                                  <i class="sa-icon fa fa-lg fa-minus-circle" *ngIf="showUl == 1" (click)="showLeftUl(0)"></i>
                                </span>
                                  <ul class="" *ngIf="showUl == 1">
                                    <li class=" parent_li" *ngFor="let c of productDefault?.result?.categoryList;let ind = index;">
                                    <span>
                                      <label class="checkbox inline-block tree-label ">
                                        <input type="checkbox" name="checkbox-inline" [checked]="select_category_ids[c.category_id]" (click)="selectDepartment(c.category_id,ind,0,1)">
                                        <i></i>{{c.category_desc}}
                                        <em class="txt-color-blue">({{c.child_count}})</em>
                                      </label>
                                      <i class="sa-icon fa fa-lg fa-minus-circle" *ngIf="showUlChild == c.category_id && c.has_child != 0" (click)="showLeftUlChild(0)"></i>
                                      <i class="sa-icon fa fa-lg fa-plus-circle" *ngIf="showUlChild != c.category_id && c.has_child != 0" (click)="showLeftUlChild(c.category_id)"></i>
                                    </span>
                                      <ul class="" *ngIf="showUlChild == c.category_id">
                                        <li *ngFor="let dc of c.child;let indChild = index;">
                                        <span>
                                          <label class="checkbox inline-block tree-label">
                                            <input type="checkbox" name="checkbox-inline" [checked]="select_category_ids[c.category_id] || select_category_ids[dc.category_id]" (click)="selectDepartment(dc.category_id,ind,indChild,c.category_id)">
                                            <i></i>{{dc.category_desc}}
                                            <em class="txt-color-blue">({{c.child_count}})</em>
                                          </label>
                                        </span>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </sa-widget>
                </article>
                <article class="form-group col col-xs-8">
                  <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                             [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                    <div>
                      <div class="widget-body no-padding">
                        <alert type="info" class="no-margin" >
                          <i class="fa-fw fa fa-spoon"></i>
                          商品列表
                        </alert>
                        <div class="mt-10"  style="padding:0;">
                          <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-scrolling">
                            <table class="table table-striped   smart-form table-height-32">
                              <thead>
                              <tr style="height: 37px;" >
                                <td><label class="checkbox " >
                                  <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)" >
                                  <i></i>
                                </label>
                                </td>
                              </tr>
                              </thead>
                              <tbody>
                              <tr  style="height: 34.5px;" *ngFor="let p of productList.result?.productList?.data">
                                <td >
                                  <div class="">
                                    <label class="checkbox padding-top-10" *ngIf="cid != super_admin_id && cid != p.c_id" >
                                      <input type="checkbox" name="checkbox-inline" disabled="disabled">
                                      <i></i>
                                    </label>
                                    <label class="checkbox padding-top-10" *ngIf="cid == super_admin_id || cid == p.c_id" >
                                      <input type="checkbox" name="checkbox-inline" value="{{ p.p_id }}" [checked]="selects[p.p_id]" (change)="handle($event)">
                                      <i></i>
                                    </label>
                                  </div>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <div style="padding: 0;z-index: 2;width:20%;float:left;" class="table-scrolling">
                            <table class="table table-striped   smart-form table-height-32">
                              <thead>
                              <tr >
                                <th><span class="">商品编号</span></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let p of productList.result?.productList?.data" (click)="isStatusShow(p.p_id,p.p_status)" [ngClass]="{'table-color':editStatusProductId == p.p_id}"><!--class="table-color"-->
                                <td><span class="">{{p.p_product_id}}</span></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <div [ngStyle]="{'padding': '0','z-index': '1','width':width_1,'float':'left'}" class="table-responsive">
                            <table class="table table-striped  smart-form table-height-32">
                              <thead>
                              <tr>
                                <th ><span class="">商品属性</span></th>
                                <th><span class="">商品名称</span></th>
                                <th><span class="">商品分类</span></th>
                                <th><span class="">生产厂家</span></th>
                                <th><span class="">参考售价</span></th>
                                <th><span class="">图片</span></th>
                                <th><span class="">状态</span></th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let p1 of productList.result?.productList?.data" (click)="isStatusShow(p1.p_id,p1.p_status)" [ngClass]="{'table-color':editStatusProductId == p1.p_id}"><!-- class="table-color"-->
                                <td><span class="">{{(p1.p_property == 1) ? '销售':'外购'}}</span></td>
                                <td><span class="">{{p1.p_name}}</span></td>
                                <td><span class="">{{p1.category}}</span></td>
                                <td><span class="">{{p1.c_name}}</span></td>
                                <td><span class="">{{p1.p_purchase_price}}</span></td>
                                <td>
                                  <div class="" style="height:auto;" *ngIf="p1.imgs">
                                    <img *ngFor="let i of p1.imgs" alt=""  height="22" width="22" class="img-picture"  src="{{url}}{{i}}">
                                  </div>
                                </td>
                                <td><span class="">{{(p1.p_status == 1) ? '正常':'无效'}}</span></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <!-- 底部-（分页部分）-->
                        <div class="dt-toolbar">
                          <div class="col-xs-12 col-sm-6">
                            <span>共{{productList.result?.productList?.total}}条</span>
                          </div>
                          <div class="hidden-xs right">
                            <ul class="pagination pagination-sm">
                              <li *ngFor="let p of productList?.result?.page" class="{{p.class}}">
                                <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                <a *ngIf="p.method==''">{{p.text}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </sa-widget>
                  <!-- end widget -->
                </article>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>

  <div class="modal fade" bsModal #lgModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- 关闭按钮 -->
          <button type="button" class="close"  (click)="clear_();lgModal.hide()">
            ×
          </button>
          <!-- 标题 -->
          <h3 class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>添加商品档案</h3>
          <!-- <h3 class="modal-title  glyphicon glyphicon-pencil txt-color-red" data-ng-bind='results.title'>修改商品档案</h3>-->
        </div>
        <div class="modal-body">
          <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
            <header>
              <ul class="nav nav-tabs pull-left in">
                <li [class.active]="state.tabs.demo3=='hr1'" class="active">
                  <a (click)="state.tabs.demo3 = 'hr1'">基本信息</a>
                </li>
                <li [class.active]="state.tabs.demo3=='hr2'" class="active">
                  <a (click)="state.tabs.demo3 = 'hr2'">其他信息</a>
                </li>
                <li [class.active]="state.tabs.demo3=='hr3'" class="active">
                  <a (click)="state.tabs.demo3 = 'hr3'">多单位</a>
                </li>
                <li [class.active]="state.tabs.demo3=='hr4'" class="active">
                  <a (click)="state.tabs.demo3 = 'hr4'">多级价格</a>
                </li>
                <li [class.active]="state.tabs.demo3=='hr5'" class="active">
                  <a (click)="state.tabs.demo3 = 'hr5'">图片信息</a>
                </li>
              </ul>
            </header>
            <div class="height-overflow-380">
              <div class="widget-body">
                <tabset>
                  <tab [active]="state.tabs.demo3 == 'hr1'">
                    <tabset >
                      <tab [active]="state.tabs.demo3 == 'hr1'">
                        <div class="row">
                          <form   class="smart-form ">
                            <fieldset>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label txt-color-blue">商品编号<span class="asterisk-color">*</span></label>
                                  <label class="input">
                                    <input type="text" name="p_product_id" [(ngModel)]="p_product_id" placeholder="商品编号" [disabled]="isDetail=='detail'" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label txt-color-blue">商品名称<span class="asterisk-color">*</span></label>
                                  <label class="input">
                                    <input type="text" placeholder="商品名称"  name="p_name" [(ngModel)]="p_name" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>

                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label">规格型号</label>
                                  <label class="input">
                                    <input type="text" placeholder=""  name="p_specification" [(ngModel)]="p_specification" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label txt-color-blue">商品分类<span class="asterisk-color">*</span></label>
                                  <label class="select">
                                    <select class="input-sm" name="p_category_id" [(ngModel)]="p_category_id" [disabled]="isDetail=='detail'">
                                      <option [selected]="p_id == 0" value="0">--请选择--</option>
                                      <option *ngFor="let c of productDefault.result?.categoryListForAdd" [selected]="productInfo.result?.p_category_id == c.category_id" value="{{ c.category_id }}">
                                        <b *ngIf="c.category_depth == 0">{{c.category_desc}}</b>
                                        <b *ngIf="c.category_depth != 0">--{{c.category_desc}}</b>
                                      </option>
                                    </select><i></i>
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label">助记码</label>
                                  <label class="input">
                                    <input type="text" placeholder="助记码" name="p_shortcode" [(ngModel)]="p_shortcode" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label">商品属性</label>
                                  <label class="select">
                                    <select class="input-sm" name="p_property" [(ngModel)]="p_property" (change)="changePoperty($event)" [disabled]="isDetail=='detail'">
                                      <option value="0">--请选择--</option>
                                      <option value="1">销售</option>
                                      <option value="2">外购</option>
                                    </select> <i></i>
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label">计量单位</label>
                                  <label class="select">
                                    <select class="input-sm" name="p_unit" [(ngModel)]="p_unit" [disabled]="isDetail=='detail'">
                                      <option value="0" disabled="disabled" >选择计量单位</option>
                                      <option value="1" >件</option>
                                      <option value="2" >颗</option>
                                      <option value="3" >kg</option>
                                    </select> <i></i> </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="p_property_id == 2">
                                <section>
                                  <label class="label ">参考进价</label>
                                  <label class="input">
                                    <input type="number" placeholder="参考进价"  name="p_purchase_price" [(ngModel)]="p_purchase_price" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="p_property_id == 1">
                                <section>
                                  <label class="label ">参考售价</label>
                                  <label class="input">
                                    <input type="number" placeholder="参考售价"  name="p_purchase_price" [(ngModel)]="p_purchase_price" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>

                              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <section>
                                  <label class="label">备注</label>
                                  <label class="textarea textarea-resizable">
                                    <textarea class="custom-scroll" rows="2" name="p_notes" [(ngModel)]="p_notes" [disabled]="isDetail=='detail'"></textarea>
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <section>
                                  <label class="label ">条码</label>
                                  <label class="input">
                                    <input type="text" placeholder="" name="p_qrcode" [(ngModel)]="p_qrcode" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </tab>
                    </tabset>
                  </tab>
                  <tab [active]="state.tabs.demo3 == 'hr2'">
                    <tabset >
                      <tab [active]="state.tabs.demo3 == 'hr2'">
                        <div class="row">
                          <form   class="smart-form ">
                            <fieldset>
                              <!--<div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                                <!--<section >-->
                                  <!--<label class="label ">厂家</label>-->
                                  <!--<label class="input">-->
                                    <!--<input name="c_id" [(ngModel)]="c_id" type="text" >-->
                                  <!--</label>-->
                                <!--</section>-->
                              <!--</div>-->
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">最高库存</label>
                                  <label class="input">
                                    <input name="p_max_stock" [(ngModel)]="p_max_stock" type="text" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">最低库存</label>
                                  <label class="input">
                                    <input name="p_min_stock" [(ngModel)]="p_min_stock" type="text" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">参考成本</label>
                                  <label class="input">
                                    <input name="p_cost" [(ngModel)]="p_cost" type="text" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label">销售提成方式</label>
                                  <label class="select">
                                    <select class="input-sm" name="p_retail_method" [(ngModel)]="p_retail_method" [disabled]="isDetail=='detail'">
                                      <option value="1" >不设置</option>
                                      <option value="2" >按金额</option>
                                      <option value="3" >按比例</option>
                                    </select> <i></i> </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">销售提成设置</label>
                                  <label class="input">
                                    <input name="p_retail_amout" [(ngModel)]="p_retail_amout" type="text" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">停用时间</label>
                                  <label class="input">
                                    <input name="p_stop_time" [(ngModel)]="p_stop_time" disabled="disabled" type="text" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">停用人</label>
                                  <label class="input">
                                    <input name="p_stop_use" [(ngModel)]="p_stop_use" disabled="disabled" type="text" [disabled]="isDetail=='detail'">
                                  </label>
                                </section>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </tab>
                    </tabset>
                  </tab>
                  <tab [active]="state.tabs.demo3 == 'hr3'">
                    <tabset >
                      <tab [active]="state.tabs.demo3 == 'hr3'">
                        <div class="row">
                          <div class="well padding">
                            只能设置一个库存单位,当库存单位设置为浮动换算时,只能设置一个辅单位。
                            主计量单位数量=辅计量单位数量*换算率。<br/>
                            例如：一箱有100包，主单位为"包"，辅单位为"箱"，换算率为100（包装数）, 或者 主单位为"箱"，辅单位为"包"，换算率为0.01（1/100）
                          </div>
                          <div class="table-responsive padding0 table-minheight">
                            <table class="table table-striped  table-hover smart-form">
                              <thead>
                              <tr>
                                <th>操作</th>
                                <th>辅单位 </th>
                                <th>库存单位 </th>
                                <th>浮动换算</th>
                                <th>换算率  </th>
                                <th>条码 </th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td><a class="btn btn-warning btn-xs"  ><span class="glyphicon glyphicon-plus"></span>添加</a>
                                  <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                </td>
                                <td>
                                  <div style="text-align: center; width: 100px;" >
                                    <table border="0" cellspacing="0" cellpadding="1">
                                      <tbody>
                                      <tr>
                                        <td>
                                          <form class="smart-form">
                                            <section>
                                              <label class="input">
                                                <input  name="" type="text">
                                                <i class="fa fa-search icon-append cursor-pointer"></i>
                                              </label>
                                            </section>
                                          </form>
                                        </td>
                                        <td>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </td>
                                <td>
                                  <div style="text-align: center; width: 100px;" >
                                    否
                                    <span class="txt-color-red">请先设置辅单位</span>
                                    <table border="0" cellspacing="0" cellpadding="1">
                                      <tbody>
                                      <tr>
                                        <td>
                                          <form class="smart-form">
                                            <section>
                                              <div class="inline-group">
                                                <label class="radio">
                                                  <input  name="radio-inline" type="radio">
                                                  <i></i>是</label>
                                                <label class="radio">
                                                  <input name="radio-inline" checked="" type="radio">
                                                  <i></i>否</label>
                                              </div>
                                            </section>
                                          </form>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </td>
                                <td>
                                  <div style="text-align: center; width: 100px;" >
                                    否
                                    <span class="txt-color-red">请先设置辅单位</span>
                                    <table border="0" cellspacing="0" cellpadding="1">
                                      <tbody>
                                      <tr>
                                        <td>
                                          <form class="smart-form">
                                            <section>
                                              <div class="inline-group">
                                                <label class="radio">
                                                  <input  name="radio-inline" type="radio">
                                                  <i></i>是</label>
                                                <label class="radio">
                                                  <input name="radio-inline" checked="" type="radio">
                                                  <i></i>否</label>
                                              </div>
                                            </section>
                                          </form>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </td>
                                <td>
                                  <div style="text-align: center; width: 100px;" >
                                    <span class="txt-color-red">请先设置辅单位</span>
                                    <table border="0" cellspacing="0" cellpadding="1">
                                      <tbody>
                                      <tr>
                                        <td>
                                          <form class="smart-form">
                                            <section>
                                              <label class="input">
                                                <input  name="" type="text">
                                              </label>
                                            </section>
                                          </form>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </td>
                                <td>
                                  <div style="text-align: center; width: 100px;" >
                                    <span class="txt-color-red">请先设置辅单位</span>
                                    <table border="0" cellspacing="0" cellpadding="1">
                                      <tbody>
                                      <tr>
                                        <td>
                                          <form class="smart-form">
                                            <section>
                                              <label class="input">
                                                <input  name="" type="text">
                                              </label>
                                            </section>
                                          </form>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </tab>
                    </tabset>
                  </tab>
                  <tab [active]="state.tabs.demo3 == 'hr4'">
                    <tabset >
                      <tab [active]="state.tabs.demo3 == 'hr4'">
                        <div class="row">
                          <form   class="smart-form ">
                            <fieldset>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">一级价</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">二级价</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">三级价</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">市场价</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">厉害价</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">最高级</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">参考价格</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">跳楼价</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">蹦极价</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">十级价</label>
                                  <label class="input">
                                    <input  name=""    type="text" >
                                  </label>
                                </section>
                              </div>
                            </fieldset>
                          </form>
                        </div>
                      </tab>
                    </tabset>
                  </tab>
                  <tab [active]="state.tabs.demo3 == 'hr5'">
                    <tabset >
                      <tab [active]="state.tabs.demo3 == 'hr5'">
                        <div class="row">
                          <div class="col-xs-12">
                            <div>
                              <ul class="ace-thumbnails clearfix">
                                <li class="canDel" *ngFor="let img of imgList;let ind = index;">
                                  <a class="cboxElement" href="{{url}}{{img}}" >
                                    <img width="150" height="150" alt="150x150" src="{{url}}{{img}}">
                                  </a>
                                  <div class="tools tools-top" *ngIf="isDetail!='detail'">
                                    <a class="pull-right" (click)="removeImg(ind)">
                                      <i class="ace-icon fa fa-times txt-color-red">
                                      </i>
                                    </a>
                                  </div>
                                  <!--<div class="c-content-inner">-->
                                    <!--<div  class="c-file-upload">-->
                                      <!--<button class="btn btn-primary ">浏览图片</button>-->
                                      <!--&lt;!&ndash;<input id="image-input" class="btn btn-primary " type="file" c-img-cropper-select [cropper]="cropper">&ndash;&gt;-->
                                    <!--</div>-->
                                  <!--</div>-->
                                </li>
                                <li *ngIf="isDetail!='detail'">
                                  <img-cropper #cropper [image]="data1" [settings]="cropperSettings1" (onCrop)="cropped($event)"></img-cropper>
                                </li>
                                <li *ngIf="isDetail!='detail'">
                                  <div  class="c-file-upload">
                                    <!--<button class="btn btn-primary ">浏览图片</button>-->
                                    <a class="btn btn-primary " style="width: 150px; height: 150px;" >
                                      <i class="fa fa-plus fa-2x" style="color: #ccc; padding-top: 7px; padding-left: 16px; font-size: 152px;"></i>
                                    </a>
                                    <input id="image-input" class="btn btn-primary " type="file" c-img-cropper-select [cropper]="cropper">
                                  </div>
                                </li>
                                <li *ngIf="isDetail!='detail'"><button type="button" class="btn btn-primary" (click)="postFile()">确认上传</button></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </tab>
                    </tabset>
                  </tab>
                </tabset>
              </div>
            </div>
          </sa-widget>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-success btn-sm" ><span class="glyphicon glyphicon-plus"></span>保存并新增</button>-->
          <button [disabled]="isDetail=='detail'" type="button" class="btn btn-primary"  (click)="onSubmit();lgModal.hide()">保存</button>
          <button type="button" class="btn btn-default"  (click)="clear_();lgModal.hide()">返回</button>
        </div>
      </div>
    </div>
  </div>
</div>

