<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['矿易帮设置', '项目设置']" icon="pencil-square-o" ></sa-big-breadcrumbs>
  </div>
  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs  in" id="myTab">
        <li class="active">
          <a data-toggle="tab" href="#s7"><i class="fa fa-clock-o" ></i> <span
                  class="hidden-mobile hidden-tablet">Live Stats</span></a>
        </li>

        <li>
          <a data-toggle="tab" href="#s2"><i class="fa fa-facebook" ></i> <span
                  class="hidden-mobile hidden-tablet">Social Network</span></a>
        </li>

        <li>
          <a data-toggle="tab" href="#s3"><i class="fa fa-dollar" ></i> <span
                  class="hidden-mobile hidden-tablet">Revenue</span></a>
        </li>
      </ul>

    </header>
    <div class="no-padding">

      <div class="widget-body">

        <div id="myTabContent" class="tab-content">

         <!-- <app-setting-affiliation class="tab-pane fade active in padding-10 no-padding-bottom" id="s7"></app-setting-affiliation>-->

         <!-- <social-network-feed class="tab-pane fade" id="s2" ></social-network-feed>

          <revenue-feed class="tab-pane fade" id="s3" ></revenue-feed>-->

        </div>

      </div>

    </div>
   <!-- <div>
      <div class="widget-body">
        <tabset>
          <tab [active]="state.tabs.demo4 == 'AA'">
            <tabset class="padding-10">
              <tab [active]="state.tabs.demo4 == 'AA'">
                <app-setting-affiliation></app-setting-affiliation>
              </tab>
            </tabset>
          </tab>
        </tabset>
      </div>
    </div>-->
  </sa-widget>
</div>
