
<div class="modal fade in" style="display: block"><!-- bsModal #lgModal="bs-modal"--->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="closeSubmit()">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>选择商品</h3>
      </div>
      <div class="modal-body ">
        <div  class="row">
          <article  class="col-sm-12">
            <div class="navbar navbar-default">
              <div class="collapse navbar-collapse">

                <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                  <div class="form-group pdlr-4">
                    <div class="form-group padding-left-10">
                      <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" [(ngModel)]="keyword"  name="keyword" placeholder="请输入搜索内容" type="text">
                    </div>
                    <button class="btn btn-default" type="button" (click)="searchKey(1)">
                      <i  class="glyphicon glyphicon-search"></i>
                      搜索
                    </button>
                  </div>

                </form>
              </div>
            </div>
          </article>
        </div>
        <div class="pt margin-b50">
          <div class="row" style="padding:0 10px;">
            <article class="form-group col col-xs-4 ">
              <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                         [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                <div>
                  <div class="widget-body no-padding">
                    <alert type="info" class="no-margin"  >
                      <i class="fa-fw fa fa-sitemap"></i>
                      商品分类
                    </alert>
                    <div class="pd-10 border-overflow-320" style="margin-top: -11px;">
                      <div class="widget-body  ">
                        <div class="tree smart-form">
                          <ul class="">
                            <li class=" parent_li">
                                  <span><label class="checkbox inline-block tree-label pt-12 ">
                                          <input type="checkbox" name="checkbox-inline" [checked]="select_category_ids[0]" (click)="selectCategoryAll()"><i></i>
                                        </label>
                                    <i class="fa fa-lg fa-folder-open"></i>全部
                                    <i class="sa-icon fa fa-lg fa-plus-circle" *ngIf="showUl == 0" (click)="showLeftUl(1)"></i>
                                    <i class="sa-icon fa fa-lg fa-minus-circle" *ngIf="showUl == 1" (click)="showLeftUl(0)"></i>
                                  </span>
                              <ul class="" *ngIf="showUl == 1">
                                <li class=" parent_li" *ngFor="let c of productDefault?.result?.categoryList;let ind = index;">
                                    <span>
                                      <label class="checkbox inline-block tree-label ">
                                        <input type="checkbox" name="checkbox-inline" [checked]="select_category_ids[c.category_id]" (click)="selectCategory(c.category_id,ind,0,1)">
                                        <i></i>{{c.category_desc}}
                                        <em class="txt-color-blue">({{c.child_count}})</em>
                                      </label>
                                      <i class="sa-icon fa fa-lg fa-minus-circle" *ngIf="showUlChild == c.category_id && c.has_child != 0" (click)="showLeftUlChild(0)"></i>
                                      <i class="sa-icon fa fa-lg fa-plus-circle" *ngIf="showUlChild != c.category_id && c.has_child != 0" (click)="showLeftUlChild(c.category_id)"></i>
                                    </span>
                                  <ul class="" *ngIf="showUlChild == c.category_id">
                                    <li *ngFor="let dc of c.child;let indChild = index;">
                                        <span>
                                          <label class="checkbox inline-block tree-label">
                                            <input type="checkbox" name="checkbox-inline" [checked]="select_category_ids[c.category_id] || select_category_ids[dc.category_id]" (click)="selectCategory(dc.category_id,ind,indChild,c.category_id)">
                                            <i></i>{{dc.category_desc}}
                                            <em class="txt-color-blue">({{c.child_count}})</em>
                                          </label>
                                        </span>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="dt-toolbar">
                    </div>
                  </div>
                </div>
              </sa-widget>
            </article>
            <article class="form-group col col-xs-8 ">
              <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                         [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                <div>
                  <div class="widget-body no-padding">
                    <alert type="info" class="no-margin" >
                      <i class="fa-fw fa fa-table"></i>
                      商品列表
                    </alert>
                    <div class="mt-10 "  style="padding:0;">
                      <div style="padding: 0;z-index: 1;" class="table-responsive border-overflow-320">
                        <table class="table table-striped  table-hover smart-form table-height-32">
                          <thead>
                          <tr>
                            <td><label class="checkbox mt-8">
                              <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)">
                              <i></i>
                            </label>
                            </td>
                            <th>商品编号</th>
                            <th>商品属性</th>
                            <th>商品名称</th>
                            <th>商品储量</th>
                            <th>商品分类</th>
                            <th>生产厂家</th>
                            <th>参考售价</th>
                            <th>图片</th>
                            <th>状态</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr  *ngFor="let p of searchProductList?.result?.productList?.data;let ind = index;"><!-- class="table-color"-->
                            <td>
                              <label class="checkbox padding-top-10">
                                <input type="checkbox" name="checkbox-inline" value="{{ p.p_id }}" [checked]="selects[p.p_id]" (change)="handle($event,ind)" disabled="disabled" *ngIf="p.openinginventory_count<=0">
                                <input type="checkbox" name="checkbox-inline" value="{{ p.p_id }}" [checked]="selects[p.p_id]" (change)="handle($event,ind)" *ngIf="p.openinginventory_count>0">
                                <i></i>
                              </label>
                            </td>
                            <td>{{p.p_product_id}}</td>
                            <td>{{p.p_property==1?'销售':'外购'}}</td>
                            <td>{{p.p_name}}</td>
                            <td>{{p.openinginventory_count}}</td>
                            <td>{{p.category}}</td>
                            <td>{{p.c_name}}</td>
                            <td>{{p.p_purchase_price}}</td>
                            <td>
                              <div style="height:auto;" >
                                <img *ngFor="let img of p.imgs" alt="" height="22" width="22" class="img-picture" src="{{url}}{{img}}">
                              </div>
                            </td>
                            <td>
                              <span [ngSwitch]="p.p_status">
                                      <span class="label-normal" *ngSwitchCase="1">正常</span>
                                      <span class="label-invalid" *ngSwitchCase="2">无效</span>
                              </span>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- 底部-（分页部分）-->
                    <div class="dt-toolbar">
                      <div class="col-xs-12 col-sm-6">
                        <span>共{{ searchProductList?.result?.productList?.total}}条</span>
                      </div>
                      <div class="hidden-xs right">
                        <ul class="pagination pagination-sm">
                          <li *ngFor="let p of searchProductList?.result?.page" class="{{p.class}}">
                            <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                            <a *ngIf="p.method==''">{{p.text}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </sa-widget>
              <!-- end widget -->
            </article>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" (click)="addInput()"><span class="glyphicon glyphicon-plus"></span>选入</button>
        <!--    <button type="button" class="btn btn-primary" data-ng-click="ok()">保存</button>-->
        <button type="button" class="btn btn-default" (click)="closeSubmit()">返回</button>
      </div>
    </div>
  </div>
</div>

<bs-modal-backdrop class="modal-backdrop fade in"></bs-modal-backdrop><!--  *ngIf="is_show_detail"-->

