<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>病人管理</h2>
          </header>

          <div>
            <div class="widget-body no-padding" >
              <div  class="row">
                <article  class="col-sm-12">
                  <div class="navbar navbar-default">
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >

                      <div class="form-group pdlr-4">
                        <a class="btn btn-success btn-sm" (click)="lgModal.show();">
                          <span class="glyphicon glyphicon-plus mr-5"></span>添加</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailCustomer('edit')">
                          <span class="glyphicon glyphicon-pencil mr-5 color-yellow"></span>修改</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="deleteCustomer('id')">
                          <span class="fa-fw fa  fa-trash-o mr-5 color-red"></span>删除</a>
                      </div>
                      <div class="form-group pdlr-4">
                        <a [ngClass]="{'btn default-btn btn-sm':true,'not-click':isStatus == 0}" (click)="detailCustomer('detail')">
                          <span class="glyphicon glyphicon-zoom-in mr-5 color-green"></span>详情</a>
                      </div>
                      <div class="form-group btn-group pdlr-4">
                        <a class="btn default-btn btn-sm dropdown-toggle" (click)="showAllCheck()" data-toggle="dropdown">
                          <span class="fa-fw fa fa-th-large mr-5 color-red"></span>批处理<i class="fa fa-fw fa-chevron-down"></i></a>

                        <ul class="dropdown-menu" role="menu">
                          <li><a (click)="deleteCustomer('all')"><span class="fa-fw fa  fa-trash-o color-red mr-5"></span>批量删除</a></li>
                        </ul>
                      </div>
                    </form>
                    <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                      <div class="form-group pdlr-4">
                        <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" [(ngModel)]="keyword" placeholder="请输入搜索内容" type="text">
                      </div>
                      <div class="form-group pdlr-4">
                        <button class="btn btn-default" type="button" (click)="getCustomerList(1)">
                          <i  class="glyphicon glyphicon-search"></i>
                          搜索
                        </button>
                      </div>
                    </form>

                  </div>
                </article>
              </div>
              <div class="" style="padding:0;">
                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-responsive padding0">
                  <table class="table table-striped smart-form">
                    <thead>
                    <tr style="height: 37px;">
                      <td><label class="checkbox">
                        <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)">
                        <i></i>
                      </label>
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 35px;" *ngFor="let c of customerList?.result?.customerList?.data">
                      <td *ngIf="isAll != 0">
                        <label class="checkbox" >
                          <input type="checkbox" name="checkbox-inline" value="{{ c.c_id }}" [checked]="selects[c.c_id]" (change)="handle($event)">
                          <i></i>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div style="z-index: 2;width:20%;float:left;" class="table-responsive padding0">
                  <table class="table table-striped   smart-form">
                    <thead>
                    <tr>
                      <th>编号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let c of customerList?.result?.customerList?.data" (click)="isStatusShow(c.c_id,c.c_status)" [ngClass]="{'table-color':editStatusCustomerId == c.c_id}">
                      <td>{{c.c_number}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive" [ngStyle]="{'padding': '0','z-index': '1','width':width_1,'float':'left'}">
                  <table class="table table-striped   smart-form ">
                    <thead>
                    <tr >
                      <th>姓名</th>
                      <th>年龄</th>
                      <th>性别</th>
                      <th>电话号码</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr *ngFor="let c of customerList?.result?.customerList?.data" (click)="isStatusShow(c.c_id,c.c_status)" [ngClass]="{'table-color':editStatusCustomerId == c.c_id}">
                      <td>{{c.c_name}}</td>
                      <td>{{c.c_age}}</td>
                      <td>{{c.c_gender}}</td>
                      <td>{{c.c_phone}}</td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </div>
              <!-- 底部-（分页部分）-->
              <div class="dt-toolbar">
                <div class="col-xs-12 col-sm-6">
                  <span>共{{customerList.result?.customerList?.total}}条</span>
                </div>
                <div class="hidden-xs right">
                  <ul class="pagination pagination-sm">
                    <li *ngFor="let p of customerList?.result?.page" class="{{p.class}}">
                      <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                      <a *ngIf="p.method==''">{{p.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>


<div class="modal fade" bsModal #lgModal="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close"  (click)="clear_();lgModal.hide()">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title txt-color-blue"  *ngIf="c_id == 0"><i class="fa-fw fa fa-plus"></i>添加病人信息</h3>
        <h3 class="modal-title  color-yellow"  *ngIf="c_id != 0"><i class="glyphicon glyphicon-pencil"></i>修改病人信息</h3>
      </div>
      <div class="modal-body height-overflow-380">
        <div class="row mt-20">
          <form   class="smart-form ">
            <fieldset>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label class="label">编号</label>
                  <label class="input">
                    <input  type="text" name="c_number" [(ngModel)]="c_number">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label txt-color-blue">姓名<span  class="asterisk-color">*</span></label>
                  <label class="input">
                    <input  type="text" name="c_name" [(ngModel)]="c_name">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label ">身份证号</label>
                  <label class="input">
                    <input  type="text" name="c_id_card" minlength="18" maxlength="18" [(ngModel)]="c_id_card"><!-- (blur)="setAge()"-->
                    <label [ngStyle]="{'color': 'red','display': isTip==0 ? 'none':'block'}">*请输入18位身份证号码。</label>
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label class="label">年龄</label>
                  <label class="input">
                    <input  type="number" name="c_age" [(ngModel)]="c_age" >
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label">性别</label>
                  <!--<label class="input">-->
                    <!--<input  type="text" name="c_gender" [(ngModel)]="c_gender">-->
                  <!--</label>-->
                  <label class="select form-control border-0">
                    <select name="c_gender" [(ngModel)]="c_gender">
                      <option value="男">男</option>
                      <option value="女">女</option>
                    </select><i></i>
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section >
                  <label class="label">手机号码</label>
                  <label class="input"> <i class="icon-append fa fa-phone"></i>
                    <input name="c_phone" [(ngModel)]="c_phone" class="valid"  maxlength="12">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label ">社保卡编码</label>
                  <label class="input">
                    <input  type="text" name="c_cost_card" [(ngModel)]="c_cost_card">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label ">住址</label>
                  <label class="input">
                    <input  type="text" name="c_address" [(ngModel)]="c_address">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section>
                  <label class="label">病情症状</label>
                  <label class="textarea textarea-resizable">
                    <textarea  class="custom-scroll" rows="3" name="c_symptom" [(ngModel)]="c_symptom"></textarea>
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section>
                  <label  class="label">亲属关系</label>
                  <label class="input">
                    <input  type="text" name="c_emergency_contact" [(ngModel)]="c_emergency_contact">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <section >
                  <label class="label">亲属电话</label>
                  <label class="input"> <i class="icon-append fa fa-phone"></i>
                    <input name="c_emergency_phone" [(ngModel)]="c_emergency_phone"  class="valid"  maxlength="12">
                  </label>
                </section>
              </div>
              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section>
                  <label class="label">备注</label>
                  <label class="textarea textarea-resizable">
                    <textarea  class="custom-scroll" rows="3" name="c_notes" [(ngModel)]="c_notes"></textarea>
                  </label>
                </section>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-sm" type="button"><span class="glyphicon glyphicon-plus"></span>保存并新增</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit();">保存</button>
        <button type="button" class="btn btn-default" (click)="clear_();lgModal.hide()">返回</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" bsModal #detailModal="bs-modal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="detailModal.hide()">  ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'></h3>
        <h4 class="modal-title">病人信息</h4>
      </div>
      <div class="modal-body height-overflow-380">
        <div class="row ">
          <div class="col-sm-12">
            <div class="" >
              <P class="alert alert-info">基本信息</P>
              <table class="table table-striped table-forum">
                <tbody>
                <tr>
                  <td class="width-120">编号:</td>
                  <td class="">{{customerInfo?.result?.c_number}}</td>
                  <td class="width-120">姓名:</td>
                  <td >{{customerInfo?.result?.c_name}}</td>
                </tr>
                <tr>
                  <td class="width-120">身份证号:</td>
                  <td class="">{{customerInfo?.result?.c_id_card}}</td>
                  <td class="width-120">年龄:</td>
                  <td >{{customerInfo?.result?.c_age}}</td>
                </tr>
                <tr>
                  <td class="width-120">性别:</td>
                  <td class="">{{customerInfo?.result?.c_gender}}</td>
                  <td class="width-120">电话号码:</td>
                  <td >{{customerInfo?.result?.c_phone}}
                  </td>
                </tr>
                <tr>
                  <td class="width-120">社保卡编码:</td>
                  <td class="">{{customerInfo?.result?.c_cost_card}}</td>
                  <td class="width-120">住址:</td>
                  <td >{{customerInfo?.result?.c_address}}
                  </td>
                </tr>
                <tr>
                  <td class="width-120">病情症状:</td>
                  <td class="" colspan="3">{{customerInfo?.result?.c_symptom}}</td>

                </tr>
                <tr>
                  <td class="width-120">亲属关系:</td>
                  <td class="">{{customerInfo?.result?.c_emergency_contact}}</td>
                  <td class="width-120">亲属电话:</td>
                  <td >{{customerInfo?.result?.c_emergency_phone}}
                  </td>
                </tr>
                <tr>
                  <td class="width-120">备注:</td>
                  <td class="" colspan="3">{{customerInfo?.result?.c_notes}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="detailModal.hide()">返回</button>
      </div>
    </div>
  </div>
</div>





