<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa {{menuInfos?.menu_icon}}"></i> </span>
            <h2>{{menuInfos?.menu_name}}</h2>
          </header>
          <div>
            <div class="widget-body no-padding" >
              <article>
                <div class="navbar navbar-default">
                  <form  class="navbar-form " novalidate="" role="search" >
                    <div class="btn-group"   *ngIf="isPermission(menu_id,'add')">
                      <button type="button" class="btn btn-primary"  (click)="lgModal.show();" ><span class="fa-fw fa fa-plus  mr-5"></span>添加</button>
                    </div>
                    <div class="btn-group"   *ngIf="isPermission(menu_id,'edit')">
                      <button type="button"   [ngClass]="{'btn btn-warning':true,'not-click':isStatus == 0}"  (click)="detailCustomer('edit')"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                    </div>
                    <div class="btn-group"  *ngIf="isPermission(menu_id,'delete')">
                      <button type="button"  [ngClass]="{'btn btn-danger':true,'not-click':isStatus == 0}"  (click)="deleteCustomer('id')"><span class="fa-fw fa  fa-trash-o mr-5"></span>删除</button>
                    </div>
                    <div class="btn-group" *ngIf="isPermission(menu_id,'detail')">
                      <button type="button"  [ngClass]="{'btn btn-success':true,'not-click':isStatus == 0}"  (click)="detailCustomer('detail')"><span class="fa-fw fa fa-list-alt mr-5"></span>详情</button>
                    </div>
                    <div class="btn-group"  *ngIf="isPermission(menu_id,'delete')">
                      <button type="button" class="btn btn-secondary"   (click)="showAllCheck()"><span class="fa-fw fa fa-th-large mr-5"></span>批处理</button>
                      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                        <span class="sr-only"></span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item"   (click)="deleteCustomer('all')">批量删除</a>
                      </div>
                    </div>
                  </form>
                  <form  class="navbar-form" novalidate="" role="search" >

                    <div class="btn-group">
                      <input type="text" class="form-control"  maxlength="15" name="keyword" [(ngModel)]="keyword" placeholder="请输入搜索内容" >
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn default-btn"  (click)="getCustomerList(1)">搜索</button>
                    </div>

                  </form>
                </div>
              </article>

              <div class="padding0 height-overflow">
                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-responsive padding0">
                  <table class="table table-striped smart-form table-height-20">
                    <thead>
                    <tr >
                      <td><label class="checkbox mt-8">
                        <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)">
                        <i></i>
                      </label>
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  *ngFor="let c of customerList?.result?.customerList?.data">
                      <td *ngIf="isAll != 0">
                        <label class="checkbox mt-8" >
                          <input type="checkbox" name="checkbox-inline" value="{{ c.c_id }}" [checked]="selects[c.c_id]" (change)="handle($event)">
                          <i></i>
                        </label>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div style="z-index: 2;width:20%;float:left;" class="table-responsive padding0">
                  <table class="table table-striped   smart-form table-height-20">
                    <thead>
                    <tr>
                      <th>编号</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let c of customerList?.result?.customerList?.data" (click)="isStatusShow(c.c_id,c.c_status)" [ngClass]="{'table-color':editStatusCustomerId == c.c_id}">
                      <td>{{c.c_number}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive" [ngStyle]="{'padding': '0','z-index': '1','width':width_1,'float':'left'}">
                  <table class="table table-striped   smart-form table-height-20">
                    <thead>
                    <tr >
                      <th>姓名</th>
                      <th>年龄</th>
                      <th>性别</th>
                      <th>电话号码</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let c of customerList?.result?.customerList?.data" (click)="isStatusShow(c.c_id,c.c_status)" [ngClass]="{'table-color':editStatusCustomerId == c.c_id}">
                      <td>{{c.c_name}}</td>
                      <td>{{c.c_age}}</td>
                      <td>{{c.c_gender}}</td>
                      <td>{{c.c_phone}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- 底部-（分页部分）-->
              <div class="footer-size flex-justify-end">
                <ul class="pagination"  *ngIf="customerList?.result?.page" >
                  <li  *ngFor="let p of customerList?.result?.page" class="{{p.class}}" >
                    <a class="page-link" (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                    <a class="page-link" *ngIf="p.method==''">{{p.text}}</a>
                  </li>
                  <li class="page-item disabled">
                    <a  class="page-link" disabled>共{{customerList.result?.customerList?.total}}条</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<div class="modal fade  bd-example-modal-xl" bsModal #lgModal="bs-modal">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 标题 -->
        <h3 class="modal-title txt-color-blue"  *ngIf="c_id == 0"><i class="fa-fw fa fa-plus"></i>添加病人信息</h3>
        <h3 class="modal-title  color-yellow"  *ngIf="c_id != 0"><i class="fa-fw fa fa-pencil"></i>修改病人信息</h3>
        <!-- 关闭按钮 -->
        <button type="button" class="close"  (click)="clear_();lgModal.hide()">
          ×
        </button>

      </div>
      <div class="modal-body height-overflow-380">
        <div class="row mt-20">
          <form class="form-distance">
            <fieldset>
              <div class="form-row">

                <div class="form-group col-sm-4">
                  <label class="label">编号</label>
                  <input  class="form-control"  type="text" name="c_number" [(ngModel)]="c_number">
                </div>

                <div class="form-group col-sm-4">
                  <label  class="label txt-color-blue">姓名<span  class="asterisk-color">*</span></label>
                  <input type="text" class="form-control"   name="c_name" [(ngModel)]="c_name">
                </div>

                <div class="form-group col-sm-4">
                  <label  class="label ">身份证号</label>
                  <input type="text" class="form-control"  name="c_id_card" minlength="18" maxlength="18" [(ngModel)]="c_id_card"><!-- (blur)="setAge()"-->
                  <div class="invalid-feedback"  [ngStyle]="{'color': 'red','display': isTip==0 ? 'none':'block'}">
                    *请输入18位身份证号码。
                  </div>
                </div>

                <div class="form-group col-sm-4">
                  <label class="label">年龄</label>
                  <input type="number" class="form-control" name="c_age" [(ngModel)]="c_age" >
                </div>

                <div class="form-group col-sm-4">
                  <label  class="label">性别</label>
                  <select  class="form-control" name="c_gender" [(ngModel)]="c_gender">
                    <option value="男">男</option>
                    <option value="女">女</option>
                  </select>
                </div>

                <div class="form-group col-sm-4">
                  <label class="label">手机号码</label>
                  <input type="text" class="form-control"  name="c_phone" [(ngModel)]="c_phone"   maxlength="12">
                </div>

                <div class="form-group col-sm-4">
                  <label  class="label ">社保卡编码</label>
                  <input type="text" class="form-control"   name="c_cost_card" [(ngModel)]="c_cost_card">
                </div>

                <div class="form-group col-sm-4">
                  <label  class="label ">住址</label>
                  <input type="text" class="form-control"  name="c_address" [(ngModel)]="c_address">
                </div>

                <div class="form-group col-sm-12">
                  <label class="label">病情症状</label>
                  <textarea class="form-control"  rows="3"   name="c_symptom" [(ngModel)]="c_symptom"></textarea>
                </div>


                <div class="form-group col-sm-4">
                  <label  class="label">亲属关系</label>
                  <input type="text" class="form-control"   name="c_emergency_contact" [(ngModel)]="c_emergency_contact" >
                </div>

                <div class="form-group col-sm-4">
                  <label class="label">亲属电话</label>
                  <input type="text" class="form-control"   name="c_emergency_phone" [(ngModel)]="c_emergency_phone"   maxlength="12">
                </div>

                <div class="form-group col-sm-12">
                  <label class="label">备注</label>
                  <textarea class="form-control"  rows="3"  name="c_notes" [(ngModel)]="c_notes"></textarea>
                </div>


              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="isPermission(menu_id,'add') || isPermission(menu_id,'edit')" class="btn btn-success btn-sm  ml-2" type="button" (click)="onSubmit(2);"><span class="fa-fw fa fa-plus"></span>保存并新增</button>
        <button *ngIf="isPermission(menu_id,'add') || isPermission(menu_id,'edit')" type="button" class="btn btn-primary  ml-2" (click)="onSubmit(1);">保存</button>
        <button type="button" class="btn btn-default ml-2" (click)="clear_();lgModal.hide()">返回</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade bd-example-modal-xl" bsModal #detailModal="bs-modal" >
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'></h3>
        <h4 class="modal-title">病人信息</h4>
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="detailModal.hide()">  ×
        </button>

      </div>
      <div class="modal-body height-overflow-380">
        <div class="row ">
          <div class="col-sm-12">
            <div class="" >
              <P class="alert alert-info">基本信息</P>
              <table class="table table-striped table-forum">
                <tbody>
                <tr>
                  <td class="width-120">编号:</td>
                  <td class="">{{customerInfo?.result?.c_number}}</td>
                  <td class="width-120">姓名:</td>
                  <td >{{customerInfo?.result?.c_name}}</td>
                </tr>
                <tr>
                  <td class="width-120">身份证号:</td>
                  <td class="">{{customerInfo?.result?.c_id_card}}</td>
                  <td class="width-120">年龄:</td>
                  <td >{{customerInfo?.result?.c_age}}</td>
                </tr>
                <tr>
                  <td class="width-120">性别:</td>
                  <td class="">{{customerInfo?.result?.c_gender}}</td>
                  <td class="width-120">电话号码:</td>
                  <td >{{customerInfo?.result?.c_phone}}
                  </td>
                </tr>
                <tr>
                  <td class="width-120">社保卡编码:</td>
                  <td class="">{{customerInfo?.result?.c_cost_card}}</td>
                  <td class="width-120">住址:</td>
                  <td >{{customerInfo?.result?.c_address}}
                  </td>
                </tr>
                <tr>
                  <td class="width-120">病情症状:</td>
                  <td class="" colspan="3">{{customerInfo?.result?.c_symptom}}</td>

                </tr>
                <tr>
                  <td class="width-120">亲属关系:</td>
                  <td class="">{{customerInfo?.result?.c_emergency_contact}}</td>
                  <td class="width-120">亲属电话:</td>
                  <td >{{customerInfo?.result?.c_emergency_phone}}
                  </td>
                </tr>
                <tr>
                  <td class="width-120">备注:</td>
                  <td class="" colspan="3">{{customerInfo?.result?.c_notes}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="detailModal.hide()">返回</button>
      </div>
    </div>
  </div>
</div>





