<!--主要内容-->
<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" >
          <header>
            <span class="widget-icon"> <i class="fa {{menuInfos?.menu_icon}}"></i> </span>
            <h2>{{menuInfos?.menu_name}}</h2>
          </header>

          <div>
            <!--小部件内容-->
            <div class="widget-body no-padding">

              <div class="text-center empty-pay">
                <h4>目前只针对付费用户开放，如有问题，请联系我们客服QQ：3375221154</h4>
              </div>



            </div>
          </div>

        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>