<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa {{menuInfos?.menu_icon}}"></i> </span>
            <h2>{{menuInfos?.menu_name}}</h2>
          </header>

          <div>
            <div class="widget-body no-padding" >
              <article>
                <div class="navbar navbar-default">
                  <form  class="navbar-form " novalidate="" role="search" >
                    <div class="btn-group"  *ngIf="isPermission(menu_id,'add')" >
                      <button type="button" class="btn btn-primary"  (click)="showProduct()"><span class="fa-fw fa fa-plus  mr-5"></span>添加</button>
                    </div>
                    <div class="btn-group"  *ngIf="isDetail != 'edit' && isPermission(menu_id,'edit')">
                      <button type="button"   [ngClass]="{'btn btn-warning':true,'not-click':editStatusOpeningInventoryId == 0}" (click)="detailOpeningInventory('edit')"><span class="fa-fw fa fa-pencil mr-5"></span>修改</button>
                    </div>
                    <div class="btn-group"  *ngIf="isDetail == 'edit' && isPermission(menu_id,'edit')">
                      <button type="button"  [ngClass]="{'btn btn-primary':true,'not-click':editStatusOpeningInventoryId == 0}"  (click)="editOpeningInventory()"><span class="fa-fw fa fa-save mr-5"></span>保存</button>
                    </div>
                    <div class="btn-group" *ngIf="isDetail == 'edit' && isPermission(menu_id,'edit')">
                      <button type="button"  [ngClass]="{'btn default-btn':true,'not-click':editStatusOpeningInventoryId == 0}" (click)="clear_('edit')"><span class="fa-fw fa  fa-trash-o mr-5"></span>取消</button>
                    </div>
                    <div class="btn-group" *ngIf="isDetail != 'edit' && isPermission(menu_id,'delete')">
                      <button type="button"  [ngClass]="{'btn btn-danger':true,'not-click':editStatusOpeningInventoryId == 0}" (click)="deleteOpeningInventory('id')"><span class="fa-fw fa  fa-trash-o mr-5"></span>删除</button>
                    </div>
                    <div class="btn-group" *ngIf="isDetail != 'edit' && isPermission(menu_id,'detail')">
                      <button type="button"  [ngClass]="{'btn btn-success':true,'not-click':editStatusOpeningInventoryId == 0}" (click)="detailOpeningInventory('detail')"><span class="fa-fw fa fa-list-alt mr-5"></span>详情</button>
                    </div>

                    <div class="btn-group" *ngIf="isDetail != 'edit' && isPermission(menu_id,'delete')">
                      <button type="button" class="btn btn-secondary" (click)="showAllCheck()" ><span class="fa-fw fa fa-th-large mr-5"></span>批处理</button>
                      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                        <span class="sr-only"></span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="deleteOpeningInventory('all')">批量删除</a>
                      </div>
                    </div>
                  </form>
                  <form  class="navbar-form" novalidate="" role="search" >

                    <div class="btn-group">
                      <input type="text" class="form-control" maxlength="15" [(ngModel)]="keyword" name="keyword" placeholder="请输入搜索内容" >
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn default-btn" (click)="getOpeningInventoryList()" >搜索</button>
                    </div>

                  </form>

                </div>
              </article>

              <div style="padding:0;"  class="height-overflow">
                <div *ngIf="isAll != 0" [ngStyle]="{'padding': '0','z-index': '2','width':width,'float':'left'}" class="table-scrolling">
                  <table class="table table-striped   smart-form table-height-32">
                    <thead>
                    <tr  >
                      <td><label class="checkbox padding-top-10" >
                        <input type="checkbox" name="checkbox-inline" [checked]="check" (change)="changeCheckAll($event)" >
                        <i></i>
                      </label>
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr   *ngFor="let p of productList?.result?.openinginventoryList?.data">
                      <td >
                        <div class="">
                          <label class="checkbox padding-top-10">
                            <input type="checkbox" *ngIf="p.openinginventory_status == 2" disabled="disabled" name="checkbox-inline" value="{{p.openinginventory_id }}">
                            <input type="checkbox" *ngIf="p.openinginventory_status == 1" name="checkbox-inline" value="{{p.openinginventory_id }}" [checked]="selects[p.openinginventory_id]" (change)="handle($event)">
                            <i></i>
                          </label>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div [ngStyle]="{'padding': '0','z-index': '2','width':width_1,'float':'left'}" class="table-responsive">
                  <table class="table table-striped  smart-form table-height-32">
                    <thead>
                    <tr >
                      <th>商品名称</th>
                      <th>商品编码</th>
                      <th>商品型号</th>
                      <th>仓库名称</th>
                      <th>单位</th>
                      <th>期初数量</th>
                      <th>成本单价</th>
                      <th>初期金额</th>
                      <th>条码</th>
                      <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p1 of productList?.result?.openinginventoryList?.data" (click)="isStatusShow(p1.openinginventory_id,p1.openinginventory_status)" [ngClass]="{'table-color':editStatusOpeningInventoryId == p1.openinginventory_id}"><!-- class="table-color"-->
                      <td><span class="">{{p1.p_name}}</span></td>
                      <td><span class="">{{p1.p_product_id}}</span></td>
                      <td><span class="">{{p1.p_specification}}</span></td>
                      <td>
                        <div class="form-group"  *ngIf="isDetail == 'edit' && p1.openinginventory_id == editStatusOpeningInventoryId">
                          <select   class="form-control" name="storehouse_id" [(ngModel)]="storehouse_id">
                            <option value="{{s.storehouse_id}}" *ngFor="let s of productDefault?.result?.storeHouseList">{{s.storehouse_name}}</option>
                          </select>
                        </div>
                        <div class="" *ngIf="p1.openinginventory_id != editStatusOpeningInventoryId || isDetail == ''">{{p1.storehouse_name}}</div>
                      </td>
                      <td><span class="">{{p1.p_unit}}</span></td>
                      <td>
                        <div class="form-group" *ngIf="isDetail == 'edit' && p1.openinginventory_id == editStatusOpeningInventoryId">
                          <input  class="form-control" type="text" name="p_count" [(ngModel)]="p_count"/>
                        </div>
                        <div class="" *ngIf="p1.openinginventory_id != editStatusOpeningInventoryId || isDetail == ''">{{p1.openinginventory_first_count}}</div>
                      </td>
                      <td>
                        <div class="form-group" *ngIf="isDetail == 'edit' && p1.openinginventory_id == editStatusOpeningInventoryId">
                          <input class="form-control" type="text" name="p_price" [(ngModel)]="p_price"/>
                        </div>
                        <div class="" *ngIf="p1.openinginventory_id != editStatusOpeningInventoryId || isDetail == ''">{{p1.openinginventory_price}}</div>
                      </td>
                      <td>
                        <div class=""  *ngIf="isDetail == 'edit' && p1.openinginventory_id == editStatusOpeningInventoryId">
                          {{p_count*p_price}}
                        </div>
                        <div class="" *ngIf="p1.openinginventory_id != editStatusOpeningInventoryId || isDetail == ''">{{p1.openinginventory_price*p1.openinginventory_first_count}}</div>
                      </td>
                      <td><span class="">{{p1.p_qrcode}}</span></td>
                      <td><span class="">{{p1.openinginventory_status == 1?'正常':'已删除'}}</span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- 底部-（分页部分）-->
              <div class="footer-size flex-justify-end">
                <ul class="pagination" >
                  <li *ngFor="let p of productList?.result?.page" class="{{p.class}}">
                    <a class="page-link" (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                    <a class="page-link" *ngIf="p.method==''">{{p.text}}</a>
                  </li>
                  <li class="page-item disabled">
                    <a  class="page-link" disabled>共{{productList?.result?.openinginventoryList?.total}}条</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<div class="modal fade bd-example-modal-xl" bsModal #detailModal="bs-modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 标题 -->
        <h3 class="modal-title" data-ng-bind='results.title'></h3>
        <h4 class="modal-title">{{productInfo?.result?.p_name}}-{{productInfo?.result?.p_product_id}}</h4>
        <!-- 关闭按钮 -->
        <button type="button" class="close" (click)="clear_('detail')">
          ×
        </button>

      </div>
      <div class="modal-body height-overflow-380">
        <div class="row ">
          <div class="col-sm-12">
            <div class="" >
              <P class="alert alert-info">基本信息</P>
              <table class="table table-striped table-forum">
                <tbody>
                <tr>
                  <td class="width-120">商品名称:</td>
                  <td class="">{{productInfo?.result?.p_name}}</td>
                  <td class="width-120">商品编码:</td>
                  <td >{{productInfo?.result?.p_product_id}}</td>
                </tr>
                <tr>
                  <td class="width-120">商品型号:</td>
                  <td class="">{{productInfo?.result?.p_specification}}</td>
                  <td class="width-120">仓库名称:</td>
                  <td >{{productInfo?.result?.storehouse_name}}</td>
                </tr>
                <tr>
                  <td class="width-120">单位:</td>
                  <td class="">{{productInfo?.result?.p_unit}}</td>
                  <td class="width-120">数量:</td>
                  <td >{{productInfo?.result?.openinginventory_first_count}}</td>
                </tr>
                <tr>
                  <td class="width-120">初期金额:</td>
                  <td class="">{{productInfo?.result?.openinginventory_price * productInfo?.result?.openinginventory_first_count}}</td>
                  <td class="width-120">成本单价:</td>
                  <td >{{productInfo?.result?.openinginventory_price}}</td>
                </tr>
                <tr>
                  <td class="width-120">条码:</td>
                  <td class="" colspan="3">{{productInfo?.result?.p_qrcode}}</td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clear_('detail')">返回</button>
      </div>
    </div>
  </div>
</div>

<!--选择商品-->
<app-select-product [productDefault]="productDefault"  [select_category_ids_preporty]="select_category_ids_preporty" [searchProductList]="searchProductList" [select_category_ids]="select_category_ids" [p_type]="p_type" [isShowProduct]="isShowProduct" [keyword]="keyword" (isShowProducts)="getShowProductStatus($event)" (selectProductList)="getProductData($event)" *ngIf="isShowProduct"></app-select-product>
