<!-- MAIN CONTENT -->
<div id="content">
<!--  <div class="row">
    <sa-big-breadcrumbs [items]="['物联网管理', '添加设备']" icon="pencil-square-o"></sa-big-breadcrumbs>
  </div>-->
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false" >
          <header *ngIf="i_id == 0">
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>添加设备</h2>
          </header>
          <header *ngIf="i_id != 0">
            <span class="widget-icon"> <i class="fa-fw fa fa-pencil"></i> </span>
            <h2 >修改设备 </h2>
          </header>
          <div>
            <!-- widget content (ngSubmit)="onSubmit()"-->
            <div class="widget-body no-padding">
              <form id="smart-form-register" class="form-distance" [formGroup]="formModel" >
               <fieldset>
                 <input type="hidden" name="i3otp_id" formControlName="i3otp_id">
                 <div class="form-row">

                   <div class="form-group col-sm-4">
                     <label class="label">产品ID</label>
                     <input type="text" class="form-control"  placeholder="请输入产品ID" maxlength="20" name="i3otp_pid" formControlName="i3otp_pid">
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">产品外部编号</label>
                     <input type="text" class="form-control"   placeholder="请输入产品外部编号" maxlength="20" name="i3otp_c_pid" formControlName="i3otp_c_pid" >
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">产品名称</label>
                     <input type="text" class="form-control"  placeholder="请输入产品名称" maxlength="20" name="i3otp_name" formControlName="i3otp_name" >
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">产品类别</label>
                     <select class="form-control" name="i3otp_category" formControlName="i3otp_category" [(ngModel)]="i3otp_category_default">
                       <option value="0" [selected]="this.i_id == 0">--请选择--</option>
                       <!--选择类型才出现功能选项，基站设备比安全帽少健康复选框-->
                       <option *ngFor="let cate of i3otpList.result?.categoryList" [selected]="i3otp_info.result?.i3otp_category == cate.category_id" value="{{cate.category_id}}">{{cate.category_desc}}</option>
                     </select>
                   </div>

                   <div class="form-group col-sm-4">

                     <label  class="label">传感器类型</label>
                     <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" style="width: 100%;">
                       <span class="selection">
                         <span class="select2-selection select2-selection--multiple" (click)="showColorDivSensor()">
                           <ul class="select2-selection__rendered">
                             <li class="select2-selection__choice" title="{{cs}}" *ngFor="let cs of show_join_sensor_category">
                               <span class="select2-selection__choice__remove" (click)="deleteJoinSensor($event,cs)">
                                 ×</span>{{cs}}
                             </li>
                             <li></li>
                           </ul>
                         </span>
                       </span>
                     </span>
                     <span [ngClass]="{'select2 select2-container--open select2-container select2-container--default select2-container--below select2-container--focus':true,'select-hidden':div_show_sensor}" dir="ltr" style="width: 100%;position: absolute;">
                       <span class="selection">
                         <span class="select2-selection select2-selection--multiple select2-results select2-dropdown select2-drop-active" (mouseleave)="outMouseColor()">
                          <ul class="select2-results__options select2-results__options--nested"><!--  select2-results__option--highlighted-->
                            <li [ngClass]="{'select2-results__option--highlighted' : (color_category_id == sc.category_id),'select2-results__option':true}" (click)="sensorCategoryChange(sc.category_id,sc.category_desc)" (mouseenter)="divColor(sc.category_id)" *ngFor="let sc of i3otpList.result?.sensorCategoryList" value="{{sc.category_id}}">{{sc.category_desc}}</li>
                          </ul>
                         </span>
                       </span>
                     </span>

                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">通信方式</label>
                     <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" style="width: 100%" >
                       <span class="selection">
                         <span class="select2-selection select2-selection--multiple" (click)="showColorDivComm()">
                           <ul class="select2-selection__rendered">
                             <li class="select2-selection__choice" title="{{c}}" *ngFor="let c of show_join_category">
                               <span class="select2-selection__choice__remove" (click)="deleteJoin($event,c)">
                                 ×</span>{{c}}
                             </li>
                             <li></li>
                           </ul>
                         </span>
                       </span>
                     </span>
                     <span [ngClass]="{'select2 select2-container--open select2-container select2-container--default select2-container--below select2-container--focus':true,'select-hidden':div_show_comm}" dir="ltr" style="width: 100%;position: absolute;">
                       <span class="selection">
                         <span class="select2-selection select2-selection--multiple select2-results select2-dropdown select2-drop-active" (mouseleave)="outMouseColor()">
                          <ul class="select2-results__options select2-results__options--nested"><!-- select2-results__option--highlighted-->
                            <li [ngClass]="{ 'select2-results__option--highlighted' : (color_category_id == cl.category_id),'select2-results__option':true} " (click)="categoryChange(cl.category_id,cl.category_desc)" (mouseenter)="divColor(cl.category_id)" *ngFor="let cl of i3otpList.result?.communicationList" value="{{cl.category_id}}">{{cl.category_desc}}</li>
                          </ul>
                         </span>
                       </span>
                     </span>
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">Mac</label>
                     <input type="text" class="form-control"   placeholder="请输入Mac" maxlength="20" name="i3otp_mac_addr" formControlName="i3otp_mac_addr" >
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">产地</label>
                     <input type="text" class="form-control"  placeholder="请输入产地" maxlength="20" name="i3otp_p_origin" formControlName="i3otp_p_origin">
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">硬件版本</label>
                     <input type="text" class="form-control"  placeholder="请输入硬件版本" maxlength="20" name="i3otp_hardware" formControlName="i3otp_hardware">
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">固件版本</label>
                     <input type="text" class="form-control"  placeholder="请输入固件版本" maxlength="20" name="i3otp_firmware" formControlName="i3otp_firmware" >
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">固件更新日期</label>
                     <input type="date" class="form-control"  name="i3otp_f_update" formControlName="i3otp_f_update">
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">订单号</label>
                     <input type="text" class="form-control"   placeholder="请输入订单号" maxlength="20" name="o_id" formControlName="o_id" >
                   </div>


                   <div class="form-group col-sm-4">
                     <label class="label">购买公司</label>
                     <select  class="form-control"  name="c_id" formControlName="c_id" [(ngModel)]="c_id_default" (change)="getTheUserList($event,1)">
                       <option value="0" [selected]="i_id == 0">--请选择--</option>
                       <option *ngFor="let c of i3otpList.result?.customerList" [selected]="i3otp_info.result?.c_id == c.c_number" value="{{c.c_number}}">{{c.c_name}}</option>
                     </select>
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">内部质检员</label>
                     <select  class="form-control"  name="u_id" formControlName="u_id" [(ngModel)]="u_id_default">
                       <option value="0" [selected]="i_id == 0">--请选择--</option>
                       <option *ngFor="let u of i3otpListUser.result?.userList" [selected]="i3otp_info.result?.u_id == u.name" value="{{u.name}}">{{u.u_username}}</option>
                     </select>
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">内部质检日期</label>
                     <input type="date" class="form-control"  name="i3otp_qc_date" formControlName="i3otp_qc_date" >
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">绑定地址</label>
                     <input type="text" class="form-control"   placeholder="请输入绑定地址" maxlength="20" name="i3otp_address" formControlName="i3otp_address" >
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">激活码</label>
                     <input type="text" class="form-control"  placeholder="请输入激活码" maxlength="20" name="i3otp_activation" formControlName="i3otp_activation">
                   </div>

                   <div class="form-group col-sm-4">
                     <label class="label">采样时间</label>
                     <input type="date" class="form-control"  placeholder="请输入采样时间" maxlength="20" name="i3otp_sensor_intervan" formControlName="i3otp_sensor_intervan">
                   </div>

                   <div class="form-group col-sm-12">
                     <label class="label">产品功能</label>
                     <textarea class="form-control"  rows="4"  placeholder="请输入产品功能"  name="i3otp_spec" formControlName="i3otp_spec"></textarea>
                   </div>

                   <div class="form-group col-sm-6">
                     <label class="label">生产日期</label>
                     <input type="date" class="form-control"   placeholder="请输入生产日期" maxlength="20" name="i3otp_production_date" formControlName="i3otp_production_date">
                   </div>

                   <div class="form-group col-sm-6">
                     <label class="label">是否激活</label>
                     <div class="input-group  mr-sm-2">
                       <div class="custom-control custom-radio custom-control-inline">
                         <input   class="custom-control-input" id="gridRadios1" type="radio" [checked]="i3otp_info.result?.i3otp_status == 1" [value]="1" name="i3otp_status" formControlName="i3otp_status">
                         <label class="custom-control-label"  for="gridRadios1">激活</label>

                       </div>
                       <div class="custom-control custom-radio custom-control-inline">
                         <input   class="custom-control-input" id="gridRadios2" type="radio" [checked]="i3otp_info.result?.i3otp_status == 0" [value]="0" name="i3otp_status" formControlName="i3otp_status">
                         <label class="custom-control-label"  for="gridRadios2">未激活</label>

                       </div>

                       <div class="custom-control custom-radio custom-control-inline">
                         <input   class="custom-control-input" id="gridRadios3" type="radio" [checked]="i3otp_info.result?.i3otp_status == 2" [value]="2" name="i3otp_status" formControlName="i3otp_status">
                         <label class="custom-control-label"  for="gridRadios3">返厂维修</label>

                       </div>

                       <div class="custom-control custom-radio custom-control-inline">
                         <input  class="custom-control-input" id="gridRadios4"  type="radio" [checked]="i3otp_info.result?.i3otp_status == 3" [value]="3" name="i3otp_status" formControlName="i3otp_status">
                         <label class="custom-control-label"  for="gridRadios4">报废</label>

                       </div>



                     </div>

                   </div>


                 </div>
                 <!--<div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                   <section >
                     <label class="label">销售地点</label>
                     <label class="input">
                       <input type="text" placeholder="请输入销售地点" maxlength="30" name="i3otp_p_export" formControlName="i3otp_p_export"/>
                     </label>
                   </section>
                 </div>-->
                 <div class="row ">
                  <!-- <div class=" col col-6 cl-sm-6">
                     <section>
                       <label>传感器类型</label>
                       <span>{{join_sensor_category | json}}</span>
                       <select multiple (change)="sensorCategoryChange($event)"  name="i3otp_sensor_category_" formControlName="i3otp_sensor_category_" style="width:100%;" class="select2" [(ngModel)]="i3otp_sensor_category_default">
                           <option *ngFor="let scl of i3otpList.result?.sensorCategoryList" [selected]="i3otp_info.result?.i3otp_sensor_category == scl.category_id || this.i_id == 0" value="{{scl.category_id}}">{{scl.category_desc}}</option>
                       </select>
                     </section>
                   </div> (mouseout)="outMouseColor()"-->
                   <!--<div class=" col col-6 col-sm-6">
                     <section>
                       <label>通信方式</label>
                       <label>
                       <span>{{join_category | json}}</span>
                       </label>
                       <select multiple (change)="categoryChange($event)" name="i3otp_communication_" formControlName="i3otp_communication_" style="width:100%;" class="select2" [(ngModel)]="i3otp_communication_default">
                           <option value="wifi" [selected]="i3otp_info.result?.i3otp_communication == 'wifi' || this.i_id == 0" >wifi</option>
                           <option value="LoRa" [selected]="i3otp_info.result?.i3otp_communication == 'LoRa' ">LoRa</option>
                           <option value="ZigBee" [selected]="i3otp_info.result?.i3otp_communication == 'ZigBee' ">ZigBee</option>
                           <option value="NB-IoT" [selected]="i3otp_info.result?.i3otp_communication == 'NB-IoT' ">NB-IoT</option>
                           <option value="485通讯线" [selected]="i3otp_info.result?.i3otp_communication == '485通讯线' ">485通讯线</option>
                           <option value="矿用双绞线" [selected]="i3otp_info.result?.i3otp_communication == '矿用双绞线' ">矿用双绞线</option>
                           <option value="其他" [selected]="i3otp_info.result?.i3otp_communication == '其他' ">其他</option>
                       </select>
                     </section>
                   </div>(mouseout)="outMouseColor()"-->
                 </div>
                 <div class="row">
                   <!--<section class="col col-6">-->
                   <!--<label class="label">电池容量</label>-->
                   <!--<label class="input">-->
                   <!--<input type="text"  placeholder="请输入电池容量" maxlength="20" name="i3otp_activation" formControlName="i3otp_activation"/>-->
                   <!--</label>-->
                   <!--</section>-->
                 </div>
               </fieldset>

                <div class="footer-size flex-justify-end" >
                  <div *ngIf="isPermission(menu_id,'add') || isPermission(menu_id,'edit')">
                    <button type="button" class="btn btn-primary  ml-2" (click)="onSubmit(1)">
                      保存
                    </button>
                    <button class="btn btn-success  ml-2" type="button" (click)="onSubmit(2)">提交并新增</button>

                  </div>
                  <button type="button" class="btn btn-default  ml-2" >
                    返回
                  </button>
                </div>
              </form>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </sa-widget>
      </article>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
