<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['人事管理', '部门设置']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>
  <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
    <header>
      <ul class="nav nav-tabs pull-left in">
        <li [class.active]="state.tabs.demo4=='AA'" class="active">
          <a (click)="state.tabs.demo4 = 'AA'">部门设置</a>
        </li>
      </ul>
    </header>
    <div>
      <div class="widget-body">
        <tabset>
          <tab [active]="state.tabs.demo4 == 'AA'">
            <tabset class="padding-10">
              <tab [active]="state.tabs.demo4 == 'AA'">
                <div class="row">
                  <article class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                               [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                      <div>
                        <div class="widget-body no-padding">
                          <alert type="info" class="no-margin" >
                            <i class="fa-fw fa fa-spoon"></i>
                            部门设置
                          </alert>
                          <div  class="row">
                            <article  class="col-sm-12">
                              <div class="navbar navbar-default">
                                <div class="collapse navbar-collapse">

                                  <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                                    <div class="form-group">
                                      <a class="btn btn-success btn-sm"  data-toggle="modal" data-target="#myModal">
                                        <span class="glyphicon glyphicon-plus"></span>添加部门</a>
                                    </div>
                                    <div class="form-group padding-left-10">
                                      <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" placeholder="请输入搜索内容" type="text">
                                    </div>
                                    <button class="btn btn-default" type="submit">
                                      <i  class="glyphicon glyphicon-search"></i>
                                      搜索
                                    </button>
                                  </form>
                                </div>
                              </div>
                            </article>
                          </div>
                          <div class="table-responsive">
                            <table class="table table-hover table-bordered dataTable">
                              <thead>
                              <tr>
                                <th>部门名称</th>
                                <th>部门编码</th>
                                <th>上级部门</th>
                                <th>部门负责人</th>
                                <th>启用日期</th>
                                <th>启用人</th>
                                <th>停用日期</th>
                                <th>停用人</th>
                                <th>创建日期</th>
                                <th>部门属性 </th>
                                <th>传真 </th>
                                <th>状态 </th>
                                <th>备注 </th>
                                <th>操作</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td class="details-control"><span class="padding-10"><i class="fa-fw fa  fa-folder-open"></i>家福</span></td>
                                <td>001</td>
                                <td>地方</td>
                                <td>环境</td>
                                <td>2017-12 02:24:24</td>
                                <td>2542</td>
                                <td>2017-12 02:24:24</td>
                                <td>大贵</td>
                                <td>2017-12 02:24:24</td>
                                <td>单事</td>
                                <td>4132636</td>
                                <td>正常</td>
                                <td>梵蒂冈的非官方鼓捣鼓捣个</td>
                                <td>
                                  <div >
                                    <a class="btn btn-warning btn-xs"  ><span class="glyphicon glyphicon-pencil"></span>修改</a>
                                    <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                  </div>
                                  <!--<div >无权操作</div>-->
                                </td>
                              </tr>

                             <!-- <tr>
                                <td colspan="14">
                                <table border="0" class="table table-hover table-bordered dataTable">
                                <tbody>
                                <tr>
                                  <td><span class="padding-left-10"><i class="fa-fw fa   fa-file-o"></i>家福</span></td>
                                  <td>001</td>
                                  <td>地方</td>
                                  <td>环境</td>
                                  <td>2017-12 02:24:24</td>
                                  <td>2542</td>
                                  <td>2017-12 02:24:24</td>
                                  <td>大贵</td>
                                  <td>2017-12 02:24:24</td>
                                  <td>单事</td>
                                  <td>4132636</td>
                                  <td>正常</td>
                                  <td>梵蒂冈的非官方鼓捣鼓捣个</td>
                                  <td>
                                    <div >
                                      <a class="btn btn-warning btn-xs"  ><span class="glyphicon glyphicon-pencil"></span>修改</a>
                                      <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                    </div>
                                    &lt;!&ndash;<div >无权操作</div>&ndash;&gt;
                                  </td>
                                </tr>
                              </tbody>
                              </table></td>
                              </tr>-->



                              <tr>

                                <td class=""><span class="padding-10"><i class="fa-fw fa   fa-file-o"></i>互换</span></td>
                                <td>001</td>
                                <td>地方</td>
                                <td>环境</td>
                                <td>2017-12 02:24:24</td>
                                <td>2542</td>
                                <td>2017-12 02:24:24</td>
                                <td>大贵</td>
                                <td>2017-12 02:24:24</td>
                                <td>单事</td>
                                <td>4132636</td>
                                <td>正常</td>
                                <td>梵蒂冈的非官方鼓捣鼓捣个</td>
                                <td>
                                  <div >
                                    <a class="btn btn-warning btn-xs"  ><span class="glyphicon glyphicon-pencil"></span>修改</a>
                                    <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                  </div>
                                  <!--<div >无权操作</div>-->
                                </td>
                              </tr>
                              </tbody>
                            </table>
                            <!-- 底部-（分页部分）-->
                            <div class="dt-toolbar">
                              <div class="hidden-xs right">
                                <ul class="pagination pagination-sm">
                                  <li *ngFor="let p of categoryList?.page" class="{{p.class}}">
                                    <a (click)="pagination(p.value)" *ngIf="p.method=='method'">{{p.text}}</a>
                                    <a *ngIf="p.method==''">{{p.text}}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </sa-widget>
                    <!-- end widget -->
                  </article>
                </div>
              </tab>
            </tabset>
          </tab>
        </tabset>
      </div>
    </div>
  </sa-widget>


  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- 关闭按钮 -->
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
          </button>
          <!-- 标题 -->
          <h3 class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>添加部门</h3>
         <!-- <h3 class="modal-title  glyphicon glyphicon-pencil txt-color-red" data-ng-bind='results.title'>修改部门</h3>-->
        </div>
        <div class="modal-body">
          <sa-widget [editbutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
            <header>
              <ul class="nav nav-tabs pull-left in">
                <li [class.active]="state.tabs.demo3=='hr1'" class="active">
                  <a (click)="state.tabs.demo3 = 'hr1'">基本信息</a>
                </li>
                <li [class.active]="state.tabs.demo3=='hr2'" class="active">
                  <a (click)="state.tabs.demo3 = 'hr2'">其他信息</a>
                </li>
              </ul>
            </header>
            <div>
              <div class="widget-body">
                <tabset>
                  <tab [active]="state.tabs.demo3 == 'hr1'">
                    <tabset >
                      <tab [active]="state.tabs.demo3 == 'hr1'">
                        <div class="row">
                          <form   class="smart-form ">
                            <fieldset>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label">助记码</label>
                                  <label class="input">
                                    <input type="text"   placeholder="手工录入或自动生成"  >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label">上级部门</label>
                                  <label class="select">
                                    <select class="input-sm">
                                      <option value="" ></option>
                                      <option value="" >1010</option>
                                      <option value="" >--1010-10</option>
                                      <option value="" >1010</option>
                                      <option value="" >--1010-10</option>
                                      <option value="" >1010</option>
                                      <option value="" >--1010-10</option>
                                    </select> <i></i> </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label">部门属性</label>
                                  <label class="input">
                                    <input type="text" placeholder="" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label txt-color-blue">部门名称</label>
                                  <label class="input">
                                    <input type="text" placeholder="" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label ">负责人</label>
                                  <label class="select">
                                    <select class="input-sm">
                                      <option value=""  disabled="disabled">请选择负责人</option>
                                      <option value="" >发给</option>
                                      <option value="" >给对方</option>
                                      <option value="" >股份</option>
                                      <option value="" >官方</option>
                                      <option value="" >冻干粉</option>
                                      <option value="" >苟富贵</option>
                                    </select> <i></i> </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label  ">电话</label>
                                  <label class="input"> <i class="icon-append fa fa-phone"></i>
                                    <input name=""  placeholder="请输入电话号码" maxlength="12">
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label txt-color-blue">部门编码</label>
                                  <label class="input">
                                    <input type="text"  disabled="disabled" placeholder="自动编码" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section>
                                  <label class="label txt-color-blue">传真</label>
                                  <label class="input">
                                    <input type="text" placeholder="" >
                                  </label>
                                </section>
                              </div>
                              <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <section>
                                  <label class="label">备注</label>
                                  <label class="textarea textarea-resizable">
                                    <textarea class="custom-scroll" rows="2" name="" ></textarea>
                                  </label>
                                </section>
                              </div>


                            </fieldset>
                          </form>

                        </div>
                      </tab>
                    </tabset>
                  </tab>
                  <tab [active]="state.tabs.demo3 == 'hr2'">
                    <tabset >
                      <tab [active]="state.tabs.demo3 == 'hr2'">
                        <div class="row">
                          <form   class="smart-form ">
                            <fieldset>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">创建时间</label>
                                  <label class="input">
                                    <input  name=''  disabled="disabled"  type="text" placeholder="2017-12-13 00:00:30">
                                  </label>
                                </section>

                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">修改人</label>
                                  <label class="input">
                                    <input  name=''  disabled="disabled"  type="text" >
                                  </label>
                                </section>

                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">修改时间</label>
                                  <label class="input">
                                    <input  name=''  disabled="disabled"  type="text" >
                                  </label>
                                </section>

                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">启用时间</label>
                                  <label class="input">
                                    <input  name=''  disabled="disabled"  type="text" >
                                  </label>
                                </section>

                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">启用人</label>
                                  <label class="input">
                                    <input  name=''  disabled="disabled"  type="text" >
                                  </label>
                                </section>

                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">停用时间</label>
                                  <label class="input">
                                    <input  name=''  disabled="disabled"  type="text" >
                                  </label>
                                </section>

                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">停用人</label>
                                  <label class="input">
                                    <input  name=''  disabled="disabled"  type="text" >
                                  </label>
                                </section>

                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">自定义项—</label>
                                  <label class="input">
                                    <input  name=''    type="text" >
                                  </label>
                                </section>

                              </div>
                              <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <section >
                                  <label class="label ">创建人</label>
                                  <label class="input">
                                    <input  name=''  disabled="disabled"  type="text" placeholder="用户名">
                                  </label>
                                </section>

                              </div>


                            </fieldset>
                          </form>

                        </div>
                      </tab>
                    </tabset>
                  </tab>

                </tabset>
              </div>
            </div>
          </sa-widget>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-ng-click="ok()">保存并添加</button>
          <button type="button" class="btn btn-primary" data-ng-click="ok()">保存</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
        </div>
      </div>
    </div>
  </div>
</div>

