<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class=" no-margin no-padding">
        <div class="row pd-80">
          <div class="cpwd">
            <div class="pwd">
              <div><span>登录账户：</span><span>{{userInfo?.result?.name}}</span></div>
              <div><span>当前密码</span><input type="password" class="old" name="oldPassword" [(ngModel)]="oldPassword"></div>
              <div><span>重置密码</span><input type="password" class="now" name="newPassword" [(ngModel)]="newPassword"></div>
              <div><span>确认密码</span><input type="password" class="repeat" name="newPassword1" [(ngModel)]="newPassword1"></div>
              <div class="pwdsave">
                <button id="pwdsave" (click)="savePassword()">保存</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
