<div class="row pd-80">
  <div class="cpwd">
    <div class="pwd">
      <div><span>登录账户：</span><span>{{userInfo?.result?.name}}</span></div>
      <div><span>当前密码</span><input type="text" class="old" name="oldPassword" [(ngModel)]="oldPassword"></div>
      <div><span>重置密码</span><input type="text" class="now" name="newPassword" [(ngModel)]="newPassword"></div>
      <div><span>确认密码</span><input type="text" class="repeat" name="newPassword1" [(ngModel)]="newPassword1"></div>
      <div class="pwdsave">
        <button id="pwdsave" *ngIf="isPermission(menu_id,'add') || isPermission(menu_id,'edit')" (click)="savePassword()">保存</button>
      </div>
    </div>
  </div>
</div>
