<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="I3OT"> </span>
  </div>
  <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">你已经注册?</span> <a routerLink="/auth/login" class="btn btn-danger">登录</a>
  </span>
</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row border-box">
      <div  class="alert alert-info alert-dismissible" style="border-left-width: 0;">
        <h4><strong>设备绑定</strong></h4>
      </div>
      <form id="smart-form-register" class="smart-form" >
        <fieldset>
          <legend>基本信息</legend>
          <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <section>
              <label class="label txt-color-blue">公司ID<span class="asterisk-color">*</span></label>
              <label class="input">
                <input type="text" name="name" placeholder=" " />
              </label>
            </section>
          </div>
          <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <section>
              <label class="label">条码</label>
              <label class="input">
                <input type="text" name="name" placeholder=" " />
              </label>
            </section>
          </div>
          <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <section>
              <label class="label">位置</label>
              <label class="input">
                <input type="text" name="name" placeholder=" " />
              </label>
            </section>
          </div>
          <div class="form-group col col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <section>
              <label class="label">坐标</label>
              <label class="input">
                <input type="text" name="name" placeholder=" " />
              </label>
            </section>
          </div>

        </fieldset>

        <footer>
          <button type="submit" class="btn btn-primary">
            提交
          </button>
        </footer>
      </form>



    </div>
  </div>
</div>
