<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['仓储管理', '添加仓储']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

  </div>

  <div class="box-header with-border" >
    <a class="btn btn-success btn-sm"  (click)="lgModal.show()">
      <span class="glyphicon glyphicon-plus"></span>添加仓储</a>

  </div>

  <sa-widget [editbutton]="false" color="blueDark">
    <header>
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>库存列表 </h2>
    </header>
    <div>


      <div class="widget-body no-padding">

        <div class="row">

          <article class="col-sm-12">

            <div class="navbar navbar-default">

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search" [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate>
                  <div class="form-group">
                    <input type="text" name="keyword" maxlength="15" formControlName="keyword" class="form-control" placeholder="请输入搜索内容">
                  </div>
                  <button type="submit" class="btn btn-default">
                    搜索
                  </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                  <li dropdown class="dropdown">
                    <a (click)="(null)" dropdownToggle>自定义显示内容 <span class="caret"></span></a>
                    <ul *dropdownMenu  role="menu" class="dt-button-collection dropdown-menu" >
                      <li class="dt-button  active"  >
                        <a (click)="(null)">ID</a>
                      </li>
                      <li class="dt-button  active " >
                        <a (click)="(null)" >订单号/合同号</a>
                      </li>
                      <li class="dt-button active " tabindex="0" >
                        <a (click)="(null)">类型</a>
                      </li>
                      <li class="dt-button active " tabindex="0" >
                        <a (click)="(null)">规格/参数</a>
                      </li>
                      <li class="divider"></li>
                      <li class="dt-button  ">
                        <a (click)="(null)">购买公司</a>
                      </li>
                    </ul>
                  </li>
                </ul>

              </div>


              </div>
          </article>
        </div>

        <sa-datatable tableClass="table table-striped table-bordered table-hover smart-form">

          <thead>
          <tr>
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <th>ID  </th>
            <th>仓储名称</th>
            <th>仓库状态 </th>
            <th>总库存量 </th>
            <th>保管员 </th>
            <th>固定电话 </th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>

          <tr style="display: none;">
            <td></td><td></td><td></td><td></td>
            <td></td><td></td><td></td>
          </tr>
          <tr  *ngFor="let sl of storehouseList.result?.data">
            <td>
              <label class="checkbox">
                <input type="checkbox" name="checkbox-inline">
                <i></i>
              </label>
            </td>
            <td>{{ sl.storehouse_id }}</td>
            <td>{{ sl.storehouse_name }}</td>
            <td>{{ sl.storehouse_total_quantity }}</td>
            <td>
              <span [ngSwitch]="sl.storehouse_status">
                <span *ngSwitchCase="1">出仓</span>
                <span *ngSwitchCase="2">维修</span>
                <span *ngSwitchCase="3">满仓</span>
                <span *ngSwitchDefault>未知</span>
              </span>
            </td>
            <td>{{ sl.storehouse_keeper }}</td>
            <td>{{ sl.storehouse_phone }}</td>
            <td><a class="btn btn-warning btn-xs" ><span class="glyphicon glyphicon-pencil"></span>修改</a>
              <a class="btn btn-danger btn-xs" (click)="deleteStorehouse(sl.storehouse_id ,storehouseList.result?.current_page)"><span class="glyphicon glyphicon-remove"></span>删除</a></td>
          </tr>
          </tbody>

        </sa-datatable>
        <!-- 分页部分-->
        <div class="dataTables_paginate">
          <ul class="pagination">
            <li>
              <a (click)="pagination(storehouseList.result?.prev_page_url)"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li>
              <a (click)="pagination(storehouseList.result?.next_page_url)"><i class="fa fa-arrow-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </sa-widget>


  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">添加仓储</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label >仓储名称</label>
                <input type="text" class="form-control"  placeholder="请输入仓储名称">
              </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
              <label > 仓库状态</label>
              <select class="form-control" >
                <option value="0" disabled>选择仓库状态</option>
                <option>正常</option>
                <option>维修</option>
                <option>暂停</option>
                <option>废除</option>
              </select>
            </div>
          </div>
            <div class="col-md-6">
              <div class="form-group">
                <label > 保管员</label>
                <select class="form-control" >
                  <option value="0" disabled>选择保管员</option>
                  <option></option>
                  <option></option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label >保管室座机</label>
                <input type="tel" class="form-control"  placeholder="请输入保管室座机">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label >备注说明</label>
                <textarea class="form-control" placeholder="备注说明" rows="5" required></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="lgModal.hide()">
            取消
          </button>
          <button type="button" class="btn btn-primary">
            确定
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
