<div id="shortcut" [@shortcutState]="state">
  <ul>
    <li>
      <a (click)="shortcutTo(['miscellaneous/invoice'])" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i
        class="fa fa-book fa-4x"></i> <span>产品 <span
        class="label pull-right bg-color-darken">99</span></span> </span> </a>
    </li>
    <li>
      <a (click)="shortcutTo(['app-views/profile'])" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i
              class="fa fa-user fa-4x"></i> <span>我的资料 </span> </span> </a>
    </li>
  </ul>
</div>
