<div id="shortcut" [@shortcutState]="state">
  <ul>
    <li>
      <a (click)="shortcutTo(['management/setting-archives'])" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i
        class="fa fa-cubes fa-4x"></i> <span>商品 <span
        class="label pull-right bg-color-darken">99</span></span> </span> </a>
    </li>
    <li>
      <a (click)="shortcutTo(['account/account-personal'])" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i
              class="fa fa-user fa-4x"></i> <span>我的资料 </span> </span> </a>
    </li>
  </ul>
</div>
