<sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">

  <header>
    <span class="widget-icon"> <i class="fa  fa-skype  txt-color-white"></i> </span>

    <h2> 订单 </h2>
  </header>

  <div class="row">
    <div class="col-sm-6">
      <div echarts [options]="chartOption" class="demo-chart-220"  ></div>
    </div>
    <div class="col-sm-6">
      <ul class="list-group "  style="margin-bottom:20px;">
        <li class="list-group-item ">总数：
          <span class="label label-success label-pc">80</span>
        </li>
        <li class="list-group-item">已完成：
          <span class="label label-primary label-pc">50</span>
        </li>
        <li class="list-group-item">进行中：
          <span class="label label-info label-pc">30</span>
        </li>
      </ul>

    </div>
  </div>
</sa-widget>
