<div id="content">
 <!-- <div class="row">
    <sa-big-breadcrumbs [items]="['仓库管理', '商品分类']" icon="pencil-square-o"></sa-big-breadcrumbs>
  </div>-->
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false">
          <header>
            <ul class="nav nav-tabs pull-left in"  id="myTab">
              <li class="active" >
                <a data-toggle="tab" href="#AA" > <span
                        class="hidden-mobile hidden-tablet">商品分类</span></a>
              </li>
            </ul>
          </header>

          <div >

            <div class="widget-body">

              <div id="myTabContent" class="tab-content">

                <div class="tab-pane fade active in  padding-left-10 no-padding-bottom" id="AA">
                  <div class="row">
                    <article class="col-lg-6">
                      <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                                 [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                        <div>
                          <div class="widget-body no-padding">
                            <alert type="info" class="no-margin" *ngIf="category_id == 0">
                              <i class="fa-fw fa fa-plus"></i>
                              添加商品分类
                            </alert>
                            <alert type="info" class="no-margin" *ngIf="category_id != 0" >
                              <i class="glyphicon glyphicon-pencil"></i>
                              修改商品分类
                            </alert>
                            <div  class="mt-10">

                              <form class="smart-form " [formGroup]="formModel" (ngSubmit)="onSubmit()">
                                <input type="hidden" name="category_id" formControlName="category_id">
                                <fieldset>
                                  <section>
                                    <label class="label txt-color-blue">分类编号<span class="asterisk-color">*</span></label>
                                    <label class="input">
                                      <input type="text"  placeholder="分类编号" name="category_number" formControlName="category_number">
                                    </label>
                                  </section>
                                  <section>
                                    <label class="label txt-color-blue">分类名称<span class="asterisk-color">*</span></label>
                                    <label class="input">
                                      <input type="text" placeholder="请输分类名称"  name="category_desc" formControlName="category_desc">
                                    </label>
                                  </section>
                                  <section>
                                    <label class="label ">上级分类</label>
                                    <label class="select">
                                      <select name="category_depth" formControlName="category_depth" [(ngModel)]="category_depth_default">
                                        <option [selected]="category_id == 0" value="0">一级分类</option>
                                        <option *ngFor="let c of categoryList?.result?.categoryList?.data" [selected]="categoryInfo.result?.category_depth == c.category_id" value="{{ c.category_id }}">{{c.category_desc}}</option>
                                      </select><i></i>
                                    </label>
                                  </section>
                                </fieldset>
                                <footer>
                                  <button type="submit" class="btn btn-primary">
                                    保存
                                  </button>
                                </footer>
                              </form>
                            </div>

                          </div>
                        </div>
                      </sa-widget>
                    </article>
                    <article class="col-lg-6">
                      <sa-widget class="jarviswidget well" [colorbutton]="false" [editbutton]="false" [togglebutton]="false"
                                 [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [sortable]="false">
                        <div>
                          <div class="widget-body no-padding">
                            <alert type="info" class="no-margin" >
                              <i class="fa-fw fa fa-spoon"></i>
                              商品分类
                            </alert>
                            <div class="widget-body">
                              <div class="row text-center" style="padding:10px 40px;">
                                <div class="dd" >

                                  <ol class="dd-list">
                                    <li class="dd-item" data-id="{{cl.category_id}}" *ngFor="let cl of categoryList?.result?.categoryList?.data">
                                      <button data-action="expand" type="button" *ngIf="cl.child_count > 0" [ngStyle]="{'display': ((button_contrl_id==cl.category_id && index == 1) || button_contrl_id!=cl.category_id) ? 'block':'none'}" (click)="show(2,cl.category_id)">收起</button>
                                      <button data-action="collapse" type="button" *ngIf="cl.child_count > 0" [ngStyle]="{'display': (button_contrl_id==cl.category_id && index == 2) ? 'block':'none'}" (click)="show(1,cl.category_id)">展开</button>
                                      <div class="dd-handle">
                                        {{cl.category_desc}}
                                        <!--<small  class="text-muted">-->
                                          <!--<i >({{cl.child_count}})</i>-->
                                        <!--</small>-->
                                        <div *ngIf="cid == super_admin_id || cl.c_id == cid">
                                          <a class="btn pull-right btn-warning btn-xs btn-20" (click)="editCategory(cl.category_id)"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                                          <a class="btn pull-right btn-danger btn-xs btn-20" (click)="deleteCategory(cl.category_id)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                        </div>
                                        <div *ngIf="cid != super_admin_id && cl.c_id != cid"><a class="btn pull-right btn-danger btn-xs btn-20">无权操作</a></div>
                                      </div>
                                      <ol class="dd-list" [ngStyle]="{'display': (button_contrl_id==cl.category_id && index == 2) ? 'block':'none'}">
                                        <li class="dd-item" data-id="{{clc.category_id}}" *ngFor="let clc of cl.child">
                                          <div class="dd-handle">
                                            {{clc.category_desc}}
                                            <div *ngIf="cid == super_admin_id || clc.c_id == cid">
                                              <a class="btn pull-right btn-warning btn-xs btn-20" (click)="editCategory(clc.category_id)"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                                              <a class="btn pull-right btn-danger btn-xs btn-20" (click)="deleteCategory(clc.category_id)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                                            </div>
                                            <div *ngIf="cid != super_admin_id && clc.c_id != cid">
                                              <a class="btn pull-right btn-danger btn-xs btn-20">无权操作</a></div>
                                          </div>
                                        </li>
                                      </ol>
                                    </li>
                                  </ol>
                                </div>
                              </div>
                              <div class="dt-toolbar">
                              </div>
                            </div>
                          </div>
                        </div>
                      </sa-widget>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>



</div>

