<li >
             <span class="unread">
                <a class="msg">
                <img alt="" class="air air-top-left img-circle img-online online" height="40" width="40" src="assets/img/avatars/female.png">
                <span class="from">小黄</span>
                <span>10:47 2017-11-22</span>
                <span class="subject">标题</span>
                <span class="msg-body">内容内容内容</span>
               </a>
           </span>
</li>
<li >
              <span class="read"><a class="msg">
                <img alt="" class="air air-top-left img-circle img-online online" height="40" width="40" src="assets/img/avatars/female.png">
                <span class="from">Sonya Birthday</span>
                <span>10:47 2017-11-22</span>
                <span class="subject">标题</span>
                <span class="msg-body">内容内容内容</span>
              </a>
         </span>
</li>

<!--
<span class={{item.status}}>
  <a class="msg">
    <img src={{item.image}} alt="" class="air air-top-left img-circle img-online online" width="40"
         height="40"/>
    <span class="from">{{item.title}}</span>
    <span>{{item.time}}</span>
    <span class="subject">{{item.subject}}</span>
    <span class="msg-body">{{item.message}}</span>
  </a>
</span>
-->
