
<div class="index-banner">
  <div class="index-banner-bg"><img src="../assets/img/bg.jpg" alt="bann" /></div>
  <div class="index-banner-text container">

    <h1>i3ot</h1>
    <div class="desc" ><p>能源、矿业、化工等物联网及人工智能的应用</p></div>
  </div>
</div>

  <div class="container">

    <div class="row containerMargin">
      <div class="col-md-4">
        <img src="assets/img/news/news8.jpg" class="img-responsive" alt="assets/img">
      </div>
      <div class="col-md-8 padding-left-0">
        <section class="block">
          <input type="checkbox">
          <div class="case-block">
            <a class="btn btn-primary" > 阅读更多</a>
            <a class="btn btn-primary" > 收起文章</a>
          </div>
          <div class="detail">
            <h3 class="margin-top-0"><a (click)="(null)">DEYEE物联网智慧运维管理平台 --矿业应用篇 </a><br><small class="font-xs"><i>2017-02-20</i><i> 周佳 <a (click)="(null)">德逸物联网 </a></i></small></h3>
            <p>
              矿业全球化是世界经济一体化的重要组成部分，是推动世界矿业发展的重要因素。矿产资源作为主要的生产要素，无疑要实现资源全球化，进行优化配置，以提高资源的利用率。
              <br><br>安全是人类最基本的需求之一，是人类从事各种社会活动的重要保障。在经济快速发展的今天对能源产业需求量也与之增大，为了抓住这个大好时机，有些煤矿在没有科学的安全保证下贸然提高产量，导致恶性事故的发生。
              <br><br>
            </p>
            <h4><strong>作为矿企负责人，安全问题是否也困扰您？</strong><br><br></h4>
            <p>
              矿山安全，“预防为主”，如何将信息化和矿业高层次的深度结合，尽可能减少安全隐患，是现在矿业安全发展的重中之重。
              <br><br>当矿企的网络设备、通信设备、应急系统，一旦发生断电的问题，备用电源就起到了决定性的作用，如果疏于对备用电源的维护和巡检，就有可能造成严重的安全隐患，我们针对矿山企业安全推出的”智慧运维管理平台”，化被动为主动，推进安全生产工作更上一层楼，避免因为安全运维人员不能及时发现电源问题，造成安全事故的风险。
              <br><br>DEYEE物联网-智慧运维管理平台就是基于云计算的原理搭建的，当矿山的勘察现场上有UPS系统、开关电源系统、直流屏系统上的蓄电池有故障产生时，系统通过感知层将信息传送到网络层，经过各种网络环境下的数据上报和远程管理，进入应用层，实现对蓄电池系统的实时监测监控、告警定位和云运维服务。
              <br><br>“蓄电池监控系统”是安装在现有的备用电源的基础上，将管理者最为关心的电源数据信息进行横向整合，利用德逸网关，推送到手机客户端或pc客户端，随时随地的查看备用电源是否正常运行。
              <br><br>从企业角度出发，过去的巡检，实现了对备用电源的实时监控，提高了监测数据的广度和精度，为安全管理积累了大量数据。但收集到的数据却并没有充分挖掘利用，不能有效解决整个生产系统中的安全问题。必须利用先进的大数据技术，加强海量数据分析工具的开发和利用，挖掘释放大数据价值，建立监测模型、寻找灾害事故规律、预测安全状况，支持企业安全生产决策，为监管部门提供有效信息。
              <br><br>DEYEE物联网-智慧运维管理平台是基于地理空间、电源设备等构建智慧矿山智能协同平台， 实现各机电设备的协同、信息化管理与智能分析；用数字化、信息化改造提升矿山安全，建设“监、测、管、控一体化”的矿山综合管理，提高矿井信息化装备与现代化管理水平。
            </p>
          </div>
        </section>
      </div>
    </div>
    <hr>
    <div class="row">

      <div class="col-md-8 padding-left-0">
        <section class="block">
          <input type="checkbox">
          <div class="case-block">
            <a class="btn btn-primary" > 阅读更多</a>
            <a class="btn btn-primary" > 收起文章</a>
          </div>
          <div class="detail">
            <h3 class="margin-top-0"><a (click)="(null)">物联网技术在煤矿安全中的应用 </a><br><small class="font-xs"><i>2016-08-04</i><i>  <a (click)="(null)">防爆云平台 </a></i></small></h3>
            <h4><strong>1、引言</strong><br><br></h4>
            <p>
              煤炭行业在我国经济发展中占据着举足轻重的地位。虽然煤矿安全生产已取得不小进步，但是较发达国家煤矿安全生产水平还有一定差距，尤其是特大安全事故还时有发生。物联网技术的发展为解决煤矿安全问题带来了希望。物联网技术能够保证煤矿安全生产，预防事故发生，而且在事故发生后能快速、准确定位，进行应急抢救。
              <br><br>物联网技术还为煤矿安全监督管理引入了新的理念、新的技术和新的方法。把感应器嵌入到煤矿安全监控系统中，感知煤矿“人员、机械、环境”方面的各种状态信息，将现有分散、独立、单一的网络监管平台提升为系统、开放、多元的综合网络监管平台，实现人与机械、环境等物理系统的整合，物与物、人与物的互联互动，从而保证煤矿的安全生产，实现安全监督管理中“物物互联、智能感知、物物互动、智慧处置”的设想。
              <br><br>
            </p>
            <h4><strong>2、物联网的概念</strong><br><br></h4>
            <p>
              物联网(Internet of Things)又称传感网，是通过射频识别(RFID)、红外感应器、全球定位系统、激光扫描器等信息传感设备，按约定的协议，把任何物品与互联网相连接，进行信息交换和通信，以实现智能化识别、定位、跟踪、监控和管理的一种网络概念。物联网是一个比Internet更为庞大的网络。物联网的核心和基础是互联网，物联网是在互联网基础上延伸和扩展的一种网络，其用户端延伸和扩展到任何物品与物品之间进行信息交换和通信。物联网实现了“物-物通信”、“物-物联动”，使连接到物联网上的所有物品、设备能够自由地互相通信、共享信息、互通状态。
              <br><br>
            </p>
            <h4><strong>3、物联网技术在煤矿中的应用</strong><br><br></h4>
            <p>
              目前世界各国都相继出台了与物联网相关的信息化政策，我国也已将物联网列为重点培育和发展的新兴产业。随着物联网技术快速发展，物联网技术也可应用到煤炭行业，可以有效地对煤矿机房硐室、井下设备、人员进行监控管理，减少事故的发生，最大限度的减少人员财产的损失。中国矿业大学成立了感知煤炭研究所;中国移动山东分公司运用物联网技术与移动通信技术，针对煤矿安全生产研发的物联网应用项目—“E矿山综合管理系统”。
              <br><br>其中，“E矿山综合管理系统”是将通过射频定位、环境监测传感器、重量传感器采集到的井下瓦斯、人员、风速等参数通过各种通用的数据接口传输至监控中心，再将煤矿监控、通信、运输等多个系统进行无缝链接，并将管理平台中大量的重要信息提取出来，通过无线网络进行远程数据通信，利用中国移动网络覆盖面广的特点，通过监测设备发送至手机终端，提供给煤矿相关管理人员。“E矿山综合管理系统”已实现人员管理定位、出煤量查询、视频监控、报表发送、人员定位、安全信息报警、信息管理等功能。煤矿管理人员不在现场的情况下，可实现对企业运行情况的实时了解和掌握，对生产过程中极易发生事故的危险源及时发现和清除，大大提升了企业工作效率，实现优化生产、优化管理。
              <br><br>在煤矿中，有各种机房硐室、井下电气设备，比如35kV变电所、配电室、主排水泵、扇风机等。它们在煤矿的正常运行及安全中起着至关重要的作用，必须确保其正常运行。利用物联网技术对这些场所、电气设备进行监控可以随时了解它们的运行状况，有利于减少事故的发生，确保煤矿安全生产。
              <br><br>1)35kV变电所运行状况监控。在35kV变电所内装有变压器保护测控装置、线路保护测控装置、厂用变保护测控装置、电容器保护测控装置、火灾报警装置等，通过这些保护测控装置实时监控设备，并将信息传到监控中心，构成变电所监控系统。
              <br><br>2)主排水泵控制系统检测与远控。主排水设备安装可靠的传感器、保护装置、电动闸阀、电磁阀等设备组成矿井主排水自动控制系统，通过智能测控器的接口和光纤适配器与井下以太网联接，将信息传到地面监控中心，构成排水监控系统。
              <br><br>3)扇风机状态显示及远控。风机在运转过程中，对电流、电压、轴承温度、压风流量、风速、压力等参数在线连续检测与保护。在扇风机控制柜上加装状态智能仪表，实时显示每台扇风机的工作状态;在地面主控机上显示电机电流、电压、功率因数;在主控机上设置远近转换开关，通过主控机可实现对每台扇风机的远方控制。
              <br><br>在人员监控方面，大多煤矿都安装了井下人员定位系统，该系统能够实现人员的登记、考勤、定位。井下人员定位系统是矿井地面监控中心工控机在软件数据库的支持下，通过传输接口和井下巷道安装的分站将读卡器采集到的数据信息传输至地面工控机，对井下员工进行实时跟踪，使井下人员位置、动态分布在工控机上得以实时反映，从而实现井下安全状态在井上管理的目的。
              <br><br>在矿井安全监控与矿山安全救护方面，利用物联网技术实时监测井下甲烷浓度、一氧化碳浓度、风速、负压、温度、烟雾浓度、馈电状态、风门状态、风筒状态、局部通风机开停、工作电压、工作电流等，实现甲烷超限声光报警、断电和甲烷风电闭锁控制等;当煤矿发生险情时，监控救护系统可根据事故类型和地点以最快速度选择最佳线路，迅速调配抢险救护队伍和设备，最大限度的减少事故造成的损失。
              <br><br>
            </p>
            <h4><strong>4、物联网技术在煤矿应用中存在的问题</strong><br><br></h4>
            <p>
              虽然物联网技术在煤矿安全方面已取得很大的发展，但是仍不能满足煤矿安全生产、灾害预警、应急救援等的需求，需要进一步发展研究煤矿物联网技术，解决煤矿准用产品和矿用关键设备的全程跟踪监管等问题。
              <br><br>中国物联网标准仍在制定中，相关技术并未发展成熟;大部分的业务仍然是数据采集应用的扩展，要想在安全生产中实现更加“智能”和“物与物对话”，还需要解决以下几方面的问题：
              <br><br>1)必须生产大量性能可靠、精度较高、适合煤矿井下环境和规范的智能传感器件。
              <br><br>2)建设分布式、可移动、自组网的信息采集平台，研究矿山复杂环境下无线传感网技术、局部地区发生灾害后的网络重构技术。
              <br><br>3)开展适用于煤矿的安全信息获取技术与处理技术、矿井灾害预警等关键前沿技术的研究。
              <br><br>4)对人员安全环境感知技术与终端设备、生命探测技术进行研究，预防预警灾害。
              <br><br>5)统一物联网技术中涉及的技术标准，制定真正适合于煤炭行业安全发展的技术标准。
              <br><br>
            </p>
            <h4><strong>5、煤矿物联网技术发展规划及意见建议</strong><br><br></h4>
            <p>
              为使物联网技术能够更好的应用于煤矿安全，减少事故的发生，针对还存在的一些问题，提出煤矿物联网技术下一步发展规划及建议意见。
              <br><br>第一，煤矿环境复杂，机房硐室、设备繁多，为更好保证煤矿安全生产，下一步需要做以下工作，将所有可能发生会安全事故的机房硐室、电气设备全部纳入监控检测系统，监控中心就可以通过系统实时监控这些场所设备。
              <br><br>第二，煤炭行业要开展物联网技术人才培养与技术交流活动，研究开发物联网新技术，促进煤矿物联网技术的发展。
              <br><br>第三，煤矿物联网技术要想发展必须有统一的技术标准，要制定真正适合煤炭行业安全发展的煤矿物联网技术标准。成立专门研究煤矿物联网技术的组织机构，定期举办交流会议，汇总各矿发展煤矿物联网技术的经验及研究成果，供组织会员单位分享。大家集思广益加强交流有利于促进煤矿物联网技术的发展。
              <br><br>第四，物联网又名传感网，因此组建煤矿物联网系统需要大量性能可靠、价格低廉、能耗较低、精度较高、适合煤矿井下环境和规范的智能传感器件。所以下一步就是鼓励传感器行业研发此类传感器件。
              <br><br>第五，煤矿环境复杂，井下人员、设备移动频繁，给人员、设备的监控检测以及系统的建立带来很大的困难。因此要建设分布式、可移动、自组网的信息采集平台;大力研究无线传感网技术，以便克服复杂的煤矿坏境给系统建立带来的困难;研究局部地区发生灾害后的网络重构技术，在发生煤矿安全事故时系统能够重构、恢复功能，为救援提供可靠帮助，最大限度的降低事故灾害带来的损失。
              <br><br>第六，保证检测监控数据的可靠和安全，确保煤矿安全，要研究矿山复杂环境下的安全信息获取技术与处理技术、矿井灾害预警预报等关键前沿技术。拓展物联网技术在煤矿安全上的应用，因此一方面要研究人员安全环境感知技术与终端设备，预防预警灾害事故的发生;另一方面要研究生命探测技术，在灾害发生时能够以最快速度确定被困人员的具体位置以最佳解救路线解救被困人员，减少人员的伤亡。
              <br><br>
            </p>
            <h4><strong>6、总结</strong><br><br></h4>
            <p>
              我国煤矿安全形势依然严峻，物联网技术的发展为煤矿安全带来了契机。现物联网技术已广泛应用于煤矿安全方面，也已初见成效，但是煤矿物联网技术还存在很多问题。为使物联网技术更好的服务于煤矿，我们必须大力研究并加强交流合作，共同解决还存在的问题。针对存在的问题应制定下一步发展规划，保证煤矿物联网技术快速持续发展。
              <br><br><i>（来源于网络）</i>
            </p>

          </div>
        </section>
      </div>
      <div class="col-md-4">
        <img src="assets/img/news/news12.jpg" class="img-responsive" alt="assets/img">
      </div>
    </div>
    <hr>


  </div>
  <div class="container">

    <div class="row containerMargin">
      <div class="col-md-4">
        <img src="assets/img/news/news7.jpg" class="img-responsive" alt="assets/img">
      </div>
      <div class="col-md-8 padding-left-0">
        <section class="block">
          <input type="checkbox">
          <div class="case-block">
             <a class="btn btn-primary" > 阅读更多</a>
             <a class="btn btn-primary" > 收起文章</a>
          </div>
          <div class="detail">
            <h3 class="margin-top-0"><a (click)="(null)">能源产业成就物联网未来？</a><br><small class="font-xs"><i>2017-02-08</i><i> iothome.com <a (click)="(null)">物联之家网 </a></i></small></h3>
            <p>
              连网产品厂商宣称到了2020年，将有多达五百亿台装置可连上互联网。这类装置相互搭配运作，传送数据至云端型应用程序，透过海量数据分析来实现价值，这样的愿景就是所谓的物联网（IoT）。由于大量的智能电子装置（IED）部署于变电所及配电网络，因此各界经常将能源产业视为实现物联网理所当然的机会与目标。
              <br><br>不过，能源产业本身存在各种挑战。本文将探讨实作物联网的各项技术及标准，对比能源产业目前使用的项目，讨论包含大量装置的智能电网项目期间发现的各项挑战，并提出物联网及其基础技术提供的若干契机。
              <br><br>物联网这个名词听起来像是最新的技术浪潮，不过其实早在1999年就已经出现；当时研究人员的想法，是利用RFID卷标追踪大型的物体网络。这项概念演进发展，大量导入智能连网装置，而Cisco（思科）这家主要的连网设备厂商，目前将物联网定义为物体（也就是「物」）连网数量超越人口数的时间点。Cisco甚至预测到了2020年，将有500亿台装置连上互联网。
              <br><br>这类装置相互搭配运作，传送数据至云端型应用程序，透过海量数据分析来实现价值，这样的愿景就是现今所谓的物联网。虽然此项愿景通常与连网消费性产品有关，但也进军其他领域，例如目前的工业物联网（IIoT），利用现场或厂房的数千个传感器提供数据，实时达到最佳生产力及资源使用率，进而实现工业4.0全新工业革命。
              <br><br>本文将探讨IoT的各项承诺，实作IoT的各项技术和标准，再对比能源产业已经使用的项目，探讨智能电网项目期间发现的各项挑战；文中也将讨论如何撷取及使用现有应用的数据，并仍能符合关键基础设施的安全需求。
              <br><br>
            </p>
            <h4><strong>物联网的崛起</strong><br><br></h4>
            <p>
              物联网定义相当混乱，其中包含大量的应用和技术。连网装置、自动化和软件的各大厂商都加入了这一波浪潮，各界不断大肆宣传这项新型商业契机的作法，使得IoT定义的理清更加困难。此外，物联网说明内容一般维持在大方向，很少有人从技术层面切入，探讨如何建构IoT实现所有效益。
              <br><br>标准开发组织（SDO）已经组成工作小组，以提出IoT的正式架构。例如IEEE已经建立IoT计划，将其定义为“由各个内嵌传感器的连网项目所组成的网络”。其中已经提出140项以上的相关标准和项目，并组成IEEE P2413工作小组负责定义架构，并理清各IoT领域、其抽象概念和共通处。
              <br><br>P2413工作小组已经提出下列IoT领域：居家和建物、零售、能源、制造、移动及运输、物流、媒体、医疗保健。P2413以大方向为原则，将架构定义为三个层级，包含应用、网络和数据通讯、感测。
              <br><br>由于大量的智能电子装置（IED）部署于变电所及配电网络，因此各界经常将能源产业视为实现IoT理所当然的机会目标。不过，讨论内容通常局限于AMI及「智能」温控等常见应用。可惜的是，大多未能提及能源产业在智能电网项目中，透过本身连网装置标准型架构所汲取的丰富宝贵经验。
              <br><br>以下将详细探讨各项IoT概念，说明其中牵涉的技术，并就智能电网计划的工作成果来阐述。
              <br><br>IoT的基础概念，是传感器网络将传送数据至各项应用程序，以便为组织或个人创造价值。一般是假设各个传感器将获派独一无二的地址，而数据会透过公共互联网基础设施传输至云端型应用程序。不过，如果有500亿个装置要直接连网，就需要大幅改变装置寻址的方式。
              <br><br>互联网通讯协议原本是设计为研究项目，使用32位的寻址空间，这在当时并不构成问题。此外，地址原本的分配方式相当浪费，造成目前IP地址空间耗尽，在使用目前版本互联网通讯协议IPv4的情况下，已经没有未指派公共IP地址的区块。
              <br><br>到目前为止，这项限制并未阻止互联网成长，因为大部分计算机和连网装置并不需要公共IP地址，而是使用私人IP地址，透过执行网络地址转换（NAT）的路由器存取互联网。NAT不仅降低对个别公共地址的需求，也提供安全层，只有对外的路由器具有公共IP地址，而无法由外部直接存取私人地址范围之中的装置或计算机。
              <br><br>然而，必须要有使用更大的地址空间，才有可能实现500亿台个别寻址装置的IoT愿景。新版标准也就是所谓的IPv6，使用128位寻址空间，理论上能够提供2128或约3.4×1038个地址，足以因应所有可预见的应用需求。
              <br><br>现代计算机操作系统一般可支持IPv4及IPv6，不过，制程控制、自动化及保护使用的IED，一般并不支持IPv6。这类装置可执行特定作业，满足非常严峻的成本要求及环保规范。为因应这类要求所使用的电子装置，只能提供非常有限的运算能力和内存。
              <br><br>此外，装置设计人员将重点放在装置功能，通常仅实作最低限度的通讯及安全功能。在自动化领域中，基本上已采用网络联机技术来取代点对点接线。系统之中的装置可透过网络互相通讯，不过一般并无法向外联机至互联网。
              <br><br>虽然未来装置厂商最终将转移至IPv6寻址，但关键基础设施的组织，绝对会继续控制及限制存取其现场装置。安全从业人员一般认为，使用公共互联网与现场装置通讯，会带来严重的网络安全及服务质量（QoS）疑虑。
              <br><br>
            </p>
            <h4><strong>定义能源标准 以提升通讯可靠度</strong><br><br></h4>
            <p>
              能源产业透过变电所自动化及智能电网项目，获得通讯技术和通讯协议方面的丰富经验。就变电所而言，通讯特性为装置对装置，其中的关键需求为可靠性、低延迟及决定性行为。
              <br><br>在能源产业方面，IEC 61850标准已定义架构保护装置，其基础为使用以太网络传输抽样值及GOOSE讯息。以太网络可提供快速的装置对装置通讯，并支持优先级及QoS。不过即使有了以上功能，其非决定的特质仍然招来质疑。
              <br><br>SCADA／RTU应用特性可归类为装置对服务器，其时间要求并不像保护那么严格。这在能源产业是透过DNP3、IEC 61870-5-101／104及IEC 61850等通讯协议处理，透过各种LAN及WAN通讯网络传输。
              <br><br>即使其特性可归类为装置对服务器，AMI应用的时间要求宽松许多。其中一项关键差异是AMI控制功能一般不需要及时响应。SCADA用于控制电气设备，因此需要能够提供可靠及可预测行为的通讯基础设施。另一方面，AMI等应用执行的控制作业非常少。
              <br><br>大部分作业包含定期读取电表读数，电表断线的控制要求非常少。因此AMI系统一般使用各种不同的通讯技术，从电力线载波（PLC）到各种无线方式，其中许多具有高延迟和低带宽等问题。
              <br><br>这类通讯技术连接至公用设施时，大多利用实作场域网络（FAN）的数据集中器，作为网关连往公用设施广域网（WAN）。智能电网计划也确认及提出各种不同标准和通讯协议，其中包括IEC 61850。
              <br><br>虽然能源产业中，装置对装置、装置对服务器通讯协议均已充分定义且使用普遍，但是在提供标准化数据给商业应用方面的成果比较少。即使CIM和IEC 61850已提供互操作性基础，智能电网应用大多仍于专属的厂商独立环境运作。
              <br><br>
            </p>
            <h4><strong>通讯协议</strong><br><br></h4>
            <p>
              在互联网和自动化系统之中，执行数据撷取的方式大不相同。一般来说，SCADA／RTU仍然主宰自动化领域的机器对机器通讯。电力产业使用的数据撷取通讯协议，一般为主机／从机或客户端／服务器。SCADA主机（客户端）联机至装置，并定期轮询数据。
              <br><br>RTU等装置及网关一般会由大量实体点集中数据，透过IED直接联机或提供。实作从机（服务器）的装置听取传入的联机要求，建立通讯会话，然后听取数据读取要求及控制作业。这是所有常见通讯协议使用的方式，包括Modbus、DNP3、IEC 61870-5-101／104及IEC 61850。
              <br><br>现代通讯协议也支持时间戳、数据质量及主动提供报告等功能，以减少延迟及带宽。一旦建立通讯会话，装置就可在扫描作业间的空档回报数据变更。
              <br><br>以上所述的所有通讯协议，均设计在各种通讯技术提供可靠作业，包括低带宽和不可靠的传输。现代通讯协议也能导出装置点列表，以促进互操作性。
              <br><br>在工业层级方面，OPC UA通讯协议取代旧型OPC，是IIoT理想选择。这项客户端／服务器通讯协议，不再绑定Microsoft Windows操作系统，而提供安全性功能，支持Web服务接口及信息模式，目前定义为IEC 62541。
              <br><br>不过，以上通讯协议均未使用于IT、Web和互联网应用。前述应用使用完全不同的通讯协议系列。虽然Web采客户端／服务器方式，但依据的架构不同，且使用的是无联机的HTTP通讯协议。Web浏览器联机至服务器，传送读取或写入要求，然后关闭联机。Web服务器并不会追踪记录联机。这种方式提供可扩充性，可同时容纳非常大量的客户端。
              <br><br>HTTP及其安全版本的HTTPS，正透过使用所谓“Web服务”的方式，增加在机器对机器通讯之中的使用情形。由于有越来越多装置内建Web服务器进行设定和监控，因此也加入可编程接口，使用具象状态传输（REST）接口，支持存取装置数据和设定。基本上这是以HTTP／HTTPS来交换结构化为XML或JSON讯息的数据。
              <br><br>
            </p>
            <h4><strong>比较紧密／松散结合架构</strong><br><br></h4>
            <p>
              客户端／服务器相当适合自动化应用，因为系统架构获得妥善定义，并且非常稳定。SCADA主机使用RTU、网关和IED的地址和点列表预先设定，RTU及网关则使用装置的地址和点列表预先设定。架构因此得以紧密结合，所有装置可安全有效地交换实时数据。不过，若要新增新装置就必须更新系统设定。
              <br><br>客户端／服务器的替代方案为发布／订阅方式。在这类架构中，只要装置有需要报告的数据或事件，就会主动发布讯息。有一种特殊类型的服务器会负责代理，管理消息队列，将其组织为各个主题。
              <br><br>客户端应用程序订阅主题，以便接收数据；使用发布／订阅及讯息，将产生松散结合的架构。新装置可轻松新增至系统，并开始在特定主题发布数据。客户端应用程序将接收数据、识别数据源自新装置，然后依此调整本身架构。显然就网络安全及互操作性能力而言，管理松散结合架构本身就存在着各种挑战。
              <br><br>最常见的IoT愿景是松散结合的装置及传感器网络，透过传讯架构发布数据，使用各种Web服务及传讯通讯协议，例如消息队列遥测传输（MQTT）、受限应用协议（CoAP）、数据分配服务（DDS）、进阶消息队列协议（AMQP）。除了AMQP以外，以上大部分通讯协议都尚未普遍使用。AMQP通讯协议用于金融业，支持交易模式，因此更为复杂，不适合用于边缘装置。就我们所知，以上通讯协议都未用于能源产业的自动化系统和装置。
              <br><br>在电力产业及IEC 61968标准的通用信息模型（CIM）之中，已提案纳入使用传讯架构。使用传讯可在装置和企业应用程序之间建立桥梁；这两者运作环境的需求完全不同。
              <br><br>其中一家厂商Intel已经提出物联网网关开发平台，支持各式各样的通讯技术，并提供软件支持传讯通讯协议及安全性。这类装置可链接这两种不同环境。
              <br><br>不过为了实现真正的互操作性，装置和应用程序也必须共享通用数据模型，这就是IEC 61850和CIM为电力产业完成的成果。
              <br><br>物联网的一大挑战，就是要理解传感器产生的大量数据。厂商推动的愿景，是让大量装置和传感器共同运作，提供数据给精密的软件应用程序。不过，为达成以上愿景，应用程序需要了解数据意义，也就是所谓的语义学。传感器读取的是电压还是温度？温度是摄氏或华氏度数？比例系数为何？
              <br><br>为了达到互通目标，装置需要发布自己的数据模型，而软件应用程序则需要依此自行设定，基本上实作所谓“即插即用”的模式。
              <br><br>能源产业透过IEC 61850及CIM，在数据建模和电力网络“物”的语义方面，具有强大的领先优势。不过，可以发现愿景仍未完全实现，IEC 61850所提供的，大多只有相同厂商装置之间的互操作性。
              <br><br>能源产业透过IEC 61850及CIM，在数据建模和电力网络“物”的语义方面，具有强大的领先优势。不过，可以发现愿景仍未完全实现，IEC 61850所提供的，大多只有相同厂商装置之间的互操作性。
              <br><br>
            </p>
            <h4><strong>云端运算</strong><br><br></h4>
            <p>
              前几节我们探讨装置如何通讯及产生数据，以便由应用程序处理。IoT承诺的各项效益，将透过应用程序实现，使用前述数据产生各种宝贵信息。不过，企业应用程序相当昂贵，组织面对的挑战，正是要负担高额成本来部署及维护这类应用程序。厂商持续演进发展各项应用程序，新增各种全新功能，满足市场及客户需求，不过组织根本无法负担如此迅速的变更，“如果没坏，就不要修。”
              <br><br>IoT其中一大基础是云端运算，这势必能解决许多以上挑战。美国国家标准与技术研究院（NIST）将云端运算定义为“可实现普遍、便利、随需的网络存取模型，取得共享的可设定运算资源集区（例如网络、服务器、储存设备、应用程序及服务），能够以最少的管理工作或服务供货商互动迅速布建及发行。”
              <br><br>收集装置和传感器数据的应用程序，需要的磁盘储存容量持续增加。透过进阶分析处理此类资料，从中撷取宝贵信息和趋势的作法，需要丰富的运算功能。维护应用程序及安装各种更新，因应错误或安全问题所需的IT资源可能无法取得，对于规模较小的公用设施更是如此。
              <br><br>云端运算平台提供两种效益：受管理的基础架构服务及软件架构，简化开发大规模应用程序。云端运算建构于现代系统的虚拟化功能，向组织提供随需运算及储存功能，并透过使用容错系统及分散各地的数据中心，确保提供高可用性。最重要的是，云端运算可确保实时套用各项更新及修补程序。云端运算提供各式各样的服务模式，因应不同的使用情况：软件即服务（SaaS）、平台即服务（PaaS）、基础架构即服务（IaaS）。
              <br><br>SCADA、DMS、EMS及FLISR等公用设施应用程序，对公共设施营运相当重要，因为这类应用程序操作远程装置，管理传输或配电系统，是关键基础设施的一部分。因此这类应用程序的可靠性及安全性要求非常严苛，一般由公用设施IT团队部署于高度安全的公用设施数据中心。
              <br><br>NERC CIP等网络安全架构及标准，要求系统营运商实作可稽核的安全控制功能。在公用设施数据中心内部部署及维护应用程序较为昂贵，因此提供了公用设施可完全稽核的控制功能，规定可以使用应用程序的对象，以及如何管理数据和装置存取。
              <br><br>云端运算厂商主张自己提供的安全性层级，能够因应所有适用需求。不过，如果在云端部署应用程序，公用设施IT及网络安全团队就必须仰赖第三方，丧失本身部分的控制能力。
              <br><br>然而，对重要性较低的应用程序和组织而言，云端提供的重大效益，可能比丧失控制能力更为重要。云端也能让规模较小的公用设施，存取在其他方面无法负担使用的应用程序。
              <br><br>公用设施可利用多重层级方式及私有云端，享有云端型解决方案的各种好处，同时也能兼顾安全性。公用设施可以选择管理本身内部的数据撷取应用程序，由自己的私有装置网络收集数据，并使用网关应用程序将数据推送至云端型应用程序进行处理。
              <br><br>
            </p>
            <h4><strong>网络安全为IoT首要之务</strong><br><br></h4>
            <p>
              网络安全必须成为物联网的基本特性。然而，安全从业人员多半将IoT视为正在发生的灾难事件。500亿台装置联机公共互联网的愿景，将引发各界严重疑虑，担心恶意软件、大规模殭尸网络，以及阻断服务（DDOS）攻击等事件普遍散布。
              <br><br>研究人员不断发现内嵌式装置的弱点，例如车辆因为内建计算机网络而遭到窃取、节律器及胰岛素泵遭到入侵、智能电视殭尸网络等等。网络安全从业人员将此归咎于装置制造商注重提供产品功能，但其安全技术仍十分有限。
              <br><br>IEEE P2413工作小组已经成立子工作小组处理网络安全问题，并了解所谓的四大信任要素（Quadruple Trust）：保护、保全、隐私及安全。小组已经深入探讨安全性问题，并将其作为主要原则。
              <br><br>能源产业再次因为领先发展而受益，网络安全一开始就是智能电网计划的关键要求，且已投入大量心力定义各项已于报告正式提出的需求，例如智能电网安全的NIST 7628准则。虽然这类准则并未因应IoT本身，但确实针对能源产业的各项应用定义网络安全要求，涵盖发电厂到客户场所。
              <br><br>此外，许多公用设施必须达到NERC CIP网络安全标准，并由此获得保护资产的宝贵经验。基本上，关键资产必须隔离，独立于安全的网络区域，并且必须将区域之间的网络流量加以限制，仅提供给获得授权及验证的实体；因此，深度架构必须采取分层防御。
              <br><br>达成保护、保全、隐私及安全的NIST四大信任要素，需要使用密码，并因应其中产生的所有主要关键挑战。可用的分布式随需运算资源持续增加，引起各界疑虑担心加密密钥遭到暴力攻击法破解，因此要求使用更强大的密钥，以及更强大的装置。在私有网络隔离装置，也可能是解决方案。
              <br><br>
            </p>
            <h4><strong>管理装置生命周期</strong><br><br></h4>
            <p>
              连网装置管理仍会是需要因应的挑战，开发应用程序和策略支持完整的装置生命周期，是降低所有连网「物」整体拥有成本（TCO）的必要措施。目前有许多布建、调试、更新及弃置作业，仍需要由高度合格人员手动执行。
              <br><br>在这方面，建立IoT的IT领域大幅领先。连网装置厂商提供网络管理软件（NMS）支持其装置。不过，这类软件一般用于支持单一厂商装置，执行非常充分定义的功能。目前正在努力定义标准接口，规定哪些装置可以发布本身功能，并以编程方式管理。只是开发通用管理平台仍是挑战，甚至在经济考虑上也不太可行。
              <br><br>
            </p>

            <h4><strong>结论</strong><br><br></h4>
            <p>
              本白皮书试概述实作物联网的部分现有技术，以及与能源产业现行努力成果的相关性。
              <br><br>物联网将站稳脚步继续发展，参照Gartner技术成熟度曲线（Gartner Hype Cycle），可表示IoT愿景的触发因素，是广泛采用的互联网，以及依据通用网络联机技术不断增加的联机装置。IoT目前处于“期望膨胀的高峰期”（Peak of Inflated Expectations）。工业及电力产业的所有主要厂商，目前都推出 IoT 计划并推动其愿景。
              <br><br>我们已经了解物联网已自然地连结到能源产业的现行努力成果。装置及传感器大量部署，协助管理电力基础设施。虽然这类装置可能绝对不会透过公共互联网连网，但其数据可利用IEC 61850及CIM加以结构化及建模，并使用传讯技术和Web服务在企业层级交换。
              <br><br>进阶软件应用程序可利用云端型平台提供的功能加以开发，以便提供公用设施各项宝贵信息，实现优化作业。不过，以上解决方案可能将以私有云端为基础，并含有透过安全Web接口及Web服务型API公开的数据子集。
              <br><br><i>（本文作者任职于伊顿飞瑞慕品公司）</i>
              <br><br>
            </p>
          </div>
        </section>
      </div>
    </div>
    <hr>
    <div class="row">

      <div class="col-md-8 padding-left-0">
        <section class="block">
          <input type="checkbox">
          <div class="case-block">
            <a class="btn btn-primary" > 阅读更多</a>
            <a class="btn btn-primary" > 收起文章</a>
          </div>
          <div class="detail">
            <h3 class="margin-top-0"><a (click)="(null)">能源互联网底层物联网建设对于采集与通讯的装置需求 </a><br><small class="font-xs"><i>2016-11-15</i><i> 电力行业 <a (click)="(null)">环球表计 </a></i></small></h3>
            <p>
              能源管理是现在的热门话题，广义的能源管理是指对能源生产过程的管理和消费过程的管理。狭义上的能源管理是指对能源消费过程的计划、组织、控制和监督等一系列工作。小编在家乐福超市电梯上看见墙上有一个广告牌，大意是小明的爸爸是一名家乐福能源管理人员，每年可以减少能耗多少多少。可见现在的能源管理已经不是呼之欲出，已然遍地开花。这篇文章小编主要跟大家介绍智慧能源服务的关键设备及装置需求。
              <br><br>智慧能源服务关键设备主要有数据采集器、智能传感器和先进传输装置。数据采集器包括新型四表集抄、能效计量装置、虚拟计量装置等；智能传感器包括环境传感装置、安防传感装置、电力电子设备等；先进传输装置包括新型通讯技术、数据中转设备、灵活通信模块等。
              <br><br>
            </p>
            <h4><strong>采集装置</strong><br><br></h4>
            <p>
              传感器应用非常广泛，工业生产各个组成环节都需要传感器进行监控，并把数据反馈给控制中心，以便对出现异常节点进行及时干预，保证工业生产正常进行。而新一代高级智能传感器将成为工业自动化的关键因素，传感器未来将会有微型化、智能化、多功能化和无线网络化的发展趋势。
              <br><br>智能传感测量采集系统、补偿校正、数据处理、数据通信、任务调度、人机界面、IP功能服务等功能模块于一体的智能传感设计，包含以下要素：
              <br><br>1.安装便捷-降低二次建设复杂度<br>
              2.灵活精准-采用四表合一等方式同时保障数据精度以及遥控等执行精度<br>
              3.质量可靠-在恶劣环境下稳定工作<br>
              4.模块设计-能够根据不同的需求加载不同的采集终端，如谐波等
              <br><br>
            </p>
            <h4><strong>通讯装置</strong><br><br></h4>
            <p>
              有效结合485、无线、光纤、网线、蓝牙等多种模式，可以在多种复杂环境条件下自由切换以不间断传输各采集终端数据信息，包含以下要素：
              <br><br>1.方式灵活-能够搭载多种通讯模块<br>
              2.通讯可靠-能够不间断保障数据传输<br>
              3.信号精准-保障通讯数据的准确性
              <br><br>能源管理只是能源互联网的一小部分，能源互联网的核心要素是物联网基础加互联网手段。专家预测10年内物联网就可能大规模普及，到2020年，世界上物物互联的业务，跟人与人通信的业务相比，将达到30比1，仅在智能电网和机场防入侵系统方面的市场就有上千亿元，你准备好了吗？
              <br><br><i>本文根据6月杭州智能电表及配用电互动新技术应用大会演讲嘉宾周庆捷的相关演讲内容和网络资料整理。</i>
              <br><br>
            </p>
          </div>
        </section>
      </div>
      <div class="col-md-4">
        <img src="assets/img/news/news9.jpg" class="img-responsive" alt="assets/img">
      </div>
    </div>
    <hr>


  </div>
  <div class="container">

    <div class="row containerMargin">
      <div class="col-md-4">
        <img src="assets/img/news/news11.jpg" class="img-responsive" alt="assets/img">
      </div>
      <div class="col-md-8 padding-left-0">
        <section class="block">
          <input type="checkbox">
          <div class="case-block">
            <a class="btn btn-primary" > 阅读更多</a>
            <a class="btn btn-primary" > 收起文章</a>
          </div>
          <div class="detail">
            <h3 class="margin-top-0"><a (click)="(null)">基于工业物联网的化工智能化的好处 </a><br><small class="font-xs"><i>2016-11-09</i><i> 北京慧科 <a (click)="(null)"> 物联网工业控制 </a></i></small></h3>
            <p>
              工业物联网是将生产过程的每一个环节、设备都变成一个数据终端，不断产生和接收数据并采取行动。为此基于工业物联网的化工智能化即具有旧自动化的好处又有更智能的好处。
              主要有以下一些好处：
              <br><br>1、  能够提高产品性能
              <br>化工生产过程中，配方是最佳配比，多了少了都会影响最终的产品性能。但是设备和原材料性质波动都会对配方带来一些影响，为此只通过对温度、滴加速度、压力、液位准确控制还不够完全。配合过程数据的分析，可以优化配方，从而使配方更加符合实际生产，合成反应将更加完全，产品性能更加优异，稳定性更高。
              <br><br>2、提高生产效率
              <br> 智能化系统中，各种传感器的精确度远远高于人的感觉，结合传感器的控制最大限度地减少了人的干预和可能出现的操作误差，可以同时降低物料反应过程中的损耗，提高合成生产反应效率。
              <br>而网络化的智能，可以使得生产系统及早对原料耗损提出预估，提早做好合理的原材料储备，从而使得生产效率提高。
              <br><br>3、  产品质量可追溯。
              <br>智能化系统通过各种传感器和声光系统，实时地采集系统运行数据并保存。可监视生产过程中重量、温度、压力、运行时间等参数变化，所有参数和配方均进入配方库，便于数据采集和提取，对质量波动产品可实现追踪，快速分析原因。
              <br><br>4、  保护工人，安全生产
              <br>减少化学品对人体的潜在伤害，减少化学品使用的危险性。由于部分合成原材料是危险品或者毒性产品，通过智能化系统可最大限度降低危化品对工人的伤害。也通过实时监测危险化学品的性质，能够及时报警、停运系统以及采取必要措施（比如即时开始冷却或通风），从而避免安全事故发生。
              <br><br>5、  降低设备维护成本
              <br> 设备各个部件的数据都将存储在案，有些寿命即将到期的重要部件可以提早更换，从而不必由其引起整个设备的维修。
              <br>通过与历史生产情况的对比，可以及早发现设备问题，及早提出警示，避免损坏后再大修。
              <br><br>
            </p>
          </div>
        </section>
      </div>
    </div>
    <hr>
    <div class="row">

      <div class="col-md-8 padding-left-0">
        <section class="block">
          <input type="checkbox">
          <div class="case-block">
            <a class="btn btn-primary" > 阅读更多</a>
            <a class="btn btn-primary" > 收起文章</a>
          </div>
          <div class="detail">
            <h3 class="margin-top-0"><a (click)="(null)">化工：站上“互联网+”风口</a><br><small class="font-xs"><i> 2015-06-18</i><i>  张兴刚 <a (click)="(null)"> 中国化工报 </a></i></small></h3>
            <h4><strong>当前，“互联网+”成为不少企业关心的话题。</strong><br><br></h4>
            <h4><strong>当下，“互联网+”成为人们津津乐道的热词，任何产业只要和“互联网+”扯上关系，立刻就会显得“高大上”起来。当前，“互联网+”在化工产业的营销、制造等领域应用如何？前不久，中国化工报记者对此进行了调研。</strong><br><br></h4>
            <h2><strong>互联网+营销——</strong>还需迈过多道槛<br><br></h2>
            <p>
              在化工行业，“互联网+”融入最深的应该就属营销领域了。继去年江苏龙灯化学自建“龙灯电商”、中保绿农集团进驻天猫和阿里巴巴开办旗舰店、农药专业销售网站“农一网”等电商平台纷纷亮相之后，电商在涂料、轮胎、化肥、农药、PVC（聚氯乙烯）等行业继续刮起旋风。
              <br><br>5月底，新都化工再次投资6000万元，拟在湖北省应城市和四川省雷波县设立电子商务公司。这是继今年投资1.8亿元与成都哈哈帮共同设立哈哈农庄电子商务公司以来，该公司再次大手笔加码农村电子商务业务。
              <br><br>5月28日，浙江物产集团“物产通”PVC电商平台正式上线。据了解，这是个互联网+流通+金融的电商平台，集交易、融资和信息数据服务于一体，使上下游供应链客户可以在平台中下单、支付、融资。
              <br><br>此外，三棵树涂料为推动互联网+战略，成立了专项小组，规划配置30多人的电商团队，并快速推进互联网商城、O2O电商、客户管理CRM、零售终端消费者信息系统等，构建自己的大数据、物联网和云计算平台。彩虹精化公司已全面进入互联网+营销模式，将在2015年着重开展能源互联网+金融平台、微网等技术创新，打造全新的能源生产、消费、投资、融资生态系统。米其林轮胎则推出“驰加O2O”解决方案，将线上驰加零售网络平台及线下驰加门店网络结合，通过构建多样化的渠道将线上购买与线下服务连接，试图为消费者打造一体化的消费体验。
              <br><br>尽管电商平台建立得热火朝天，但记者最近在调查中发现，并非所有的互联网营销都是一帆风顺。不少企业认为，只要在电商平台开了店，或企业自己建立一个线上B2C（商对客）平台，就一定会有客户到线上购物。而事实上，一些企业投入人力、物力、财力“触网”，却只赚吆喝不见钱。
              <br><br>比如，山东广饶县一家企业因为看准了当地的橡胶轮胎产业优势，于2012年10月正式建成并上线一个轮胎商城。商城刚成立，就吸引了当地大批轮胎生产企业合作。然而，运行不到两年，该轮胎商城却悄然下线。
              <br><br>对于商城下线，商城项目经理文建这样解释：一是缺乏高层次的专业技术人员，平台建设运行初期必须依赖于专业化的信息技术公司；二是费用高昂，仅平台建设一项就花费70多万元；三是在相应的物流环境还不完善的情况下，一条轮胎利润不足百元，如果客户一次仅买三五条，企业就等于赔本。
              <br><br>据记者了解，山东德州企业在阿里巴巴注册的有1.9万家，其中在淘宝开设网店的有848家，在天猫开设网店的有89家，但真正能利用电子商务平台开展业务并见效益的企业不足千家。
              <br><br>山东保龄宝生物股份有限公司董事长刘宗利认为，传统企业发展电子商务会遇到不少困难，商业模式的定位、优秀电商人才的招聘、仓储物流的配套发展等因素都会制约企业发展，这就需要企业选准商业模式，实现精准定位，培养复合型电商人才。
              <br><br>中保绿农集团公司较早涉足电商，该公司策划部经理李一峰表示，电子商务远不是把产品挂在网上那么简单。对于农药企业来说，消费者对专业植保技术的需求比产品更为强烈，因此农药是物技结合的商品。电子商务要在企业落地生根，还要考虑物流、专业客服、技术服务、售后等诸多因素。
              <br><br>在“农一网”市场部总监王利斌看来，农药企业做电子商务最难的是摆脱对传统销售渠道的依赖。可以说，目前大多农药企业的销售命脉掌握在销售商手中，而这和电子商务是有冲突的。广东顺德一家大型涂料企业策划部经理向记者表示，电商要与现有销售渠道融合还没有实际可行的操作办法，而离开了现有销售渠道，企业就成了无源之水。
              <br><br>据了解，化工产品的颜色、气味、形状等特点，决定着产品的性能和价格。由于网络有虚拟性，用户无法看到实物，一旦出现质量问题，将面临比较棘手的物流、退货问题。而换热器、反应塔等设备都是非标设备，只能依托某个项目定制，没法在电商平台上展示、销售，比如压缩机及相关配件参数多，不同的压缩方式、介质、压力、功率，都意味着不同的价格。
              <br><br>目前，公共的电商平台只能进行部分产品及价格的展示，或侧重于品牌及产品展示，这些渠道对于用户来说不是很理想，大多化工企业并不能完全依托于互联网进行线上交易。所以，一些化工产品单纯依靠电商推广的路还不太顺畅。
              <br><br>
            </p>
            <h4><strong>近两年，涂料、轮胎、化肥、农药等领域刮起电商风潮。</strong><br><br></h4>
            <h2><strong>互联网+中远期交易——</strong>走在了十字路口<br><br></h2>
            <p>
              其实，早在2008年，我国石化类产品大宗商品电子交易就开始迅猛发展，一般采用中远期合同交易与现货交易相结合的形式。其中，中远期交易普遍采用与期货交易类似的标准化合约，合约交割日期固定或不确定，类似于股票市场的固定标准化合约数量的形式，吸引了部分贸易商和投机商参与。
              <br><br>但是，这类市场由于盲目发展，呈现了过度投机、脱离实体经济的乱象。因此，从2009年起，有关部门开始对此进行整治。国务院2011年出台38号文禁令，称“除依法经国务院或国务院期货监管机构批准设立从事期货交易的交易场所外，任何单位一律不得以集中竞价、电子撮合、匿名交易、做市商等集中交易方式进行标准化合约交易”。国务院办公厅又于2012年出台第37号文件，规定“现货交易以实物交割服务实体经济为特征；现货交易所（市场、中心）在申办前必须获得国务院清整联席会书面反馈，由省级金融部门实审批准作为前置许可要件方可办理《工商营业执照》；各级金融机构不得为非法交易平台提供承销、开户、托管、资金划转、代理买卖”。针对一些打着电子商务旗号从事集中式标准化合约交易的问题，2013年，国家发改委、经信委、商务部、工商局、银监委、证监委六部委再发通知（证监发〔2013〕74号），严禁以电子商务为名从事标准化集中合约交易活动。
              <br><br>今年以来，在“互联网+”热潮的带动下，电子交易公司和市场再掀热潮。据记者了解，今年开业的交易市场不下10家，交易品种涉及原油、燃气、聚乙烯、聚丙烯等百余种能源化工产品。
              <br><br>5月29日，证监会召开新闻发布会，要求对各类交易场所进行清理整顿，不得将任何权益拆分为均等份额公开发行；不得采取集中竞价、做市商等集中交易方式进行交易；不得将权益按照标准化交易单位持续挂牌交易；任何投资者买入后卖出或卖出后买入同一交易品种的时间间隔不得少于5个交易日；除法律、行政法规另有规定外，权益持有人累计不得超过200人；不得以集中交易方式进行标准化合约交易。
              <br><br>对此，证监会新闻发言人张晓军指出，地方商品类交易场所，其性质应当是现货市场，而商品现货市场是为商品流通提供服务的，应当实行实物交割；如果不是相关商品的生产者、经营者或消费者，没有出售或者取得相关商品的真实需求，就不要参与这类市场的交易活动。
              <br><br>据江苏华昌化工股份公司战略发展事务部部长李昊峰介绍，中远期交易的不规范经营体现在：该交割时，为了平仓而采用不规范手段，造成价格波动，与现货价格差异大；经营不规范，市场多了就分散，交易量小没代表性，起不到避险作用。因此，有些尿素、工业盐等中远期交易平台或交易的量很少，或已经完全停盘。
              <br><br>李昊峰认为，中远期交易不属于电商，只能属于互联网金融，但国内市场还有这个需求，只能规范经营、规范发展。中国农业大学经济管理学院教授常清表示，对于互联网+中远期交易，应当落实监管责任，建立健全相关法律法规，完善法律体系，逐步试点和创新一些更适合国内环境的市场，而不能用一刀切的办法来管理。
              <br><br>
            </p>
            <h4><strong>克拉玛依油田于2008年建成国内第一个数字油田，目前正在进行智能化油田建设。</strong><br><br></h4>
            <h2><strong>互联网+制造——</strong>两化融合升级版<br><br></h2>
            <p>
              在今年的政府工作报告中，李克强总理首次提出制定“互联网+”行动计划，推动移动互联网、云计算、大数据、物联网等与现代制造业结合。这在业内掀起一股互联网+制造的热潮。
              <br><br>所谓互联网+制造，就是传统制造业企业采用移动互联网、云计算、大数据、物联网、机器人、人工智能以及3D打印等技术，改造原有产品及研发生产方式，是“两化融合”的升级。比如，运用物联网技术，石油化工企业可以将机器等生产设施接入互联网，构建网络化物理设备系统（CPS），进而使各生产设备能够自动交换信息、触发动作和实施控制，加快生产制造实时数据信息的感知、传送和分析，加快生产资源的优化配置。
              <br><br>当前，石化企业成为互联网+制造的先行者。中石油、中石化、中国海油等企业，正在打造智能化油田、智能化管道、智能化工厂。
              <br><br>中石油今年将继续推进油气生产物联网系统、工程技术物联网系统、炼化物联网系统建设，同时启动装备制造物联网系统。据了解，中石油正在打造的工程技术物联网系统（A12），通过传感、射频、通讯等技术，自动采集并实时传输物探、钻井、测井、录井、井下作业等专业的动态数据与静态数据，搭建规范、统一的数据管理平台，实现生产现场信息的综合应用；建立远程作业支持中心，实现作业优化与生产协同；打造数据采集与应用、多专业协同服务平台，提高一体化服务能力，推动工程技术革命。
              <br><br>中石化以智能工厂为代表的信息化示范工程建设已取得初步成效。智能工厂试点企业通过对生产操作、工艺优化、HSE、物流、设备的智能化管理，提高了装置运行绩效，提升了企业运行效益。比如，燕山石化乙烯裂解装置通过实时在线优化系统与APC的集成，提高了乙烯、丙烯收率，创效近6000万元。下一步，中石化计划用3年时间建成智能工厂应用框架，在4家企业开展智能化应用试点；5年内实现重点企业业务领域智能化应用的试点建设；未来8～10年，在20家千万吨级大规模炼化企业实现智能工厂的全面推广，率先在炼化企业打造世界一流信息化能力。
              <br><br>从数字油田走向智能油田，是中国海油的主体思路。据该公司信息化管理部有关负责人介绍，“十三五”期间，中国海油将通过构建勘探开发协同工作环境和海陆协同工作体系，基本建成智能油田。近期，企业将在油气生产领域重点建立全面感知、自动控制、智能预测、优化决策的生产体系。
              <br><br>为石油和化工企业提供配套服务的制造企业，也在互联网+制造领域迈开了步伐。
              <br><br>比如，华为为中亚天然气管道提供的数字化油气管道集成通信解决方案，有效将管道与压缩机站、计量站、主控中心实时链接，管理人员在北京就能实时了解千里之外的管道现场情况，有助于合理制订检修计划，大幅节约运维资金。
              <br><br>今年3月，沈鼓“云服务平台——远程监测中心”正式上线，用户通过手机服务端APP就可随时了解产品运行的最新动态。沈鼓在原有远程诊断中心基础上，进一步扩充系统服务功能，建立起一个“沈鼓云服务”大数据平台，收集和管理机组的设计、制造、工程、远程监测、检修维护等各类数据，并进行深入数据挖掘和管理。据了解，“沈鼓云”现阶段正规划创新平台、产品平台、制造平台、数据平台、服务平台、物流平台、数据挖掘平台、数据应用平台。
              <br><br>而陕鼓已为120余家企业的300余台套机组提供了远程健康管理服务，通过监测点监控并从用户现场传回机组运行实时数据，利用前沿故障分析技术，进行机组运行状态分析，并着力打造动力装备的“云服务”平台。
              <br><br>新疆天业集团研究院副总工程师熊新阳向记者介绍，氯碱化工目前只基本实现了流程自动化，管理水平还比较低。此外，企业数量较多，技术水平差异性较大。物联网系统等技术，可以把先进厂家的先进控制和智能专家系统嵌入进去，应用到众多氯碱企业，这样企业就有了24小时的专家服务和控制。
              <br><br>据北京数码大方股份有限公司山东区总经理史金鹏介绍，自动化在很多化工企业还没普及。比如，他们通过对山东700多家制造企业进行调研，发现使用ERP达到60%功能的还不到10家。同时，目前企业将所有信息化系统全部集成的很少，还处于信息化孤岛的状态。其实，信息化是个体系，需要和整个生产流程与信息系统融合，也只有将所有数据连贯后，才能达到智能化工厂的目的。
              <br><br>不过化工业内人士也表示，行业要实现互联网+制造的智能化也存在一些困难。
              <br><br>实联化工(江苏)有限公司顾问孔祥昶表示，煤化工装置比较复杂，比如煤气化装置运行要结合水质、煤质、煤浆的浓度，此外后期很多因素还要靠人工综合判断，如渣样的颜色状态能决定炉温高低的调节，仅依靠机器是没法判断的。而煤的灰熔点分析、粘温特性要在有氢气和一氧化碳还原的环境下进行，依靠仪器智能化分析的难度很大。
              <br><br>江苏索普集团气化车间主任步建军向记者表示，智能化是大势所趋，不过数据采集统计分析终归要靠人，要通过彼此的关联性判断。智能判断是建立在已知的基础上，但实际未知可能比已知要多得多。具体说来，智能化是要把已经发生的关联都考虑进去，但在过程中有些新发生的未知因素会影响判断，这就得靠人去分析判断，并把得出的结论再进行完善。因此，智能化是趋势，但得有个过程。这个过程就是数据预警要和人的分析判断相结合，人要在智能化的过程中发挥关键作用。
              <br><br>
            </p>
            <h4><strong>日前，青岛市跨境电子商务协会成立。有关负责人表示，当前轮胎橡胶行业已从产能相对过剩转变成绝对过剩，而借助“一带一路”战略的提出，富余产能可以转化到东南亚国家，形成战略互补，电子商务将是重要一环。</strong><br><br></h4>
          </div>
        </section>
      </div>
      <div class="col-md-4">
        <img src="assets/img/news/news4.jpg" class="img-responsive" alt="assets/img">
      </div>
    </div>

  </div>


<div class="public-footer">
  <div class="public-container ">
    <div class="footer-col">
      <p>企业概况<br>产品服务<br><a class="footer-tel" href="tel:028-86121208">028-86121208</a></p>
    </div>
    <div class="footer-col">
      <p>企业概况<br>产品服务<br>资讯</p>
    </div>
    <div class="footer-col">
      <p>企业概况<br>产品服务<br>资讯</p>
    </div>
    <div class="footer-col">
      <p>企业概况<br>产品服务<br>资讯</p>
    </div>
  </div>
</div>
<div class="footer_bottom">
  <p>版权所有 © 2015-2017 成都矿易帮信息科技有限公司 蜀ICP备16000670号-1</p>
</div>
