<!--主要内容-->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['采购管理', '添加进货单']" icon="pencil-square-o" class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 ">
        <sa-widget [editbutton]="false" [deletebutton]="false" >
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2 *ngIf="pr_id == 0">添加进货单</h2>
            <h2 *ngIf="pr_id != 0">修改进货单</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form id="smart-form-register" class="smart-form" [formGroup]="formModel" (ngSubmit)="onSubmit()">
                <fieldset>
                  <legend>基本信息</legend>
                  <input type="hidden" name="pr_id" formControlName="pr_id">
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label class="label ">进货方式</label>
                      <div class="inline-group">
                        <label class="radio">
                          <input [checked]="purchaseInfo.result?.pr_type == 1 || this.pr_id == 0" [value]="1" type="radio" name="pr_type" formControlName="pr_type">
                          <i></i>进货单</label>
                        <label class="radio">
                          <input type="radio" [checked]="purchaseInfo.result?.pr_type == 2" [value]="2" name="pr_type" formControlName="pr_type">
                          <i></i>退货单</label>
                      </div>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section >
                      <label class="label txt-color-blue">单据日期<span class="asterisk-color">*</span></label>
                      <label  class="input">
                        <input  type="date" name="pr_date" formControlName="pr_date">
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label class="label txt-color-blue">单据号<span class="asterisk-color">*</span></label>
                      <label class="input">
                        <input type="text" placeholder="单据号" name="pr_order" formControlName="pr_order">
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label class="label ">供应商</label>
                        <!--<label class="input">-->
                        <!--<i class="icon-append glyphicon glyphicon-search cursor-pointer" data-toggle="modal" data-target="#myModal"></i>-->
                        <!--<input type="text" placeholder=""  name="pr_supplier" formControlName="pr_supplier">-->
                      <label class="select">
                        <select name="pr_supplier" formControlName="pr_supplier" [(ngModel)]="pr_supplier_default">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let cus of purchaseList.result?.supplier" [selected]="purchaseInfo.result?.pr_supplier == cus.c_id" value="{{ cus.c_id }}">{{cus.c_name}}</option>
                        </select><i></i>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label class="label ">采购部门</label>
                      <label class="select">
                        <select name="pr_department" formControlName="pr_department" [(ngModel)]="pr_department_default" (change)="getUserList($event,1)">
                          <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                          <option *ngFor="let d of purchaseList.result?.department" [selected]="purchaseInfo.result?.pr_department == d.category_id" value="{{ d.category_id}}">{{d.category_desc}}</option>
                        </select><i></i>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">采购员</label>
                      <label class="select">
                          <select  name="pr_employee" formControlName="pr_employee" [(ngModel)]="pr_employee_default">
                            <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                            <option *ngFor="let u of userList.result" [selected]="purchaseInfo.result?.pr_employee == u.id" value="{{ u.id }}">{{u.u_username}}</option>
                          </select><i></i>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label class="label">默认仓库</label>
                      <label class="select">
                          <select name="storehouse_id" formControlName="storehouse_id" [(ngModel)]="storehouse_id_default">
                            <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                            <option *ngFor="let s of purchaseList.result?.storehouse" [selected]="purchaseInfo.result?.storehouse_id == s.storehouse_id" value="{{s.storehouse_id }}">{{s.storehouse_name}}</option>
                          </select><i></i>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">采购类型</label>
                      <label class="select">
                          <select name="pr_category" formControlName="pr_category" [(ngModel)]="pr_category_default">
                            <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                            <option *ngFor="let ca of purchaseList.result?.category" [selected]="purchaseInfo.result?.pr_category == ca.category_id" value="{{ca.category_id }}">{{ca.category_desc}}</option>
                          </select><i></i>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">发运方式</label>
                      <label class="select">
                          <select name="pr_transport" formControlName="pr_transport" [(ngModel)]="pr_transport_default">
                            <option [selected]="this.pr_id == 0" value="0">--请选择--</option>
                            <option *ngFor="let tr of purchaseList.result?.transport" [selected]="purchaseInfo.result?.pr_transport == tr.category_id" value="{{tr.category_id }}">{{tr.category_desc}}</option>
                          </select><i></i>
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <section>
                      <label class="label">扫码</label>
                      <label class="input">
                        <input type="text" placeholder="" name="pr_qrcode" formControlName="pr_qrcode">
                      </label>
                    </section>
                  </div>
                  <div class="form-group col col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                    <section>
                      <label  class="label">搜索的商品名称</label>
                        <!--<form class="smart-form">-->
                        <!--<section>-->
                        <label class="input">
                        <i class="icon-append glyphicon glyphicon-search cursor-pointer" (click)="searchKey()"></i><!-- data-toggle="modal" data-target="#myModal"-->
                        <input type="text" placeholder="" name="keyword" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}">
                        </label>
                        <!--</section>-->
                        <!--</form>-->
                    </section>
                  </div>
                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 padding20">
                    <div class="widget-body no-padding">
                      <div  class="padding0">
                        <div style="z-index: 2;width:20%;float:left;" class="table-responsive padding0 table-minheight">
                          <table class="table table-hover table-border  table-bordered dataTable table-height-70">
                            <thead>
                            <tr>
                              <!--<th></th>-->
                              <th>操作</th><!--pr_detail-->
                              <th class="txt-color-blue">商品名称</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of selectProductList;let ind = index;">
                              <!--<td>1</td>-->
                              <td style=" width: 112px;"><a class="btn btn-warning btn-xs"  ><span class="glyphicon glyphicon-plus"></span>添加</a>
                                <a class="btn btn-danger btn-xs" (click)="removeInput(ind)"><span class="glyphicon glyphicon-remove"></span>删除</a>
                              </td>
                              <td>
                                <form class="smart-form">
                                  <section>
                                    <label class="input">
                                      <i class="icon-append glyphicon glyphicon-search cursor-pointer" (click)="searchKey()"></i><!-- data-toggle="modal" data-target="#myModal"-->
                                      <input type="text" placeholder="" name="keyword" [ngModelOptions]="{standalone: true}" [(ngModel)]="keyword">
                                    </label>
                                  </section>
                                </form>
                              </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr >
                              <!--<th></th>-->
                              <th></th>
                              <th>合计</th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                        <div style="padding: 0;z-index:1;width:80%;float:left;" class="table-responsive table-minheight">
                          <table class="table table-hover table-border table-bordered dataTable table-height-70">
                            <thead>
                            <tr>
                              <th>商品编码</th>
                              <th>商品分类</th>
                              <th>规格型号</th>
                              <th>单位 </th>
                              <th>辅助属性 </th>
                              <!--<th>仓库</th>-->
                              <th class="txt-color-blue">数量</th>
                              <th class="txt-color-blue">单价 </th>
                              <th class="txt-color-blue">备注 </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let p of selectProductList">
                              <td>{{p.p_product_id}}</td>
                              <td>{{p.category}}</td>
                              <td>{{p.p_specification}}</td>
                              <td>{{p.p_unit}}</td>
                              <td>{{(p.p_property == 1)? '销售':'外购'}} </td>
                              <td>
                                <label  class="input">
                                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_count" value="{{p.p_count}}" type="number">
                                </label>
                              </td>
                              <td>
                                <label  class="input">
                                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_price" value="{{p.p_price}}" type="number">
                                </label>
                              </td>
                              <!--<td>-->
                                <!--<label  class="input">-->
                                  <!--<input [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_pur_price" value="{{p.p_pur_price}}" type="number">-->
                                <!--</label>-->
                              <!--</td>-->
                              <td>
                                <label  class="input">
                                  <input [ngModelOptions]="{standalone: true}" [(ngModel)]="p.p_note" value="{{p.p_note}}" type="text">
                                </label>
                              </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th></th>
                              <!--<th></th>-->
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <section>
                      <label class="label">备注</label>
                      <label class="textarea textarea-resizable">
                        <textarea class="custom-scroll" rows="2" name="pr_note" formControlName="pr_note" ></textarea>
                      </label>
                    </section>
                  </div>

                </fieldset>
                <footer>

                  <button type="button" class="btn btn-default" >
                    返回
                  </button>
                  <button type="button" class="btn btn-success btn-sm" ><span class="glyphicon glyphicon-plus"></span>保存并新增</button>
                  <button type="submit" class="btn btn-primary">
                    保存
                  </button>

                </footer>
              </form>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<div>
  <span *ngFor="let p of searchProductList?.result?.data;let ind = index;">
   <a (click)="addInput(ind)"> {{p.p_id}}:{{p.p_name}}</a>
  </span>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- 关闭按钮 -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <!-- 标题 -->
        <h3 class="modal-title txt-color-blue" data-ng-bind='results.title'><i class="fa-fw fa fa-plus"></i>选择资产类别</h3>
      </div>
      <div class="modal-body ">
        <div  class="row">
          <article  class="col-sm-12">
            <div class="navbar navbar-default">
              <div class="collapse navbar-collapse">

                <form  class="navbar-form navbar-left ng-pristine ng-valid ng-touched" novalidate="" role="search" >
                  <div class="form-group padding-left-10">
                    <input  class="form-control ng-pristine ng-valid ng-touched" maxlength="15" name="keyword" placeholder="请输入搜索内容" type="text">
                  </div>
                  <button class="btn btn-default" type="submit">
                    <i  class="glyphicon glyphicon-search"></i>
                    搜索
                  </button>
                </form>
              </div>
            </div>
          </article>
        </div>

        <div style="padding:0;" class="height-overflow-320">
          <div style="padding: 0;z-index: 2;width:20%;float:left;" class="table-responsive  ">
            <table class="table table-striped  table-hover smart-form table-height-32">
              <thead>
              <tr >
                <td><label class="checkbox">
                  <input type="checkbox" name="checkbox-inline"  >
                  <i></i>
                </label>
                </td>
                <th>商品编号</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <label class="checkbox padding-top-10"  >
                    <input type="checkbox" name="checkbox-inline" >
                    <i></i>
                  </label>

                </td>
                <td>ghg</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox padding-top-10"  >
                    <input type="checkbox" name="checkbox-inline" >
                    <i></i>
                  </label>

                </td>
                <td>ghg</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox padding-top-10"  >
                    <input type="checkbox" name="checkbox-inline" >
                    <i></i>
                  </label>

                </td>
                <td>ghg</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox padding-top-10"  >
                    <input type="checkbox" name="checkbox-inline" >
                    <i></i>
                  </label>

                </td>
                <td>ghg</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox padding-top-10"  >
                    <input type="checkbox" name="checkbox-inline" >
                    <i></i>
                  </label>

                </td>
                <td>ghg</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div style="padding: 0;z-index: 1;width:80%;float:left;" class="table-responsive">
            <table class="table table-striped  table-hover smart-form table-height-32">
              <thead>
              <tr>
                <th>商品属性</th>
                <th>商品名称</th>
                <th>商品分类</th>
                <th>生产厂家</th>
                <th>参考售价</th>
                <th>图片</th>
                <th>状态</th>
              </tr>
              </thead>
              <tbody>
              <tr >
                <td>销售</td>
                <td>fghfg</td>
                <td>fghgf</td>
                <td>fgghf</td>
                <td>fghgf</td>
                <td>
                  <div style="height:auto;" >
                    <img alt=""  height="22" width="22" class="img-picture"  src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                  </div>
                </td>
                <td>正常</td>
              </tr>
              <tr >
                <td>销售</td>
                <td>fghfg</td>
                <td>fghgf</td>
                <td>fgghf</td>
                <td>fghgf</td>
                <td>
                  <div style="height:auto;" >
                    <img alt=""  height="22" width="22" class="img-picture"  src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                  </div>
                </td>
                <td>正常</td>
              </tr>
              <tr >
                <td>销售</td>
                <td>fghfg</td>
                <td>fghgf</td>
                <td>fgghf</td>
                <td>fghgf</td>
                <td>
                  <div style="height:auto;" >
                    <img alt=""  height="22" width="22" class="img-picture"  src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                  </div>
                </td>
                <td>正常</td>
              </tr>
              <tr >
                <td>销售</td>
                <td>fghfg</td>
                <td>fghgf</td>
                <td>fgghf</td>
                <td>fghgf</td>
                <td>
                  <div style="height:auto;" >
                    <img alt=""  height="22" width="22" class="img-picture"  src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                  </div>
                </td>
                <td>正常</td>
              </tr>
              <tr >
                <td>销售</td>
                <td>fghfg</td>
                <td>fghgf</td>
                <td>fgghf</td>
                <td>fghgf</td>
                <td>
                  <div style="height:auto;" >
                    <img alt=""  height="22" width="22" class="img-picture"  src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                    <img alt=""  height="22" width="22" class="img-picture" src="assets/img/news/news4.jpg">
                  </div>
                </td>
                <td>正常</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" ><span class="glyphicon glyphicon-plus"></span>选入</button>
        <!--    <button type="button" class="btn btn-primary" data-ng-click="ok()">保存</button>-->
        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
      </div>
    </div>
  </div>
</div>